<div class="year-2018-2019-rates">
    <h4 class="rate-heading">2018 - 2019 rates</h4>
    <h5 class="location-heading">Standard Rates</h6>
    <h6 class="sub-heading">Each day of the week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$95</div>
            <div class="column">$265</div>
            <div class="column">$305</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$150</div>
            <div class="column">$435</div>
            <div class="column">$475</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$180</div>
            <div class="column">$475</div>
            <div class="column">$495</div>
        </div>
    </div>

    <h5 class="sub-heading">Three days per week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$76</div>
            <div class="column">$200</div>
            <div class="column">$285</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$95</div>
            <div class="column">$325</div>
            <div class="column">$400</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$114</div>
            <div class="column">$380</div>
            <div class="column">$430</div>
        </div>
    </div>

    <h5 class="sub-heading">One or two days per week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$40</div>
            <div class="column">$115</div>
            <div class="column">$140</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$57</div>
            <div class="column">$170</div>
            <div class="column">$200</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$65</div>
            <div class="column">$255</div>
            <div class="column">$285</div>
        </div>
    </div>

    <h5 class="location-heading">Standard Rates East Greenbush</h6>
    <h6 class="sub-heading">Each day of the week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$170</div>
            <div class="column">$190</div>
            <div class="column">$330</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$235</div>
            <div class="column">$285</div>
            <div class="column">$380</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$285</div>
            <div class="column">$330</div>
            <div class="column">$475</div>
        </div>
    </div>

    <h5 class="sub-heading">Three days per week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$140</div>
            <div class="column">$170</div>
            <div class="column">$245</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$190</div>
            <div class="column">$225</div>
            <div class="column">$305</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$225</div>
            <div class="column">$275</div>
            <div class="column">$370</div>
        </div>
    </div>

    <h5 class="sub-heading">One or two days per week selected</h5>
    <div class="rates-table">
        <div class="row">
            <div class="column">Number of Children</div>
            <div class="column">before care</div>
            <div class="column">after care</div>
            <div class="column">both</div>
        </div>
        <div class="row">
            <div class="column">1</div>
            <div class="column">$95</div>
            <div class="column">$110</div>
            <div class="column">$160</div>
        </div>
        <div class="row">
            <div class="column">2</div>
            <div class="column">$180</div>
            <div class="column">$170</div>
            <div class="column">$285</div>
        </div>
        <div class="row">
            <div class="column">3</div>
            <div class="column">$190</div>
            <div class="column">$190</div>
            <div class="column">$295</div>
        </div>
    </div>

    <h5 class="location-heading">Standard Rates for Chohoes</h6>
        <h6 class="sub-heading">Each day of the week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$130</div>
                <div class="column">$180</div>
                <div class="column">$280</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$190</div>
                <div class="column">$240</div>
                <div class="column">$350</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$230</div>
                <div class="column">$280</div>
                <div class="column">$425</div>
            </div>
        </div>

        <h5 class="sub-heading">Three days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$100</div>
                <div class="column">$140</div>
                <div class="column">$200</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$130</div>
                <div class="column">$180</div>
                <div class="column">$290</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$160</div>
                <div class="column">$210</div>
                <div class="column">$340</div>
            </div>
        </div>

        <h5 class="sub-heading">One or two days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$50</div>
                <div class="column">$80</div>
                <div class="column">$120</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$100</div>
                <div class="column">$140</div>
                <div class="column">$220</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$120</div>
                <div class="column">$160</div>
                <div class="column">$250</div>
            </div>
        </div>
</div>