<div id="before-and-after-terms-of-service" class="">
	<h1 class="main-header">Terms of Service</h1>
	<h2 class="sub-header">Before & After School Program</h2>

    <div class="main-content">
        <p>A $25 non-refundable registration fee will be charged at the time of enrollment. This will not be applied to monthly tuition. Likewise, a $100 deposit will be required, which will be secured against your first month of fees.</p>

        <p>Those who opt to purchase a <strong>10 month before and after school package </strong> at a discount will receive a limited refund equivalent to the amount outlined here in the Terms of Service if the need to cancel that package arises: 50% refund issued if package is cancelled prior to October 31st. 25% refund issued if package is cancelled after December 31st. Full refunds will be offered only within one week of the package purchase. 
        </p>

        <p>​Those of you who opt to purchase the <strong>single day annual package</strong> may send your child(ren) to any full day of care not included in vacation camp, summer camp, or any other camp that is being offered as a full week. Days that are included in the full day of care package include and are not limited to: conference days, Veteran’s day, Election Day, Jewish holidays, Columbus Day, Thanksgiving Eve, Christmas or New Year’s Eve, Martin Luther King Day. Once purchased, there will be no refunds on the single day annual package after 30 days. You will not need to register for any single day on the website and will be entitled to simply send your child to any full day of care needed during the year given a courtesy email to your respective site director. 
        </p>

        <p>The billing cycle for regular before and after school is from the 1st-30th of each month, with payment deadlines established for the 1st of each month.  Those of you opting to use the automatic payment feature will note deductions made on the 2nd of each month.</p>

        <p>A $5 per day late fee will be applied to any unpaid balances after the 15th of each month. These late fees will not be ignored if you opt to pay later in the month. They must be paid if you incur those fees. 
        </p>

        <p>Payments should be made through your online account where possible, but we will accept personal checks or bill pay to the following address and by the due date. TSL 183 Schoolhouse Road, Albany 12203.</p>

        <p>Any changes in enrollment must be submitted in writing to tsladventures@gmail.com at least two weeks in advance of the next billing cycle. We will not lessen the amount of your monthly fee, if you inform us after the 1st of the respective month of withdraw. You must inform us prior to the 1st of the month you wish to withdraw to cancel future payments. 
        </p>

        <p>Monthly fees may be pro-rated for the month enrolled, if that enrollment is submitted after the first week of the month.
        </p>

        <p>Account holders will receive notices of delivery, past due notices if applicable, and notices related to suspension of services at the end of each month if payment is not received. These notices are automatically generated and serve to prompt you of the importance of paying for services timely if you wish to continue services with our company. TSL does not, unless under special circumstances, cater to families who are in arrears more than 30 days on their account.
        </p>

        <p>Clients who depart program with an open balance are subject to any and all collection attempts made by TSL Kids Crew in pursuit of monies owed.</p>
    </div>
</div>
