<div class="before-and-after-school-rates">
    <%= render partial: 'previous_year_rates' %>
    <div class="year-2018-2019-rates">
        <h4 class="rate-heading">2019 - 2020 rates</h4>
        <h5 class="location-heading">Standard Rates</h6>
        <h6 class="sub-heading">Each day of the week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$150</div>
                <div class="column">$280</div>
                <div class="column">$385</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$225</div>
                <div class="column">$490</div>
                <div class="column">$570</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$300</div>
                <div class="column">$560</div>
                <div class="column">$600</div>
            </div>
        </div>

        <h5 class="sub-heading">Three days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$100</div>
                <div class="column">$215</div>
                <div class="column">$275</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$175</div>
                <div class="column">$325</div>
                <div class="column">$415</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$220</div>
                <div class="column">$430</div>
                <div class="column">$550</div>
            </div>
        </div>

        <h5 class="sub-heading">One or two days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$80</div>
                <div class="column">$150</div>
                <div class="column">$180</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$125</div>
                <div class="column">$225</div>
                <div class="column">$270</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$175</div>
                <div class="column">$300</div>
                <div class="column">$350</div>
            </div>
        </div>

        <h5 class="location-heading">Standard Rates East Greenbush and Cohoes</h6>
        <h6 class="sub-heading">Each day of the week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$180</div>
                <div class="column">$210</div>
                <div class="column">$340</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$270</div>
                <div class="column">$305</div>
                <div class="column">$450</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$360</div>
                <div class="column">$400</div>
                <div class="column">$530</div>
            </div>
        </div>

        <h5 class="sub-heading">Three days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$150</div>
                <div class="column">$190</div>
                <div class="column">$295</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$225</div>
                <div class="column">$270</div>
                <div class="column">$395</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$300</div>
                <div class="column">$360</div>
                <div class="column">$460</div>
            </div>
        </div>

        <h5 class="sub-heading">One or two days per week selected</h5>
        <div class="rates-table">
            <div class="row">
                <div class="column">Number of Children</div>
                <div class="column">before care</div>
                <div class="column">after care</div>
                <div class="column">both</div>
            </div>
            <div class="row">
                <div class="column">1</div>
                <div class="column">$120</div>
                <div class="column">$150</div>
                <div class="column">$200</div>
            </div>
            <div class="row">
                <div class="column">2</div>
                <div class="column">$190</div>
                <div class="column">$200</div>
                <div class="column">$300</div>
            </div>
            <div class="row">
                <div class="column">3</div>
                <div class="column">$250</div>
                <div class="column">$250</div>
                <div class="column">$350</div>
            </div>
        </div>
    </div>
</div>