<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-m f1-l lh-copy mb4 underline black-90 lh-title">Terms of Service</h1>

	<h2 class="f4 f3-m f2-l orange lh-title mb3">Day Care Program</h2>
	<h3 class="ttu tracked f5 f4-ns lh-title">ENROLLMENT (APPLIES YEAR ROUND)</h3>

	<p class="f5 lh-title">All families will pay a deposit in the amount of two weeks of your
	child’s tuition, which will be held as a security deposit against your
	last two weeks in the TSL program. <strong>All families must pay their deposit
	immediately upon enrollment.</strong></p>

	<p class="f5 lh-title"><strong>Families with more than one child are entitled to a 10% discount on
	the lesser of the two tuition charges. (In the case of school-age
	children being the additional sibling enrollees, discounts will only
	apply to the flat monthly after school care bill and NOT for summer,
	vacation, or random full days of care.</strong></p>

	<p class="f5 lh-title">All families agree to pay the weekly tuition by Thursday of each week.
	Families who are two weeks arrears will be sent notification of pending
	dismissal from program.</p>

	<p class="f5 lh-title"><strong>Families paying on a bi-weekly or other irregular and approved pay
	schedule are advised to keep track of the calendar and note any months
	that contain a 5<sup>th</sup> week to avoid getting behind.</strong></p>

	<p class="f5 lh-title"><strong>No pro-rates or discounts will be offered if the center closes for
	inclement weather or any other unexpected emergency or issue that makes
	closure necessary</strong>.</p>
</div>
