<!-- <div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-m f1-l lh-copy mb4 underline black-90 lh-title">Terms of Service</h1>
	<h2 class="f4 f3-m f2-l orange lh-title mb3">Single Day Program</h2>
	<p class="f5 lh-title">Payment for full days must be paid in full at the time of registration.</p>
	<p class="f5 lh-title">If an enrollment is cancelled outside of 7 days prior to the program start date that payment will be credited.</p>
	<p class="f5 lh-title">If an enrollment is cancelled within 7 days of the program start no credits or refunds will apply.</p>
</div> -->
<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-m f1-l lh-copy mb4 underline black-90 lh-title">Terms of Service</h1>
	<h2 class="f4 f3-m f2-l orange lh-title mb3">Single Day Program</h2>
	<p class="f5 lh-title">Payment for full days must be paid in full at the time of registration.</p>
	<p class="f5 lh-title">If an enrollment is cancelled outside of 7 days prior to the program start date that payment will be credited.</p>
	<p class="f5 lh-title">If an enrollment is cancelled within 7 days of the program start no credits or refunds will apply.</p>
	<p class="f5 lh-title">For promo packages, refund requests will be pro-rated based on the quarter of the school year at a 25% per quarter giveback. We will consider pro-rated promo refunds for clients who purchase the package and move, or whose children become ill and cannot use the days or for any other reasonable reason.</p>
	<p class="f5 lh-title">We will not refund a promo package amount or any portion thereof if, at the end of the year, you ended up not using many days, or determine you didn't use enough days or for any reason not specifically stated above.</p>
	<p class="f5 lh-title">For the most part, unless for exceptional circumstances, refunds or credits for single days of care, or for the promo package will not apply.</p>
</div>