<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-m f1-l lh-copy mb4 underline black-90 lh-title">Terms of Service</h1>
	<h2 class="f4 f3-m f2-l orange lh-title mb3">Summer Camp Program</h2>

	<p class="f5 lh-title">All families will pay a non-refundable registration fee of $25 when enrolling and regardless of when enrollment is conducted. This fee is separate from your summer tuition fees. There is also a $150 deposit required to secure your spot, which is nonrefundable after May 15 or with registrations made after May 15, nonrefundable after 5 business days of filing your registration. The registration fee is not refundable at any point subsequent to the filing of the registration.</p>

	<p class="f5 lh-title">No changes to summer registration invoices whereas the deletion of days or weeks are concerned will be made after June 1 of the given year.  
    </p> 

	<p class="f5 lh-title">A family can opt to add days or weeks at any time as long as there is available space.</p>

    <p class="f5 lh-title">
        Families who purchase a discounted package will not have any portion of that package price refunded to them at any time if they opt for lesser weeks. You can at any time request a full refund of your package cost by May 15th if you opt to register week to week instead.
    </p>

	<p class="f5 lh-title">When you register to secure a spot, you enter a contract with TSL. TSL honors this contract by hiring staff, purchasing materials, managing your enrollment from the point it is filed through the end of summer, communicating with you efficiently with any issues, and most importantly offering sound and safe programming. When parents do not hold up their end of the contract (i.e not paying, dropping enrollment outside of guidelines etc) you put our company at financial risk and block other families from enrolling. If our clients fail to fulfill the contract based on our Terms of Service, we will seek restitution through our partner collection agency. Every number, address and point of contact used to file your registration will be submitted to said agency as part of their collections attempt. We likewise authorize this agency to report uncollected monies to the major credit credit-reporting bureaus and can and will affect your credit rating.</p>

	<p class="f5 lh-title">TSL Adventures will not refund money, pro-rate invoices, or revise its enrollment policies in any way subsequent to the deadlines outlined above with the two exceptions: If the child is severely injured or is medically unable to attend for a long duration resulting from sickness or injury. In these cases, a doctor’s note will be required. Or, if the child is put out of program by TSL personnel for any reason. 
    </p>

	<p class="f5 lh-title">TSL does NOT forgive the contractual balance owed for ANY of the following reasons: responsible party’s loss of employment, responsible party moves out of town unexpectedly, responsible party becomes injured, responsible party realizes cost is higher than expected, responsible party wants to try another program, responsible party perceives program to be unfulfilling or not meeting expectations or for any other reason outside of those stated above as accepted situations that warrant a contract break without penalty.</p>

	<p class="f5 lh-title">Balances should be paid by the deadlines reflected in your parent accounts.</p>
    <p class="f5 lh-title">A $5 per day late fee will be applied to your unpaid balance for each day it is not paid beyond the payment deadline.</p>
    <p class="f5 lh-title">All summer balances must be paid in full by the last session of the summer, regardless of any specialized payment plan a family has made with TSL Adventures.</p>
</div>
