<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-m f1-l lh-copy mb4 underline black-90 lh-title">Terms of Service</h1>
	<h2 class="f4 f3-m f2-l orange lh-title mb3">Vacation Camp Program</h2>

	<p class="f5 lh-title">Payment for the program will be made in full at the time of 
		registration for the selections made.</p>
	<p class="f5 lh-title">Cancellation requests can be honored outside of 
	seven days to the program start date with a <u style="text-decoration-skip-ink: none;">credit only to a family's account</u>.</p>
	<p class="f5 lh-title">Cancellation requests within seven days of the program start date 
	cannot be honored and no credits or refunds will apply.</p>
</div>
