<%= form_tag add_card_customer_users_path, class: 'measure center' do %>
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
		data-email="<%= current_customer_user.email %>"
		data-name="TSL"
		data-panel-label="Add Card"
		data-label="<%= button_label %>"
		data-allow-remember-me=false
		data-locale="auto">
	</script>
<% end %>
