 <div class="contact-informations-section measure center nested-fields">
    <div class="form-row">
        <%= f.email_field :email %>
        <div class="delete-contact-container">
             <%= link_to_remove_association '<i class="fas fa-trash delete-contact-email"></i>'.html_safe, f %>
        </div>
    </div>  
 </div>
