<%= form_for current_customer_user.customer, html: { method: :put, class: 'measure center' } do |f| %>
	<div>
		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">1. Your Contact Info</h2>
		<div class="mb3">
			<%= f.label :first_name, "First Name", class: "f6 fw7 db mb1" %>
			<%= f.text_field :first_name, placeholder: "First Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>
		<div class="mb3">
			<%= f.label :last_name, "Last Name", class: "f6 fw7 db mb1" %>
			<%= f.text_field :last_name, placeholder: "Last Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :emergency_phone_number, "Emergency Number", class: "f6 fw7 db mb1" %>
			<%= f.text_field :emergency_phone_number, placeholder: "Emergency Number", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :phone_number, "Phone Number", class: "f6 fw7 db mb1" %>
			<%= f.text_field :phone_number, placeholder: "Phone Number", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>
	</div>

	<div>
		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Address</h2>
		<div class="mb3">
			<%= f.label :address_line_one, "Address Line One", class: "f6 fw7 db mb1" %>
			<%= f.text_field :address_line_one, placeholder: "Address Line One", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :address_line_two, "Address Line Two", class: "f6 fw7 db mb1" %>
			<%= f.text_field :address_line_two, placeholder: "Address Line Two", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :city, "City", class: "f6 fw7 db mb1" %>
			<%= f.text_field :city, placeholder: "City", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :state, "State", class: "f6 fw7 db mb1" %>
			<%= f.text_field :state, placeholder: "State", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>

		<div class="mb3">
			<%= f.label :zip_code, "Zip Code", class: "f6 fw7 db mb1" %>
			<%= f.text_field :zip_code, placeholder: "Zip Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
		</div>
	</div>

	<div class="mb3 mt4">
		<%= f.label :how_did_you_hear_about_us, "How did you hear about us?", class: "f6 fw7 db mb1" %>
		<%= f.select :how_did_you_hear_about_us, options_for_select(how_did_you_hear_about_us_options, f.object.how_did_you_hear_about_us), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
	</div>

	<% if current_customer_user.customer.autopay_enabled? %>
		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Autopay</h2>
			<div class="mb3">
				<%= f.label :autopay_enabled, "Autopay Enabled", class: "f6 fw7 db mb1" %>
				<%= f.check_box :autopay_enabled, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>
		</div>
	<% end %>

	<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt4 mb4" %>
<% end %>
