<div class="measure center autopay-section">
	<%= hidden_field_tag 'update_auto_pay_user_id', @user_id %>
	<div class="form-row">
		<%= check_box_tag :enable_autopay, 1, @customer_user.autopay_enabled %>
		<%= label_tag :enable_autopay, @customer_user.autopay_enabled ? "Autopay enabled" : "Autopay disabled",
			{id: "enable_autopay_label"} %>
	</div>
	<p class="">Enabling autopay will automatically deduct the amount of future invoices from your provided payment method.</p>
</div>

<div class="payment-source-section measure center">
	<% if current_customer_user.customer.card_last_four.present? && current_customer_user.customer.card_brand.present? %>
	
	<div class="saved-card-information">
		<div class="card-details">
			<div class="image-container">
				<%= image_tag get_card_icon(current_customer_user.customer.card_brand)%>
			</div>
			<div class="card-information">
				<div>
					**** **** **** <%= current_customer_user.customer.card_last_four %>
				</div>
				<div>
					<%= current_customer_user.customer.card_brand %>
				</div>
			</div>
			
			<%= render 'update_card_form', button_label: "Update Card Details" %><br/>
			
		</div>
		<div class="unlink-icon-container">
			<div class="measure center">
				<%= render 'unlink_card_form' %>
			</div>
			<div class="unlink-tool-tip">
				Unlink
			</div>
		</div>
	</div>

	<% else %>
		<p class="measure center">You currently don't have a card on file. You may add a card below:</p>
		<%= render 'add_card_form', button_label: "Add Card" %><br/>
	<% end %>
</div>

<% if current_customer_user.customer.stripe_bank_identifier.present? && current_customer_user.customer.bank_name.present? && current_customer_user.customer.bank_verified? %>
	<p class="measure center">
		You've linked your bank account <b><%= current_customer_user.customer.bank_name %>.</b><br/><br/>
	</p>

	<%= render 'link_bank_account_form', button_label: "Edit Bank Details" %>
<% else %>
	<p class="measure center">If you'd like to use a bank account instead, please link it below.</p>
	<%= render 'link_bank_account_form', button_label: "Submit Bank Details" %>
<% end %>
<h4 style="text-align: center;">Other email accounts for receiving notifications</h4>
<div id="contact-informations">
	

	<%= form_for @customer_user do |f| %>
		<div class="measure center contact-informations-container">
			<%= f.fields_for :contact_informations do |info| %>
				<%= render 'contact_information_fields', f: info %>
			<% end %>
			<%= f.hidden_field :email %>
			<%= link_to_add_association 'Add e-mail account', f, :contact_informations %>
			<div class="submit-row">
				<%= f.submit 'Submit' %>
			</div>
		</div>
	<% end %>
</div>