<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Capacity</th>
			<th>Enrolled</th>
		</tr>
	</thead>

	<tbody>
			<% target.each do |single_day_date| %>
				<tr>
					<td data-th="Name"><%= single_day_date.name %></td>
					<td data-th="Date"><%= single_day_date.date %></td>
					<td data-th="Capacity"><%= single_day_date.capacity %></td>
					<td data-th="Enrolled"><%= single_day_date.enrolled_count %></td>
				</tr>
			<% end %>
	</tbody>
</table>
