div.add-to-cart-page {
    width: 100%;
    padding: 1.5em;
    height: 100%;

    section.purchase-details {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div.preview-image-region-section {
            flex: 0 1 48%;
            @media screen and (max-width: 790px) {flex: 0 1 100%;}
            text-align: center;
        }

        div.order-details-section {
            flex: 0 1 48%;
            padding-left: 15px;
            @media screen and (max-width: 790px) {flex: 0 1 100%}
            div.links {
                text-align: left;
                @media screen and (max-width: 790px) {margin-top: 30px;}
                a, span {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.4);
                    text-transform: uppercase;
                    font-size: 0.7em;
                    font-family: roboto, verdana, arial;
                }

                a {
                    transition: color 400ms ease;
                    &:hover {
                        color: #1976D2;
                    }
                }
            }
            div.product-description {
                font-size: 2em;
                margin-top: 40px;
                font-family: lato, verdana, arial;
                text-align: left;
                color: rgb(0, 0, 0,);
                @media screen and (max-width: 790px) {text-align: center;}
            }

            div.price {
                margin-top: 10px;
                color: rgb(236, 122, 92);
                font-family: lato;
                font-size: 1.5em;
                text-align: left;
                @media screen and (max-width: 790px) {text-align: center;}
            }

            div.size-selection, div.location-selection {
                margin-top: 10px;
                text-align: left;
                @media screen and (max-width: 790px) {text-align: center;}
                div.select-size-label {padding: 2px;}
                select {
                    margin-top: 6px;
                    width: 250px;
                    padding: 10px;
                    height: 40px;
                    outline: none;
                    border-radius: 4px;
                }
            }

            div.quantity-specification {
                padding-left: 5px;
                margin-top: 30px;
                text-align: left;
                @media screen and (max-width: 790px) {text-align: center;}
                button {
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0;
                }
                i {
                    cursor: pointer;
                    font-size: 0.9em;
                }

                span.order-quantity-text {
                    margin: 0 10px;
                    font-family: lato, verdana, arial;
                    font-size: 1.1em;
                }
            }

            div.add-to-cart-button-container {
                margin-top: 10px;
                text-align: left;
                @media screen and (max-width: 790px) {text-align: center;}
                button {
                    padding: 10px 30px;
                    background-color: rgb(236, 122, 92);
                    color: #fff;
                    text-transform: uppercase;
                    transition: background-color 500ms ease;
                    cursor: pointer;
                    outline: none;
                    &:hover {
                        background-color: #E65100;
                    }
                }
            }
        }
    }
}