div.cart-overview-page {
    $orange: rgb(236, 122, 92);
    $blue: #1565C0;
    height: 100%;
    width: 100%;
    padding: 2em;
    @media (max-width: 449px) {padding: 0.5em;}
    h1 {
        font-family: lato, verdana, arial;
        font-weight: 600;
        font-size: 2em;
    }

    h1.flash-error {
        font-family: lato, verdana, arial;
        font-weight: 300;
        font-size: 1em;
        text-align: center;
        padding: 0.5em;
        width: 70%;
        margin: auto;
        border-radius: 8px;
        color: #fff;
        background-color: #C62828;
    }

    div.order-list {
        div.border {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2)
        }
        div.order {
            padding: 10px 0;
            display: flex;
            width: 450px;
            justify-content: space-between;
            @media (max-width: 449px) {width: 100%;}
            
            div.image-container {
                flex: 0 1 49%;
                img {
                    width: 200px;
                    height: auto;
                    @media screen and (max-width: 450px) {height: 100%;}
                }
            }
            div.order-details {
                margin: 0;
                flex: 0 1 49%;
                display: flex;
                flex-wrap: wrap;    
                div {
                    flex: 0 1 100%;
                }
                div,span {
                    font-family: roboto, verdana, arial;
                    font-size: 1em;
                }
                div.product-name {
                    color: $blue;
                } 

                div.total {
                    color: $orange;
                }
                div.cancel-button-container {
                    display: flex;
                    align-items: flex-end;
                    a {
                        font-family: roboto, verdana, arial;
                        text-decoration: none;
                        padding: 8px 10px;
                        background-color: #C62828;
                        border-radius: 4px;
                        color: #fff;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    div.continue-shopping-container {
        margin: 30px 0;
        a {
            text-transform: uppercase;
            font-size: 1.2em;
            font-family: roboto, verdana, arial;
        }
    }

    div.location-selection {
        margin-top: 10px;
        text-align: left;
        div.select-size-label {padding: 2px;}
        select {
            margin-top: 6px;
            width: 250px;
            padding: 10px;
            height: 40px;
            outline: none;
            border-radius: 4px;
        }
    }
}