div.shopping-page {
    padding: 2em;
    width: 100%;
    h1.shop-header {
        font-size: 5em;
        font-family: roboto, verdana, arial;
        text-align: center;
        font-weight: 300;
        margin: 0;
        color: rgba(0, 0, 0, 0.6);
    }

    section.products {
        width: 100%;
        margin-top: 15px;

        div.product-list {
            width: 100%;

            div.product {
                display: inline-block;
                padding: 0 10px;
                div.image-container {
                    img {
                        cursor: pointer;
                        width: 300px;
                        height: auto;
                    }
                }
                div.product-name {
                    font-family: roboto, verdana, arial;
                    font-size: 1.1em;
                    text-align: left;
                    margin-top: 6px;
                    font-weight: bold;
                    text-align: center;
                }
        
                div.price {
                    font-family: roboto, verdana, arial;
                    font-size: 1.1em;
                    margin-top: 6px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }       
    }

    div.continue-shopping-link-container {
        margin-top: 30px;
        text-align: center;
        a.go-to-cart-link {
            color: #fefefe;
            text-decoration: none;
            text-transform: uppercase;
            font-family: roboto, verdana, arial;
            font-size: 1;
            background-color: #1565C0;
            padding: 10px 15px;
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
            transition: background-color 450ms ease;
            font-size: 1.5em;
            &:hover {
                background-color: #0D47A1;
            }
        }
    }
    
}
