.mt1 {
    margin-bottom: 5px;
}

.f5 {
    margin-top: 5px;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.transaction-notifier-container {
    height: 30px;
    opacity: 0;
    visibility: hidden;
    p {
        margin: auto;
        padding: 4px;
        border-radius: 4px;
        background-color: #81C784;
        color: #f4f4f4;
        text-align: center;
    }
}

