/* ==|====================
   Modules/Alerts
   Alerts
   ======================= */
.alert, .purr {
  background: #0074D9;
  max-width: 350px;
  min-width: 200px;
  padding: 16px;
  position: fixed;
  right: 120px;
  top: 80px;
  transition: all 0.33s;
  z-index: 5;
  // border-left: 4px solid #FF851B;
}

.alert-info,
.alert-notice {//Use info for neutral things (blue)
  background-color: #FF851B;
  color: #ffffff;
}

.alert-danger,
.alert-alert,
.bip-flash-error {//Use danger for negative things (red)
  background-color: #FF4136;
  color: #ffffff;
}

.alert-success {//Use success for Positive things (green)
  background-color: #2ECC40;
  color: #ffffff;
}

.close {
  transition: all 0.33s;
  color: #ffffff;
  float: right;
  font-weight: 500;
  line-height: 1.5;
  opacity: .87;
  padding-left: 16px;
}

.close:hover,
.close:focus {
  color: #dddddd;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
}

@media screen and (max-width:600px) {
  .alert {
    left: 8px;
    right: 8px;
    margin: 0;
    position: fixed;   
  }
}