/*
*= require jquery-ui
*/

@import "normalize";
@import "alerts";
@import "../tachyons";

/* add required field asterisk */

* {
    box-sizing: border-box !important;
}

label.required:after {
  content: " * " attr(data-content);
  color: red;
}

.hidden {
	display: none !important;
}

.field_with_errors {
	display: inline;
}

.horizontal-line-text {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}

$red: #FF4136;
$green: #2ECC40;

.Yes { background-color: rgba($green,.5); }
.No { background-color: rgba($red,.5); }

.checkout-container {
    text-align: center;
}
#checkoutSubmit {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.4), 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    background-color: #0288D1;
    color: #f5f5f5;
    outline: none;
    cursor: pointer;
}

// .unlink_card {
//     color: #f5f5f5;
//     background-color: #B71C1C;
//     border-radius: 5px;
//     box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.4), 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
//     outline: none;
//     padding: 15px 10px;
//     border: none;
//     cursor: pointer;
//     transition: background-color 0.2s ease;
//     transform: translate(180%, -120%);
//     &:hover {
//         background-color: rgb(158, 38, 38);
//     }
// }

.card_notice {
    font-size: 80%;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    h2, h3, h4 {
        font-weight: 300;
    }
}





input,
.StripeElement {
  height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
#submitPayment{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.4), 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    background-color: #0288D1;
    color: #f5f5f5;
    outline: none;
    cursor: pointer;
}









@import 'vacation_camp';
@import 'receipts/receipts-main';
@import 'media-query/media-query-main';
@import 'navigation/navigation-main';
@import 'customer-user/edit-billing-information/main';
@import 'summer_camp';
@import 'invoices';
@import 'terms-of-service/terms-of-service-main';
@import 'before-and-after-school/before-and-after-school';
@import 'static-pages/static-pages';
@import 'single-day/single-day';
@import 'purchases/shop';
@import 'purchases/add-to-cart';
@import 'purchases/cart-overview';