.summer-camp-promo-section, .summer-registration-option {
    div {
        height: inherit;
        & * {
            cursor: pointer;
        }
        input[type=radio] {
            height: 20px;
            margin-top: -1px;
            vertical-align: middle;
        }
        label {
            margin-left: 6px;
        }
        &:not(:first-of-type) {
            margin-top: 10px;
        }
        &:last-of-type {
            margin-bottom: 10px;
        }
        .promo-checkboxes {
            margin-left: 20px;
            .check-box-label-pair {
                display: block;
                margin: 6px 0;
            }
        }
    }
}