.vacation-month {
    &:not(:first-of-type) {
        margin-top: 10px;
    }

    & * {
        vertical-align: middle;
        outline: none;
        cursor: pointer;
    }

    label {
        margin-left: 5px;
    }
    span {
        margin-left: 10px;
        opacity: 0.8;
        font-size: 60%;
    }
}

.ad {
    font-weight: 300 !important;
    font-size: 80%;
}

.promo {
    font-weight: 400;
    font-size: 100%;
}

