<!DOCTYPE html>
<html>
<head>
  <title>Tslis</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <%= stylesheet_link_tag    'admin/admin', media: 'all' %>
  <%= javascript_include_tag 'admin/admin' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/tachyons-css/tachyons/master/css/tachyons.min.css" /> -->
</head>
<body>
    <%# <%= render "layouts/admin/header" %>
    <%= render partial: 'admin/common/navigation' %>
    <%= render "layouts/admin/alerts" %>
    <div class="container" style="padding: 0.5em;">
        <%= yield %>
    </div>
</body>
</html>
