<!DOCTYPE html>
<html>
<head>
  <title>TSL Information System</title>
  <meta name="author" content="Delight Consulting">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato" %>
  <%= stylesheet_link_tag    'application/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application/application', 'data-turbolinks-track' => true %>
	<% if Rails.env.production? %>
		<script src="https://static.accountdock.com/app.min.js"></script>
	<% else %>
		<script src="https://sandbox.accountdock.com/app.min.js"></script>
	<% end %>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="sans-serif black-90">
    <%= render "layouts/application/header" %>
    <%= render "layouts/application/alerts" %>
    <%= yield %>
</body>
</html>
