<% date_september_15 = "September 15, 2019".to_date %>
<% date_today = DateTime.now.to_date %>
<% @vacation_camp_schedules.each do |schedule| %>
    $('#vacation_camp_schedules').append(
	<% if date_september_15 <= date_today %>
        <% if schedule.month.eql?("december") %>
	   "<div class='vacation-month'>" +
            '<input type="checkbox" name=registration_record[attendance][<%= schedule.month %>] id="registration_record_attendance_<%= schedule.month %>" class="option" value="<%= schedule.id %>" >' +
            '<label for="registration_record_attendance_<%= schedule.month %>" ><%= schedule.name %> <b style="font-size: 12px;"> NOTE: There is no care on Christmas or News Year\'s Day and program closes at 2 pm on Christmas Eve and New Year\'s Eve. </b> </label>' +
        "</div>" 
        <%else%>
        "<div class='vacation-month'>" +
            '<input type="checkbox" name=registration_record[attendance][<%= schedule.month %>] id="registration_record_attendance_<%= schedule.month %>" class="option" value="<%= schedule.id %>" >' +
            '<label for="registration_record_attendance_<%= schedule.month %>" ><%= schedule.name %> </label>' +
        "</div>" 
        <%end%>
    <% else %>
        "<div class='vacation-month'>" +
            '<input type="checkbox" name=registration_record[attendance][<%= schedule.month %>] id="registration_record_attendance_<%= schedule.month %>" class="option" value="<%= schedule.id %>" >' +
            '<label for="registration_record_attendance_<%= schedule.month %>" ><%= schedule.name %></label>' +
        "</div>" 
    <% end %>
    )
<% end %>




