$('.js-week').addClass("dn");
$(":checkbox").each(function() {
	this.checked = false;
});

<% @program.summer_camp_weeks.order('start_date asc').each_with_index do |summer_camp_week, index| %>
	var formSelector = "#js-week-" + "<%= number_to_word(index + 1) %>"
	$(formSelector).removeClass("dn");
	$(formSelector + ' label')[0].innerHTML = "<%= summer_camp_week.display_name %>"

	<% if summer_camp_week.enrolled_count(index) >= summer_camp_week.capacity %>
		$(formSelector).addClass("dn");
	<% end %>
<% end %>
