// '<%- if false %>'
// $('#registration_record_single_day_record_attributes_single_day_date_id').empty().html("<%= j render @program.single_day_dates.select{|i| i.enrolled_count < i.capacity} %>");
// $('#registration_record_single_day_record_attributes_single_day_date_id').prepend("<option value=''></option>");
// '<%- end%>'
$('.dates-here').html("");
<% @program.single_day_dates.each_with_index do |schedule,index| %>
    console.log('<%schedule%>');
    '<%- if schedule.enrolled_count < schedule.capacity%>'
    $('.dates-here').append(
        "<div class='vacation-month'>" +
            '<input type="checkbox" name="registration_record[single_day_date_ids][]" id="registration_record_single_day_date_ids" class="option" value="<%= schedule.id %>" >' +
            '<label for="registration_record_single_day_date_ids" ><%= schedule.display_name %></label>' +
        "</div>" 
    )
    '<%-end%>'
<% end %>