/* Center vertically and horizontally */
.u-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-center {
    margin-left: auto;
    margin-right: auto;
}

/* Text Alignment */
.u-align-left {
    text-align: left;
}

.u-align-center {
    text-align: center;
}

.u-align-right {
    text-align: right;
}