/* Hack CSS, temporary fixes, are prefixed with an underscore */
/* ie  _makeitwork ._makeitwork _fixthebutton ._fixthebutton */


.lg-padding-vertical {
    padding: $base-spacing-unit--huge $base-spacing-unit;
    > h2 {
        margin-bottom: 0;
    }
}

.mw-500 {
    max-width: 500px;
}


.pagination {
	@extend .tc;
	@extend .mv3;
	@extend .f4;
	@extend .lh-copy;
}

.page.current {
	@extend .bb;
	@extend .pl1;
}

.page {
	@extend .mh1;
}