<h1 class="f3 f2-ns lh-title mw8 center pa2 tc">Successfully changed your password.</h1>

<p class="mw8 center pa2 tc">Open the mobile app or you can proceed <a href="<%= root_path %>">here</a> to login</p>