$link-color: #909dc2;
.nav-element {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);
    %flex {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .tsl-logo {
        // width: 80px;
        // height: auto;
        // margin-left: 10px;
        width: 150px;
        height: 84px;
        margin-left: -12px;
    }
    height: 80px;
    background-color: #1565C0;
    .nav-links-container {

        height: 100%;
        display: flex;
        flex-flow: row;
        span {
            height: 20px;
            width: 20px;
        }
        a, span {
            text-decoration: none;
            color: #fff;
            padding-bottom: 1px;
            border-bottom: 2px solid transparent;
            font-weight: 300;
            text-transform: uppercase;
            margin-right: 20px;
            cursor: pointer;
            position: relative;
        }

        .nav-links {
            @extend %flex;
            padding: 0 10px;
            justify-content: flex-end;
            span, a {
                cursor: pointer;
            }

            .billing-menu, .account-menu {
                position: relative;
                padding-top: 5px;
                height: 30px;
                .billing-arrow, .account-arrow {
                    visibility: hidden;
                    z-index: 1;
                    display: block;
                    cursor: pointer;
                    left: 25%;
                    top: 15px;
                    position: absolute;
                    content: '';
                    height: 20px;
                    border-top: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                }
                 
                .billing-options, .account-options {
                    z-index: 1;
                    visibility: hidden;
                    display: block;
                    margin-top: 6px;
                    border: 1px solid white;
                    border-radius: 3px;
                    position: absolute;
                    font-size: 120%;
                    right: 0;
                    width: 200px;
                    background-color: #fff;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
                    ul {
                        width: 100%;
                        list-style-type: none;
                        padding: 8px;
                        margin: 0;
                        li:not(:last-of-type) {
                            border-bottom: 1px solid $link-color;
                        }
                        li {
                            position: relative;
                            padding: 5px 0;
                        }
                        a, i {
                            margin: none;
                            color: $link-color;
                            font-size: 80%;
                            text-transform: none;
                        }
                        a {
                            position: absolute;
                            right: 0;
                            margin: 0;
                            bottom: 3px;
                        }
                    }
                }
            }
            .fa-info {
                margin-left: 5px;
            }          
        }

        .session-links {
            @extend %flex;
            justify-content: flex-end;
            
            a {
                margin-right: 20px;
            }
            .mobile-view {
                display: none;
            }
        }

        .nav-links-mobile {
            display: none;
        }
    }
}

.visible {
    visibility: visible !important;
}