<h1 class="f3 f2-ns lh-title mw8 center pa2 tc log-in-header">Log in to TSL</h1>

<main class="mw8 center ph2 pb3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'measure center' }) do |f| %>
    <fieldset class="ba b--transparent pa0 ma0">
      <div class="mt3">
        <%= f.label :email, class: 'db fw6 lh-copy f6' %>
        <%= f.email_field :email, autofocus: true, class: 'pa2 input-reset ba bg-transparent w-100' %>
      </div>

      <div class="mt3">
        <%= f.label :password, class: 'db fw6 lh-copy f6' %>
        <%= f.password_field :password, autocomplete: "off", class: 'b pa2 input-reset ba bg-transparent w-100' %>
      </div>

      <div class="mb2">
        <% if devise_mapping.rememberable? -%>
          <label for="user_remember_me" class="pa0 ma0 lh-copy f6 pointer">
            <%= f.check_box :remember_me %> Remember Me
          </label>
        <% end -%>
      </div>

      </fieldset>
      <div class="actions">
        <%= f.submit "Log in", class: 'fw7 ph3 pv2 input-reset ba bg-blue hover-bg-green bg-animate b--black white grow pointer f6 dib' %>
      </div>
  <% end %>

  <div class="lh-copy mt3 measure center">
    <%= link_to "Sign up", new_registration_path(resource_name), class: 'f6 link dim black-70 mb1 mb2-ns' %> | <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'f6 link dim black-70 mb1 mb2-ns' %>
  </div>
</main>