/*
    Tools: Mixins
    ---
    A set of simple mixins used throughout the framework
*/

@mixin transition($property) {
  //Input: color    //Output: transition: color 0.33s;
  transition: $property 0.33s;
}

//@SHANE should this be a placeholder instead of a mixin?
@mixin box-shadow {
  box-shadow:
  0 1px 3px rgba($black,0.12),
  0 1px 2px rgba($black,0.24);
}

//@SHANE should this be a placeholder instead of a mixin?
@mixin text-shadow {
  text-shadow:
  0 1px 3px rgba($black,0.12),
  0 1px 2px rgba($black,0.24);
}


@mixin font-size($value) {
    //Input: 32px    //Output: font-size: 32px; font-size: 2rem; 
    font-size: $value;
    font-size: ($value / $base-font-size) * 1rem;
}



@mixin button($bgcolor, $textcolor) {
  background: $bgcolor;
  color: $textcolor;
  &:link,
  &:visited {
    background: $bgcolor;
    color: $textcolor;
  }
  &:hover {
    background: darken($bgcolor, 5%);
    color: $textcolor;
  }
  &:active {
    background: darken($bgcolor, 10%);
    color: $textcolor;
    transform: translateY(1px);
  }  
}
@mixin small-button {
  padding: $base-spacing-unit--small $base-spacing-unit;
  font-size: 14px;
}
