<h2 class="form-title">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'tsl-form white-form regular-form' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>


    <%= f.label :password, "New password" %>
    <% if @minimum_password_length %>
      <em class="tiny">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <hr>

    <div class="o-grid">
      <div class="o-grid__unit u-half">
        <%= f.submit "Change my password", class: 'button' %>
      </div>
      <div class="o-grid__unit u-half u-align-right">

      </div>
    </div>

<% end %>
