<h2 class="form-title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'tsl-form regular-form white-form', method: :post }) do |f| %>
	<%= devise_error_messages! %>
	<%= f.label :email %>
	<%= f.email_field :email, autofocus: true %>

		<hr>

		<div class="o-grid">
			<div class="o-grid__unit u-half">
				<%= f.submit "Reset my Password", class: 'button' %>
			</div>
			<div class="o-grid__unit u-half u-align-right">
				<%- if controller_name != 'sessions' %>
					<%= link_to "Log In", new_session_path(resource_name) %><br />
				<% end -%>

				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
					<%= link_to "Register", new_registration_path(resource_name) %><br />
				<% end -%>
			</div>
		</div>
<% end %>
