<div class="admin-products">
    <h1><%= @products.first.name %></h1>
    <h2>Stock information</h2>
    <div class="stock-info-table-container">
        <table>
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Remaining Quantity</th>
                </tr>
            </thead>
            <tbody>
                <% @products.first.sizes.order('name DESC').each do |size| %>
                    <tr>
                        <td><%= size.name %></td>
                        <td>$<%= number_with_precision(size.price, precision: 2) %></td>
                        <td><%= size.quantity %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>