<h2 class="form-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'tsl-form white-form regular-form' }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <hr>

    <div class="o-grid">
      <div class="o-grid__unit u-half">
        <%= f.submit "Update Account", class: 'button' %>
      </div>
      <div class="o-grid__unit u-half u-align-right">

      </div>
    </div>

<% end %>

<br><br>

<div class="tsl-form white-form regular-form">
  <h3 class="p strong">Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button negative' %></p>
</div><br><br>
