<h2 class="form-title">Register</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'tsl-form regular-form white-form'}) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>
<br>
  <%= f.label :password %>
  <% if @minimum_password_length %>
    <span class="f6 black-70">(<%= @minimum_password_length %> characters minimum)</span>
  <% end %>
  <%= f.password_field :password, autocomplete: "off" %>
  

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <hr>

  <div class="o-grid">
    <div class="o-grid__unit u-half">
      <%= f.submit "Create New Account", class: 'button' %>
    </div>
    <div class="o-grid__unit u-half u-align-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>



