.create-invoices-button-group {
    a {
        padding: 10px 15px;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.6);
        width: 300px;
        height: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color:#00796B;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: #004D40;
        }
        i {
            margin-right: 10px;
        }
    }
   
    a, i {
        color: rgb(230, 230, 230);
    }
}

.create-invoices-page {
    padding: 15px 0;
    width: 85%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;

    .invoices-section {
        display: flex;
        flex-direction: column;
        width: 60%;
        border: 1px solid grey;
        margin: 10px auto;
        padding: 0 10px;
        a {
           padding: 10px 15px;
           border: 1px solid #1E88E5;
           border-radius: 4px;
           background-color: #1E88E5;
           display: block;
           margin: 10px;
           width: 200px;
           color: #f4f4f4;
           cursor: pointer;
           transition: background-color 0.2s ease;
           &:hover {
               background-color: #1565C0;
           }
        }
        a.red {
            background-color: #E53935;
            border: 1px solid transparent;
            transition: background-color 0.2s ease;
            text-align: center;
            i {
                margin-right: 10px;
            }
            &:hover {
                background-color: #B71C1C;
            }
        }
        .form-block {
            display: block;
            width: 100%;
            border: 1px solid green;
            padding: 8px;
            border-radius: 6px;
            margin: 10px auto;
            background-color: rgba(0, 0, 0, 0.09);
        }
        .form-row {
            margin: 5px auto;
            display: flex;
            justify-content: center;

            * {
                font-family: lato, arial, verdana;
            }
            i {font-family: "Font Awesome 5 Free" !important;}
            
           
          
            input[type=number], input[type=text] {
                width: 240px;
                height: 50px;
                border: 1px solid transparent;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
                padding-left: 4px;
            }

            input[type=submit] {
                padding: 10px 15px;
                box-shadow: 0 2px 4px 1px;
                border-radius: 4px;
                outline: none;
                border: none;
                background-color: #B2EBF2;
                cursor: pointer;
                transition: background-color 0.2s ease;
                &:hover {
                    background-color: #4DD0E1;
                }
            }

            label {
                line-height: 50px;
                height: 50px;
                background-color: #4DB6AC;
                width: 100px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                text-align: center;
            }

            h5 {
                font-weight: 300px;
                text-align: center;
                width: 340px;
            }
        }

        h5 {
            font-family: lato, arial, verdana;
            font-weight: 400px;
            text-align: center;
            font-size: 20px;
            margin: 10px auto;
        }
        p.amount-notice {
            text-align: left;
            color: rgba(0, 0, 0, 0.30);
            font-size: 16px;
        }
    }
}