.edit-record-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    .form-row {
        * {
            font-family: 'Lato', sans-serif;
            box-sizing: border-box !important;
        }
        
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 10px auto 0 auto;
        border: 1px solid #ced4da;
        .form-row-label {
            background-color:rgb(232, 246, 248);
            height: 40px;
            display: flex;
            align-items: center;
            flex: 1 1 40%;
            label {
                min-width: 100%;
                text-align: center;
                font-size: 110%;
                border: 1px solid transparent;
            }
        }

        .form-check-label {
            background-color: transparent;
            height: 40px;
            flex: 1 1 40%;
            display: flex;
            align-items: center;

            label {
                min-width: 100%;
                text-align: center;
                font-size: 110%;
                border: 1px solid transparent;
            }
        }
        
        .form-control {
            height: 40px;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            input[type=datetime-local] {
                height: 100%;
                width: 100%;
                border: 1px solid transparent;
                text-align: center;
            }

            input[type=checkbox] {
                height: 50px;
                padding: 20px;
                cursor: pointer;
            }

            input[type=date] {
                height: 40px;
                text-align: center;
                width: 100%;
            }

            .start-date-tool-tip {
                display: block;
                height: 100%;
                width: 100%;
                text-transform: none;
                position: absolute;
                bottom: -40px;
                font-weight: 300; 
                font-style: italic;
                color: grey;
                font-size: 80%;
                opacity: 0.9;
                left: 0;
            }
        }
    }

    .before-school-header,
    .after-school-header, {
        color: #777;
        margin-top: 8px;
    }

    .before-and-afterschool-box, .summer-camp-week-box {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        margin: 0 auto;
        flex-direction: column;

        .days, .checkboxes, .weeks, .vacation-camp-schedules {
            display: flex;
            flex-direction: row;
            width: 100%;
            div {
                flex: 1 1 100%;
                padding: 10px;
            }

            .week-name {
                flex: 1 1 100%;
                padding: 5px;
            }
        }
        
        .before-school-day-box, .after-school-day-box {
            background-color: #BBDEFB;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        .after-school-day-box {
            background-color: #C5CAE9;
        }

        .summer-camp-first-half, .summer-camp-second-half {
            background-color: #1E88E5;
            color: #f9f9f9;
        }

        .summer-camp-second-half {
            background-color: #3949AB;
        }
        
    }

    .edit-record-submit-button {
        padding: 15px 20px;
        border-radius: 4px;
        background-color: #1565C0;
        color: #f5f5f5;
        font-size: 16px;
        transition: all 0.2s ease;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.6);
        border: none;
        &:hover {
            background-color: #0D47A1;
        }
    }

    .edit-vacation-camp-records {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        ul {
            width: 100%;
            padding: 0;
            li {
                display: flex;
                flex-flow: row wrap;
                margin-top: 8px;
                text-align: left;
                div {
                    flex: 1 1 50%;
                }
                .sched-summary {
                    line-height: 38px;
                    vertical-align: middle;
                }
                .camp-enrollment-button {
                    text-align: left;

                    button {
                        background-color: #BBDEFB;
                        padding: 6px 10px;
                        border-radius: 4px;
                        outline: none;
                    }
                }      
            }
        }
    }

    .vacation-camp-record-update-alert {
        height: 30px;
        line-height: 30px;
        vertical-align: 30px;
        width: 80%;
        background-color: #43A047;
        margin: 0 auto;
        color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        opacity: 0;
    }

    .child-records-section {
        margin: 10px auto;
        padding: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        a.add_fields {
            color: #f9f9f9;
        }
    }

    .errors-header {
        background-color: #EF5350;
        color: #f4f4f4;
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 4px;
    }
}

