header.admin-header {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    background-color: #37474F;
    div.main-navigation {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
        padding: 0 1.5em;
        @media only screen and (max-width: 1270px) {
            padding: 0 0.5em;
        }
        @media only screen and (max-width: 1225px) {
            display: none;
        }
        ul.navigation-links {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            @media only screen and (max-width: 970px) {
                justify-content: center;
            }
            height: 80px;
            li {
                padding: 0.5em 1em;
                display: flex;
                align-items: center;
                position: relative;
                @media only screen and (max-width: 1100px) {
                    padding: 0.5em;
                }
                &:hover::after {
                    width: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    left: 50%;
                    bottom: 20%;
                    width: 0;
                    height: 2px;
                    transform: translateX(-50%);
                    transition: width 400ms ease 150ms;
                }
                a {
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }
    }
    div.mobile-navigation {
        display: none;
        padding: 0 0.5em;
        position: relative;
        @media only screen and (max-width: 1225px) {
            display: flex;
            justify-content: flex-end;
            height: 80px;
            align-items: center;
            button.dashboard-mobile-navigation-button {
                background-color: transparent;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                outline: none;
                border: none;
                overflow: hidden;
                position: relative;
                &:active::after {
                    transform: scale(0)  translate(-50%, -50%);
                    opacity: 1;
                    transition: transform 0s, opacity 0s;
                }
                &::after {
                    position: absolute;
                    content: '';
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background-color: #fff;
                    top: 50%;
                    left: 50%;
                    transform-origin: 0 0;
                    transform: scale(3) translate(-50%, -50%);
                    opacity: 0;
                    transition: transform 700ms ease, opacity 700ms ease;
                }
                i {
                    position: relative;
                    top: 2px;
                    color: #fff;
                    font-size: 1.5em;
                }
            }
        }
        ul.mobile-navigation-links {
            position: absolute;
            top: 100%;
            background-color: #263238;
            width: 100%;
            left: 0;
            list-style: none;
            transition: height 700ms ease;
            height: 0;
            overflow: hidden;
            z-index: 7;
            li {
                margin: 0;
                padding: 0.5em;
                a {
                    color: #fff;
                    font-family: roboto, verdana, arial;
                    font-size: 1em;
                    text-transform: uppercase;
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}