#vacation_camp_schedule_name:focus,
#vacation_camp_schedule_capacity,
#vacation_camp_schedule_month,
#vacation_camp_schedule_year {
    border: 1px solid rgba(0, 116, 217, 0.69); 
}

.date_editor {
    color: #f5f5f5;
    background-color: rgb(57, 57, 216);
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    margin: 5px;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2 ease;
    margin-bottom: 10px;
}

.selected-dates {
    margin-top: 10px;
    outline: none;
}

.multi_date_picker {
    width: 100%;
    height: 300px;
    margin-bottom: 150px;

    div {
        width: 100%;
        text-align: center;
        .ui-datepicker-title {
            margin: 0;
        }
        td {
            height: 50px;
            width: 50px;
            a {
                text-align: center;
                padding: 25% 0;
            }
        }
    }
}

input:focus {
    border: 1px solid rgba(0, 116, 217, 0.69); 
}