/*
*= require jquery-ui/datepicker
*/

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "settings/global";
@import "settings/colors";

@import "tools/animations";
@import "tools/mixins";

@import "generic/normalize";
@import "generic/box-sizing";
@import "generic/print";

@import "elements/blockquote";
@import "elements/forms";
@import "elements/links";
@import "elements/lists";
@import "elements/media";
@import "elements/page";
@import "elements/tables";
@import "elements/typography";

@import "objects/aspect-ratio";
@import "objects/grid";
@import "objects/media";
@import "objects/wrappers";

@import "components/alerts";
@import "components/book-list";
@import "components/buttons";
@import "components/hero";
@import "components/lists";
@import "components/multi-buttons";
@import "components/tables";
@import "components/header";

@import "trumps/centering";
@import "trumps/floats";
@import "trumps/links";
@import "trumps/shame";
@import "trumps/visibility";

@import "../tachyons";


/* Additional CSS for TSLIS red/green tables */
.bg-silver { background-color: $silver; }
.Yes { background-color: rgba($green,.5); }
.No { background-color: rgba($red,.5); }

/* Additional CSS for Multi-date Picker */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}

/* jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #0288D1;
	color: white;
	border: 1px solid transparent;
	outline: none;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
	border: 1px solid #c5c5c5;
	background: #f5f5f5;
}

.vacation_camp_schedules {
	select {
		text-transform: capitalize;
	}
}

.camp_schedule_months, #vacation_camp_schedule_month {
	text-transform: capitalize;
}

.schedule-container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: flex-start;
	.date {
		text-align: center;
		flex: 0 1 auto;
		width: 20%;
		.day {
			padding: 20px;
		}
	}
}

.camp_submit_container {
	text-align: center;

	#vacation_camp_submit {
		display: inline-block;
		width: 120px;
		height: 50px;
		box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 1px rgba(0, 0, 0, 0.2);
		background: #0288D1;
		color: white;
		border-radius: 5px;
		padding: 10px 15px;
		margin-bottom: 40px;
	}
}

.vacation_camp_schedule {
	width: 120%;
	position: relative;
	left: -25px;
	.vacation_camp_container {
		display: inline-block;
	}
}

.before-school-date ,.after-school-date {
	text-align: left;
}

.edit-before-school-date,
.edit-after-school-date,
.edit-summer-camp-record,
.edit-vacation-camp-record {
	margin-left: 10px;
	cursor: pointer;
	position: relative;
	display: inline-block !important;
	&:hover {
		.tool-tip {
			visibility: visible !important;
			opacity: 1 !important;
		}		
	}
	i {
		font-family: "Font Awesome 5 Free";
		font-size: 100%;
		color: #1565C0;
		opacity: 0.6;
	}
	.tool-tip {
		visibility: hidden;
		opacity: 0;
		transition: all 0.2s ease;
		width: 180px;
		text-align: center;
		position: absolute;
		top: -40px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
		background-color: #fff;
		border-radius: 3px;
		padding: 5px;
		color: #909dc2;
		font-family: 'Lato', sans-serif;
		font-size: 80%;
		&:after {
			content: '';
			position: absolute;
			height: 1px;
			border-top: 10px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			bottom: -13px;
			left: 0;
		}
	}
}

.container {
	width: 100%;
}

.admin-form {
	width: 70%;
	padding: 10px;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'vacation-camp';
@import 'invoices/edit';
@import 'edit-record';
@import 'create-invoices';
@import 'dashboard/dashboard';
@import 'payroll/payroll';
@import 'header';
@import 'purchases/purchases';
@import 'products/product';