<script type="text/javascript">
    Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
</script>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}

    /* The Modal (background) */
    .modal {
    display: none; 
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .form-group{
        /* border: 1px solid gray; */
        margin: 10px 0;
        padding: 0 3px 8px 8px;
        border-bottom: 1px solid #dee2e6;
    }
    /* Modal Content */
    .modal-content {
        border-radius: 0.3rem;
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 30%;
    min-width: 350px;
    }

    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    input{
        /* width: calc(100% - 4rem);
        margin-left: 1rem; */
    }
    #card-email,#card-name,#card-number{
        width: calc(100% - 4rem);
        margin-left: 1rem;
    }
    #card-expiry-month,#card-cvc{
     margin-left: 1rem;
        width: calc(40% - 4rem);
    }
    #card-expiry-year{
        width: calc(40% - 4rem);
        margin-right: 1rem;
    }
    
    #card-cvc{
        text-align: center;
    }
    .buttonSubmit{
        text-align: center;
    }
    .div-errors{
        text-align: center;
    color: red;
    height: 25px;
    padding: 7px 0;
    font-size: 17px;
    }
    #payment-form{
        background-color: #2bbbad!important;
        color: #fff;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 2.14rem;
        font-size: .81rem;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        margin: .375rem;
       
    }
    .modal-header{
        display: flex;
        height: 60px;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
        /* border-top-right-radius: .3rem; */
        padding: 0 15px;
        text-align: center
    }
    h4{
        width: 100%;
        margin: 0;
        font-size: 30px;
    padding: 4%;
    }
    .form-inputs{
        padding: 0 20px 20px 20px;
    }
    .payment-errors{
        height: 20px;
        width: 100%;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    .grey-text{
        color: gray;
    }
</style>
<div id="myModal" class="modal">Name
    <div class="modal-content">
    <div class="modal-header text-center">
        <h4>TSL</h4>
        <span class="close">&times;</span> 
    </div> 
    <div class="div-errors">
        <span class="payment-errors"></span> 
    </div>
    <div class="form-inputs">
        <div class="form-group">
            <i class="fas fa-envelope grey-text"></i> 
            <input placeholder="Email" id="card-email" value="<%= current_customer_user.email if current_customer_user %>" type="text" size="20" data-stripe="email" required>
        </div>
        <div class="form-group">
            <i class="fas fa-signature grey-text"></i>
            
            <input placeholder="Name" type="text" data-stripe="name" id="card-name" required>
        </div>
        <div class="form-group">
            <i class="fas fa-credit-card grey-text"></i>
            <input placeholder="Card Number" type="text" size="20" data-stripe="number" id="card-number" required>
        </div>
        <div class="form-group">
            <i class="fas fa-calendar-alt grey-text"></i>    
            <input placeholder="MM" type="text" maxlength="2" minlengthsize="2" size="2" data-stripe="exp_month" id="card-expiry-month" requried>
            <span> / </span>
         <input placeholder="YY" type="text" maxlength="2" minlengthsize="2" size="2" data-stripe="exp_year" id="card-expiry-year" required>
            <i class="fas fa-lock grey-text"></i>
         <input placeholder="CSV" type="text" maxlength="3" minlengthsize="3" data-stripe="cvc" id="card-cvc" required>
        </div>

        <div class="buttonSubmit">
            <input type="button" value="Submit Payment" id="payment-form">
        </div>
    </div>
    </div>
</div>
 <div class="checkout-container w-100 white ph3 pv2 dim outline-0 ba ">
    <button id="submitPayment" type="button">Submit and Pay</button>
</div>
        <script>
      
        </script>
<script>
    $('#payment-form').click(function(event) {
    // Disable the submitName
        // $(this).prop('disabled',true);
        $("#payment-form").attr("disabled", true);
    // Request a token from Stripe:
        Stripe.card.createToken({
            number: $('#card-number').val(),
            cvc: $('#card-cvc').val(),
            exp_month: $('#card-expiry-month').val(),
            exp_year: $('#card-expiry-year').val(),
            name: $('#card-name').val(),
        }, stripeResponseHandler);
        // Prevent the form from being submitted:
        return false;
        });
    function stripeResponseHandler(status, response) {
        // Grab the form:
        console.log(response);
        
        var $form = $('#new_purchase');
        if (response.error) { // Problem!
        // Show the errors on the form:
        
        $form.find('.payment-errors').text(response.error.message);
        $("#payment-form").attr("disabled", false);// Re-enable submission
        } else { // Token was created!
        // Get the token ID:
        var token = response.id;
        // Insert the token ID into the form so it gets submitted to the server:
        $form.append($('<input type="hidden" name="name">').val($('#card-name').val()));
        $form.append($('<input type="hidden" name="email">').val($('#card-email').val()));
        $form.append($('<input type="hidden" name="stripeToken">').val(token));
        // Submit the form:
        $form.get(0).submit();
        }
    };

  var btn = document.getElementById("submitPayment");
            btn.onclick = function() {
            modal.style.display = "block";
            }
    var modal = document.getElementById("myModal");

// Get the button that opens the modal
    // var btn = document.getElementById("submitPayment");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    // btn.onclick = function() {
    // modal.style.display = "block";
    // }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
</script>