<div class="add-to-cart-page shopping-page">
    <section class="purchase-details">
        <div class="preview-image-region-section">
            <div class="preview-image-container">
                <%= image_tag "#{@product.image}" %>
            </div>
            <div class="continue-shopping-link-container">
                <%= link_to "<i class='fas fa-shopping-cart'></i> Go to cart".html_safe , cart_overview_path, class: 'go-to-cart-link' %>
            </div>  
        </div>
        <div class="order-details-section">
            <div class="links">
                <%= link_to 'home', root_path %> <span>/</span>
                <%= link_to 'shop', shop_path %>
            </div>
            <div class="product-description">
                <%= @product.description %>
            </div>
            <%- if @product.sizes.present? %>

                <div class="price">$<%= number_with_precision(@product.sizes.first.price, precision: 2) %></div>
                <%= form_for @order, url: '/add-to-cart' do |f| %>
                    <%= f.hidden_field :product_id, value: @product.id %>
                    <%if current_customer_user.present? %>
                    <%= f.hidden_field :customer_id, value: current_customer_user.customer.id %> 
                    <%end %>
                    <% if @product.sizes.reject{|i| i.name == nil}.size > 0 %>
                    <div class="size-selection">
                        <div class="select-size-label">Select size</div>
                        <%= f.select :size_id, @product.sizes.where("quantity > 0").order('name DESC').collect {|s| [s.name, s.id]} %>
                    </div>
                    <%else %>
                    <div class="size-selection">
                        <div class="select-size-label">Select Color</div>
                        <%= f.select :size_id, @product.sizes.where("quantity > 0").order('color DESC').collect {|s| [s.color, s.id]} %>
                    </div>
                    <%end%>
                    <div class="quantity-specification">
                        <%= f.hidden_field :quantity, value: 1 %>
                        <button class="deduct-quantity" type="button"><i class="fas fa-minus"></i></button> 
                        <span class="order-quantity-text">1</span>
                        <button class="add-quantity" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                    <div class="add-to-cart-button-container">
                        <button>Add to Cart</button>
                    </div>
                <% end %>
            <%- end %>

        </div>
    </section>
    
</div>