<div class="cart-overview-page shopping-page">
    <% if flash[:error].present? %>
        <h1 class="flash-error"><%= flash[:error] %></h1>
    <% end %>
    <h1>Shopping Cart</h1>
    <section class="cart-overview">
        <div class="order-list">
            <% if @orders.present? %>
                <% @orders.each do |order| %>
                    <div class="border"></div>
                    <div class="order">
                        <div class="image-container">
                            <%= image_tag order.product.image %>
                        </div>
                        <div class="order-details">
                            <div class="product-name">
                                <span class="product-name">Name: </span>
                                <%= order.product.name %>
                            </div>
                            <div class="size">
                                <span>Size: </span>
                                <%= order.size.name || "N/A" %>
                            </div>
                            <div class="color">
                                <span>Color: </span>
                                <%= order.size.color || "N/A" %>
                            </div>
                            <div class="price">
                                <span>Price: </span>
                                $<%= number_with_precision(order.size.price, precision: 2) %>
                            </div>
                            <div class="quantity">
                                <span class="quantity">Quantity: </span><%= order.quantity %>
                            </div>
                            <div class="total">
                                <span class="total">Total amount:</span> $<%= number_with_precision(order.total_amount, precision: 2) %>
                            </div>
                            <div class="cancel-button-container">
                                <%= link_to "Cancel order", delete_order_path(order.id), method: :delete, class: 'delete-order-link' %>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                <% end %>
            <% else %>
                <h2 class="no-orders-header">You have no orders for checkout</h1>
            <% end %>
        </div>
    </section>
    <div class="continue-shopping-container">
        <%= link_to 'continue shopping', shop_path, class: 'continue-shopping-link' %>
    </div>
    <% if @orders.present? %>
        <section class="payment">
            <%= form_for @purchase, url: purchase_orders_path do |f| %>
                 <%if current_customer_user.present? %>
                    <%= f.hidden_field :customer_id, value: current_customer_user.customer.id%>
                <%end %>

                <%= f.hidden_field :orders, value: "#{@orders.pluck(:id).join(",")}" %>
                <div class="location-selection">
                    <div class="select-location-label">Select Summer Camp Location</div>
                    <%= f.select :location_id, @locations.collect {|l| [l.name, l.id]} %>
                </div>
                <% if current_customer_user.present? && current_customer_user.customer.card_last_four.present? && current_customer_user.customer.card_brand.present? %>
                        <p><b>Card On File:</b> <%= current_customer_user.customer.card_brand %> ending with <%= current_customer_user.customer.card_last_four %></p>
                        <%= f.submit 'Submit And Pay With Card on File', class: "submit-purchase-button w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
                <% else %>
                    <%=render partial: 'custom_stripe_form'%>
                   

                <% end %>
                <% if current_customer_user.present? && current_customer_user.customer.stripe_bank_identifier.present? && current_customer_user.customer.bank_name.present? && current_customer_user.customer.bank_verified? %>
                    <p><b>Bank On File:</b> <%= current_customer_user.customer.bank_name %></p>
                    <%= f.submit 'Submit And Pay With Bank on File', class: "submit-purchase-button w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
                <% else %>
                    <p class="measure center">If you'd like to use a bank account instead, please link it below.</p>
                    <%= render 'registration_records/bank_form', button_label: "Link Bank Details And Pay" %>
                <% end %>
            <% end %>
        </section>
    <% end %>
</div>