<div class="shopping-page">
    <h1 class="shop-header">Shop</h1>
    <section class="products">
        <div class="product-list">
            <% @products.each do |prod| %>
                <div class="product">
                    <input type="hidden" value="<%= prod.id %>" class="product-id">
                    <div class="image-container">
                        <%= image_tag "#{image_url(prod.image)}", class: 'product-image' %>
                    </div>
                    <div class="product-name"><%= prod.name %></div>
                    <%- if prod.sizes.present? %>
                    <div class="price">$<%= number_with_precision(prod.sizes.first.price, precision: 2) %></div>
                    <%- end %>
                </div>
            <% end %>
        </div>
    </section>
    <div class="continue-shopping-link-container">
        <%= link_to "<i class='fas fa-shopping-cart'></i> Go to cart".html_safe , cart_overview_path, class: 'go-to-cart-link' %>
    </div>
</div>