<div class="w-100 w-80-m w-50-l center pa3 tc">
	<h1 class="f3 f2-ns lh-copy tc green">Success!</h1>
	<p class="f4 lh-copy black">Your order was successfully purchased.<br/> Please click <%= link_to "here", receipt_path(@receipt) %> to view your transaction receipt.</p>
</div>
