<h1 class="f3 f2-ns lh-title mw8 center pa2 tc">Edit <%= resource_name.to_s.humanize %></h1>

<main class="mw8 center ph2 pb3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'measure center' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset class="ba b--transparent ph0 mh0 mb4">
    <legend class="f4 fw7 blue ph0 mh0 mt3 mb2">Change Email & Password</legend>
    <div class="mt0">
      <%= f.label :email, "Change Email", class: 'db fw6 lh-copy f6' %>
      <%= f.email_field :email, autofocus: true, class: 'pa2 input-reset ba bg-transparent w-100' %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <small class="f6 lh-copy red db mb2">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </small>
    <% end %>
    <div class="mt3">
      <%= f.label :password, "Change Password", class: 'db fw6 lh-copy f6' %>
      <%= f.password_field :password, autocomplete: "off", class: 'pa2 input-reset ba bg-transparent w-100' %>
      <% if @minimum_password_length %>
        <small class="f6 lh-copy black-60 db mb2">
          Must be <%= @minimum_password_length %> characters long.
        </small>
      <% end %>
    </div>

    <div class="mt3">
      <%= f.label :password_confirmation, "Confirm New Password", class: 'db fw6 lh-copy f6' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'pa2 input-reset ba bg-transparent w-100' %>
    </div>

    <p class="db fw6 lh-copy f6 mb0">Change name, email, phone number, and address</p>
    <%= link_to 'Edit Personal Information', edit_personal_information_customer_users_path, class: 'f5 lh-copy blue dim fw7 mt0 db' %>

		<p class="db fw6 lh-copy f6 mb0">View and edit billing information</p>
		<%= link_to 'View/Edit Billing Information', edit_billing_information_customer_users_path, :"data-no-turbolink" => false, class: 'f5 lh-copy blue dim fw7 mt0 db' %>
  </fieldset>



  <fieldset class="ba b--transparent ph0 mh0 mb4">
    <legend class="f4 fw7 green ph0 mh0 mt3 mb2">Save Changes</legend>
    <%= f.submit "Update", class: 'b ph3 pv2 input-reset ba b--black bg-green grow pointer f6 dib white' %>
  </fieldset>

<% end %>



  <div class="ba b--transparent ph0 mh0 mb4 measure center">
    <h2 class="f4 fw7 red ph0 mh0 mt3 mb2">Cancel my account</h2>
    <small class="f6 lh-copy black-60 db mb2">
      Deleting your account is permanent. There is no turning back.
    </small>
    <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'b ph3 pv2 input-reset ba b--black white bg-red hover grow pointer f6 dib', method: :delete %>
  </div>

</main>
