<h1 class="f3 f2-ns lh-title mw8 center pa2 tc">Create Your TSL Account</h1>

<main class="mw8 center ph2 pb3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'measure center' }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <%= f.label :email, class: 'db fw6 lh-copy f6' %>
        <%= f.email_field :email, autofocus: true, class: 'pa2 input-reset ba bg-transparent w-100' %>
      </div>

      <div class="mv3">
        <%= f.label :password, class: 'db fw6 lh-copy f6' %>
        <%= f.password_field :password, autocomplete: "off", class: 'b pa2 input-reset ba bg-transparent hover-bg-black-10 hover-black bg-animate w-100' %>
        <% if @minimum_password_length %>
          <small class="f6 lh-copy black-60 db mb2">
            Must be <%= @minimum_password_length %> characters long.
          </small>
        <% end %>
      </div>

      <div class="mv3">
        <%= f.label :password_confirmation, "Confirm Password", class: 'db fw6 lh-copy f6' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'b pa2 input-reset ba bg-transparent hover-bg-black-10 bg-animate hover-black w-100' %>
      </div>
    </fieldset>

    <div class="actions">
      <%= f.submit "Sign up", class: 'fw7 ph3 pv2 input-reset ba bg-blue hover-bg-green bg-animate b--black white grow pointer f6 dib' %>
    </div>
  <% end %>

  <div class="lh-copy mt3 measure center">
    <%= link_to "Log in", new_session_path(resource_name), class: 'f6 link dim black-70 db mb1 mb2-ns' %>
  </div>
</main>
