div#before-and-after-terms-of-service {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    *, *::before, *::after {
        font-family: lato, arial, verdana;
        box-sizing: border-box;
    }

    h1.main-header {
        font-size: 2.5em;
        position: relative;
    }

    h2.sub-header {
        font-size: 1.5em;
        text-align: center;
        color: #E65100;
    }

    div.main-content {
        padding: 1.3em;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        background-color: #f4f4f4;
        border-radius: 6px;
        p {
            text-align: justify;
            text-rendering: optimizeLegibility;
            line-height: 1.5em;
            position: relative;
            margin-bottom: 2em;
            font-size: 1.2em;
        }
    }
}