<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Name</th>
			<th>Location</th>
			<th>Year</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% target.each do |cit_record| %>
			<tr>
				<td data-th="Email"><%= cit_record.email %></td>
				<td data-th="Name"><%= cit_record.full_name %></td>
				<td data-th="Location"><%= cit_record.filtered_location %></td>
				<td data-th="Year"><%= cit_record.created_at.strftime('%Y') %></td>
				<td data-th-"Actions">
					<div class="action-links c-multi-button js-multi-button">
						<div class="c-multi-button__items">
							<%= link_to "View", admin_cit_record_path(cit_record), class: "c-multi-button__item" %>
							<%#= link_to "Edit", edit_admin_cit_record_path(cit_record), class: "c-multi-button__item" %>
							<%= link_to "Delete", admin_cit_record_path(cit_record), method: :delete,remote: true, class: "c-multi-button__item red-link" %>
						</div>
						<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
