<h1 class="h3">CIT Applications</h1>
<div>
	<%= search_form_for @q, url: admin_cit_records_path, html: { class: "search-form" } do |f| %>
		<div class="cf">
			<div class="fl w-100 w-50-l pa3 pb0 pr4-l">
				<%= f.label :email_cont, 'Email', class: 'mb1' %>
				<%= f.search_field :email_cont, class: 'mb2' %>

				<div class="cf w-100">
					<div class="fl w-50 pr3">
						<%= f.label :first_name_cont, 'First Name', class: 'mb1' %>
						<%= f.search_field :first_name_cont %>
					</div>
					<div class="fl w-50 pl3">
						<%= f.label :last_name_cont, 'Last Name', class: 'mb1' %>
						<%= f.search_field :last_name_cont %>
					</div>
				</div>
			</div>
			<div class="fl w-100 w-50-l pa3 pb0 pl4-l">
				<%= f.label :phone_number_cont, 'Phone Number', class: 'mb1' %>
				<%= f.search_field :phone_number_cont, class: 'mb2' %>

				<div class="cf w-100">
					<div class="fl w-50 pr3">
						<%= f.label :created_at_gteq, "Created At: ", class: 'mb1' %>
						<%= f.search_field :created_at_gteq, class: 'datepicker', placeholder: 'Start Date' %>
					</div>
					<div class="fl w-50 pl3">
						<%= f.label :parent_last_name_cont, '&nbsp;'.html_safe, class: 'mb1' %>
						<%= f.search_field :created_at_lteq, class: 'datepicker', placeholder: 'End Date' %>
					</div>
				</div>
			</div>
		</div>


		<div class="o-grid">
			<div class="o-grid__unit u-half">
				<%= f.submit "Search", class: 'button' %>
			</div>
			<div class="o-grid__unit u-half u-align-right">
				<%= link_to "Clear All Filters", admin_cit_records_path, class: 'button' %>
			</div>
		</div>
	<% end %>
</div><br>

<% if @cit_records.present? %>
	<%= render 'admin/cit_records/table', target: @cit_records %>
	<%= paginate @cit_records %>
<% else %>
		<p class="mt3">There are no CIT Applications yet!</p>
<% end %>
