<h1 class="f3 f2-ns lh-title dib bb bw2 b--black"><%= @cit_record.full_name %> - <%= @cit_record.filtered_location %></h1>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Basic Information</h2>
<p class="f5 f4-l lh-copy mb0"><b>Name:</b> <%= @cit_record.full_name %></p>
<p class="f5 f4-l lh-copy mb0"><b>Email:</b> <%= @cit_record.email %></p>
<p class="f5 f4-l lh-copy mb0"><b>DOB:</b> <%= @cit_record.dob %></p>
<p class="f5 f4-l lh-copy mb0"><b>Phone Number:</b> <%= @cit_record.phone_number.present? ? @cit_record.phone_number : "N/A" %></p>
<p class="f5 f4-l lh-copy mb0"><b>Address:</b> <%= @cit_record.address == ",  , , " ? "N/A" : @cit_record.address %></p>
<p class="f5 f4-l lh-copy mb3"><b>How Did You Hear About Us?</b> <%= @cit_record.how_did_you_hear_about_us.present? ? @cit_record.how_did_you_hear_about_us.capitalize : "N/A" %></p>

<% if @cit_record.created_at < Date.parse('01-01-2018') %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Emergency Contact Information</h2>
	<% if @cit_record.emergency_contacts.present? %>
		<table class="responsive no-wrap forum-table mb4">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Phone Number</th>
				<tr/>
			</thead>

			<tbody>
				<% @cit_record.emergency_contacts.each do |emergency_contact| %>
					<tr>
						<td data-th="First Name"><%= emergency_contact.first_name %></td>
						<td data-th="Last Name"><%= emergency_contact.last_name %></td>
						<td data-th="Email"><%= emergency_contact.email %></td>
						<td data-th="Phone Number"><%= emergency_contact.phone_number %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p class="f5 f4-l lh-copy mb3">There are no emergency contacts associated with this CIT Application.</p>
	<% end %>

	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Attendance Information</h2>
	<table class="f6 w-100 center mb3 tc" cellspacing="0">
		<thead>
			<tr class="stripe-dark">
				<th class="fw6 pa3 bg-silver tc">Week 1</th>
				<th class="fw6 pa3 bg-silver tc">Week 2</th>
				<th class="fw6 pa3 bg-silver tc">Week 3</th>
				<th class="fw6 pa3 bg-silver tc">Week 4</th>
				<th class="fw6 pa3 bg-silver tc">Week 5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_one) %>" data-th="Week 1"><%= yes_no_boolean(@cit_record.week_one) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_two) %>" data-th="Week 2"><%= yes_no_boolean(@cit_record.week_two) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_three) %>" data-th="Week 3"><%= yes_no_boolean(@cit_record.week_three) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_four) %>" data-th="Week 4"><%= yes_no_boolean(@cit_record.week_four) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_five) %>" data-th="Week 5"><%= yes_no_boolean(@cit_record.week_five) %></td>
			</tr>
		</tbody>
	</table>

	<table class="f6 w-100 center mb4 tc" cellspacing="0">
		<thead>
			<tr class="stripe-dark">
				<th class="fw6 pa3 bg-silver tc">Week 6</th>
				<th class="fw6 pa3 bg-silver tc">Week 7</th>
				<th class="fw6 pa3 bg-silver tc">Week 8</th>
				<th class="fw6 pa3 bg-silver tc">Week 9</th>
				<th class="fw6 pa3 bg-silver tc">Week 10</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_six) %>" data-th="Week 6"><%= yes_no_boolean(@cit_record.week_six) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_seven) %>" data-th="Week 7"><%= yes_no_boolean(@cit_record.week_seven) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_eight) %>" data-th="Week 8"><%= yes_no_boolean(@cit_record.week_eight) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_nine) %>" data-th="Week 9"><%= yes_no_boolean(@cit_record.week_nine) %></td>
				<td class="pa2 pa3-ns <%= yes_no_boolean(@cit_record.week_ten) %>" data-th="Week 10"><%= yes_no_boolean(@cit_record.week_ten) %></td>
			</tr>
		</tbody>
	</table>
<% end %>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Questionnaire</h2>
<p class="f5 f4-l lh-copy mb0"><b>Attended TSL Before:</b><br/> <%= yes_no_boolean(@cit_record.attended_tsl_before) %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Attended TSL Location:</b><br/> <%= @cit_record.attended_location.present? ? @cit_record.attended_location : "N/A"  %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>CIT at TSL Before:</b><br/> <%= yes_no_boolean(@cit_record.cit_at_tsl_before) %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>CIT at TSL Location:</b><br/> <%= @cit_record.cit_at_tsl_location.present? ? @cit_record.cit_at_tsl_location : "N/A"  %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Do you have any babysitting or summer camp experience?</b><br/> <%= @cit_record.previous_experience %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Why are you interested in being a CIT at TSL?</b><br/> <%= @cit_record.why_are_you_interested %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>During summer camp, TSL staff is responsible for giving CITs directions and tasks to complete. It is important for our CITs to follow all directions and complete tasks in a timely manner. Are you willing to follow all directions and complete all assigned tasks?</b><br/> <%= yes_no_boolean(@cit_record.willing_to_follow_directions) %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>What would you do if all of your tasks are complete and you notice that some younger campers are having difficulty following the directions given by the staff?</b><br/> <%= @cit_record.action_when_completed_tasks %></p><br/>

<% if @cit_record.water_play_action.present? %>
	<p class="f5 f4-l lh-copy mb0"><b>During water play you see a friend sitting by themselves, how would you approach them and what would you say?</b><br/> <%= @cit_record.water_play_action %></p><br/>
<% end %>

<% if @cit_record.four_square_action.present? %>
	<p class="f5 f4-l lh-copy mb0"><b>During four square you see some of the older friends becoming very competitive. How would you react and help steer them away to make the game more fun?</b><br/> <%= @cit_record.four_square_action %></p><br/>
<% end %>

<p class="f5 f4-l lh-copy mb0"><b>During free play time, you notice that some younger campers are arguing over a toy or game. What would you do to help the staff and the younger friends solve their problem?</b><br/> <%= @cit_record.arguing_action %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Free play time, lunch, and transitions between activities are very important times of our day. During this time, children may need extra help, directions, and attention to keep them on task. What are some things you can do to help out staff and campers?</b><br/> <%= @cit_record.transition_help %></p><br/>

<% if @cit_record.uninteresting_activity_action.present? %>
	<p class="f5 f4-l lh-copy mb0"><b>An activity is presented that you are not interested in. How do you proceed?</b><br/> <%= @cit_record.uninteresting_activity_action %></p><br/>
<% end %>

<p class="f5 f4-l lh-copy mb0"><b>What are your specific interests and talents and how would you use them when helping out during summer camp?</b><br/> <%= @cit_record.interests_and_talents %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Tell us about a time that you were able to prove your responsibility among your peers, parents, teachers, or younger children.</b><br/> <%= @cit_record.proven_responsibility %></p><br/>

<% if @cit_record.difficult_problem.present? %>
	<p class="f5 f4-l lh-copy mb0"><b>Describe a time in your life that you encountered a difficulty or problem you were unable to solve or didn't know how to solve. What actions did you take? How did you overcome it an what was the result of your actions?</b><br/> <%= @cit_record.difficult_problem %></p><br/>
<% end %>

<% if @cit_record.made_a_difference.present? %>
	<p class="f5 f4-l lh-copy mb0"><b>Describe a time in your life that you felt you made a difference in someone else’s life? Whether too another friend, family member or stranger?</b><br/> <%= @cit_record.made_a_difference %></p><br/>
<% end %>

<p class="f5 f4-l lh-copy mb0"><b>Use the lines below to elaborate on what you will bring to TSL Adventures as a CIT. Reflect on your creativity, enthusiasm, and ability to follow directions, take initiative, and communicate with children and staff members.</b><br/> <%= @cit_record.what_you_will_bring %></p><br/>
<p class="f5 f4-l lh-copy mb0"><b>Are you willing to strive to meet the vision and expectations of TSL Adventures' CIT program, which means following through with the Program Director's feedback and submitting to an end-of-summer evaluation and conference?</b><br/> <%= yes_no_boolean(@cit_record.willing_to_meet_vision) %></p><br/>

<br/>
