<div class="nested-fields br2 bg-black-10 pa2 mb3 child-container cf">
	<%= f.label :first_name, class: "f6 fw7 db mb1" %>
	<%= f.text_field :first_name, placeholder: "First Name", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= f.label :last_name, class: "f6 fw7 db mb1" %>
	<%= f.text_field :last_name, placeholder: "Last Name", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= f.label :email, class: "f6 fw7 db mb1" %>
	<%= f.text_field :email, placeholder: "Email", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= f.label :phone_number, class: "f6 fw7 db mb1" %>
	<%= f.text_field :phone_number, placeholder: "Email", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= link_to_remove_association "- Remove Emergency Contact", f, class: "red link pointer dim bn outline-0 bg-transparent pa0 fr mv2" %>
</div>
