<div class="w-100 w-90-ns center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Counselor in Training Program</h1>
	<div class="cf">
		<div class="fl w-100 w-50-l pr3">
			<p class="f5 lh-copy"><strong>Adventures Counselor in Training (CIT)</strong> program is aimed at giving children ages 12-15 who are interested in pursuing a career in childcare relative work experience in the field. Our program focuses on developing interpersonal skills, responsibility, and leadership all while participating in our unique, community centered summer camp program. CITs are responsible for engaging children in games and crafts, assisting staff in daily responsibilities, and setting a positive example while leading children in small group activities.</p>
		</div>
		<div class="fl w-100 w-50-l pr3">
			<p class="f5 lh-copy">Children, aged 12-15, interested in the program must submit the application below, in order to be considered for the CIT Program. All applicants are subject to site director approval as there are limited spaces available at each summer camp location. Tuition to the program is <strong>$150 per week with a giveback of $35 per week of service.</strong> The program runs for 10 weeks over summer and CITs may attend as few or as many weeks as they wish. Children selected to participate in the CIT program will also be <strong>required</strong> to attend a Summer Camp Training session on <strong>June 22 at 5:30pm</strong> at a location to be announced. Applications will be reviewed with a week turnaround. If approved, parents will have to then register them using the summer registration form on our website.</p>
		</div>
	</div>
</div>

<div class="w-100 w-80-m w-50-l center pa3">
	<%= form_for @cit_record do |f| %>
		<% if @cit_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your were NOT charged. <%= pluralize(@cit_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @cit_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => "Summer Camp", 'programs.active' => "true").order(:name).map{|location| [location.dropdown_display_name('Summer Camp'), location.name]}, @cit_record.location), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
			</div>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Basic Info</h2>
			<div class="mb3">
				<%= f.label :first_name, "First Name", class: "f6 fw7 db mb1" %>
				<%= f.text_field :first_name, placeholder: "First Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :last_name, "Last Name", class: "f6 fw7 db mb1" %>
				<%= f.text_field :last_name, placeholder: "Last Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :dob, "Date of Birth", class: "f6 fw7 db mb1" %>
				<%= f.text_field :dob, class: "input rest ba b--black-20 pa2 mb1 db w-100 date-format", placeholder: "yyyy-mm-dd" %>
			</div>

			<div class="mb3">
				<%= f.label :phone_number, "Phone Number", class: "f6 fw7 db mb1" %>
				<%= f.text_field :phone_number, placeholder: "Phone Number", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :email, "Email", class: "f6 fw7 db mb1" %>
				<%= f.text_field :email, placeholder: "Email", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Address</h2>
			<div class="mb3">
				<%= f.label :address_line_one, "Address Line One", class: "f6 fw7 db mb1" %>
				<%= f.text_field :address_line_one, placeholder: "Address Line One", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :address_line_two, "Address Line Two", class: "f6 fw7 db mb1" %>
				<%= f.text_field :address_line_two, placeholder: "Address Line Two", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :city, "City", class: "f6 fw7 db mb1" %>
				<%= f.text_field :city, placeholder: "City", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :state, "State", class: "f6 fw7 db mb1" %>
				<%= f.text_field :state, placeholder: "State", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb3">
				<%= f.label :zip_code, "Zip Code", class: "f6 fw7 db mb1" %>
				<%= f.text_field :zip_code, placeholder: "Zip Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>
		</div>

		<div class="mb3 mt4">
			<%= f.label :how_did_you_hear_about_us, "How did you hear about us?", class: "f6 fw7 db mb1" %>
			<%= f.select :how_did_you_hear_about_us, options_for_select(how_did_you_hear_about_us_options, @cit_record.how_did_you_hear_about_us), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Questionnaire</h2>
			<div class="mb3">
				<%= f.label :attended_tsl_before, "Have you ever attended TSL Summer Camp or Before/After School before?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.radio_button :attended_tsl_before, true %>
				<%= f.label :attended_tsl_before, "Yes" %>
				<%= f.radio_button :attended_tsl_before, false %>
				<%= f.label :attended_tsl_before, "No" %>
			</div>

			<div class="mb3">
				<%= f.label :attended_location, "If yes, which location?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.select :attended_location, options_for_select(cit_locations, @cit_record.attended_location), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
			</div>

			<div class="mb3">
				<%= f.label :cit_at_tsl_before, "Have you ever been a CIT at TSL before?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.radio_button :cit_at_tsl_before, true %>
				<%= f.label :cit_at_tsl_before, "Yes" %>
				<%= f.radio_button :cit_at_tsl_before, false %>
				<%= f.label :cit_at_tsl_before, "No" %>
			</div>

			<div class="mb3">
				<%= f.label :cit_at_tsl_location, "If yes, which location?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.select :cit_at_tsl_location, options_for_select(cit_locations, @cit_record.cit_at_tsl_location), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
			</div>

			<div class="mb4">
				<%= f.label :previous_experience, "Do you have any experience babysitting or supervising children? Please explain.", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :previous_experience, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :why_are_you_interested, "Why are you interested in being a CIT at TSL Adventures?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :why_are_you_interested, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :willing_to_follow_directions, "During summer camp, TSL staff is responsible for giving CITs directions and tasks to complete. It is important for our CITs to follow all directions and complete tasks in a timely manner. Are you willing to follow all directions and complete all assigned tasks?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.radio_button :willing_to_follow_directions, true %>
				<%= f.label :willing_to_follow_directions, "Yes" %>
				<%= f.radio_button :willing_to_follow_directions, false %>
				<%= f.label :willing_to_follow_directions, "No" %>
			</div>

			<p>Sometimes during summer camp, it is up to you to figure out how you can best help out the TSL staff and younger campers. Please read the following questions carefully and answer them the best that you can based on your own experiences.</p>

			<div class="mb4">
				<%= f.label :action_when_completed_tasks, "What would you do if all of your tasks are complete and you notice that some younger campers are having difficulty following the directions given by the staff?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :action_when_completed_tasks, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :water_play_action, "During water play you see a friend sitting by themselves, how would you approach them and what would you say?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :water_play_action, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :four_square_action, "During four square you see some of the older friends becoming very competitive. How would you react and help steer them away to make the game more fun?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :four_square_action, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :arguing_action, "During free play time, you notice that some younger campers are arguing over a toy or game. What can you do to assist the staff and help the younger friends solve their problem?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :arguing_action, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :transition_help, "Free play time, lunch, and transitions between activities are very important times of our day. During this time, children may need extra help, directions, and attention to keep them on task. What are some things you can do to help out staff and campers?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :transition_help, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :uninteresting_activity_action, "An activity is presented that you are not interested in. How do you proceed?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :uninteresting_activity_action, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<p>Now we would like to learn a little bit about you. Please read the following questions carefully and answer them the best you can. Keep in mind that all answers should relate to what you can bring to our summer camp.</p>

			<div class="mb4">
				<%= f.label :interests_and_talents, "What are your specific interests and talents and how would you use them when helping out during summer camp?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :interests_and_talents, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :proven_responsibility, "Tell us about a time that you were able to prove your responsibility among your peers, parents, teachers, or younger children.", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :proven_responsibility, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :made_a_difference, "Describe a time in your life that you felt you made a difference in someone else’s life? Whether to another friend, family member or stranger?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :made_a_difference, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :what_you_will_bring, "Use the lines below to elaborate on what you will bring to TSL Adventures as a CIT. Reflect on your creativity, enthusiasm, and ability to follow directions, take initiative, and communicate with children and staff members.", class: "f6 fw7 db lh-title mb1" %>
				<%= f.text_area :what_you_will_bring, class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div class="mb4">
				<%= f.label :willing_to_meet_vision, "Are you willing to strive to meet the vision and expectations of TSL Adventures' CIT program, which means following through with the Program Director's feedback and submitting to an end-of-summer evaluation and conference?", class: "f6 fw7 db lh-title mb1" %>
				<%= f.radio_button :willing_to_meet_vision, true %>
				<%= f.label :willing_to_meet_vision, "Yes" %>
				<%= f.radio_button :willing_to_meet_vision, false %>
				<%= f.label :willing_to_meet_vision, "No" %>
			</div>
		</div>

		<p class="f5 lh-copy"><i>TSL Adventures employs cooperative learning and social intervention strategies as its primary tool in teaching young children. We employ those who will support our non-behaviorist approaches, as well as our vision of a non-competitive and unified age-integrated program.</i></p>

		<%= f.check_box :agree_to_behavior_policy %>
		<%= f.label :agree_to_behavior_policy, "I Agree To TSL's CIT Program Behavior Policy (At the top of the page)" %><br/><br/>

		<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt4" %>
	<% end %>
</div>
