<!DOCTYPE html>
<html>
<head>
	<!--[if gte mso 15]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Welcome to TSL Adventures!</title>
	<style type="text/css">
	       p{
	           margin:10px 0;
	           padding:0;
	       }
	       table{
	           border-collapse:collapse;
	       }
	       h1,h2,h3,h4,h5,h6{
	           display:block;
	           margin:0;
	           padding:0;
	       }
	       img,a img{
	           border:0;
	           height:auto;
	           outline:none;
	           text-decoration:none;
	       }
	       body,#bodyTable,#bodyCell{
	           height:100%;
	           margin:0;
	           padding:0;
	           width:100%;
	       }
	       #outlook a{
	           padding:0;
	       }
	       img{
	           -ms-interpolation-mode:bicubic;
	       }
	       table{
	           mso-table-lspace:0pt;
	           mso-table-rspace:0pt;
	       }
	       .ReadMsgBody{
	           width:100%;
	       }
	       .ExternalClass{
	           width:100%;
	       }
	       p,a,li,td,blockquote{
	           mso-line-height-rule:exactly;
	       }
	       a[href^=tel],a[href^=sms]{
	           color:inherit;
	           cursor:default;
	           text-decoration:none;
	       }
	       p,a,li,td,body,table,blockquote{
	           -ms-text-size-adjust:100%;
	           -webkit-text-size-adjust:100%;
	       }
	       .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
	           line-height:100%;
	       }
	       a[x-apple-data-detectors]{
	           color:inherit !important;
	           text-decoration:none !important;
	           font-size:inherit !important;
	           font-family:inherit !important;
	           font-weight:inherit !important;
	           line-height:inherit !important;
	       }
	       a.mcnButton{
	           display:block;
	       }
	       .mcnImage{
	           vertical-align:bottom;
	       }
	       .mcnTextContent{
	           word-break:break-word;
	       }
	       .mcnTextContent img{
	           height:auto !important;
	       }
	       .mcnDividerBlock{
	           table-layout:fixed !important;
	       }
	       .borderBar{
	           background-image:url('https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/diagborder.png');
	           background-position:top left;
	           background-repeat:repeat;
	           height:5px !important;
	       }
	   /*
	   @tab Page
	   @section background style
	   @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	   */
	       body,#bodyTable{
	           /*@editable*/background-color:#DEE0E2;
	       }
	   /*
	   @tab Page
	   @section background style
	   @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	   */
	       #bodyCell{
	           /*@editable*/border-top:0;
	       }
	   /*
	   @tab Page
	   @section email border
	   @tip Set the border for your email.
	   */
	       #templateContainer{
	           /*@editable*/border:0;
	       }
	   /*
	   @tab Page
	   @section heading 1
	   @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
	   @style heading 1
	   */
	       h1{
	           /*@editable*/color:#43404D !important;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:32px;
	           /*@editable*/font-style:normal;
	           /*@editable*/font-weight:normal;
	           /*@editable*/line-height:125%;
	           /*@editable*/letter-spacing:-1px;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Page
	   @section heading 2
	   @tip Set the styling for all second-level headings in your emails.
	   @style heading 2
	   */
	       h2{
	           /*@editable*/color:#43404D !important;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:26px;
	           /*@editable*/font-style:normal;
	           /*@editable*/font-weight:normal;
	           /*@editable*/line-height:125%;
	           /*@editable*/letter-spacing:-.75px;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Page
	   @section heading 3
	   @tip Set the styling for all third-level headings in your emails.
	   @style heading 3
	   */
	       h3{
	           /*@editable*/color:#ED5E29 !important;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:18px;
	           /*@editable*/font-style:italic;
	           /*@editable*/font-weight:normal;
	           /*@editable*/line-height:125%;
	           /*@editable*/letter-spacing:-.5px;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Page
	   @section heading 4
	   @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
	   @style heading 4
	   */
	       h4{
	           /*@editable*/color:#43404D !important;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:12px;
	           /*@editable*/font-style:normal;
	           /*@editable*/font-weight:normal;
	           /*@editable*/line-height:125%;
	           /*@editable*/letter-spacing:normal;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Preheader
	   @section preheader style
	   @tip Set the background color and borders for your email's preheader area.
	   */
	       #templatePreheader{
	           /*@editable*/background-color:#DEE0E2;
	           /*@editable*/border-top:0;
	           /*@editable*/border-bottom:0;
	       }
	   /*
	   @tab Preheader
	   @section preheader text
	   @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
	   */
	       .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:11px;
	           /*@editable*/line-height:125%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Preheader
	   @section preheader link
	   @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	   */
	       .preheaderContainer .mcnTextContent a{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Header
	   @section header style
	   @tip Set the background color and borders for your email's header area.
	   */
	       #templateHeader{
	           /*@editable*/background-color:#6f8ba7;
	           /*@editable*/border-top:4px solid #6f8ba7;
	           /*@editable*/border-bottom:0;
	       }
	   /*
	   @tab Header
	   @section header text
	   @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
	   */
	       .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
	           /*@editable*/font-size:16px;
	           /*@editable*/line-height:150%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Header
	   @section header link
	   @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	   */
	       .headerContainer .mcnTextContent a{
	           /*@editable*/color:#ED5E29;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Body
	   @section upper body style
	   @tip Set the background color and borders for your email's upper body area.
	   */
	       #templateUpperBody,.borderBar{
	           /*@editable*/background-color:#e6ecf4;
	       }
	   /*
	   @tab Body
	   @section upper body style
	   @tip Set the background color and borders for your email's upper body area.
	   */
	       #templateUpperBody{
	           /*@editable*/border-top:0;
	           /*@editable*/border-bottom:0;
	       }
	   /*
	   @tab Body
	   @section upper body text
	   @tip Set the styling for your email's upper body text. Choose a size and color that is easy to read.
	   */
	       .upperBodyContainer .mcnTextContent,.upperBodyContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:15px;
	           /*@editable*/line-height:150%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Body
	   @section upper body link
	   @tip Set the styling for your email's upper body links. Choose a color that helps them stand out from your text.
	   */
	       .upperBodyContainer .mcnTextContent a{
	           /*@editable*/color:#ED5E29;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Body
	   @section lower body style
	   @tip Set the background color and borders for your email's lower body area.
	   */
	       #templateLowerBody{
	           /*@editable*/background-color:#F8F8F8;
	           /*@editable*/border-top:0;
	           /*@editable*/border-bottom:0;
	       }
	   /*
	   @tab Body
	   @section lower body text
	   @tip Set the styling for your email's lower body text. Choose a size and color that is easy to read.
	   */
	       .lowerBodyContainer .mcnTextContent,.lowerBodyContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:15px;
	           /*@editable*/line-height:150%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Body
	   @section lower body link
	   @tip Set the styling for your email's lower body links. Choose a color that helps them stand out from your text.
	   */
	       .lowerBodyContainer .mcnTextContent a{
	           /*@editable*/color:#ED5E29;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Columns
	   @section column style
	   @tip Set the background color and borders for your email's columns area.
	   */
	       #templateColumns{
	           /*@editable*/background-color:#F8F8F8;
	           /*@editable*/border-top:0;
	           /*@editable*/border-bottom:0;
	       }
	   /*
	   @tab Columns
	   @section left column text
	   @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
	   */
	       .leftColumnContainer .mcnTextContent,.leftColumnContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:15px;
	           /*@editable*/line-height:150%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Columns
	   @section left column link
	   @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
	   */
	       .leftColumnContainer .mcnTextContent a{
	           /*@editable*/color:#ED5E29;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Columns
	   @section right column text
	   @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
	   */
	       .rightColumnContainer .mcnTextContent,.rightColumnContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:15px;
	           /*@editable*/line-height:150%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Columns
	   @section right column link
	   @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
	   */
	       .rightColumnContainer .mcnTextContent a{
	           /*@editable*/color:#ED5E29;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   /*
	   @tab Footer
	   @section footer style
	   @tip Set the background color and borders for your email's footer area.
	   */
	       #templateFooter{
	           /*@editable*/background-color:#F8F8F8;
	           /*@editable*/border-top:0;
	           /*@editable*/border-bottom:10px solid #A6BFC9;
	       }
	   /*
	   @tab Footer
	   @section footer text
	   @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
	   */
	       .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-family:Georgia;
	           /*@editable*/font-size:11px;
	           /*@editable*/line-height:125%;
	           /*@editable*/text-align:left;
	       }
	   /*
	   @tab Footer
	   @section footer link
	   @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
	   */
	       .footerContainer .mcnTextContent a{
	           /*@editable*/color:#43404D;
	           /*@editable*/font-weight:normal;
	           /*@editable*/text-decoration:underline;
	       }
	   @media only screen and (max-width: 480px){
	       body,table,td,p,a,li,blockquote{
	           -webkit-text-size-adjust:none !important;
	       }

	}   @media only screen and (max-width: 480px){
	       body{
	           width:100% !important;
	           min-width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	       #templateContainer,#templatePreheader,#templateHeader,#templateColumns,#templateUpperBody,#templateLowerBody,#templateFooter{
	           max-width:600px !important;
	           width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .columnsContainer{
	           display:block!important;
	           max-width:600px !important;
	           width:100%!important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImage{
	           height:auto !important;
	           width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
	           max-width:100% !important;
	           width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnBoxedTextContentContainer{
	           min-width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageGroupContent{
	           padding:9px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
	           padding-top:9px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
	           padding-top:18px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageCardBottomImageContent{
	           padding-bottom:9px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageGroupBlockInner{
	           padding-top:0 !important;
	           padding-bottom:0 !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageGroupBlockOuter{
	           padding-top:9px !important;
	           padding-bottom:9px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnTextContent,.mcnBoxedTextContentColumn{
	           padding-right:18px !important;
	           padding-left:18px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
	           padding-right:18px !important;
	           padding-bottom:0 !important;
	           padding-left:18px !important;
	       }

	}   @media only screen and (max-width: 480px){
	       .mcpreview-image-uploader{
	           display:none !important;
	           width:100% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section heading 1
	   @tip Make the first-level headings larger in size for better readability on small screens.
	   */
	       h1{
	           /*@editable*/font-size:24px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section heading 2
	   @tip Make the second-level headings larger in size for better readability on small screens.
	   */
	       h2{
	           /*@editable*/font-size:20px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section heading 3
	   @tip Make the third-level headings larger in size for better readability on small screens.
	   */
	       h3{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section heading 4
	   @tip Make the fourth-level headings larger in size for better readability on small screens.
	   */
	       h4{
	           /*@editable*/font-size:16px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Boxed Text
	   @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	   */
	       .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Preheader Visibility
	   @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
	   */
	       #templatePreheader{
	           /*@editable*/display:block !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Preheader Text
	   @tip Make the preheader text larger in size for better readability on small screens.
	   */
	       .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
	           /*@editable*/font-size:14px !important;
	           /*@editable*/line-height:115% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Header Text
	   @tip Make the header text larger in size for better readability on small screens.
	   */
	       .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Body Text
	   @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	   */
	       .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Left Column Text
	   @tip Make the left column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	   */
	       .leftColumnContainer .mcnTextContent,.leftColumnContainer .mcnTextContent p{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section Right Column Text
	   @tip Make the right column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	   */
	       .rightColumnContainer .mcnTextContent,.rightColumnContainer .mcnTextContent p{
	           /*@editable*/font-size:18px !important;
	           /*@editable*/line-height:125% !important;
	       }

	}   @media only screen and (max-width: 480px){
	   /*
	   @tab Mobile Styles
	   @section footer text
	   @tip Make the body content text larger in size for better readability on small screens.
	   */
	       .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
	           /*@editable*/font-size:14px !important;
	           /*@editable*/line-height:115% !important;
	       }

	}
	</style>
</head>
<body>
	<center>
		<table align="center" border="0" cellpadding="0" cellspacing="0" id="bodyTable" width="100%">
			<tr>
				<td align="center" id="bodyCell" valign="top">
					<!-- BEGIN TEMPLATE // -->
					<table border="0" cellpadding="0" cellspacing="0" id="templateContainer" width="600">
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN PREHEADER // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templatePreheader" width="600">
									<tr>
										<td class="preheaderContainer" style="padding-top:9px;" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="min-width:100%;" width="100%">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
															<!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->
															<!--[if mso]>
                <td valign="top" width="390" style="width:390px;">
                <![endif]-->
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="max-width:390px;" width="100%">
																<tbody>
																	<tr>
																		<td class="mcnTextContent" style="padding: 0px 18px 9px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;" valign="top">Enrollment Form and Registration Info</td>
																	</tr>
																</tbody>
															</table><!--[if mso]>
                </td>
                <![endif]-->
															<!--[if mso]>
                <td valign="top" width="210" style="width:210px;">
                <![endif]-->
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="max-width:210px;" width="100%">
																<tbody>
																	<tr>
																		<td class="mcnTextContent" style="padding: 0px 18px 9px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;" valign="top">
																			<span>&nbsp;</span>
																		</td>
																	</tr>
																</tbody>
															</table><!--[if mso]>
                </td>
                <![endif]-->
															<!--[if mso]>
                </tr>
                </table>
                <![endif]-->
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table><!-- // END PREHEADER -->
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN HEADER // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templateHeader" width="600">
									<tr>
										<td class="headerContainer" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="min-width:100%;" width="100%">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
															<!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->
															<!--[if mso]>
                <td valign="top" width="600" style="width:600px;">
                <![endif]-->
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="max-width:100%; min-width:100%;" width="100%">
																<tbody>
																	<tr>
																		<td class="mcnTextContent" style="padding: 0px 18px 9px;color: #FFFFFF;font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;line-height: 100%;" valign="top"><strong>TSL Adventures, LLC</strong></td>
																	</tr>
																</tbody>
															</table><!--[if mso]>
                </td>
                <![endif]-->
															<!--[if mso]>
                </tr>
                </table>
                <![endif]-->
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table><!-- // END HEADER -->
							</td>
						</tr>
						<tr>
							<td class="borderBar"><img height="5" src="https://gallery.mailchimp.com/2425ea8ad3/images/blank.gif" style="display:block;" width="5"></td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN UPPER BODY // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templateUpperBody" width="600">
									<tr>
										<td class="upperBodyContainer" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="min-width:100%;" width="100%">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
															<!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->
															<!--[if mso]>
                <td valign="top" width="600" style="width:600px;">
                <![endif]-->
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="max-width:100%; min-width:100%;" width="100%">
																<tbody>
																	<tr>
																		<td class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 200%;" valign="top"><br>
																		<span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><span style="font-size:21px"><strong>You are now part of our crew. Welcome!</strong></span></span><br>
																		&nbsp;</td>
																	</tr>
																</tbody>
															</table><!--[if mso]>
                </td>
                <![endif]-->
															<!--[if mso]>
                </tr>
                </table>
                <![endif]-->
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table><!-- // END UPPER BODY -->
							</td>
						</tr>
						<tr>
							<td class="borderBar"><img height="5" src="https://gallery.mailchimp.com/2425ea8ad3/images/blank.gif" style="display:block;" width="5"></td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN COLUMNS // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templateColumns" width="600">
									<tr>
										<td align="left" class="columnsContainer" valign="top" width="50%">
											<table border="0" cellpadding="0" cellspacing="0" class="templateColumn" width="100%">
												<tr>
													<td class="leftColumnContainer" valign="top"></td>
												</tr>
											</table>
										</td>
										<td align="left" class="columnsContainer" valign="top" width="50%">
											<table border="0" cellpadding="0" cellspacing="0" class="templateColumn" width="100%">
												<tr>
													<td class="rightColumnContainer" valign="top"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table><!-- // END COLUMNS -->
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN LOWER BODY // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templateLowerBody" width="600">
									<tr>
										<td class="lowerBodyContainer" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="min-width:100%;" width="100%">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
															<!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->
															<!--[if mso]>
                <td valign="top" width="600" style="width:600px;">
                <![endif]-->
															<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="max-width:100%; min-width:100%;" width="100%">
																<tbody>
																	<tr>
																		<td class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 150%;" valign="top"><span style="font-size:13px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">Hello,<br>
<br>
The TSL Kids Crew founders, Tom Styles, Shameka Brown-Johnson and Lynette Smith welcome you!
Thank you for enrolling with us! The entire crew is here to assist as needed and we look forward to providing you affordable and quality childcare along with the best and most efficient and friendliest customer service possible. <br>
<br>
Attached you will find your enrollment form. Please choose the appropriate form based on your child’s age. You will also find a copy of our health guidelines and nap time waiver.
<br><br>
<strong>Some Important Details for You</strong><br>
You can fax your completed forms to:<br>
518-456-0762 (please send attention to your specific program location “TROY” for instance)<br>
<u>OR</u><br>
E-mail preferably email them to<br>
<a href="mailto:tsladventures@gmail.com?subject=Completed%20Forms" target="_blank">TSLadventures@gmail.com</a><br>
<br>
You may also mail your forms to:<br>
TSL Adventures<br>
183 Schoolhouse Road<br>
Albany, NY 12203<br>
<br>
Our Tax ID Number is: 26-3268474<br>
<br>
ANY billing or financial questions related to your account, please email me, Tom Styles at <a href="mailto:tsladventures@gmail.com" target="_blank">TSLadventures@gmail.com</a>. Please put your name in the subject line.<br>
<br>
Here is a summary of your registration:<br><br>
<strong>Phone Number:</strong> <%= @registration_record.customer.phone_number.present? ? @registration_record.customer.phone_number : "N/A" %><br>
<strong>Emergency Phone Number:</strong> <%= @registration_record.customer.emergency_phone_number.present? ? @registration_record.customer.emergency_phone_number : "N/A" %><br>
<strong>Address:</strong> <%= @registration_record.customer.address == ",  , , " ? "N/A" : @registration_record.customer.address %><br>
<strong>How Did You Hear About Us:</strong> <%= @registration_record.customer.how_did_you_hear_about_us.present? ? @registration_record.customer.how_did_you_hear_about_us.capitalize : "N/A" %><br>
<strong>Children:</strong> <%= @registration_record.child_records.map { |child_record| "#{child_record.first_name} #{child_record.last_name}, #{child_record.age} years old (#{child_record.dob})" }.join(" | ") %><br>
<% if @registration_record.day_care_record.present? %>
	<strong>Start Date:</strong> <%= @registration_record.day_care_record.start_date.strftime('%D') %>
<% end %>
<br>

<% if @registration_record.single_day_record.present? && @registration_record.single_day_record.single_day_date.present? %>
	<h2>Single Day</h2>
	<strong>Day:</strong> <%= @registration_record.single_day_record.single_day_date.display_name %><br>
<% end %>

<% if @registration_record.before_and_afterschool_record.present? %>
<h2>Before/After School</h2>
<strong>Start Date:</strong> <%= @registration_record.before_and_afterschool_record.start_date.strftime('%D') %><br>

<h3>Monday</h3>
<strong>Before School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_monday) %><br>
<strong>After School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_monday) %><br>

<h3>Tuesday</h3>
<strong>Before School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_tuesday) %><br>
<strong>After School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_tuesday) %><br>

<h3>Wednesday</h3>
<strong>Before School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_wednesday) %><br>
<strong>After School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_wednesday) %><br>

<h3>Thursday</h3>
<strong>Before School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_thursday) %><br>
<strong>After School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_thursday) %><br>

<h3>Friday</h3>
<strong>Before School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_friday) %><br>
<strong>After School:</strong> <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_friday) %><br>
<% end %>

<% if @registration_record.summer_camp_record.present? %>
<h2>Summer Camp</h2>
Received a <strong>$150</strong> deposit and <strong>$25</strong> filing fee for summer camp at <strong><%= @registration_record.program.location.name %>.</strong><br><br>
<strong>Week 1:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_one) %><br>
<strong>Week 2:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_two) %><br>
<strong>Week 3:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_three) %><br>
<strong>Week 4:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_four) %><br>
<strong>Week 5:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_five) %><br>
<strong>Week 6:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_six) %><br>
<strong>Week 7:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_seven) %><br>
<strong>Week 8:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_eight) %><br>
<strong>Week 9:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_nine) %><br>
<strong>Week 10:</strong> <%= yes_no_boolean(@registration_record.summer_camp_record.week_ten) %><br>
<% end %>

<% if @registration_record.vacation_camp_records.present? %>
	<h2>Vacation Camp</h2>
	<% @vacation_camp_records.each do |vacation_camp_record| %>
		<strong>Month</strong> <%= vacation_camp_record.month.present? ? vacation_camp_record.month.capitalize : "N/A" %><br>
		<% if vacation_camp_record.month == 'april' %>
			<strong>Friday, 19: </strong> <%= yes_no_boolean(vacation_camp_record.friday) %><br>
		<% end %>
		<strong>Monday<%= vacation_camp_date(vacation_camp_record.month, 'Mon')%>: </strong> <%= yes_no_boolean(vacation_camp_record.monday) %><br>
		<strong>Tuesday<%= vacation_camp_date(vacation_camp_record.month, 'Tues')%>: </strong> <%= yes_no_boolean(vacation_camp_record.tuesday) %><br>
		<strong>Wednesday<%= vacation_camp_date(vacation_camp_record.month, 'Wed')%>: </strong> <%= yes_no_boolean(vacation_camp_record.wednesday) %><br>
		<strong>Thursday<%= vacation_camp_date(vacation_camp_record.month, 'Thurs')%>: </strong> <%= yes_no_boolean(vacation_camp_record.thursday) %><br>
		<strong>Friday<%= vacation_camp_date(vacation_camp_record.month, 'Fri') %>: </strong> <%= yes_no_boolean(vacation_camp_record.friday) %><br>
		<br>
	<% end %>
<% end %>
<br><br>
Enjoy Your Adventure,<br>
Tom Styles<br>
518-273-1100<br>
<a href="mailto:tsladventures@gmail.com" target="_blank">TSLadventures@gmail.com</a></span></span></td>
																	</tr>
																</tbody>
															</table><!--[if mso]>
                </td>
                <![endif]-->
															<!--[if mso]>
                </tr>
                </table>
                <![endif]-->
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table><!-- // END LOWER BODY -->
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- BEGIN FOOTER // -->
								<table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="600">
									<tr>
										<td class="footerContainer" style="padding-bottom:9px;" valign="top"></td>
									</tr>
								</table><!-- // END FOOTER -->
							</td>
						</tr>
					</table><!-- // END TEMPLATE -->
				</td>
			</tr>
		</table>
	</center>
</body>
</html>
