<% if @trigger %>
	<p class="alert alert-success"><span class="close">⊗</span>Welcome! You have signed up successfully.</p>
<% else %>
	<% if notice %>
	  <p class="alert alert-success"><span class="close">⊗</span><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><span class="close">⊗</span><%= alert %></p>
	<% end %>
<%end%>