<nav class="nav-element" id="nav">
    <div class="nav-links-container" id="navigation-links">
        <div class="logo-container">
            <%= image_tag('new-logo.png', class: "tsl-logo") %>
        </div>
            <% if customer_user_signed_in? %>
                <div class="nav-links" id="nav-links">
                    <%= link_to "Home", authenticated_root_path, class: '' %>
                    <%= link_to "Update Payment Information", edit_billing_information_customer_users_path, class: '' %>
                    <div class="billing-menu">
                        <span class="">Billing</span>
                       <div class="billing-arrow">
                       </div>
                        <div class="billing-options">
                            <ul class="">
                                <li class=""><i class="fas fa-file-invoice"></i><%= link_to "Invoices", invoices_path, class: '' %></li>
                                <li class=""><i class="fas fa-receipt"></i><%= link_to "Receipts", receipts_path, class: '' %></li>
                                <% if current_customer_user.customer && current_customer_user.customer.stripe_customer_identifier.present? %>
                                    <li class=""><i class="fas fa-history"></i> <%= link_to "Billing History", "javascript:void(0)", class: '', id: 'billing' %></li>
                                    <script type="text/javascript">
                                        var handler = AccountDock.configure({
                                            key: '<%= ENV["ACCOUNT_DOCK_KEY"] %>',
                                            customer: '<%= current_customer_user.customer.stripe_customer_identifier %>'
                                        });
                                        $(function(){
                                            $('#billing').on(
                                            'click',
                                            function(event) {
                                                event.preventDefault();
                                                handler.open();
                                            }
                                            );
                                        });
                                    </script>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="account-menu account-nav">
                        <span class="account-nav">Account</span>
                        <div class="account-arrow account-nav">
                        </div>
                        <div class="account-options account-nav">
                            <ul class="account-nav">
                                <li class="account-nav">
                                    <i class="fas fa-info"></i>
                                    <%= link_to "Registration Information", registration_information_path, class: 'account-nav' %>
                                </li>
                                <li class="account-nav">
                                    <i class="fas fa-cog"></i>
                                     <%= link_to "Account Settings", edit_customer_user_registration_path, class: 'account-nav' %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <%= link_to "Shop", shop_path %>
                    <%= link_to "Logout", destroy_customer_user_session_path, method: :delete %>
                </div>

                <div class="nav-links-mobile" id="nav-links-mobile">
                    <div class="nav-links-mobile-container">
                         <i class="fas fa-bars" id="mobile-nav"></i>
                         <div class="nav-links-mobile-menu">
                             <div class="nav-links-mobile-menu-container">
                                 <ul>
                                    <li><i class="fas fa-home"></i><%= link_to 'Home', authenticated_root_path %></li>
                                    <li><%= link_to "Shop", shop_path  %><i class="fas fa-store"></i></li>
                                    <li><i class="far fa-credit-card"></i><%= link_to "Update Payment Information", edit_billing_information_customer_users_path, class: '' %></li>
                                    <li class="mobile-billing-option">
                                        <i class="fa fa-less-than"></i>
                                        <div class="text">Billing</div>
                                        <div class="option" id="mobile-billing-menu">
                                            <ul>
                                                <li>
                                                    <i class="fas fa-file-invoice"></i>
                                                    <%= link_to "Invoices", invoices_path, class: '' %>    
                                                </li>
                                                <li>
                                                    <i class="fas fa-receipt"></i>
                                                    <%= link_to "Receipts", receipts_path, class: '' %>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                     <li id="mobile-account-option">
                                        <i class="fa fa-less-than"></i>
                                        <div class="text">Account</div>
                                        <div class="option" id="mobile-account-menu">
                                            <ul>
                                                <li class="account-nav">
                                                    <i class="fas fa-info"></i>
                                                    <%= link_to "Registrations", registration_information_path, class: 'account-nav' %>
                                                </li>
                                                <li class="account-nav">
                                                    <i class="fas fa-cog"></i>
                                                    <%= link_to "Settings", edit_customer_user_registration_path, class: 'account-nav' %>
                                                </li>
                                            </ul>
                                        </div>
                                     </li>
                                     <li><i class="fas fa-sign-out-alt"></i><%= link_to "Logout", destroy_customer_user_session_path, method: :delete %></li>
                                 </ul>
                             </div>
                         </div>
                    </div>
                </div>
            <% else %>
                <div class="session-links">
                   <div class="mobile-view" id="mobile-view">
                       <i class="fas fa-bars" id="bars-icon"></i>
                       <div class="menu-options" id="menu-options">
                           <ul>
                               <li><%= link_to "Log In", new_customer_user_session_path %><i class="fas fa-sign-in-alt"></i></li>
                               <li><%= link_to "Register", new_customer_user_registration_path  %><i class="fas fa-user-plus"></i></li>
                               <li><%= link_to "Shop", shop_path  %><i class="fas fa-store"></i></li>
                           </ul>
                       </div>
                   </div>
                   <div class="regular-view">
                        <%= link_to "Log In", new_customer_user_session_path %>
                        <%= link_to "Register", new_customer_user_registration_path  %>
                        <%= link_to "Shop", shop_path %>
                   </div>
                </div>
            <% end %>
    </div>
</nav>
