h4.no-deposit-notice {
    font-family: lato, verdana, courier;
    font-weight: 600;
    font-size: 1.1em;
    span {
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.10em;
    }
}

.after-school-registration-options {
    height: 50px;
    width: 105%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;

    @media only screen and (max-width: 450px ) {
        width: 100%;
        flex-direction: column;
        height: 100px;
        align-items: flex-start;
        div.option-pair {
            margin-bottom: 20px;

            &:last-of-type {
                margin-left: 0 !important;
            }
        }
    }

    input[type=radio], label {
        cursor: pointer;
    }
    & > div.option-pair {
        margin-right: 15px;
        label {
            margin-left: 5px;
        }

        &:last-of-type {
            margin-left: 30px;
        }
    }

    div.with-promo {
        position: relative;

        &::before {
            content: 'New';
            font-family: lato;
            position: absolute;
            width: 28%;
            border-radius: 4px;
            height: 20px;
            transform: translateX(38px);
            right: 0;
            top: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1565C0;
            font-size: 12px;
            color: #fefefe;
        }
    }
    
}

// single day promo section
.annual-single-day-promo-options {
    box-sizing: border-box;
    margin: 20px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 1px;
    opacity: 0;
    font-size: 1em;
    input#no_annual_single_day_package_selected {
        visibility: hidden;
    }

    input[type=radio], label {
        cursor: pointer;
    }
    div.radio-button-pair {
        margin-bottom: 15px;
        label {
            margin-left: 5px;
            font-family: lato;
        }
    }
    h4.single-day-promo-header {
        text-align: center;
        font-family: lato;
        font-size: 1.3em;
        margin: 0 0 15px 0;
        color: #0D47A1;
        text-transform: uppercase;
    } 
}

.show-package-options {
    height: 180px;
    opacity: 1;
    
    @media only screen and (max-width: 450px) {
        height: 220px;
    }
}

//  total payment section

div.total-payment-section {
    margin: 10px auto;
    height: 150px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    div.shopping-cart-icon {
        position: absolute;
        background-color: #fefefe;
        height: 40px;
        width: 50px;
        top: -18px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 2em;
            color: #1565C0;
        }
    }

    div.key-value-pair {
        display: flex;
        flex: 0 1 25%;
        width: 70%;
        position: relative;
        &:not(:last-of-type) {
            &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                bottom: 0;
                background: rgba(0, 0, 0, 0.2);
            }
        }
        
        div.key, div.value {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: lato, arial, verdana;
        }
        div.key { 
            flex: 0 1 70%;
            justify-content: flex-start;
        }
        div.value { flex: 0 1 30%; }
        &:last-of-type div.value {
            font-weight: 600;
            font-size: 1.1em;
        }
    }
}

// year cycle selection

div.year-cycle-selection {
    width: 100%;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    *, *::before, *::after {
        font-family: lato, verdana, arial;
        margin: 0;
        padding: 0;
    }

    div.input-group {
        *, *::before, *::after {cursor: pointer;}
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;

        label {
            padding: 12px 2.5%;
            // width: 100%;
            display: block;
            text-align: left;
            color: #3C454C;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
            &::before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: #1E88E5;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%);
                transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }

            &::after {
                content: '';
                width: 32px;
                height: 32px;
                border: 2px solid #D1D7DC;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "
                );
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }
        }
        input:checked ~ label {
            color: #fff;

            &::before {
                transform: scale3D(200, 200, 1);
                opacity: 1;
            }

            &::after {
                background-color: #3949AB;
                border-color: #3949AB;
            }
        }
        input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }
    }

    div.notice, div.rates-information {
        padding-left: 30px;
        img.info-icon {
            height: 25px;
            width: auto;
            transform: translateY(8px);
        }
    }
    div.rates-information {
        margin-top: 10px;
        a {
            text-decoration: none;
            color: #0D47A1;
            font-weight: 600;
        }
    }
}