<% url = @location.new_record? ? admin_locations_path : admin_location_path(@location) %>

<%= form_for @location, url: url, html: { class: "tsl-form white-form regular-form" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: params[:name] ? params[:name] : f.object.name %>

	<%= f.label :address %>
  <%= f.text_field :address, value: params[:address] ? params[:address] : f.object.address %>

  <%= f.label :director_id, "Director: " %>
  <%= f.select :director_id, options_from_collection_for_select(User.order(:email), 'id', 'email', f.object.director_id), include_blank: true %>

	<%= f.label :minimum_age, "Minimum Age For Children at this Location" %>
  <%= f.number_field :minimum_age %>

  <hr>

  <div class="o-grid">
    <div class="o-grid__unit u-half">
      <%= f.submit "Submit", class: 'button' %>
    </div>
    <div class="o-grid__unit u-half u-align-right">
    </div>
  </div>
<% end %>
