<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Primary Director</th>
			<th>Program Count</th>
			<th>Minimum Age</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @locations.each do |location| %>
			<tr>
				<td data-th="Name"><%= location.name %></td>
				<td data-th="Address"><%= location.address %></td>
				<td data-th="Primary Director"><%= location.director.present? ? location.director.email : "No Director Specified" %></td>
				<td data-th="Program Count"><%= location.programs.count %></td>
				<td data-th="Minimum Age"><%= location.minimum_age %></td>
				<td data-th="Actions">
					<div class="action-links c-multi-button js-multi-button">
						<div class="c-multi-button__items">
							<%= link_to "View", admin_location_path(location), class: "c-multi-button__item" %>
							<%= link_to "Edit", edit_admin_location_path(location), class: "c-multi-button__item" %>
							<%= link_to "Delete", admin_location_path(location), method: :delete, class: "c-multi-button__item red-link" %>
						</div>
						<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
