<h1 class="h3">Locations</h1>
<p><%= link_to "Create a New Location", new_admin_location_path %></p>

<% if @locations.present? %>
	<%= render 'table', target: @locations %>
<% else %>
	<p>There are no locations yet!</p>
<% end %>
