<h1 class="f3 f2-ns lh-title dib bb bw2 b--black"><%= @location.name %></h1>

<div class="cf w-100">
	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Basic Information</h2>
		<p class="f5 f4-l lh-copy mb0"><b>Name:</b> <%= @location.name %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Address:</b> <%= @location.address %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Primary Director:</b> <%= @location.director.present? ? @location.director.email : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Program Count:</b> <%= @location.programs.count %></p>
	</div>
</div>

<br/>
<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Program Information</h2>
<p><%= link_to "Add a New Program", new_admin_program_path(location_id: @location.id) %></p>
<% if @location.programs.present? %>
	<%= render 'admin/programs/table', target: @location.programs.includes(:registration_records) %>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no programs associated with this location.</p>
<% end %>

<br/>
<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Customers</h2>
<% if @location.customers.present? %>
	<%= render 'admin/customers/table', target: @location.customers.includes(:registration_records).order('email') %>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no customers associated with this location.</p>
<% end %>

<br/>
<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Registration Records</h2>
<% if @location.registration_records.present? %>
	<%= render 'admin/registration_records/table', target: @location.registration_records.where.not(deleted: true).order('created_at desc') %>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no registration records associated with this location.</p>
<% end %>

<br/>
