<section class="billing">
    <div class="billing-section-container">
        <div class="billing-section-event-notification"><h4>Noice</h4></div>
        <h3 class="header">Billing Section</h3>
        <section class="receipt-section">
            <h4 class="receipt-section-header">Receipts</h4>
            <div class="search-receipt-section">
                <input type="text" id="receipt-id-text-field" placeholder="Enter receipt ID">
                <button class="retrieve-receipt-information-button"><i class="fas fa-search"></i> Search</button>
                <div class="loading-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <h3 class="receipt-information-header">Receipt Information</h3>
            <div class="receipt-information-section">
                <div class="row">
                    <div class="key">Receipt ID</div>
                    <div class="value receipt-id"></div>
                </div>
                <div class="row">
                    <div class="key">Amount</div>
                    <div class="value receipt-amount"></div>
                </div>
                <div class="row">
                    <div class="key">Program</div>
                    <div class="value receipt-program"></div>
                </div>
                <div class="row">
                    <div class="key">Payment for</div>
                    <div class="value receipt-payment-for"><input type="text"></div>
                </div>
            </div>
            <h3 class="receipt-child-information-header">Child Information</h3>        
            <div class="receipt-button-update-container">
                <button class="receipt-update-button" disabled="true">Update</button>
            </div>
        </section>
    </div>
</section>