<section class="customers">
    <div class="customers-section-container">
        <h3 class="header">Customers Section</h3>
        <section class="search-section">
            <div class="search-field-section">
                <input type="text" class="first-name" placeholder="First Name">
                <input type="text" class="last-name" placeholder="Last Name">
                <button type="button" class="search-button"><i class="fas fa-search"></i>Search</button>
                <div class="loading-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="search-result-section">
                <div class="search-result-table-outer-container">
                    <div class="search-result-table-inner-container">
                        <table class="result-table">
                                <tr class="header-row">
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="account-section">
            <h4 class="account-information-header">Account Information</h4>
            <div class="account-information">
                <div class="row">
                    <div class="key">First Name</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Last Name</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Email</div>
                    <div class="value customer-information-email-account"></div>
                </div>
                <div class="row">
                    <div class="key">Address</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Phone number</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Emergency Phone number</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Card brand</div>
                    <div class="value"></div>
                </div>
                <div class="row">
                    <div class="key">Bank Name</div>
                    <div class="value"></div>
                </div>
            </div>
            <h4 class="registration-information-header">Enrollment Information</h4>
            <div class="registration-information-container">
                <div class="single-day-information">
                    <h5 class="header">Single Day</h5>
                    <div class="row">
                        <div class="key">Registration count</div>
                        <div class="registration-count">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                <div class="year-round-single-day-information">
                    <h5 class="header">Year-round single day</h5>
                    <div class="row">
                        <div class="key">Registration count</div>
                        <div class="registration-count">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                <div class="after-school-information">
                    <h5 class="header">Before and After School</h5>
                    <div class="row">
                        <div class="key">Invoices paid</div>
                        <div class="invoices-paid">0 / 0</div>
                    </div>
                    <div class="row">
                        <div class="key">Outstanding</div>
                        <div class="outstanding">$0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                <div class="day-care-information">
                    <h5 class="header">Day care</h5>
                    <div class="row">
                        <div class="key">Monthly due</div>
                        <div class="monthly-due">$0</div>
                    </div>
                    <div class="row">
                        <div class="key">Paid invoices</div>
                        <div class="invoices-paid">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Outstanding</div>
                        <div class="outstanding">$0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                <div class="vacation-camp-information">
                    <h5 class="header">Vacation camp</h5>
                    <div class="row">
                        <div class="key">Registration count</div>
                        <div class="registration-count">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                <div class="summer-camp-information">
                    <h5 class="header">Summer camp</h5>
                    <div class="row">
                        <div class="key">Deposit revenue</div>
                        <div class="deposit-revenue">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Paid invoices</div>
                        <div class="invoices-paid">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Invoices revenue</div>
                        <div class="invoices-revenue">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Outstanding</div>
                        <div class="outstanding">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Year to date earnings</div>
                        <div class="earnings">$0</div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</section>