<section class="home">
    <div class="home-section-container">
        <section class="weekly-summary">
            <div class="weekly-summary-header">
                <h4 class="weekly-summary-text">Weekly Summary</h5>
            </div>
            <div class="weekly-summary-sub-header">
                <h5 class="sub-header-dates">
                    Date: <%= month_now %> <%= @week_range.first %> - <%= @week_range.last %>
                </h5>
            </div>
            
            <div class="summary-boxes">
                <div class="box new-registrations">
                    <div class="box-icon"><i class="fas fa-archive"></i></div>
                    <div class="box-text">
                        <div class="upper-half">Registrations</div>
                        <div class="lower-half">
                            <h4><%= @weekly_records.count %></h4>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-icon"><i class="far fa-credit-card"></i></div>
                    <div class="box-text">
                        <div class="upper-half">Deposits</div>
                        <div class="lower-half">
                            <h4><%= @new_deposits.count %></h4>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-icon"><i class="fas fa-file"></i></div>
                    <div class="box-text">
                        <div class="upper-half">Paid Invoices</div>
                        <div class="lower-half">
                            <h4><%= @weekly_invoices.count %></h4>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-icon"><i class="fas fa-users"></i></div>
                    <div class="box-text">
                        <div class="upper-half">New Customers</div>
                        <div class="lower-half">
                            <h4><%= @new_users.count %></h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="programs-table-container">
                <table class="programs-table">
                    <tr class="programs-table-headers-row">
                        <th class="header-column"><%= image_tag 'summary.png' %></th>
                        <th class="header-column">New Registrations</th>
                        <th class="header-column">Invoices</th>
                        <th class="header-column">Total Revenue</th>
                    </tr>
                    <tr>
                        <td class="single-day-item">Single Day</td>
                        <td class="single-day-item"><%= @single_day.count %></td>
                        <td class="single-day-item">N/A</td>
                        <td class="single-day-item">$<%= format_to_currency(@single_day_revenue) %></td>
                    </tr>
                    <tr>
                        <td class="year-round-single-day-item">Year-round Single Day</td>
                        <td class="year-round-single-day-item"><%= @year_round_single_day.count %></td>
                        <td class="year-round-single-day-item">N/A</td>
                        <td class="year-round-single-day-item">$<%= format_to_currency(@year_round_revenue) %></td>
                    </tr>
                    <tr>
                        <td class="before-and-after-school-item">Before and After School</td>
                        <td class="before-and-after-school-item"><%= @before_and_after_school.count %></td>
                        <td class="before-and-after-school-item"><%= @before_and_after_school_invoices.count %></td>
                        <td class="before-and-after-school-item">$<%= format_to_currency(@before_and_after_school_revenue) %></td>
                    </tr>
                    <tr>
                        <td class="day-care-item">Day Care</td>
                        <td class="day-care-item"><%= @day_care.count %></td>
                        <td class="day-care-item"><%= @day_care_invoices.count %></td>
                        <td class="day-care-item">$<%= format_to_currency(@day_care_revenue) %></td>
                    </tr>
                    <tr>
                        <td class="day-care-tour-item">Day Care Tour</td>
                        <td class="day-care-tour-item"><%= @day_care_tour.count %></td>
                        <td class="day-care-tour-item">N/A</td>
                        <td class="day-care-tour-item">N/A</td>
                    </tr>
                    <tr>
                        <td class="vacation-camp-item">Vacation Camp</td>
                        <td class="vacation-camp-item"><%= @vacation_camp.count %></td>
                        <td class="vacation-camp-item">N/A</td>
                        <td class="vacation-camp-item">$<%= format_to_currency(@vacation_camp_revenue) %></td>
                    </tr>
                    <tr>
                        <td class="summer-camp-item">Summer Camp</td>
                        <td class="summer-camp-item"><%= @summer_camp.count %></td>
                        <td class="summer-camp-item"><%= @summer_camp_invoices.count %></td>
                        <td class="summer-camp-item">$<%= format_to_currency(@summer_camp_revenue) %></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Total revenue this week</td>
                        <td>$<%= format_to_currency(@total_weekly_revenue) %></td>
                    </tr>
                </table>
            </div>
            <% if false %>
                <div class="new-customers-table">
                    <div class="main-header"><%= image_tag 'customers.png', class: 'customers-logo' %> New Customers</div>
                    <div class="headers">
                        <div class="header-item">Name</div>
                        <div class="header-item">Email</div>
                        <div class="header-item">Phone Number</div>
                        <div class="header-item">Address</div>
                    </div>
                    <% @new_weekly_customers.each do |customer| %>
                        <div class="new-customer">
                            <div class="new-customer-item"><%= customer.name %></div>
                            <div class="new-customer-item"><%= customer.email %></div>
                            <div class="new-customer-item"><%= customer.phone_number %></div>
                            <div class="new-customer-item"><%= customer.address_line_one + ", #{customer.city}" %></div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </section>
        <%= render partial: 'admin/dashboard/home_section/monthly_overview' %>
        <%= render partial: 'admin/dashboard/home_section/yearly_summary' %>
    </div>
</section>
