<section class="payroll">
    <input type="hidden" id="dashboard-payroll-breakdown-section">
    <div class="payroll-section-container">
        <h3 class="section-header">Payroll Section</h3>
        <div class="payroll-section-event-notification-container">
            <h3 class="payroll-section-event-notice">Noice</h3>
        </div>
        <section class="payroll-locations">
            <div class="locations-list-container">
                <h4 class="list-header">Locations</h4>
                <ul class="payroll-locations-list"></ul>
                <div class="add-payroll-location-section">
                    <div class="new-payroll-location-container hidden">
                        <input type="text" class="new-payroll-location-input">
                        <div class="save-cancel-button-container">
                            <button><i class="fas fa-ban"></i></button>
                            <button class="confirm-adding-of-new-payroll-location"><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                    <div class="add-new-payroll-location-button-container">
                        <button class="add-new-payroll-location-button">Add New Location</button>
                    </div>
                </div>
            </div>
            <div class="location-administrators-container">
                <h4 class="header">Administrators</h4>
                <ul class="authorized-administrators-list">
                    <%# <li><span>Finn Mertens</span><button><i class="fas fa-times-circle"></i></button></li> %>
                </ul>
                <div class="administrator-select-section">
                    <div class="administrator-select">
                        <input type="hidden" class="selected-administrator-id-for-authorization" value="-1">
                        <span class="selected-payroll-location-administrator">Select Administrator</span>
                        <button class="administrator-select-button"><i class="fas fa-chevron-down"></i></button>
                        <ul class="administrator-select-options hidden">
                            <%# <li><button class="administrator-select-list-item-button">Finn Mertens</button></li> %>
                        </ul>
                    </div>
                </div>
                <div class="authorize-administrator-button-container">
                    <button class="authorize-administrator-button">Authorize Administrator</button>
                </div>
            </div>
        </section>
        <h4 class="logged-hours-summary-header">Logged Hours Summary</h4>
        <section class="payroll-logged-hours-breakdown">
            <input type="hidden" class="payroll-logged-hours-breakdown-selected-month" value="<%= Date.today.month %>">
            <div class="year-and-month-select-section">
                <div class="input-border-pair">
                    <input type="text" value="<%= Date.today.year %>" class="year-of-payroll-logged-hours-breakdown">
                    <span class="border"></span>
                </div>
                <div class="payroll-logged-hours-month-select-container">
                    <div class="payroll-logged-hours-month-select">
                        <span class="payroll-logged-hours-month-select-text"><%= Date.today.strftime("%B") %></span>
                        <button class="logged-hours-month-select-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                        <ul class="logged-hours-month-options hidden">
                            <li data-month-as-number="1"><button>January</button></li>
                            <li data-month-as-number="2"><button>February</button></li>
                            <li data-month-as-number="3"><button>March</button></li>
                            <li data-month-as-number="4"><button>April</button></li>
                            <li data-month-as-number="5"><button>May</button></li>
                            <li data-month-as-number="6"><button>June</button></li>
                            <li data-month-as-number="7"><button>July</button></li>
                            <li data-month-as-number="8"><button>August</button></li>
                            <li data-month-as-number="9"><button>September</button></li>
                            <li data-month-as-number="10"><button>October</button></li>
                            <li data-month-as-number="11"><button>November</button></li>
                            <li data-month-as-number="12"><button>December</button></li>
                        </ul>
                    </div>
                </div>
                <div class="refresh-button-container">
                    <button class="refresh-payroll-logged-hours-breakdown">Reload</button>
                </div>
            </div>
            <div class="payroll-logged-hours-breakdown-section">
                <%# <div class="location-breakdown">
                    <h4 class="location-name">Clifton</h4>
                    <div class="headers">
                        <div>Name</div>
                        <div class="one-to-fifteen">1-15</div>
                        <div class="sixteen-to-thirty-one">16-31</div>
                        <div class="total-hours">Total</div>
                        <div class="sick-days">Sick</div>
                        <div class="vacation">Vacation</div>
                    </div>
                </div> %>
            </div>
        </section>
        <h4 class="labor-trends-header">Labor Trends</h4>
        <section class="labor-trends-section">
            <div class="payroll-trend">
                <div class="year-month-location-options">
                    <div class="input-border-pair">
                        <input type="text" value="<%= (Date.today - 1.month).year %>" class="year-of-labor-trend">
                        <span class="border"></span>
                    </div>
                    <div class="payroll-trend-month-select-container">
                        <div class="payroll-trend-month-select">
                            <span class="payroll-trend-month-text"><%= (Date.today - 1.month).strftime("%B") %></span>
                            <button class="payroll-trend-month-select-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                            <ul class="payroll-trend-month-options hidden">
                                <input type="hidden" class="payroll-trend-selected-month" value="<%= (Date.today - 1.month).month %>">
                                <li data-month-as-number="1"><button>January</button></li>
                                <li data-month-as-number="2"><button>February</button></li>
                                <li data-month-as-number="3"><button>March</button></li>
                                <li data-month-as-number="4"><button>April</button></li>
                                <li data-month-as-number="5"><button>May</button></li>
                                <li data-month-as-number="6"><button>June</button></li>
                                <li data-month-as-number="7"><button>July</button></li>
                                <li data-month-as-number="8"><button>August</button></li>
                                <li data-month-as-number="9"><button>September</button></li>
                                <li data-month-as-number="10"><button>October</button></li>
                                <li data-month-as-number="11"><button>November</button></li>
                                <li data-month-as-number="12"><button>December</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="payroll-trend-location-select-container">
                        <div class="payroll-trend-location-select">
                            <span class="payroll-trend-location-text">Select Location</span>
                            <button class="payroll-trend-location-select-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                            <ul class="payroll-trend-location-options hidden">
                                <input type="hidden" class="payroll-trend-selected-location" value="-1">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="refresh-button-container"><button class="payroll-trend-data-refresh-button">Refresh</button></div>
                <div class="trend-table-container">
                </div>  
            </div>

            <div class="payroll-trend">
                <div class="year-month-location-options">
                    <div class="input-border-pair">
                        <input type="text" value="<%= Date.today.year %>" class="year-of-labor-trend">
                        <span class="border"></span>
                    </div>
                    <div class="payroll-trend-month-select-container">
                        <div class="payroll-trend-month-select">
                            <span class="payroll-trend-month-text"><%= Date.today.strftime("%B") %></span>
                            <button class="payroll-trend-month-select-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                            <ul class="payroll-trend-month-options hidden">
                                <input type="hidden" class="payroll-trend-selected-month" value="<%= Date.today.month %>">
                                <li data-month-as-number="1"><button>January</button></li>
                                <li data-month-as-number="2"><button>February</button></li>
                                <li data-month-as-number="3"><button>March</button></li>
                                <li data-month-as-number="4"><button>April</button></li>
                                <li data-month-as-number="5"><button>May</button></li>
                                <li data-month-as-number="6"><button>June</button></li>
                                <li data-month-as-number="7"><button>July</button></li>
                                <li data-month-as-number="8"><button>August</button></li>
                                <li data-month-as-number="9"><button>September</button></li>
                                <li data-month-as-number="10"><button>October</button></li>
                                <li data-month-as-number="11"><button>November</button></li>
                                <li data-month-as-number="12"><button>December</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="payroll-trend-location-select-container">
                        <div class="payroll-trend-location-select">
                            <span class="payroll-trend-location-text">Select Location</span>
                            <button class="payroll-trend-location-select-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                            <ul class="payroll-trend-location-options hidden">
                                <input type="hidden" class="payroll-trend-selected-location" value="-1">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="refresh-button-container"><button class="payroll-trend-data-refresh-button">Refresh</button></div>
                <div class="trend-table-container">
                </div>  
            </div>
        </section>
    </div>
</section>