<section class="programs">
    <div class="programs-section-container">
        <h4 class="programs-section-header">Programs</h4>
        <div class="single-day-section">
            <h5>Single Day</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-single-day">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="single-day-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="average-monthly-revenue">
                        <div class="label">Average monthly revenue</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-revenue">
                        <div class="label">Year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="year-round-single-day-section">
            <h5>Year-round Single Day</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-year-round-single-day">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="year-round-single-day-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="average-monthly-revenue">
                        <div class="label">Average monthly revenue</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-revenue">
                        <div class="label">Year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="after-school-section">
            <h5>Before and After School</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-after-school">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="after-school-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="average-monthly-revenue">
                        <div class="label">Average monthly revenue</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-revenue">
                        <div class="label">Year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="day-care-section">
            <h5>Day Care</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-day-care">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="day-care-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="average-weekly-revenue">
                        <div class="label">Average weekly revenue</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-revenue">
                        <div class="label">Year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vacation-camp-section">
            <h5>Vacation Camp</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-vacation-camp">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="vacation-camp-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="average-monthly-revenue">
                        <div class="label">Average monthly revenue</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-revenue">
                        <div class="label">Year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="summer-camp-section">
            <h5>Summer Camp</h5>
            <div class="month-selection">
                <select class="program-month-select" id="programs-month-of-summer-camp">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="summer-camp-information-container">
                <div class="monthly-breakdown">
                    <div class="week-pair">
                        <div class="label">Week 1</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 2</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 3</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 4</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="week-pair">
                        <div class="label">Week 5</div>
                        <div class="value">$0</div>
                    </div>
                </div>
                <div class="program-summary">
                    <div class="total-monthly-revenue">
                        <div class="label">Monthly total</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-deposits-revenue">
                        <div class="label">Year to date revenue on deposits</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="year-to-date-invoices-revenue">
                        <div class="label">Year to date revenue on invoices</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="current-outstanding-balances">
                        <div class="label">Current outstanding pen balances</div>
                        <div class="value">$0</div>
                    </div>
                    <div class="total-year-to-date-revenue">
                        <div class="label">Total year to date earnings</div>
                        <div class="value">$0</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

