<div class="admin-dashboard-container">
    <div class="side-bar">
        <div class="side-bar-row" id="home-section-button">
            <i class="fas fa-home"></i>
            <span class="text">Home</span>
        </div>
        <div class="side-bar-row" id="customers-section-button">
            <i class="fas fa-user"></i>
            <span class="text">Customers</span>
        </div>
        <div class="side-bar-row" id="programs-section-button">
            <i class="fas fa-table"></i>
            <span class="text">Programs</span>
        </div>
        <div class="side-bar-row" id="billing-section-button">
            <i class="fas fa-receipt"></i>
            <span class="text">Billing</span>
        </div>
        <div class="side-bar-row" id="payroll-section-button">
            <i class="fas fa-calculator"></i>
            <span class="text">Payroll</span>
        </div>
    </div>
    <%= render partial: 'home' %>
    <%= render partial: 'customers' %>
    <%= render partial: 'programs' %>
    <%= render partial: 'billing' %>
    <%= render partial: 'payroll' %>
</div>