<p>
  <%= "Hi, #{@user["email"]}" %>
</p>
<p>
  We received a request to reset your password.
</p>
<br/>
<p>
  To reset your password, please click the link below:
</p>
  <a href="<%= "#{api_v1_forgot_password_edit_url}?reset_password_token=#{@token}" %>">Change Password</a>
<br/>
<p>Thanks,</p>
<p>TSL-Adventures Team</p>