<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Start Date</th>
			<th>Capacity</th>
			<th>Enrolled</th>
			<th>Notes</th>
		</tr>
	</thead>

	<tbody>
			<% target.each_with_index do |summer_week, index| %>
				<tr>
					<td data-th="Name"><%= summer_week.name %></td>
					<td data-th="Start Date"><%= summer_week.start_date.strftime('%D') %></td>
					<td data-th="Capacity"><%= summer_week.capacity %></td>
					<td data-th="Enrolled"><%= summer_week.enrolled_count(index) %></td>
					<td data-th="Notes"><%= summer_week.notes.present? ? summer_week.notes : "N/A" %></td>
				</tr>
			<% end %>
	</tbody>
</table>
