<header class="c-header u-clearfix cf">
	<div class="c-header__wrapper cf">

		<%= raw link_to "TSL - Information System", admin_root_path %>

		<nav class="c-navigation u-pull-right cf">
			<ul class="c-navigation__list u-clearfix">
				<% if admin_user_signed_in? %>
					<% if current_admin_user.name == "Thomas Styles" && current_admin_user.email == "tsladventures@gmail.com" %>
						<li class="c-navigation__list-item">
							<%= link_to 'Dashboard', admin_dashboard_path, class: "c-navigation__link" %>
						</li>
					<% end %>
					<%# <li class="c-navigation__list-item"> %>
						<%# <%= link_to 'Payroll', admin_payroll_path, class: "c-navigation__link" %>
					<%# </li> %>
					<li class="c-navigation__list-item">
						<%= link_to 'CIT Applications', admin_cit_records_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to 'Invoices', admin_invoices_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to 'Customers', admin_customers_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to 'Locations', admin_locations_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to 'Edit profile', edit_admin_user_registration_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to "Log Out", destroy_admin_user_session_path, method: :delete, class: "c-navigation__link" %>
					</li>
				<% else %>
					<li class="c-navigation__list-item">
						<a href="http://www.tsladventures.net/" target="_blank" class="c-navigation__link">Back to TSL Adventures</a>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to "Register", new_admin_user_registration_path, class: "c-navigation__link" %>
					</li>
					<li class="c-navigation__list-item">
						<%= link_to 'Log In', new_admin_user_session_path, class: "c-navigation__link" %>
					</li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
