<section class="monthly-overview">
    <h4 class="header-section">
        Monthly Overview for &nbsp;<span class="header-month-name">February</span> 
        <div class="year-and-month-selection">
        
            <input type="number" name="year-of-monthly-summary" id="year-of-monthly-summary" placeholder="Enter year here" value="<%= Date.today.year %>" min="2018">
            <select id="month-of-monthly-summary">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <button type="button" id="summary-refresh-button">Refresh <i class="fas fa-redo-alt"></i></button>
        </div>
    </h4>
    <div class="chart-section">
        <div class="monthly-overview-canvas-container">
            <canvas id="monthly-overview-canvas"></canvas>
        </div>
    
            <div class="chart-detail-boxes">
                <div class="chart-detail-box week-1">
                    <div class="text-group">
                        <div class="week-name">Week 1</div>
                        <div class="revenue">$0</div>
                        <div class="week-range"></div>
                    </div>
                    <div class="icon"><i class="fas fa-calendar"></i></div>
                </div>
                <div class="chart-detail-box week-2">
                    <div class="text-group">
                        <div class="week-name">Week 2</div>
                        <div class="revenue">$0</div>
                        <div class="week-range"></div>
                    </div>
                    <div class="icon"><i class="fab fa-bandcamp"></i></div>
                </div>
                <div class="chart-detail-box week-3">
                    <div class="text-group">
                        <div class="week-name">Week 3</div>
                        <div class="revenue">$0</div>
                        <div class="week-range"></div>
                    </div>
                    <div class="icon"><i class="fab fa-bitbucket"></i></div>
                </div>
                <div class="chart-detail-box week-4">
                    <div class="text-group">
                        <div class="week-name">Week 4</div>
                        <div class="revenue">$0</div>
                        <div class="week-range"></div>
                    </div>
                    <div class="icon"><i class="fas fa-book-open"></i></div>
                </div>
                <div class="chart-detail-box week-5">
                    <div class="text-group">
                        <div class="week-name">Week 5</div>
                        <div class="revenue">N/A</div>
                        <div class="week-range">N/A</div>
                    </div>
                    <div class="icon"><i class="fas fa-bookmark"></i></div>
                </div>
            </div>
    </div>
    
    <div class="monthly-summary-row-section">
        <div class="monthly-summary-row-box">
            <div>Single Day</div>
            <div class="single-day-monthly-total">$0</div>
            
            <%# <div class="single-day-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div> %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Year-round Single Day</div>
            <div class="year-round-single-day-monthly-total">$0</div>
            
            <%# <div class="year-round-single-day-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div> %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Before and After School</div>
            <div class="before-and-afterschool-monthly-total">$0</div>
            
            <%# <div class="after-school-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div>                 %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Day Care</div>
            <div class="day-care-monthly-total">$0</div>
            
            <%# <div class="day-care-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div>                 %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Vacation Camp</div>
            <div class="vacation-camp-monthly-total">$0</div>
            
            <%# <div class="vacation-camp-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div> %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Summer Camp</div>
            <div class="summer-camp-monthly-total">$0</div>
            
            <%# <div class="summer-camp-summary-breakdown summary-breakdown">
                <div class="week-1">Week 1: <span class="week-1-amount">$0</span></div>
                <div class="week-2">Week 2: <span class="week-2-amount">$0</span></div>
                <div class="week-3">Week 3: <span class="week-3-amount">$0</span></div>
                <div class="week-4">Week 4: <span class="week-4-amount">$0</span></div>
                <div class="week-5">Week 5: <span class="week-5-amount">$0</span></div>
            </div> %>
        </div>
        <div class="monthly-summary-row-box">
            <div>Total Monthly Revenue</div>
            <div class="total-monthly-total">$0</div>
        </div>
    </div>
    
</section>