<section class="yearly-summary">
    <div class="header-section">
        <h4 class="yearly-summary-header">
            <span class="yearly-summary-label">Yearly summary for year</span>
            <span class="yearly-summary-year-text"><%= Date.today.year %></span>
         </h4>
    </div>
    <div class="year-select-section">
        <label for="year-select-input">Specify year here</label>
        <div class="input-button-pair">
            <input type="number" class="year-select-input" id="year-select-input" value="<%= Date.today.year %>">
            <button type="button" class="year-refresh-button">Refresh <i class="fas fa-sync-alt"></i></button>
            <div class="yearly-overview-loader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <div class="chart-section">
        <canvas id="yearly-overview-canvas"></canvas>
    </div>
    <div class="year-summary-section">
        <div class="first-year-half">
            <div class="first-half-box">
                <div class="month-name">January</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="first-half-box">
                <div class="month-name">February</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="first-half-box">
                <div class="month-name">March</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="first-half-box">
                <div class="month-name">April</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="first-half-box">
                <div class="month-name">May</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="first-half-box">
                <div class="month-name">June</div>
                <div class="month-amount">$0</div>
            </div>
        </div>

        <div class="second-year-half">
            <div class="second-half-box">
                <div class="month-name">July</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="second-half-box">
                <div class="month-name">August</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="second-half-box">
                <div class="month-name">September</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="second-half-box">
                <div class="month-name">October</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="second-half-box">
                <div class="month-name">November</div>
                <div class="month-amount">$0</div>
            </div>
            <div class="second-half-box">
                <div class="month-name">December</div>
                <div class="month-amount">$0</div>
            </div>
        </div>
    </div>
    <div class="total-year-revenue-section">
        <div class="label">Total Annual Revenue</div>
        <div class="value">$0</div>
    </div>
</section>