<%= button_tag button_label, id: "bank_submit", class: "disable w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt3" %>
<script>
  var linkHandler = Plaid.create({
    env: '<%= Rails.application.secrets.plaid_env %>',
    clientName: 'TSL Adventures',
    key: '<%= Rails.application.secrets.plaid_public_key %>',
    product: ['auth'],
    selectAccount: true,
    onSuccess: function(public_token, metadata) {
      // Grab the form:
      var $form = $('form');
      
      // Insert the token into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="public_token" />').val(public_token));
      $form.append($('<input type="hidden" name="account_id" />').val(metadata.account_id));

      // Submit the form:
      $form.get(0).submit();
    }
  });       

  // Trigger the Link UI
  $(document).ready(function(){
    // $('#submit-btn').prop('disabled', true);
    document.getElementById('bank_submit').onclick = function(e) {
      // $('#submit-btn').prop('disabled', false);
      linkHandler.open();
      e.preventDefault();
    };    
  })
</script>