<% if current_customer_user.customer.card_last_four.present? && current_customer_user.customer.card_brand.present? %>
    <p><b>Card On File:</b> <%= current_customer_user.customer.card_brand %> ending with <%= current_customer_user.customer.card_last_four %></p>
    <%= f.submit 'Submit And Pay With Card on File', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
<% else %>
    <div class="checkout-container w-100 white ph3 pv2 dim outline-0 ba ">
        <button id="checkoutSubmit">Submit and Pay</button>
    </div>
    <script>
        var checkoutWindow = StripeCheckout.configure({
            key: "<%= Rails.application.secrets.stripe_publishable_key %>",
            email: "<%= current_customer_user.email %>",
            token: function(stripeToken) {
                const form = $('form');
                form.append($('<input type="hidden" name="stripeToken" />').val(stripeToken.id));
                $(form).get(0).submit();
            }
        });
        $(document).ready(function() {
            document.getElementById('checkoutSubmit').addEventListener('click', function(e) {
                checkoutWindow.open({
                    name: 'TSL',
                    panelLabel: "Submit and Pay"
                });
                e.preventDefault();
            })
            window.addEventListener('popstate', function() {
            checkoutWindow.close();
            });
        })
    </script>
  
<% end %>

<% if current_customer_user.customer.stripe_bank_identifier.present? && current_customer_user.customer.bank_name.present? && current_customer_user.customer.bank_verified? %>
    <p><b>Bank On File:</b> <%= current_customer_user.customer.bank_name %></p>
    <%= f.submit 'Submit And Pay With Bank on File', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
<% else %>
    <p class="measure center">If you'd like to use a bank account instead, please link it below.</p>
    <%= render 'bank_form', button_label: "Link Bank Details And Pay" %>
<% end %>
