<div class="promo-checkboxes <%= promo_name %>_promo_checkboxes">
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_one" id="<%= promo_name %>_week_1" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_1">Week 1: New to the Crew</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_two" id="<%= promo_name %>_week_2" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_2">Week 2: Ever After</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_three" id="<%= promo_name %>_week_3" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_3">Week 3: Area 51</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_four" id="<%= promo_name %>_week_4" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_4">Week 4: Make it or Break It</label>
    </div>
    <div class="check-box-label-pair">
            <input type="checkbox" value="true" name="week_five" id="<%= promo_name %>_week_5" class="promo_week_checkbox">
            <label for="<%= promo_name %>_week_5">Week 5: Amazing Race</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_six" id="<%= promo_name %>_week_6" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_6">Week 6: Elements</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_seven" id="<%= promo_name %>_week_7" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_7">Week 7: Game On</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_eight" id="<%= promo_name %>_week_8" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_8">Week 8: Commotion</label>
    </div>
    <div class="check-box-label-pair">
        <input type="checkbox" value="true" name="week_nine" id="<%= promo_name %>_week_9" class="promo_week_checkbox">
        <label for="<%= promo_name %>_week_9">Week 9: Ten Years TSL</label>
    </div>
</div>