<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Before and Afterschool</h1>
	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your were NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => 'After School', 'programs.active' => 'true').order(:name).map{|location| [location.dropdown_display_name('After School'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: 'After School' } } %>

				<div id="js-location">
				</div>

				<div id="js-capacity-message">
				</div>
			</div>
		</div>

		<div id="js-capacity-wrapper">
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
			<div id="child-records">
				<%= f.fields_for :child_records do |child_record| %>
					<%= render "child_record_fields", f: child_record %>

					<div class="links list pa0 ma0">
						<%= link_to_add_association 'Add New Child', f, :child_records, class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
					</div>
				<% end %>
			</div>
            <%= f.fields_for :before_and_afterschool_record do |before_and_afterschool_record_fields| %>
                <h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Schedule Selection</h2>
                <div class="year-cycle-selection">
                    <div class="radio-buttons">
                        <div class="input-group">
                            <%= before_and_afterschool_record_fields.radio_button :year_cycle, '2018-2019', id: '2018_2019_radio', checked: true %>
                            <label for="2018_2019_radio">2019 <%= Time.now.to_date.strftime('%B') %> - June</label>
                        </div>
                        <div class="input-group">
                            <%= before_and_afterschool_record_fields.radio_button :year_cycle, '2019-2020', id: '2019_2020_radio' %>
                            <label for="2019_2020_radio">2019 September - 2020 June</label>
                        </div>
                        </div>
                        <div class="notice">
                        Please note that each year cycle has its own set of rates
                        <%= image_tag 'info-icon.png', class: 'info-icon' %>
                        </div>
                        <div class="rates-information">
                        For more information click <%= link_to 'here',  before_and_afterschool_rates_path, target: '_blank' %>.
                        </div>
                </div>
                <div class="record-type-selection-section">
                <h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Registration Type Selection</h2>  
                <div class="after-school-registration-options">
                    <div class="option-pair">
                        <%= before_and_afterschool_record_fields.radio_button :registration_type, 'standard_after_school_registration', id: 'standard_after_school_registration', checked: true %>
                        <label for="standard_after_school_registration">Standard</label>
                    </div>

                    <div class="option-pair with-promo">
                        <%= before_and_afterschool_record_fields.radio_button :registration_type, 'regular_with_promo_after_school_registration', id: 'regular_with_promo_after_school_registration' %>
                        <label for="regular_with_promo_after_school_registration">Promo bundle</label>
                    </div>

                    <div class="option-pair promo-only-after-school">
                        <%= before_and_afterschool_record_fields.radio_button :registration_type, 'promo_only_registration', id: 'promo_only_registration' %>
                        <label for="promo_only_registration">Promo package: single days of care only</label>
                    </div>
                </div>
                <div class="mb3 center" id="before-and-after-school-fields">
                    <%= before_and_afterschool_record_fields.label :start_date, class: "f6 fw7 db mb1" %>
                    <%= before_and_afterschool_record_fields.text_field :start_date, id: 'before-after-school-start-date', class: "input rest ba b--black-20 pa2 mb1 db w-100 date-format", placeholder: 'yyyy-mm-dd', autocomplete: 'off' %><br/>

                    <div id="js-before-school">
                        <label class="f6 fw7 db mb1">Before School:</label>
                        <%= before_and_afterschool_record_fields.check_box :before_school_monday %>
                        <%= before_and_afterschool_record_fields.label :before_school_monday, "Monday" %>
                        <%= before_and_afterschool_record_fields.check_box :before_school_tuesday %>
                        <%= before_and_afterschool_record_fields.label :before_school_tuesday, "Tuesday" %>
                        <%= before_and_afterschool_record_fields.check_box :before_school_wednesday %>
                        <%= before_and_afterschool_record_fields.label :before_school_wednesday, "Wednesday" %>
                        <%= before_and_afterschool_record_fields.check_box :before_school_thursday %>
                        <%= before_and_afterschool_record_fields.label :before_school_thursday, "Thursday" %>
                        <%= before_and_afterschool_record_fields.check_box :before_school_friday %>
                        <%= before_and_afterschool_record_fields.label :before_school_friday, "Friday" %>
                    </div><br/>

                    <div id="js-after-school">
                        <label class="f6 fw7 db mb1">After School:</label>
                        <%= before_and_afterschool_record_fields.check_box :after_school_monday %>
                        <%= before_and_afterschool_record_fields.label :after_school_monday, "Monday" %>
                        <%= before_and_afterschool_record_fields.check_box :after_school_tuesday %>
                        <%= before_and_afterschool_record_fields.label :after_school_tuesday, "Tuesday" %>
                        <%= before_and_afterschool_record_fields.check_box :after_school_wednesday %>
                        <%= before_and_afterschool_record_fields.label :after_school_wednesday, "Wednesday" %>
                        <%= before_and_afterschool_record_fields.check_box :after_school_thursday %>
                        <%= before_and_afterschool_record_fields.label :after_school_thursday, "Thursday" %>
                        <%= before_and_afterschool_record_fields.check_box :after_school_friday %>
                        <%= before_and_afterschool_record_fields.label :after_school_friday, "Friday" %>
                    </div>
                </div>
            <% end %>
                
                <div class="annual-single-day-promo-options">
                    <h4 class="single-day-promo-header">Annual Single Days of Care Packages</h4>
                    <%= f.fields_for :annual_single_day_promo_record do |annual_package_promo| %>
                        <%= annual_package_promo.hidden_field :year_cycle, value: '2019-2020' %>
                        <%= annual_package_promo.radio_button :promo_name, '', checked: true, id: 'no_annual_single_day_package_selected' %>
                        <div class="radio-button-pair">
                            <%= annual_package_promo.radio_button :promo_name, 'one_child_annual_single_day', id: 'one_child_annual_single_day', class: 'annual-single-day-promo-option' %>
                            <label for="one_child_annual_single_day">One child, annual single day care promo: $400</label>
                        </div>
                        <div class="radio-button-pair">
                            <%= annual_package_promo.radio_button :promo_name, 'two_children_annual_single_day', id: 'two_children_annual_single_day', class: 'annual-single-day-promo-option' %>
                            <label for="two_children_annual_single_day">Two children, annual single day care promo: $700</label>
                        </div>
                        <div class="radio-button-pair">
                            <%= annual_package_promo.radio_button :promo_name, 'three_children_annual_single_day', id: 'three_children_annual_single_day', class: 'annual-single-day-promo-option' %>
                            <label for='three_children_annual_single_day'>Three children, annual single day care promo: $900</label>
                        </div>
                    <% end %>
                </div>
                

                <br><%= f.label :coupon_code, "Coupon Code", class: "f6 fw7 db mb1" %>
                <%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
			</div>

			<div>
				<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">5. Payment</h2>
			</div>

			<%= f.check_box :agree_to_tos %>
			<%= f.label :agree_to_tos, "I Agree To <a href='/before-and-afterschool-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>

			<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
			<%= f.hidden_field :referrer, value: 'after_school' %>

            <div class="total-payment-section">
                <div class="shopping-cart-icon"><%= image_tag 'shopping-cart.png' %></div>
                <div class="key-value-pair">
                    <div class="key">Deposit fee: </div>
                    <div class="value" id="deposit-fee-value">$100</div>
                </div>
                <div class="key-value-pair">
                    <div class="key">Registration fee: </div>
                    <div class="value" id="registration-fee-value">$25</div>
                </div>
                <div class="key-value-pair">
                    <div class="key">Annual Package fee: </div>
                    <div class="value" id="annual-package-value">$0</div>
                </div>
                <div class="key-value-pair">
                    <div class="key">Total amount due: </div>
                    <div class="value" id="total-amount-value">$125</div>
                </div>
            </div>

			<%= render "payment_section", f: f %>
		</div>
	<% end %>
</div>
