<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Day Care</h1>

	<div id="js-daycare-code-entry">
		<p class="lh-copy tl"><b>Note: You must have been accepted to day care before filling out this form. Please enter the code provided by your location director below:</b></p>

		<input placeholder="Day Care Code" type="text" class="input rest ba b--black-20 pa2 mb1 db w-100" name="daycare-code" id="js-daycare-code">
		<button class="w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt3" id="js-daycare-code-submit">Submit</button>
	</div>

	<div id="js-daycare-wrapper">
		<%= form_for @registration_record do |f| %>
			<% if @registration_record.errors.any? %>
				<div id="errorExplanation">
					<h2>Your were NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
					<ul>
					<% @registration_record.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<div class="mb3 center">
				<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
				<div>
					<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => "Day Care", 'programs.active' => "true").order(:name).map{|location| [location.dropdown_display_name('Day Care'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: "Day Care" } } %>

					<div id="js-location">
					</div>

					<div id="js-capacity-message">
					</div>
				</div>
			</div>

			<div id="js-capacity-wrapper">
				<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
				<p class="mt0">Accepting children <b id="js-minimum-age">5</b> years old and up at this location.</p>
				<div id="child-records">
					<%= f.fields_for :child_records do |child_record| %>
						<%= render "request_day_care_tour_child_record_fields", f: child_record %>

						<div class="links list pa0 ma0">
							<%= link_to_add_association 'Add New Child', f, :child_records, partial: 'registration_records/request_day_care_tour_child_record_fields', class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
						</div>
					<% end %>
				</div>

				<div>
					<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Start Date</h2>
					<div class="mb3 center">
						<%= f.fields_for :day_care_record do |day_care_record_fields| %>
						<%= day_care_record_fields.label :start_date, class: "f6 fw7 db mb1" %>
						<%= day_care_record_fields.text_field :start_date, class: "input rest ba b--black-20 pa2 mb1 db w-100 date-format", placeholder: 'yyyy-mm-dd' %>
						<% end %>
					</div>
				</div>

				<%= f.check_box :agree_to_tos %>
				<%= f.label :agree_to_tos, "I Agree To <a href='/request-day-care-tour-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/>

				<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
				<%= f.hidden_field :referrer, value: 'day_care' %>

				<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt3" %>
			</div>
		<% end %>
	</div>
</div>
