<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc mb0">Summer Camp</h1>
	<p class="tc">For parents that registered through Groupon</p>

	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your card was NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => "Summer Camp", 'programs.active' => "true").order(:name).map{|location| [location.dropdown_display_name('Summer Camp'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: "Summer Camp" }} %>

				<div id="js-location">
				</div>
			</div>
		</div>

		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
		<p class="mt0">Accepting children <b id="js-minimum-age">5</b> years old and up at this location.</p>
		<div id="child-records">
			<%= f.fields_for :child_records do |child_record| %>
				<%= render "child_record_fields", f: child_record %>

				<div class="links list pa0 ma0">
					<%= link_to_add_association 'Add New Child', f, :child_records, class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
				</div>
			<% end %>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Choose Your Weeks</h2>
			<div class="mb3 center">
				<%= f.fields_for :summer_camp_record do |summer_camp_record_fields| %>
					<div id="js-week-one" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_one %>
						<%= summer_camp_record_fields.label :week_one, "Week 1" %><br/>
					</div>

					<div id="js-week-two" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_two %>
						<%= summer_camp_record_fields.label :week_two, "Week 2" %><br/>
					</div>

					<div id="js-week-three" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_three %>
						<%= summer_camp_record_fields.label :week_three, "Week 3" %><br/>
					</div>

					<div id="js-week-four" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_four %>
						<%= summer_camp_record_fields.label :week_four, "Week 4" %><br/>
					</div>

					<div id="js-week-five" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_five %>
						<%= summer_camp_record_fields.label :week_five, "Week 5" %><br/>
					</div>

					<div id="js-week-six" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_six %>
						<%= summer_camp_record_fields.label :week_six, "Week 6" %><br/>
					</div>

					<div id="js-week-seven" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_seven %>
						<%= summer_camp_record_fields.label :week_seven, "Week 7" %><br/>
					</div>

					<div id="js-week-eight" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_eight %>
						<%= summer_camp_record_fields.label :week_eight, "Week 8" %><br/>
					</div>

					<div id="js-week-nine" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_nine %>
						<%= summer_camp_record_fields.label :week_nine, "Week 9" %><br/>
					</div>

					<div id="js-week-ten" class="dn js-week">
						<%= summer_camp_record_fields.check_box :week_ten %>
						<%= summer_camp_record_fields.label :week_ten, "Week 10" %>
					</div>

					<p><b>If a week is not shown, it means that it is at capacity. Contact <a href="mailto:tsladventures@gmail.com">tsladventures@gmail.com</a> to request being added to any closed week. Your request may or may not be accommodated.</b></p>
				<% end %>
			</div>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Payment</h2>
			<p class="pb3">You've already payed on Groupon!</p>
			<%= f.hidden_field :coupon_code, value: "groupon-2019" %>
		</div>

		<%= f.check_box :agree_to_tos %>
		<%= f.label :agree_to_tos, "I Agree To <a href='/summer-camp-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>

		<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
		<%= f.hidden_field :referrer, value: 'groupon_summer_camp' %>

		<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
	<% end %>
</div>
