<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Request a Daycare Tour</h1>

	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2><%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => 'Day Care Tour', 'programs.active' => 'true').order(:name).map{|location| [location.dropdown_display_name('Day Care Tour'), location.name]}, @registration_record.location), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>

				<div id="js-location">
				</div>
			</div>
		</div>

		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
		<div id="child-records">
			<%= f.fields_for :child_records do |child_record| %>
				<%= render "request_day_care_tour_child_record_fields", f: child_record %>

				<div class="links list pa0 ma0">
					<%= link_to_add_association 'Add New Child', f, :child_records, partial: 'registration_records/request_day_care_tour_child_record_fields', class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
				</div>
			<% end %>
		</div>

		<br/><br/>

		<%= f.check_box :agree_to_tos %>
		<%= f.label :agree_to_tos, "I Agree To <a href='/request-day-care-tour-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>

		<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
		<%= f.hidden_field :referrer, value: 'day_care_tour' %>

		<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt3" %>
	<% end %>
</div>
