<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Single Day Care</h1>

	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your were NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => "Single Day", 'programs.active' => "true").order(:name).map{|location| [location.dropdown_display_name('Single Day'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: 'Single Day' }} %>

				<div id="js-location">
				</div>
			</div>
		</div>

		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
		<p class="mt0">Accepting children <b id="js-minimum-age">5</b> years old and up at this location.</p>
		<div id="child-records">
			<%= f.fields_for :child_records do |child_record| %>
				<%= render "child_record_fields", f: child_record %>

				<div class="links list pa0 ma0">
					<%= link_to_add_association 'Add New Child', f, :child_records, class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
				</div>
			<% end %>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Registration Type Selection</h2>
			<%= f.fields_for :single_day_date_records_attributes do |single_day_date_ids| %>
				<div class="single-day-date-registration-options">
				</div>
			<%end%>
			<%= f.fields_for :single_day_record do |single_day_record_fields| %>
				<div class="single-day-registration-options">
					<div class="single-day-option-pair">
						<%= single_day_record_fields.radio_button :registration_type, 'standard_single_day_registration', id: 'standard_single_day_registration', checked: true %>
						<label for="standard_single_day_registration">Standard Registration</label>
					</div>
					<div class="single-day-option-pair">
						<%= single_day_record_fields.radio_button :registration_type, 'promo_registration', id: 'promo_registration' %>
						<label for="promo_registration">Promotional: Year-round Single days of care</label>
					</div>
				</div>
				<div class="single-day-date-selection">
				<%= single_day_record_fields.label :single_day_date_id, "What day are you registering for?", class: "f6 fw7 db mb1" %>
				<%= single_day_record_fields.hidden_field :single_day_date_id, value: ""%>
 				<div class="dates-here"></div>
 					<%

=begin%>
 <%= single_day_record_fields.label :single_day_date_id, "What day are you registering for?", class: "f6 fw7 db mb1" %>
					<%= single_day_record_fields.select :single_day_date_id, options_from_collection_for_select([], 'id', 'display_name'), include_blank: true %>  
<%
=end%>

				</div>
			<% end %>
		</div>
		<div class="year-round-single-day-promo-options">
			<h4 class="single-day-promo-header">Year-round Single Days of Care Packages</h4>
			<%= f.fields_for :annual_single_day_promo_record do |annual_package_promo| %>
				<%= annual_package_promo.hidden_field :year_cycle, value: '2019-2020' %>
				<%= annual_package_promo.radio_button :promo_name, '', checked: true, id: 'no_annual_single_day_package_selected' %>
					<div class="radio-button-pair">
					<%= annual_package_promo.radio_button :promo_name, 'one_child_annual_single_day', id: 'one_child_annual_single_day', class: 'annual-single-day-promo-option' %>
					<label for="one_child_annual_single_day">One child, annual single day care promo: $400</label>
				</div>
				<div class="radio-button-pair">
					<%= annual_package_promo.radio_button :promo_name, 'two_children_annual_single_day', id: 'two_children_annual_single_day', class: 'annual-single-day-promo-option' %>
					<label for="two_children_annual_single_day">Two children, annual single day care promo: $700</label>
				</div>
				<div class="radio-button-pair">
					<%= annual_package_promo.radio_button :promo_name, 'three_children_annual_single_day', id: 'three_children_annual_single_day', class: 'annual-single-day-promo-option' %>
					<label for='three_children_annual_single_day'>Three children, annual single day care promo: $900</label>
				</div>
			<% end %>
		</div>
		<div class="year-round-tool-tip">
			​Registrants of this package may send their child(ren) to any full day of care not included in vacation camp, summer camp, 
			or any other camp that is being offered as a full week. 
			Days that are included in the full day of care package include and are not limited to: conference days, Veteran’s day, Election Day, Jewish holidays, Columbus Day, Thanksgiving Eve, Christmas or New Year’s Eve, 
			Martin Luther King Day. Once purchased, there will be no refunds on the single day annual package after 30 days. You will not need to register for any single day on the website and will be entitled to simply 
			send your child to any full day of care needed during the year given a courtesy email to your respective site director.
		</div>
		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Payment</h2>
			<%= f.label :coupon_code, "Coupon Code", class: "f6 fw7 db mb1" %>
			<%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %><br/>

			<p class='single-day-payment-amount'>You will be charged <span>$50</span> on each day you are registering for.</p>
		</div>

		<%= f.check_box :agree_to_tos %>
		<%= f.label :agree_to_tos, "I Agree To <a href='/single-day-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>

		<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
		<%= f.hidden_field :referrer, value: 'single_day' %>

		<%= render 'payment_section', f: f %>
	<% end %>
</div>