<div class="w-100 w-80-m w-50-l center pa3 tc">
	<h1 class="f3 f2-ns lh-copy tc green">Success!</h1>
	<p class="f4 lh-copy black">You have successfully registered.<br/> You will receive an email shortly with a payment receipt as well as an email from your program director containing onboarding materials.</p>
</div>
