<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Summer Camp</h1>
	<h2 class="b tc">If you are are a Groupon customer <span class="underline">you are in the wrong place</span>. Please sign up through the link that you were provided with.</h2>

	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your were NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs).where('programs.name' => "Summer Camp", 'programs.active' => "true").order(:name).map{|location| [location.dropdown_display_name('Summer Camp'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: "Summer Camp" }} %>

				<div id="js-location">
				</div>
			</div>
		</div>

		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
		<p class="mt0">Accepting children <b id="js-minimum-age">5</b> years old and up at this location.</p>
		<div id="child-records">
			<%= f.fields_for :child_records do |child_record| %>
				<%= render "child_record_fields", f: child_record %>

				<div class="links list pa0 ma0">
					<%= link_to_add_association 'Add New Child', f, :child_records, class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
				</div>
			<% end %>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Choose Your Registration type</h2>
			<div class="mb3 center">
                <div class="summer-registration-option">
                    <div>
                        <input type="radio" name="summer_camp_registration_option" id="summer_camp_promo_registration" value="summer_camp_promo_registration"><label for="summer_camp_promo_registration">The Kids Crew Summer specials: Pay for summer upfront SAVE 10%, a free TSL summer T-shirt and no registration fee.</label>
                        <input type="hidden" value="false" name="summer_camp_promo_registration_chosen">
                    </div>
                    <div>
                        <input type="radio" name="summer_camp_registration_option" id="summer_camp_regular_registration" value="summer_camp_regular_registration"><label for="summer_camp_regular_registration">Regular Registration</label> 
                        <input type="hidden" value="false" name="summer_camp_regular_registration_chosen">
                    </div>
                </div>
                 
                <div class="summer-camp-promo-section">
                <h4>Promo package registration</h4>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="one_child_nine_weeks" id="one_child_nine_weeks"><label for="one_child_nine_weeks"> One child, nine weeks: $1, 539</label>
                    </div>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="two_children_nine_weeks" id="two_children_nine_weeks"><label for="two_children_nine_weeks"> Two children, nine weeks: $2, 550</label>
                    </div>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="three_children_nine_weeks" id="three_children_nine_weeks"> <label for="three_children_nine_weeks"> Three children, nine weeks: $3, 320</label>
                    </div>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="one_child_five_weeks" id="one_child_five_weeks"><label for="one_child_five_weeks"> One child, five weeks: $855</label>
                        <div class="promo-checkboxes one_child_five_weeks_promo_checkboxes">
                            <%= render partial: 'summer_camp_promo_checkboxes', locals: {promo_name: 'one_child_five_weeks'} %>
                        </div>
                    </div>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="two_children_five_weeks" id="two_children_five_weeks"><label for="two_children_five_weeks"> Two children, five weeks: $1, 418</label>
                        <div class="promo-checkboxes two_children_five_weeks_promo_checkboxes">
                            <%= render partial: 'summer_camp_promo_checkboxes', locals: {promo_name: 'two_children_five_weeks'} %>  
                        </div>
                    </div>
                    <div class="promo-item">
                        <input type="radio" name="promo_name" value="three_children_five_weeks" id="three_children_five_weeks"><label for="three_children_five_weeks"> Three children, five weeks: $1, 868</label>
                        <div class="promo-checkboxes three_children_five_weeks_promo_checkboxes">
                            <%= render partial: 'summer_camp_promo_checkboxes', locals: {promo_name: 'three_children_five_weeks'} %>
                        </div>
                    </div>
                    <div class="promo-package-disclaimer">
                        <h4>Disclaimer</h4>
                        <em>
                            You are paying a discounted rate for a summer package. We will not refund portions of this package cost if you decide to drop weeks. You can request a full refund prior to May 15th if you decide to opt for standard registration. 
                        </em>  
                    </div>
                </div>

                <div class="summer-camp-regular-registration-section">
                    <%= f.fields_for :summer_camp_record do |summer_camp_record_fields| %>
                        <h4 id="regular-regisration-header">Regular registration</h4>
                        <div id="js-week-one" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_one, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_one, "Week 1" %><br/>
                        </div>

                        <div id="js-week-two" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_two, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_two, "Week 2" %><br/>
                        </div>

                        <div id="js-week-three" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_three, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_three, "Week 3" %><br/>
                        </div>

                        <div id="js-week-four" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_four, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_four, "Week 4" %><br/>
                        </div>

                        <div id="js-week-five" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_five, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_five, "Week 5" %><br/>
                        </div>

                        <div id="js-week-six" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_six, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_six, "Week 6" %><br/>
                        </div>

                        <div id="js-week-seven" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_seven, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_seven, "Week 7" %><br/>
                        </div>

                        <div id="js-week-eight" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_eight, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_eight, "Week 8" %><br/>
                        </div>

                        <div id="js-week-nine" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_nine, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_nine, "Week 9" %><br/>
                        </div>

                        <div id="js-week-ten" class="dn js-week">
                            <%= summer_camp_record_fields.check_box :week_ten, class: 'regular_registration_checkbox' %>
                            <%= summer_camp_record_fields.label :week_ten, "Week 10" %>
                        </div>
					    <p><b>If a week is not shown, it means that it is at capacity. Contact <a href="mailto:tsladventures@gmail.com">tsladventures@gmail.com</a> to request being added to any closed week. Your request may or may not be accommodated.</b></p>
				    <% end %>
                </div>
			</div>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Payment</h2>
			<%= f.label :coupon_code, "Coupon Code", class: "f6 fw7 db mb1" %>
			<%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>

			<p class="summer-camp-registration-fee">You will be charged a <strong>$150</strong> deposit and a <strong>$25</strong> registration fee (non package registration).</p>
            <p><u style="text-decoration-skip-ink: none;">CIT applications</u> are exempt from both the deposit and registration fee.</p>
		</div>

		<%= f.check_box :agree_to_tos %>
		<%= f.label :agree_to_tos, "I Agree To <a href='/summer-camp-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>
        <div>(The TOS is your binding CONTRACT with TSL. Please take time to read it before proceeding)</div><br>

		<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
		<%= f.hidden_field :referrer, value: 'summer_camp' %>

		<%= render "payment_section", f: f %>
	<% end %>
</div>
