<div class="w-100 w-80-m w-50-l center pa3">
	<h1 class="f3 f2-ns lh-copy tc">Vacation Camp</h1>

	<%= form_for @registration_record do |f| %>
		<% if @registration_record.errors.any? %>
			<div id="errorExplanation">
				<h2>Your were NOT charged. <%= pluralize(@registration_record.errors.count, "error") %> prohibited this record from being saved:</h2>
				<ul>
				<% @registration_record.errors.full_messages.each do |msg| %>
					<li><%= parse_error_message(msg) %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb3 center">
			<h2 class="f6 lh-title ttu tracked mv0 pv3 orange relative left--1-ns">1. Pick a Location</h2>
			<div>
				<%= f.select :location, options_for_select(Location.includes(:programs)
					.where('programs.name' => "Vacation Camp", 'programs.active' => "true")
					.order(:name).map{|location| [location.dropdown_display_name('Vacation Camp'), location.name]}, @registration_record.location), { include_blank: true }, { class: "bg-white ba b--black-20 pa3 mb1 db", data: { program: 'Vacation Camp' }} %>

				<div id="js-location">
				</div>

				<div id="js-extra-notes">
				</div>
			</div>
		</div>

		<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Child(ren)’s Info</h2>
		<p class="mt0">Accepting children <b id="js-minimum-age">5</b> years old and up at this location.</p>
		<div id="child-records">
			<%= f.fields_for :child_records do |child_record| %>
				<%= render "child_record_fields", f: child_record %>

				<div class="links list pa0 ma0">
					<%= link_to_add_association 'Add New Child', f, :child_records, class: "pointer ph3 pv2 bg-green white outline-0 ba b--black-20 mb3 js-child-records-add" %>
				</div>
			<% end %>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">3. Attendance Schedule</h2>
			<div class="mb3 center">
				<div id="vacation_camp_schedules"></div>
				<h2 class="promo">
					**The Crews' Special: Save $50 on the three camp packages!
				</h2>

				<h3 class="ad">
					*Individual days for each week will only be sold if space allows,
					two weeks prior to each camp start date under the single day registration page.
				</h3>
			</div>
		</div>

		<div>
			<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">4. Payment</h2>
			<%= f.label :coupon_code, "Coupon Code", class: "f6 fw7 db mb1" %>
			<%= f.text_field :coupon_code, placeholder: "Coupon Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %><br/>

			<p>You'll be charged <b id="js-payment-amount">$150</b>.</p>
		</div>

		<%= f.check_box :agree_to_tos %>
		<%= f.label :agree_to_tos, "I Agree To <a href='/vacation-camp-terms-of-service' target='_blank'>The Terms of Service</a>".html_safe %><br/><br/>

		<%= f.hidden_field :customer_id, value: current_customer_user.customer.id %>
		<%= f.hidden_field :referrer, value: 'vacation_camp' %>

		<%= render "payment_section", f: f %>
	<% end %>
</div>
