<div class="receipt-child-record">
    <div class="full-name">
        <div class="name">Name: </div>
        <div class="value"> <%= child.full_name %></div>
    </div>
    <div class="age">
        <div class="name">Age: </div>
        <div class="value"> <%= child.age %></div>
    </div>
</div>