 <table>
    <tr>
        <th>Date of Issuance</th>
        <th>Program name</th>
        <th>Payment for</th>
        <th>Amount</th>
        <th>&nbsp;</th>
    </tr>
    <% receipts.each do |rec| %>
        <tr>
            <td><%= rec.created_at.to_date.to_formatted_s(:long)%></td>
            <td><%= rec.program_name %></td>
            <td><%= rec.payment_for%></td>
            <td>$<%= rec.amount.to_i %></td>
            <td><%= link_to "View receipt", rec %></td>
        </tr>
    <% end %>
</table>