<div class="receipts">
    <% if @current_customer.receipts.present? %>
        <h4>Receipts</h4>
        <div class="summative-receipt-button-container">
            <%= link_to "Summative Receipt", summative_receipts_path, class: "asr-button" %>
        </div>
        <div class="container">
            <div class="table-container">
            <%= render 'receipts', receipts: @receipts %>
            </div>
            <%= paginate @receipts, window: 2 %>           
        </div>
    <% else %>
        <h4 id="no-receipts">No Invdividual Receipts to display</h4>
        <div class="no-receipts-summative-container">
            <%= link_to "Summative Receipt", summative_receipts_path, class: "asr-button" %>
        </div>
    <% end %>
</div>