<div class="receipt-show">
    <div class="container">
        <div class="header-container">
            <h4 id="tsl-header">TSL Adventures</h4>
            <button class="print-button" onClick="window.print()">Print Preview</button>
        </div>
        <div class="company-info">
            <div class="text">
                <p>183 Schoolhouse Rd</p>
                <p>Albany, NY 12203</p>
                <p>Fax: 518-456-0762</p>
                <p>Email: TSLadventures@gmail.com</p>
                <p>Website: www.tsladventures.net</p>
            </div>
            <%= image_tag '/assets/new-logo.png', id: 'logo' %>
        </div>
        <h4 id="payment-header">Payment Receipt</h4>
        <div class="issuance-date">
            <span class="receipt-number">Receipt ID: <strong><%= @receipt.id %></strong></span>
            <span><strong>Date: </strong><%= @receipt.created_at.to_date.to_formatted_s(:long)%></span>  
        </div>
        <div class="payment">
            <div class="customer">
                <div class="name">
                    Payment received from:
                </div>
                <div class="value">
                    <%= @receipt.customer.name %>
                </div>
            </div>
            <div class="amount">
                <div class="name">
                    Amount: 
                </div>
                <div class="value">
                    $<%= number_with_precision(@receipt.amount, :precision => 2, :delimiter => ' ,') %>
                </div>
            </div>
        </div>
        <div class="payment-for">
            <div class="service-name">
                <div class="name">
                    Payment for:
                </div>
                 <div class="value">
                    <%= @receipt.payment_for %>
                </div>
            </div>
           <div class="service-date">
               <div class="name">
                   <%= label_for_date_of_service(@receipt) %>
               </div>
               <div class="value">
                    <% if @receipt.registration_record.present? %>
                        <% if @receipt.registration_record.program.name == 'Summer Camp' %>
                            <% if @receipt.payment_for.include? 'Deposit' %>
                                <div class="selected-summer-camp-weeks">
                                    <% date_of_service(@receipt).each do |week| %>
                                        <div class="data-row">
                                            <%= week.display_name %>
                                        </div>
                                    <% end %>
                                </div>
                            <% elsif @receipt.payment_for.include? 'Invoice' %>
                                <%= summer_camp_week_date_of_service(@receipt.invoice.due_date) %>
                            <% end %>
                        <% else %>
                            <%= date_of_service(@receipt) %>
                        <% end %>
                    <% end %>
               </div>
           </div>
        </div>
        <% if @receipt.registration_record.present? %>
            <% if @receipt.registration_record.program.name == 'Summer Camp' %>
                <h5>Services are rendered for the whole week for every indicated item.</h5>    
            <% end %>
        <% end %>
        <% if @receipt.registration_record.present? %>
            <h4 id="child-record"><%= pluralize_child_count(@receipt)%> Information</h4>
            <div class="child-record-table">
                <div class="container">
                    <% if child_record_present?(@receipt) %>
                        <% receipt_child_records(@receipt).each do |child| %>
                            <%= render partial: 'child', locals: {child: child} %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>

        <% if @receipt.purchase.present? %>
            <div class="purchased-items">
                <div class="key">
                    Items: 
                </div>
                <div class="value">
                    <% if false%>
                        <ul class="item-list">
                            <% @receipt.purchase.order_details.each do |order| %>
                                <li><%= order %></li>
                            <% end %>
                        </ul>
                    <% end %>

                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @receipt.purchase.order_details.each do |order| %>
                                <tr>
                                    <td><%= order.product.name %></td>
                                    <td><%= order.size.name %></td>
                                    <td>$<%= number_with_precision(order.size.price, precision: 2) %></td>
                                    <td><%= order.quantity %></td>
                                    <td>$<%= number_with_precision(order.total_amount, precision: 2) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% end %>

        <div class="tax">
            <h4 class="company-tax-label">Company Tax ID Number: </h4>
            <span>26-3268474</span>
        </div>
        
    </div>
</div>

<div class="receipt-disclaimer">
    For inquiries about your receipt, please contact the Administrator and provide them the Receipt ID. (This message is not included when this receipt is printed)
</div>