<div class="summative-receipt">
    <div class="container">
        <h4 id="sr-title">Annual Summative Receipt</h4>
        <h5 id="year-header">For Year <%= @default_year %></h5>
        <button class="print-button" onClick="window.print()">Print Preview</button>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fas fa-arrow-up"></i></button>
        <%= form_tag summative_receipts_path, method: :get, id: "summative-year-select-form" do %>
            <div class="summative-year-select-container">
                <div class="select-shroud">
                     <select name="summative_receipt_for_year" id="summative-year-select" onChange="this.form.submit()">
                        <option value="<%= @default_year %>" name="year"><%= @default_year %></option>
                        <option value="<%= @other_year %>" name="year"><%= @other_year %></option>
                    </select>
                </div>
            </div>
        <% end %>
        <div class="logo-container">
             <%= image_tag 'new-logo.png', id: "logo" %>
        </div>
        <div class="company-information">
            <p>183 Schoolhouse Rd</p>
            <p>Albany, NY 12203</p>
            <p>Fax: 518-456-0762</p>
            <p>Email: TSLadventures@gmail.com</p>
            <p>Website: www.tsladventures.net</p>
            <span class="tax">
                <h4 class="company-tax-label">Company Tax ID Number: </h4>
                <span>26-3268474</span>
            </span>
        </div>
        <h4 id="client-header">Client Information</h4>
        <div class="client-information">
            <p><%= @customer.name %></p>
            <p><%= @customer.address_line_one %></p>
            <p><%= "#{@customer.city}, #{@customer.state}, #{@customer.zip_code}" %></p>
            <p><%= @customer.phone_number %></p>
        </div>
        <section class="single-day-section">
            <% if @single_day_records.present? %>
                    <h4 id="single-day-header" class="section-header">
                        <%= "Single Day Registration".pluralize(@single_day_records.count) %> Summary
                    </h4>
                    <div class="single-day-table-container">
                        <table id="single-day-table">
                            <tr>
                                <th>Registration #</th> 
                                <th>Enrollment Information</th>
                                <th>Date of Registration</th>   
                                <th>Date of Service</th>
                                <th>Amount paid</th>
                            </tr>
                            <% @single_day_records.each do |rec| %>
                                <tr>
                                    <td><%= rec.id %></td>
                                    <td>
                                        <% if rec.child_records.present? %>
                                            <% rec.child_records.each do |child| %>
                                                <div class="child-record">
                                                    <%= child.full_name %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td><%= rec.single_day_record.day %></td>
                                    <td>
                                        <% if rec.single_day_date.present? %>
                                            <%= rec.single_day_record.single_day_date.date.to_formatted_s(:long) %>
                                        <% else %>
                                            <%= rec.single_day_record.day %>
                                        <% end %>   
                                    </td>
                                    <td>$<%= rec.amount_paid.to_i %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                    <% if @single_day_records.present? %>
                        <div class="subtotal-container section-total">
                            <div class="subtotal">
                                <span>Single Day Sub total:</span>
                                <span>$<%= number_with_delimiter(@single_day_sub_total, :delimiter => ', ') %></span>
                            </div>
                        </div>
                    <% end%>
            <% end %>
        </section>
        <div class="before-and-afterschool-section">
            <% if @before_and_afterschool_records.present? %>
                <h4 id="before-and-afterschool-header" class="section-header">
                    Before and After School <%= "Registration".pluralize(@before_and_afterschool_records.count) %> Summary
                </h4>
                <div class="registration-information">
                    <% @before_and_afterschool_records.each do |rec| %>
                        <div class="record-information">
                            <div class="record-data">
                                <span class="key">Registration Record: </span>
                                <div class="value">#<%= rec.id %></div>
                            </div>
                            <div class="before-and-afterschool-child-record">
                                <span class="key">Enrollment Information: </span>
                                <div class="value">
                                    <% if rec.child_records.present? %>
                                    <ul>
                                        <% rec.child_records.each do |child| %>   
                                            <li><div class="child-record"><%= child.full_name %></div></li>
                                        <% end %>
                                    </ul>
                                    <% end %>  
                                </div>
                            </div>
                            <div class="record-data">
                                <span class="key">Start Date: </span>
                                <div class="value"><%= format_date(rec.before_and_afterschool_record.start_date) %></div>
                            </div>
                            <% if rec.created_at.year == @default_year.to_i %>
                                <div class="record-data">
                                    <span class="key">Registration Date: </span>
                                    <span class="value"><%= rec.created_at.to_date.strftime('%B %d, %Y') %></span>
                                </div>
                                <div class="record-data">
                                    <span class="key">Amound paid: </span>
                                    <span class="value">$<%= rec.amount_paid.to_i %></span>
                                </div>
                            <% end %>
                        </div>
                        <div class="invoices">
                            <h4 class="invoice-header"><%= "Invoice".pluralize(rec.invoices.count) %></h4>
                            <% if rec.invoices.present? %>
                                <div class="invoices-table-container">
                                    <table class="invoices-table">
                                        <tr>
                                            <th>Invoice #</th>
                                            <th>Description</th>
                                            <th>Due Date</th>
                                            <th>Amount Paid</th>
                                        </tr>
                                        <% rec.invoices.where('extract (year from due_date) = ?', @default_year).order('due_date DESC').each do |invoice| %>
                                        <tr>
                                            <td><%= invoice.id %></td>
                                            <td><%= invoice.memo %></td>
                                            <td><%= format_date(invoice.due_date) %></td>
                                            <td>$<%= invoice.amount_paid_to_dollars %></td>
                                        </tr>
                                    <% end %>
                                    </table>
                                </div>
                            <% else %>
                                <h4 style="text-align: center;">There are no Invoices for this record.</h4>
                            <% end %>
                            <div class="subtotal-container">
                                <div class="subtotal">
                                    <span>Subtotal:</span>
                                    <span>$<%= rec.total_amount_including_invoices_due_in(@default_year) %></span>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <% if @before_and_afterschool_records.present? %>
                    <div class="subtotal-container section-total">
                    <div class="subtotal">
                        <span>Before and After School Subtotal:</span>
                        <span>$<%= number_with_delimiter(@before_and_afterschool_records_total, :delimiter => ', ') %></span>
                    </div>
                </div>
                <% end %>
               
            <% end %>
        </div>
        <div class="day-care-section">
            <% if @day_care_records.present? %>
                <h4 id="before-and-afterschool-header" class="section-header">
                    Day Care <%= "Registration".pluralize(@day_care_records.count) %> Summary
                </h4>
                <div class="registration-information">
                    <% @day_care_records.each do |rec| %>
                        <div class="record-information">
                            <div class="daycare-child-record">
                                <span class="key">Registration Record: </span>
                                <span class="value">#<%= rec.id %></span>
                            </div>
                            <div class="record-data">
                                <span class="key">Enrollment Information: </span>
                                <div class="value">
                                    <% if rec.child_records.present? %>
                                    <ul>
                                        <% rec.child_records.each do |child| %>   
                                            <li><div class="child-record"><%= child.full_name %></div></li>
                                        <% end %>
                                    </ul>
                                    <% end %>  
                                </div>
                            </div>
                            <div class="record-data">
                                <span class="key">Start Date: </span>
                                <span class="value"><%= format_date(rec.day_care_record.start_date) %></span>
                            </div>
                            <div class="record-data">
                                <span class="key">Amound paid: </span>
                                <span class="value">$<%= rec.amount_paid.to_i %></span>
                            </div>
                        </div>
                        <div class="invoices">
                            <h4 class="invoice-header"><%= "Invoice".pluralize(rec.invoices.count) %></h4>
                        <% if rec.invoices.present? %>
                            <div class="invoices-table-container">
                                <table class="invoices-table">
                                    <tr>
                                        <th>Invoice #</th>
                                        <th>Description</th>
                                        <th>Due Date</th>
                                        <th>Amount Paid</th>
                                    </tr>
                                    <% rec.invoices.where('extract (year from created_at) = ?', @default_year).order('due_date DESC').each do |invoice| %>
                                        <tr>
                                            <td><%= invoice.id %></td>
                                            <td><%= invoice.memo %></td>
                                            <td><%= format_date(invoice.due_date) %></td>
                                            <td>$<%= invoice.amount_paid_to_dollars %></td>
                                        </tr>
                                    <% end %>
                                </table>
                            </div>
                        <% else %>
                            <h4 style="text-align: center">There are no Invoices for this record.</h4>
                        <% end %>
                            <% if @day_care_records.present? %>
                                <div class="subtotal-container section-total">
                                    <div class="subtotal">
                                        <span>Day Care Subtotal:</span>
                                        <span>$<%= number_with_delimiter(@day_care_records_total, :delimiter => ', ') %></span>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="vacation-camp-section">
            <% if @vacation_camp_records.present? %>
                <h4 class="section-header">
                    Vacation Camp <%= "Registration".pluralize(@vacation_camp_records.count) %> Summary
                </h4>
                <div class="vacation-camp-records-table-container">
                    <table id="vacation-camp-records-table">
                    <tr>
                        <th>Registration #</th>
                        <th>Registration Date</th>
                        <th>Camp Schedules</th>
                        <th>Enrollment Information</th>
                        <th>Amount Paid</th>
                    </tr>
                    <% @vacation_camp_records.each do |rec| %>
                        <tr>
                            <td><%= rec.id %></td>
                            <td><%= format_date(rec.created_at.to_date) %></td>
                            <td>
                                <ul id="camp-schedules" class="record-list">
                                    <% rec.vacation_camp_records.each do |vac| %>
                                        <% if vac.vacation_camp_schedule.present? %>
                                            <li><%= vac.vacation_camp_schedule.schedule_summary.gsub("|", "") %></li>
                                        <% else %>
                                            <li><%= format_old_vacation_camp_schedule(vac) %></li>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </td>
                            <td>
                                <ul class="record-list">
                                    <% rec.child_records.each do |child| %>
                                        <li><%= child.full_name %></li>
                                    <% end %>
                                </ul>
                            </td>
                            <td>$<%= rec.amount_paid.to_i %></td>
                        </tr>
                    <% end %>
                    </table>
                </div>
                
            <% end %>
            <% if @vacation_camp_records.present? %>
                 <div class="vacation-camp-total">
                    <div class="subtotal-container section-total">
                        <div class="subtotal">
                            <span>Vacation Camp Subtotal:</span>
                            <span>$ <%= number_with_delimiter(@vacation_camp_records_total, delimiter: ', ') %></span>
                        </div>
                    </div>
                </div>
            <% end %>
           
        </div>
        <div class="summer-camp-section">
            <% if @summer_camp_records.present? %>
                <h4 class="section-header">
                    Summer Camp <%= "Registration".pluralize(@vacation_camp_records.count) %> Summary
                </h4>
                <div class="registration-information">
                    <% @summer_camp_records.each do |rec| %>
                        <div class="record-information">
                            <div class="record-data">
                                <span class="key">Registration Record: </span>
                                <span class="value">#<%= rec.id %></span>
                            </div>
                            <div class="summer-camp-child-record">
                                <span class="key">Enrollment Information: </span>
                                <div class="value">
                                    <% if rec.child_records.present? %>
                                    <ul>
                                        <% rec.child_records.each do |child| %>   
                                            <li><div class="child-record"><%= child.full_name %></div></li>
                                        <% end %>
                                    </ul>
                                    <% end %>
                                </div>
                            </div>
                            <div class="record-data">
                                <span class="key">Number of Weeks: </span>
                                <span class="value"><%= format_date(rec.summer_camp_record.amount_of_weeks) %></span>
                            </div>
                            <% if rec.created_at.year == @default_year.to_i %>
                                 <div class="record-data">
                                    <span class="key">Registration Date: </span>
                                    <span class="value"><%= rec.created_at.to_date.strftime('%B %d, %Y') %></span>
                                </div>
                                <div class="record-data">
                                    <span class="key">Amound paid: </span>
                                    <span class="value">$<%= rec.amount_paid.to_i %></span>
                                </div>
                            <% end %>
                        </div>
                        <div class="invoices-table-container">
                            <div class="invoices">
                            <h4 class="invoice-header"><%= "Invoice".pluralize(rec.invoices.count) %></h4>
                            <% if rec.invoices.present? %>
                                <div>
                                    <table class="invoices-table">
                                        <tr>
                                            <th>Invoice #</th>
                                            <th>Description</th>
                                            <th>Due Date</th>
                                            <th>Amount Paid</th>
                                        </tr>
                                        <% @all_invoices.where(registration_record_id: rec.id).where('extract (year from due_date) = ?', @default_year).each do |invoice| %>
                                            <tr>
                                                <td><%= invoice.id %></td>
                                                <td><%= invoice.memo %></td>
                                                <td><%= format_date(invoice.due_date) %></td>
                                                <td>$<%= invoice.amount_paid_to_dollars %></td>
                                            </tr>
                                        <% end %>
                                    </table>
                                </div>
                            <% else %>
                                <h4 style="text-align: center">There are no Invoices for this record.</h4>
                            <% end %>
                            <div class="subtotal-container">
                                <div class="subtotal">
                                    <span>Subtotal:</span>
                                    <span>$<%= rec.summer_camp_total_amount_including_invoices_due_in(@default_year) %></span>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                    <% end %>
                </div>
            <% end %>
            <% if @summer_camp_records.present? %>
                <div class="subtotal-container section-total">
                    <div class="subtotal">
                        <span>Summer Camp Subtotal:</span>
                        <span>$<%= number_with_delimiter(@summer_camp_sub_total, :delimiter => ', ') %></span>
                    </div>
                </div>
            <% end %>
        </div>
        <section class="annual-single-day-section">
            <% if @annual_single_day_records.present? %>
                    <h4 id="annual-single-day-header" class="section-header">
                        <%= "Annual Single Day Registration".pluralize(@single_day_records.count) %> Summary
                    </h4>
                    <div class="annual-single-day-container">
                        <table id="annual-single-day-table">
                            <tr>
                                <th>Registration #</th>
                                <th>Enrollment Information</th>
                                <th>Date of Registration</th>
                                <th>Amount paid</th>
                            </tr>
                            <% @annual_single_day_records.each do |rec| %>
                                <tr>
                                    <td><%= rec.id %></td>
                                    <td>
                                        <% if rec.child_records.present? %>
                                            <% rec.child_records.each do |child| %>
                                                <div class="child-record">
                                                    <%= child.full_name %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td><%= rec.created_at.to_date.to_formatted_s(:long) %></td>
                                    <td>$<%= rec.amount_paid.to_i %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                    <% if @annual_single_day_records.present? %>
                        <div class="subtotal-container section-total">
                            <div class="subtotal">
                                <span>Annual single day subtotal:</span>
                                <span>$<%= number_with_delimiter(@annual_single_day_records_total, :delimiter => ', ') %></span>
                            </div>
                        </div>
                    <% end%>
            <% end %>
        </section>
        <div class="purchase-section before-and-afterschool-section">
            <% if @purchases.present? %>
                <h4 id="annual-single-day-header" class="section-header">
                    <%= "Shop Purchase".pluralize(@single_day_records.count) %> Summary
                </h4>
                <div class="registration-information">
                    <% @purchases.each do |pur| %>
                        <div class="record-information">
                            <div class="record-data">
                                <span class="key">Transaction: </span>
                                <div class="value">#<%= pur.id %></div>
                            </div>
                            <div class="record-data">
                                <span class="key"> Date of Purchase: </span>
                                <div class="value"><%= format_date(pur.created_at.to_date) %></div>
                            </div>
                            <div class="record-data">
                                <span class="key">Amound paid: </span>
                                <span class="value">$<%= number_with_precision(pur.total_amount, precision: 2) %></span>
                            </div>
                            <div class="record-data">
                                <span class="key">Below is the list of ordered items:</span>
                            </div>
                        </div>
                        <div class="single-day-table-container">
                            <table id="single-day-table">
                                <tr>
                                    <th>Name</th> 
                                    <th>Size</th>
                                    <th>Price</th>   
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                                <% pur.order_details.each do |order| %>
                                    <tr>
                                        <td><%= order.product.name %></td>
                                        <td><%= order.size.name %></td>
                                        <td>$<%= number_with_delimiter(number_with_precision(order.size.price, precision: 2), delimiter: ', ') %></td>
                                        <td><%= order.quantity %></td>
                                        <td>$<%= number_with_delimiter(number_with_precision(order.total_amount, precision: 2), delimiter: ', ') %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>
                </div>
                <div class="subtotal-container section-total">
                    <div class="subtotal">
                        <span>Purchases total:</span>
                        <span>$<%= number_with_delimiter(number_with_precision(@purchases_total, precision: 2), delimiter: ', ') %></span>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="grand-total-section">
            <div class="section-container">
                <% if @single_day_records.present? %>
                    <div class="data">
                        <span class="key">Single Day Subtotal: </span>
                        <span class="value">$<%= @single_day_sub_total %></span>
                    </div>
                <% end %>
                <% if @before_and_afterschool_records.present? %>
                    <div class="data">
                        <span class="key">Before and After School Subtotal: </span>
                        <span class="value">$<%=  number_with_delimiter(@before_and_afterschool_records_total, delimiter: ', ') %></span>
                    </div>
                <% end %>
                <% if @day_care_records.present? %>
                    <div class="data">
                        <span class="key">Day Care Subtotal: </span>
                        <span class="value">$<%=  number_with_delimiter(@day_care_records_total, delimiter: ', ') %></span>
                    </div>
                <% end %>
                <% if @vacation_camp_records.present? %>
                    <div class="data">
                        <span class="key">Vacation Camp Subtotal: </span>
                        <span class="value">$<%=  number_with_delimiter(@vacation_camp_records_total, delimiter: ', ') %></span>
                    </div>
                <% end %>
                <% if @summer_camp_records.present? %>
                    <div class="data">
                        <span class="key">Summer Camp Subtotal: </span>
                        <span class="value">$<%=  number_with_delimiter(@summer_camp_sub_total, delimiter: ', ') %></span>
                    </div>
                <% end %>
                <% if @annual_single_day_records.present? %>
                    <div class="data">
                        <span class="key">Annual Single Day Subtotal: </span>
                        <span class="value">$<%= @annual_single_day_records_total %></span>
                    </div>
                <% end %>
                <% if @purchases.present? %>
                    <div class="data">
                        <span class="key">Purchases Subtotal: </span>
                        <span class="value">$<%= number_with_delimiter(number_with_precision(@purchases_total, precision: 2), delimiter: ', ') %></span>
                    </div>
                <% end %>
                <div class="data grand-total">
                    <span class="key">Grand total: </span>
                    <span class="value">$<%= number_with_delimiter(number_with_precision(@grand_total, precision: 2), delimiter: ', ') %></span>
                </div>
            </div>
        </div>
    </div>
</div>