div.payroll-home-page {
    position: relative;
    * {
        margin: 0;
        padding: 0;
        font-family: lato, verdana, arial;
        box-sizing: border-box;
    }

    i {
        font-family: "Font Awesome 5 Free";
    }

    div.payroll-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
        display: none;
        div.payroll-modal-window {
            width: 25%;
            @media only screen and (max-width: 1600px){
                width: 300px;
            }
            height: 180px;
            background-color: #fefefe;
            top: -25%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            transition: top 700ms ease;
            z-index: 7;
            div {
                height: 60px;
                font-family: lato, verdana, arial !important;
                font-size: 1.2em;
                &:first-of-type {
                    background-color: #0D47A1;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding-left: 10px;
                    color: #fefefe;
                    font-weight: 300;
                    position: relative;
                    i {
                        color: #1565C0;
                        position: absolute;
                        right: 13px;
                        cursor: pointer;
                        top: 10px;
                    }
                }
                &:nth-of-type(2) {
                    background-color: #f5f5f5;
                    height: 70px;
                    font-size: 0.95em;
                    padding: 10px;
                    color: #616161;
                }
                &:nth-of-type(3) {
                    margin-right: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 50px;
                    button {
                        height: 35px;
                        font-size: 0.8em;
                        border-radius: 4px;
                        padding: 0 10px;
                        width: 80px;
                        cursor: pointer;
                        transition: background-color 350ms ease;
                        outline: none;
                        border: none;
                        position: relative;
                        overflow: hidden;
                        color: #f5f5f5;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: scale(3) translate(-50%, -50%);
                            background-color: #fefefe;
                            height: 48px;
                            width: 48px;
                            border-radius: 50%;
                            opacity: 0.1;
                            transition: transform 700ms ease, opacity 300ms ease;
                            transform-origin: 0 0;
                        }
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            opacity: 0.5;
                            transition: transform 0s;
                        }
                        &:first-of-type {
                            margin-right: 10px;
                            background-color: #C62828;
                            &:hover {
                                background-color: #B71C1C;
                            }
                        }
                        &:nth-of-type(2) {
                            background-color: #0277BD;
                        }
                    }
                }
            }
        }
    }

    div.log-employee-abscence-modal-container {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
        display: none;
        opacity: 0;
        transition: opacity 400ms ease;
        div.log-employee-abscence-modal-window {
            transition: opacity 400ms ease;
            opacity: 0;
            visibility: hidden;
            height: 500px;
            width: 400px;
            position: relative;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -22%);
            z-index: 6;
            background-color: #fefefe;
            border-radius: 4px;
            padding: 1em;
            @media only screen and (max-width: 460px) {width: 95%;}
            @media only screen and (max-width: 600px) {top: 8.65%;}
            div.employee-absence-event-notification {
                position: absolute;
                width: 100%;
                top: 10px;
                left: 0;
                h4 {
                    text-align: center;
                    background-color: #B71C1C;
                    border-radius: 10px;
                    padding: 0.1em 0.3em;
                    color: #fff;
                    font-family: lato, verdana, arial;
                    font-size: 0.9em;
                    opacity: 0;
                    transition: opacity 400ms ease;
                    width: 80%;
                    margin: auto;
                }
            }
            div.modal-close-button-container {
                height: 20px;
                button.close-log-employee-abscence-modal-button {
                    position: absolute;
                    right: 12px;
                    top: 10px;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    i {
                        font-size: 1.5em;
                        color: #37474F;
                    }
                }
            }
            div.employee-abscence-location-select,
            div.absent-employee-select {
                position: relative;
                top: 18px;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                padding: 0.5em;
                height: 40px;
                transition: height 400ms ease;
                overflow: hidden;
                span {
                    font-family: roboto, verdana, arial;
                    font-size: 1em;
                    color: #424242;
                    padding: 0.3em;
                    display: block;
                }
                div.location-drop-down-button-container,
                div.employee-drop-down-button-container {
                    position: absolute;
                    display: inline-block;
                    right: 15px;
                    top: 10px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    button.location-dropdown-button,
                    button.employee-dropdown-button {
                        outline: none;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        i {
                            transition: transform 400ms ease;
                        }
                    }
                }
                
                ul.location-list,
                ul.employee-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    overflow: auto;
                    height: 165px;
                    li {
                        padding: 0.3em 1.5em;
                        height: 33px;
                        button {
                            width: 100%;
                            text-align: left;
                            border: none;
                            outline: none;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            background-color: transparent;
                        }
                    }
                }
            }
            div.absent-employee-select {margin-top: 10px;}
            input.date-of-absence-input-field {
                width: 100%;
                position: relative;
                display: block;
                margin-top: 30px;
                padding: 0.5em;
                border-radius: 4px;
                font-family: roboto, verdana, arial;
                font-size: 1em;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
            }
            div.absence-type-option {
                margin-top: 5px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                * {cursor: pointer;}
                label {
                    margin-left: 10px;
                    font-size: 1em;
                    font-family: roboto, verdana, arial;
                }
            }
            div.absence-submit-cancel-button-container {
                position: absolute;
                bottom: 10px;
                display: flex;
                width: 100%;
                left: 0;
                
                div.submit-button-container,
                div.cancel-button-container {
                    flex: 0 1 50%;
                    display: flex;
                    justify-content: center;
                    button {
                        padding: 6px 8px;
                        border-radius: 4px;
                        font-family: roboto, verdana, arial;
                        color: #fff;
                        outline: none;
                        border: none;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                        width: 100px;
                        position: relative;
                        overflow: hidden;
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            opacity: 1;
                            transition: transform 0s, opacity 0s;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            background-color: #fff;
                            transform-origin: 0 0;
                            top: 50%;
                            left: 50%;
                            transform: scale(4) translate(-50%, -50%);
                            transition: transform 700ms ease, opacity 700ms ease;
                            opacity: 0;
                        }
                    }
                    button.cancel-log-absence-button {background-color: #BF360C;}
                    button.submit-button {background-color: #1976D2;}
                }
            }
        }
    }

    div.border {
        background: #263238;
        height: 5px;
    }
    div.container {
        width: 100%;
        margin: auto;
        background-color:#F6F8FA;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1040px) {
            flex-wrap: wrap;
        }
        h4.section-header {
            text-align: center;
            color: #fefefe;
            text-transform: uppercase;
            padding: 0.5em 0;
            background-color: #1565C0;
        }
        div.employees-section {
            flex: 0 1 20%;
            @media only screen and (max-width: 1040px) {
                flex: 0 1 100%;
            }
            background-color: #fefefe;
            ul.payroll-employee-list {
                list-style: none;
                li {
                    padding: 3px 5px;
                    color: #455A64;
                    transition: color 250ms ease;
                    transition: height 850ms ease;
                    overflow: hidden;
                    input[type=text] {
                        border: none;
                        outline: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        width: 90%;
                    }
                    i.payroll-employee-arrow {
                        cursor: pointer;
                        transition: transform 400ms ease;
                    }
                    &:hover {
                        color: #263238;
                        font-weight: 500;
                    }
                    div.edit-and-delete-employee-container {
                        text-align: center;
                        overflow: hidden;
                        height: 0;
                        transition: height 400ms ease;
                        button.delete-payroll-employee-button,
                        button.edit-payroll-employee-button,
                        button.save-edited-employee-name-button {
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            border: none;
                            padding-top: 2px;
                            i.fa-minus-circle {
                                color: #E57373;
                                font-size: 1.2em;
                            }
                            i.fa-edit {
                                color: #00838F;
                                font-size: 1.2em;
                            }
                            i.fa-save {
                                color: #33691E;
                                font-size: 1.2em;
                                margin-right: 5px;
                                transform: translateY(1px);
                            }
                        }
                        button.save-edited-employee-name-button {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
            div.new-employee-section {
                height: 0;
                padding: 0.3em;
                overflow: hidden;
                transition: height 600ms ease;
                div.input-pair {
                    position: relative;
                    input.new-employee-name {
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        outline: none;
                        width: 100%;
                        padding: 0.5em;
                        font-size: 1em;
                        font-family: roboto, verdana, arial;
                        &:focus ~ span {
                            width: 100%;
                        }
                        &::placeholder {
                            opacity: 0.6;
                        }
                        padding-left: 0.4em;
                    }
                    span.border {
                        position: absolute;
                        background: #1565C0;
                        width: 0;
                        height: 1px;
                        left: 0;
                        bottom: -0.5px;
                        transition: width 400ms ease;
                    }
                }

                div.save-or-clear {
                    text-align: center;
                    button.employee-cancel-button,
                    button.employee-save-button {
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        border: none;
                        padding-top: 2px;
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            transition: transform 0s;
                            opacity: 0.2;
                        }
                        i.fa-ban {
                            color: #E57373;
                            font-size: 1.5em;
                        }
                        i.fa-check {
                            color: #81C784;
                            font-size: 1.5em;
                        }
                    }
                    button.employee-cancel-button {
                        transform: translateX(-10%);
                    }
                }
                
            }
            button.add-employee-button {
                text-align: center;
                position: relative;
                display: block;
                width: 100%;
                padding: 0.5em 0;
                background-color: #3F51B5;
                color: #fefefe;
                font-size: 1em;
                outline: none;
                transition: background-color 300ms ease;
                overflow: hidden;
                border: none;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: scale(4) translate(-50%, -50%);
                    background-color: #fff;
                    height: 64px;
                    width: 64px;
                    border-radius: 50%;
                    opacity: 0;
                    transition: transform 700ms ease, opacity 700ms ease;
                    transform-origin: 0 0;
                }
                &:hover {
                    background-color: #3949AB;
                }
                &:active::after {
                    transform: scale(0) translate(-50%, -50%);
                    opacity: 1;
                    transition: transform 0s, opacity 0s;
                }
                i {
                    color: #5C6BC0;
                    position: absolute;
                    left: 0;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: #fefefe;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 3%;
                    padding-top: 3px;
                }
            }
        }
        div.payroll-fields-section {
            flex: 0 1 79.5%;
            padding-bottom: 10px;
            @media only screen and (max-width: 1040px) {
                flex: 0 1 100%;
                margin-top: 10px;
            }
            * {
                background-color: #fff;
            }
            h4 {
                text-align: center;
                font-size: 1.5em;
                color: #f5f5f5;
                background-color: #1E88E5;
                text-transform: uppercase;
            }
            div.payroll-event-notice {
                background-color: #43A047;
                color: #fefefe;
                border-radius: 10px;
                text-align: center;
                font-size: 1.1em;
                transition: opacity 900ms ease;
                opacity: 0;
                margin: 8px;
                position: -webkit-sticky;
                position: sticky;
                top: 10px;
                z-index: 4;
            }
            div.location-row {
                padding: 1em 0.5em;
                select#payroll-location-select {
                    padding: 0.3em;
                    width: 150px;
                    outline: none;
                    height: 42px;
                    border-radius: 0;
                    @media only screen and (max-width: 365px) {
                        width: 100%;
                    }
                }
                div.log-employee-abscence-button-container {
                    display: inline-block;
                    @media only screen and (max-width: 365px) {
                        display: block;
                        margin-top: 10px;
                        text-align: center;
                    }
                    button.log-employee-abscence-button {
                        padding: 8px 10px;
                        border-radius: 4px;
                        outline: none;
                        background-color: #01579B;
                        font-family: roboto, verdana, arial;
                        color: #fff;
                        border: none;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            opacity: 1;
                            transition: transform 0s, opacity 0s;
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            background-color: #fff;
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform-origin: 0 0;
                            transform: scale(5) translate(-50%, -50%);
                            opacity: 0;
                            transition: transform 800ms ease, opacity 800ms ease;
                        }
                    }
                }
            }
            div.calendar-row {
                padding: 0.5em;
                display: flex;
                justify-content: space-between;
                @media only screen and (max-width: 1125px) {flex-wrap: wrap;}
                div#payroll-calendar div.ui-datepicker-inline{
                    width: 100%;
                }
                div#payroll-calendar {
                    flex: 0 1 49.5%;
                    @media only screen and (max-width: 1125px) {flex: 0 1 100%}
                }
                div.payroll-month-overview {
                    flex: 0 1 49.5%;
                    @media only screen and (max-width: 1125px) {flex: 0 1 100%; margin-top: 10px;}
                    * {font-family: Roboto, verdana, arial;}
                    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
                    display: flex;
                    flex-wrap: wrap;
                    div.payroll-overview-container {
                        flex: 0 1 100%;
                        h4 {
                            background-color: #283593;
                            font-size: 1.2em;
                            font-weight: 300;
                            // height: 36.38px;
                            line-height: 62px;
                            height: 62px;
                            vertical-align: middle;
                            color: #fff;
                            width: 100%;
                        }
                    }
                    div.row {
                        flex: 0 1 100%;
                        padding: 10px 0;
                        display: flex;
                        &:not(:last-of-type) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        }
                        div.key, div.value {
                            flex: 0 1 73%;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            font-family: roboto, lato, verdana;
                            font-size: 1.1em;
                        }
                        div.value {
                            flex: 0 22%;
                        }
                        &:nth-of-type(4) {
                            background-color: #f4f4f4;
                            * {background-color: #f4f4f4;}
                            div.key {text-transform: uppercase; font-size: 1.1em;}
                            div.value {color: #616161;}
                        }
                        @media only screen and (max-width: 360px) {
                            div.key {font-size: 0.8em;}
                            &:nth-of-type(4) {
                                div.key {text-transform: uppercase; font-size: 0.8em;}
                            }
                        } 
                    }
                }
                div.ui-datepicker-header {
                    background-color: #64B5F6;
                    * {background-color: #64B5F6;}
                    padding: 1em 0;
                    span {
                        color: #f5f5f5;
                        font-weight: 500;
                        font-size: 1em;
                    }
                    a.ui-datepicker-next, a.ui-datepicker-prev {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                a.ui-state-highlight {color: inherit;}
                a.ui-state-default, span.ui-state-default{
                    text-align: center;
                    line-height: 26px;
                    border: none;
                    font-size: 0.9em;
                    height: 32px;
                    width: 32px;
                    margin: auto;
                    border: none;
                    transition: box-shadow 400ms ease;
                }
                a.ui-state-active { 
                    background-color: #1976D2;
                    color: #f5f5f5;
                    border-radius: 50%;
                    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                }
                table.ui-datepicker-calendar td{
                    text-align: center;
                }
                div.ui-widget-content {
                    border:none;
                    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
                }
            }
            div.employees-log-table-container {
                width: 100%;
                padding: 0.5em;
                overflow-x: auto;
                height: 320px;
                table.employees-log-table {
                    width: 100%;
                    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                    table-layout: fixed;
                    th {
                        width: 50%;
                        text-align: center;
                        color: #757575;
                        font-size: 0.9em;
                        font-weight: 600;
                    }

                    tbody {
                        tr:not(:last-of-type) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                            outline: none;
                        }
                    }

                    tbody tr td {
                        padding: 0.2em;
                        height: 40px;
                        input[name=hours] {
                            text-align: center;
                            width: 28px;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            height: 20px;
                        }

                        &:first-of-type {
                            padding-left: 0.5em;
                        }
                        &:nth-of-type(2) {
                            text-align: center;
                        }
                    }
                }
            }
            div.payroll-information-update-button-container {
                text-align: center;
                padding: 5px 0;
                width: 100%;
                bottom: 0;
                button {
                    padding: 8px 10px;
                    border-radius: 4px;
                    background-color: #512DA8;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-family: roboto, verdana, arial;
                    font-size: 1em;
                    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.35);
                    position: relative;
                    overflow: hidden;
                    transition: background-color 400ms ease;
                    cursor: pointer;
                    &:hover {
                        background-color: #311B92;
                    }
                    &:active::after {
                        transform: scale(0) translate(-50%, -50%);
                        opacity: 1;
                        transition: transform 0s, opacity 0s;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        left: 50%;
                        top: 50%;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: #fff;
                        transform: scale(6) translate(-50%, -50%);
                        transform-origin: 0 0;
                        transition: transform 600ms ease, opacity 700ms ease;
                        opacity: 0;
                    }
                }
            }
        }
    }
}