<% url = @program.new_record? ? admin_programs_path : admin_program_path(@program) %>

<%= form_for @program, url: url, html: { class: "admin-form tsl-form white-form" } do |f| %>
	<% if @program.errors.any? %>
		<div id="errorExplanation">
			<p><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</p>
			<ul>
			<% @program.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :name, 'Name: ' %>
    <%= f.select :name, options_for_select(program_names, (params[:name] ? params[:name] : f.object.name)), include_blank: true %>	

    <%= f.label :name_suffix, "Name Suffix: " %>
    <%= f.text_field :name_suffix %>
    <%= f.label :location_id, "Location" %>
    <%= f.select :location_id, options_from_collection_for_select(Location.order(:name), 'id', 'name', (params[:location_id].present? ? params[:location_id] : f.object.location_id)), include_blank: true %>

    <%= f.label :director_id, "Director" %>
    <%= f.select :director_id, options_from_collection_for_select(User.order(:email), 'id', 'email', f.object.director_id), include_blank: true %>
  
	<% if @program.has_top_level_capacity? %>
		<div class="form-row">
			<div class="form-row-label">
				<div class="form-label">
					<%= f.label :capacity, "Capacity: " %>
				</div>
			</div>
			<div class="form-row-control">
				<div class="form-number-field">
					<%= f.number_field :capacity %>
				</div>
			</div>
		</div>
	<% end %>

	<% if @program.name == "Single Day" %>
		<div class="mb4">
			<h3 class="mb0">Dates</h3>
			<div id="single-day-dates">
				<%= f.fields_for :single_day_dates do |single_day_date| %>
					<%= render "single_day_date_fields", f: single_day_date %>
				<% end %>

				<div class="links list pa0">
					<%= link_to_add_association 'Add New Date', f, :single_day_dates %>
				</div>
			</div>
		</div>
	<% elsif @program.name == "After School" %>
		<div class="form-row">
			<div class="form-row-header">
				<h3>Before and After School Care Availability</h3>
			</div>
		</div>
		
		<%= f.fields_for :before_and_after_school_program_configuration do |config| %>
		<div class="form-row">
			<div class="form-row-label">
				<%= config.label :before_school, "Before School Care: ", class: "form-check-box-label" %>
			</div>
			<div class="form-row-control">
				<%= config.check_box :before_school, {class: "form-check-box"}, 'true', 'false' %>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-row-label">
				<%= config.label :after_school, "After School Care: ", class: "form-check-box-label" %>
			</div>
			<div class="form-row-control">
				<%= config.check_box :after_school, {class: "form-check-box"}, 'true', 'false' %>
			</div>
		</div>
		<% end %>
	<% elsif @program.name == "Summer Camp" %>
		<div class="mb4">
			<h3 class="mb0">Weeks</h3>
			<div id="summer-camp-weeks">
				<%= f.fields_for :summer_camp_weeks do |summer_camp_week| %>
					<%= render "summer_camp_week_fields", f: summer_camp_week %>
				<% end %>
				<div class="links list pa0">
					<%= link_to_add_association 'Add New Week', f, :summer_camp_weeks %>
				</div>
			</div>
		</div>
	<% elsif @program.name == "Vacation Camp" %>
		<div class="mb4">
			<h3 class="mb0">Schedules</h3>
			<div class="vacation_camp_schedules">
				<%= f.fields_for :vacation_camp_schedules, f.object.vacation_camp_schedules.where.not(deleted: true) do |vacation_camp_schedule| %>
					<%= render "vacation_camp_schedule_fields", f: vacation_camp_schedule %>
				<% end %>

				<div class="links list pa0">
					<%= link_to  "Create New Camp Schedule", admin_new_camp_schedule_path %>	
				</div>

			</div>
		</div>
	<% end %>

    <%= f.label :active, "Promo package enabled: " %>
    <%= f.check_box :is_package_active %><br/>
	<%= f.label :active, "Active: " %>
    <%= f.check_box :active %><br/>

	<%= f.submit "Submit" %>
<% end %>
