<div class="nested-fields mb3">
	<div class="mb2">
		<%= f.label :name, 'Date Name: ' %>
		<%= f.text_field :name %>
	</div>

	<div class="mb2">
		<%= f.label :date, 'Date: ' %>
		<%= f.date_field :date %>
	</div>

	<div class="mb2">
		<%= f.label :capacity, 'Capacity: ' %>
		<%= f.number_field :capacity %>
	</div>

	<%= link_to_remove_association "- Remove Date", f, class: "red" %>
</div>
