<div class="nested-fields mb3">
	<div class="mb2">
		<%= f.label :name, 'Week Name: ' %>
		<%= f.text_field :name %>
	</div>

	<div class="mb2">
		<%= f.label :start_date, 'Start Date: ' %>
		<%= f.date_field :start_date %>
	</div>

	<div class="mb2">
		<%= f.label :capacity, 'Capacity: ' %>
		<%= f.number_field :capacity %>
	</div>

	<div class="mb2">
		<%= f.label :notes, 'Notes: ' %>
		<%= f.text_area :notes %>
	</div>
    
    <%= link_to_remove_association "- Remove Week", f, class: "red" %>
</div>
