<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Name Suffix</th>
			<th>Director</th>
			<th>Status</th>
			<th>Capacity</th>
			<th>Enrolled</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% target.each do |program| %>
			<tr>
				<td data-th="Name"><%= program.name %></td>
				<td data-th="Name Suffix"><%= program.name_suffix.present? ? program.name_suffix : 'N/A' %></td>
				<td data-th="Director"><%= program.director ? program.director.email : (program.location.director.present? ? program.location.director.email : 'N/A') %></td>
				<td data-th="Status"><%= program.active? ? "Active" : "Inactive" %></td>
				<td data-th="Capacity"><%= program.has_top_level_capacity? ? program.capacity : 'N/A' %></td>
				<td data-th="Enrolled">
					<% if program.name.include?("Summer Camp") %>
						Enrolled on Weekly Basis
					<% elsif program.name.include?("Single Day") %>
						Enrolled on Daily Basis
					<% elsif program.name.include?("Vacation Camp") %>
						<%= program.vacation_camp_enrollment_count %>
                    <% elsif program.name.include? 'After School' %>
                        <%= program.after_school_registrations %>
					<% else %>
						<%= program.enrolled_count %>
					<% end %>
				</td>
				<td data-th="Actions">
					<div class="action-links c-multi-button js-multi-button">
						<div class="c-multi-button__items">
							<%= link_to "View", admin_program_path(program), class: "c-multi-button__item" %>
							<%= link_to "Edit", edit_admin_program_path(program), class: "c-multi-button__item" %>
							<%= link_to "Delete", admin_program_path(program), method: :delete, class: "c-multi-button__item red-link" %>
						</div>
						<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
