<div class="nested-fields mb3">
    <div class="mb2">
        <%= f.label :name, 'Schedule Name: ' %>
        <%= f.text_field :name %>
    </div>

    <div class="mb2">
        <h4><span>Enrollment count: </span><%= f.object.enrollment_count %></h4>
    </div>

    <div class="mb2">
        <%= f.label :capacity, 'Capacity: '%>
        <%= f.number_field :capacity %>
    </div>
    
    <div class="mb2">
        <%= f.label :month,  'Month: ' %>
        <%= f.select :month, months, selected: f.object.month %>
    </div>

    <div class="mb2">
        <%= f.label :year, 'Year: '%>
        <%= f.number_field :year %>
    </div>

     <%-# do not alter the order of the elements blow; the order is used by jquery for dom traversal %>
    <div class="mb2">
        <input type="hidden" id="program_vacation_camp_schedules_attributes_<%=f.index %>_dates" 
            name="program[vacation_camp_schedules_attributes]<%= f.index %>[dates]">
        <input type="hidden" value="<%= f.object.full_information.to_json %>" id="camp-schedule-dates">
        <button type="button" class="date_editor">Update Dates</button>
        <div class="date_placeholder"></div>
        <h4>Selected Dates:</h4>
        <input type="text" readonly class="selected-dates" value="<%= f.object.days %>">
    </div>

    <div class="mb2">
        <%= f.label :deleted, 'Delete Vacation Camp Schedule', style: "display: inline-block; width: 250px;" %>
        <%= f.check_box :deleted, {style: "display: inline-block; width: 30px;"}, 'true' %>
    </div>
    <hr>
</div>