<%= form_tag admin_create_camp_schedule_path, class: "tsl-form regular-form" do %>
    <div class="mb2">
        <%= label_tag "vacation_camp_schedule[name]", "Name" %>
        <%= text_field_tag "vacation_camp_schedule[name]", nil %>
    </div>

    <div class="mb2">
        <%= label_tag "vacation_camp_schedule[capacity]", "Capacity" %>
        <%= number_field_tag "vacation_camp_schedule[capacity]", "50" %>
    </div>

     <div class="mb2">
       <div class="multi_date_picker"></div>
    </div>
    <div class="vacation_camp_schedule">
        <div class="vacation_camp_container">
            <%= label_tag "vacation_camp_schedule[month]", "Month" %>
            <%= text_field_tag "vacation_camp_schedule[month]", current_month, class: "camp-month", readonly: true %>
        </div>

        <div class="vacation_camp_container">
            <%= label_tag "vacation_camp_schedule[year]", "Year" %>
            <%= number_field_tag "vacation_camp_schedule[year]", current_year, class: "camp-year", readonly: true %>
        </div>

        <div class="vacation_camp_container">
            <%= label_tag "selected_camp_days", "Selected Days" %>
            <%= text_field_tag "selected_camp_days", nil, readonly: true %>
        </div>

        <div id="selected_dates_container"></div>
        <input type="hidden" name="vacation_camp_schedule[program_id]" value="<%= @program_id %>">
    </div>
    <div class="camp_submit_container">
            <%= submit_tag "Submit", id: "vacation_camp_submit" %>
    </div>
<% end %>

