<h1 class="f3 f2-ns lh-title dib bb bw2 b--black"><%= @program.location.name %> - <%= @program.name %></h1>

<div class="cf w-100 mb2">
	<div class="fl w-100 pa3 pl0 pb0">
		<%= link_to "Edit", edit_admin_program_path(@program) %>
	</div>
</div>

<div class="cf w-100 mb2">
	<div class="fl w-100 pa3 pl0 pb0">
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Basic Information</h2>
	</div>

	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<p class="f5 f4-l lh-copy mb0"><b>Location:</b> <%= link_to @program.location.name, admin_location_path(@program.location) %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Name Suffix:</b> <%= @program.name_suffix.present? ? @program.name_suffix : 'N/A' %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Director:</b> <%= @program.director ? @program.director.email : (@program.location.director.present? ? @program.location.director.email : 'N/A') %></p>
	</div>

	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<p class="f5 f4-l lh-copy mb0"><b>Status:</b> <%= @program.active? ? "Active" : "Inactive" %></p>
		<% unless @program.name == "Vacation Camp" %>
			<p class="f5 f4-l lh-copy mb0"><b>Capacity:</b> <%= @program.capacity %></p>
		<% end %>
		<% if @program.name == "Vacation Camp" %>
			<p class="f5 f4-l lh-copy mb0"><b>Enrolled:</b> <%= @program.vacation_camp_enrollment_count %></p>
        <% elsif @program.name == 'After School' %>
            <p class="f5 f4-l lh-copy mb0"><b>Enrolled:</b> <%= @program.after_school_registrations %></p>
		<% elsif @program.name == 'Summer Camp' %>
			<p class="f5 f4-l lh-copy mb0"><b>Enrolled:</b> <%= @registration_records.map(&:get_child_records_count!).reduce(:+) %></p>
		<% else %>
			<p class="f5 f4-l lh-copy mb0"><b>Enrolled:</b> <%= @program.enrolled_count %></p>
		<% end %>
	</div>
</div>

<br/>
<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Program Discounts</h2>
<p><%= link_to "Add a New Program Discount", new_admin_discount_path(program_id: @program.id) %></p>
<% if @program.discounts.present? %>
	<table class="responsive no-wrap forum-table mb4">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Actions</th>
			<tr/>
		</thead>

		<tbody>
			<% @program.discounts.order('created_at desc').each do |discount| %>
				<tr>
					<td data-th="Amount"><%= number_to_currency(discount.amount) %></td>
					<td data-th="Actions"><%= link_to "Delete", admin_discount_path(discount),  method: :delete, data: { confirm: "Are you sure?" }, class: "c-multi-button__item", method: :delete, data: { confirm: "Are you sure?" } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are discounts associated with this program.</p>
<% end %>

<br/>

<% if @program.name == "Single Day" %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Dates</h2>
	<% if @program.single_day_dates.present? %>
		<%= render 'admin/single_day_dates/table', target: @program.single_day_dates %>
	<% else %>
		<p class="f5 f4-l lh-copy mb3">There are no dates associated with this program.</p>
	<% end %>
<% elsif @program.name == "Summer Camp" %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Weeks</h2>
	<% if @program.summer_camp_weeks.present? %>
		<%= render 'admin/summer_camp_weeks/table', target: @program.summer_camp_weeks.order('start_date asc') %>
	<% else %>
		<p class="f5 f4-l lh-copy mb3">There are no weeks associated with this program.</p>
	<% end %>

<% elsif @program.name == "Vacation Camp" %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Camp Schedules</h2>
	<% if @program.vacation_camp_schedules.present? %>
		<%= render 'admin/vacation_camp_schedules/table', schedules: @program.vacation_camp_schedules %>
	<% else %>
		<p class="f5 f4-l lh-copy mb3">There are no Vacation Camp Schedules for this program.</p>
	<% end %>
<% elsif @program.name == 'Day Care' %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Day Care Registrations </h2>
	<%= render 'admin/registration_records/table', target: @program.daycare_records %>
<% elsif @program.name == 'After School' %>
	<%= render 'admin/registration_records/table', target: @program.after_school_registrations('records') %>
<% end %>
<%= render 'admin/registration_records/table', target: @registration_records %>
<%= paginate @registration_records %>