blockquote {
  padding: 0.5em 1em;
  margin: 1em 0;
  border-left: 5px solid $gray;
  position: relative;
 
  p,
  ul,
  ol {
    margin-top: 0;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}