.tsl-form {
    max-width: 500px;
    margin: 0 auto;
}


.tsl-form > fieldset {
    border: 0;
    margin: 0 auto;
}

.tsl-form label {
    text-align: left;
    display: block;
    width: 100%;
}

.tsl-form > input:not(.button),
.tsl-form input:not(.button),
.tsl-form > textarea,
.tsl-form textarea,
.tsl-form select {
    background-color: #f8f8f8;

    // border: 1px solid #ececec;
    border: 1px solid rgba($blue, 0.69);
    border-radius: $border-radius;
    display: block;
    outline: 0;
    padding: 8px 10px;
    font-size: 16px;
    width: 100%;

    &:focus,
    &:active {
        border-color: $blue;
        border-width: 2px;
    }
}

.tsl-form input[type="checkbox"] {
    float: left;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.tsl-form > input[type="submit"].button-green {
    background: $green;
    &:hover {
        background: darken($green, 5%);
    }
}
.tsl-form > input[type="submit"].button-red {
    background: $red;
    &:hover {
        background: darken($red, 5%);
    }
}

.tsl-form select {
    @include transition(all);

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='75px' height='75px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");

    // background-color: $blue;
    background-repeat: no-repeat;
    background-position: right 6px top 14px;
    background-size: 15px;
    -webkit-appearance: none;

    &:hover {
        background-color: darken(#f8f8f8, 5%);
        cursor: pointer;
    }
}

input[type="checkbox"] {
    position: relative;
    top: -2px;
}

.regular-form input[type="text"],
.regular-form input[type="email"],
.regular-form input[type="password"],
.regular-form input[type="checkbox"],
.regular-form textarea {
    margin-bottom: $base-spacing-unit--small !important;
}

.white-form {
    background: $white;
    color: $black;
    // max-width: none;
    width: 100%;
    padding: $base-spacing-unit;
    border-radius: 3px;
}

.white-form input,
.white-form label,
.white-form div,
.white-form span,
.white-form textarea {
    max-width: 500px;
}


.form-title {
    max-width: 500px;
    margin: 0 auto;
    color: $navy;
    padding-left: $base-spacing-unit--small;
    margin-bottom: 5px;
}
// wrap this class around elements outside of a form that need to align with the form
// i.e. Form headers above forms or Shared links under forms
.form-wrapper {

}

//fix this
h2.form-wrapper {
    padding-left: $base-spacing-unit--large;
}

.search-form {
    max-width: none;
    margin: 0 auto;
    background: $white;
    color: $black;
    width: 100%;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;
    padding-top: $base-spacing-unit--small;
    padding-bottom: $base-spacing-unit--small;
    border-radius: 3px;
}


.search-form fieldset {
    border: 0;
    margin: 0 auto;
}

.search-form label {
    text-align: left;
    display: block;
    width: 100%;
}

.search-form input:not(.button),
.search-form textarea,
.search-form select {
    background-color: #f8f8f8;

    // border: 1px solid #ececec;
    border: 1px solid rgba($blue, 0.69);
    border-radius: $border-radius;
    display: block;
    outline: 0;
    padding: 8px 10px;
    font-size: 16px;
    width: 100%;

    &:focus,
    &:active {
        border-color: $blue;
        border-width: 2px;
    }
}

.search-form input[type="checkbox"] {
    float: left;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.search-form input[type="submit"].button-green {
    background: $green;
    &:hover {
        background: darken($green, 5%);
    }
}
.search-form input[type="submit"].button-red {
    background: $red;
    &:hover {
        background: darken($red, 5%);
    }
}

.search-form select {
    @include transition(all);

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='75px' height='75px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");

    background-repeat: no-repeat;
    background-position: right 6px top 14px;
    background-size: 15px;
    -webkit-appearance: none;

    &:hover {
        background-color: darken(#f8f8f8, 5%);
        cursor: pointer;
    }
}
