/*
  Links (a)
  default styles for links
*/

a {
  @include transition(color);
  color: #265C83;
  text-decoration: none;
}

a:link, 
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  { 
  @include transition(color);
  color: #007BE6; 
}

p > a {
  // Links inside paragraphs should be underlined for visibility.
  text-decoration: underline;
}


.u-inverted-link {
    color: #7FDBFF;
    &:link,
    &:visited { color: #7FDBFF; }
    &:hover   { color: #265C83; }
}