img, 
canvas, 
iframe, 
video, 
svg {
  // Make media elements responsive by default
  max-width: 100%; 
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}