/* ==|====================
   base/type
   Typographic Styles
   ======================= */

h1, h2, h3, p { margin: 0; }
h1,h2,h3,p {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
  text-rendering: auto;
}

h1, .h1 {
  font: normal 700 55px/1.09 $base-font-family;
  margin-bottom: $base-spacing-unit;
}

h2, .h2 {
  font: normal 700 48px/1.25 $base-font-family;
  margin-bottom: $base-spacing-unit;
  color: $navy;
}

h3, .h3 {
  font: normal 700 36px/1.6667 $base-font-family;
  margin-bottom: $base-spacing-unit;
}

p, .p {
  font: normal 400 20px/1.5 $base-font-family;
  margin-bottom: $base-spacing-unit;
}

.tiny {
  font: normal 400 15px/2 $base-font-family;
}

small, .small {
  font: normal 400 15px/2 $base-font-family;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

b, strong,
.strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

hr {
  border: 0;
  height: 2px;
  margin: 0;
  margin-top: $base-spacing-unit;
  margin-bottom: 22px;//($base-spacing-unit - 2px)
  background: $black;
}

blockquote {
  margin: 0;
  margin-bottom: $base-spacing-unit;
  padding-left: $base-spacing-unit;
  border-left: 2px solid $yellow;
}

.long-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media screen and (max-width:750px) {
  h1, .h1 {
    font: normal 700 69px/1.30434 $base-font-family;
    margin-bottom: 30px;
  }

  h2, .h2 {
    font: normal 700 36px/1.6667 $base-font-family;
    margin-bottom: 30px;
  }

  h3, .h3 {
    font: normal 700 20px/1.5 $base-font-family;
    margin-bottom: 15px;
  }

  p, .p {
    font: normal 400 16px/1.875 $base-font-family;
    margin-bottom: 15px;
  }

  small, .small {
    font: normal 400 13px/1.1538 $base-font-family;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}