div.admin-products {
    $orange: #ff6300;
    $dark_blue: #001F3F;
    padding: 1.5em;
    width: 100%;

    h1 {
        color: $dark_blue;
        font-size: 3em;
    }

    h2 {
        color: $orange;
        text-align: center;
        font-size: 2em;
    }

    div.stock-info-table-container {
        width: 100%;
        overflow-x: auto;
        table {
            border: 1px solid rgba(0, 0, 0, 0.5);
            width: 800px;
            @media screen and (max-width: 810px) {width: 100%;}
            @media screen and (max-width: 450px) {width: 460px;}
            margin: auto;
            thead {
                background-color: $dark_blue;
                th {
                    text-align: center;
                    color: #fff;
                    padding: 1em;
                }
            }
            tbody {
                tr {
                    background-color: #f5f5f5;
                    &:nth-of-type(even) {
                        background-color: #E3F2FD;
                    }
                    td {
                        padding: 0.6em;
                        &:not(:first-of-type) {text-align: center;}
                    }
                }   
            }
        }
    }
}