<header class="admin-header">
    <div class="main-navigation">
        <ul class="navigation-links">
            <% if admin_user_signed_in? %>
                <li><%= raw link_to "Administration", admin_root_path %></li>
                <% if current_admin_user.name == "Thomas Styles" && current_admin_user.email == "tsladventures@gmail.com" %>
                    <li><%= link_to 'Dashboard', admin_dashboard_path, class: "" %></li>
                <% end %>
                <li><%= link_to 'Payroll', admin_payroll_path, class: "c-navigation__link" %></li>
                <li><%= link_to 'CIT Applications', admin_cit_records_path, class: "" %></li>
                <li><%= link_to 'Invoices', admin_invoices_path, class: "" %></li>
                <li><%= link_to 'Customers', admin_customers_path, class: "" %></li>
                <li><%= link_to 'Locations', admin_locations_path, class: "" %></li>
                <li><%= link_to 'Profile', edit_admin_user_registration_path, class: "" %></li>
                <li><%= link_to 'Shop', admin_shop_purchases_path, class: "" %></li>
                <li><%= link_to 'Inventory', admin_products_path, class: "" %></li>
                <li><%= link_to "Log Out", destroy_admin_user_session_path, method: :delete, class: "" %></li>
            <% else %>
                <li><a href="http://www.tsladventures.net/" target="_blank">Back to TSL Adventures</a></li>
                <li><%= link_to "Register", new_admin_user_registration_path, class: "" %></li>
                <li><%= link_to 'Log In', new_admin_user_session_path, class: "" %></li>
            <% end %>
        </ul>
    </div>
    <div class="mobile-navigation">
        <button class="dashboard-mobile-navigation-button"><i class="fas fa-bars"></i></button>
        <ul class="mobile-navigation-links hidden">
            <% if admin_user_signed_in? %>
                <li><%= raw link_to "Administration", admin_root_path %></li>
                <% if current_admin_user.name == "Thomas Styles" && current_admin_user.email == "tsladventures@gmail.com" %>
                    <li><%= link_to 'Dashboard', admin_dashboard_path, class: "" %></li>
                <% end %>
                <li><%= link_to 'Payroll', admin_payroll_path, class: "" %></li>
                <li><%= link_to 'CIT Applications', admin_cit_records_path, class: "" %></li>
                <li><%= link_to 'Invoices', admin_invoices_path, class: "" %></li>
                <li><%= link_to 'Customers', admin_customers_path, class: "" %></li>
                <li><%= link_to 'Locations', admin_locations_path, class: "" %></li>
                <li><%= link_to 'Profile', edit_admin_user_registration_path, class: "" %></li>
                <li><%= link_to 'Shop', admin_shop_purchases_path, class: "" %></li>
                <li><%= link_to 'Inventory', admin_products_path, class: "" %></li>
                <li><%= link_to "Log Out", destroy_admin_user_session_path, method: :delete, class: "" %></li>
            <% else %>
                <li><a href="http://www.tsladventures.net/" target="_blank">Back to TSL Adventures</a></li>
                <li><%= link_to "Register", new_admin_user_registration_path, class: "" %></li>
                <li><%= link_to 'Log In', new_admin_user_session_path, class: "" %></li>
            <% end %>
        </ul>
    </div>
</header>