.before-and-afterschool-section, .day-care-section, .summer-camp-section {
    .registration-information {
        .record-information {
            padding: 10px;
            display: block;
            width: 60%;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            ul {
                padding: 0 0 0 20px;
                margin: 0;
                list-style-type: circle;
                li {
                    padding: 2px 0;
                }
            }
            span, .value {
                display: inline-block;
                padding: 5px;
            }
            
            .key {
                width: 40%;
            }
            .value {
                width: 55%;
                margin: auto 0;
                padding-left: 5px;
                border-bottom: 1px solid rgb(70, 70, 70);
            }

            .before-and-afterschool-child-record, .summer-camp-child-record, .daycare-child-record {
                display: flex;
                align-items: center;
            }
        }
        .invoice-header {
            font-size: 170%;
            text-align: center;
            margin: 10px 0;
            font-weight: 300;
            color: rgb(207, 149, 149);
        }
        .invoices-table-container {
            width: 100%;
            .invoices-table {
                position: relative;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 30px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                tr {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    &:first-of-type {
                        background-color: rgb(126, 176, 226);
                        color: rgb(243, 240, 240);
                    }
                }
                th, td {
                    text-align: center;
                    padding: 10px;
                }
            }
        }
        
        .subtotal-container {
            width: 100%;
            text-align: right;
            position: relative;
            .subtotal {
                display: inline-block;
                width: 70%;
                text-align: right;
                span {
                    display: inline-block;
                }
                .key {
                    width: 65%;
                    color: rgba(75, 75, 75, 0.8);
                    text-align: left;
                }
                .value {
                    width: 15%;
                    color: rgba(0, 0, 0, 0.95);
                    text-align: left;
                }
            }  
        }
    }
}