.pagination {
    * {
        font-family: 'Lato', 'sans-serif';
        a {
            text-decoration: none;
            color: #0D47A1;
        }
    }
    #next-button, #previous-button {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.54);
        font-size: 120%;
        font-weight: 500;
    }
}