@media print {
    
    tr, td   { page-break-inside: avoid; }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

    .print-button, #scroll-to-top {
        display: none !important;
    }
    h4 {
        display: block !important;
        overflow: visible;
    }
    body {
        background-color: #f5f5f5;
        display: block !important;
    }
    %print-postion {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    #tsl-header {
        font-weight: bolder;
    }
    #nav {
        display: none;
    }
    #logo {
        opacity: 1 !important;
    }
    .receipt-show {
        @extend %print-postion;
        margin: 0 !important;
        .container {
            width: 100%;
            box-shadow: none;
            border: 1px solid grey;
            border-radius: 5px;
            background-image: linear-gradient(to right top, #bbdefb, #c5e3fb, #cfe8fc, #d9edfc, #e3f2fd);
        }
        .child-record-table {
            .container {
                box-shadow: none !important;
                border: none !important;
                background: none !important;
            }
        }
    }
   
    @page { margin: 0; }
    body { margin: 10mm 10mm 10mm 10mm; }

    .summative-receipt {
        @extend %print-postion;
        .container {
            width: 100%;
            display: block;
        }
    }

    #vacation-camp-records-table, #summer-camp-records-table {
        width: 100% !important;
    }

    .summative-year-select-container {
        display: none;
    }

    .company-tax-label {
        display: inline-block !important;
        font-size: 140% !important;
        text-align: left !important;
    }
}