div.purchase-section {
    div.purchase-information {
        padding: 10px;
        display: block;
        width: 60%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        span, .value {
            display: inline-block;
            padding: 5px;
        }
        
        .key {
            width: 40%;
        }
        .value {
            width: 55%;
            margin: auto 0;
            padding-left: 5px;
            border-bottom: 1px solid rgb(70, 70, 70);
        }
    }

    div.record-information {
        margin: 10px 0;
    }

}