%font-style {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
%payment-style {
    .name {
        margin-right: 10px;
        display: inline-block;
        text-align: center;
    }
    .value {
        width: 50%;
        display: inline-block;
        border-bottom: 1px solid black;
        text-align: center;
    }
}

.receipt-show {
    text-align: center;
    width: 100%;
    overflow: auto;
    .container {
        background-image: linear-gradient(to right top, #bbdefb, #c5e3fb, #cfe8fc, #d9edfc, #e3f2fd);
        width: 990px;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        padding: 10px;
        display: inline-block;
        .header-container {
            position: relative;
            .print-button {
                font-weight: 300;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #2196F3;
                color: #f5f5f5;
                border: none;
                outline: none;
                box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                position: absolute;
                left: 0;
                top: 0;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: #1565C0;
                }
            }
        }
        h4 {
            font-family: 'Lato', sans-serif;
            font-size: 220%;
            margin: 10px;
            @extend %font-style;
        }
        p {
            @extend %font-style;
            margin: 5px;
        }
        .company-info {
            position: relative;
            .text {
                display: block;
            }
            #logo {
                position: absolute;
                width: 200px;
                height: auto;
                top: -20%;
                left: 10%;
                opacity: 0;
            }
        }
        #payment-header {
            text-transform: uppercase;
        }
        .issuance-date {
            text-align: right;
            position: relative;
            span.receipt-number {
                position: absolute;
                left: 0;
                font-weight: 800;
            }
        }
        span {
            @extend %font-style;
        }
        strong {
            font-weight: bold;
            font-size: 110%;
        }
        .payment {
            margin-top: 20px;
            text-align: left;
            .customer {
                text-align: left;
                display: inline-block;
                width: 60%;
                @extend %payment-style;
            }
            .amount {
                text-align: left;
                display: inline-block;
                width: 25%;
                @extend %payment-style;
            }
        }
        .payment-for {
            text-align: left;
            .service-name {
                margin-top: 5px;
                text-align: left;
                display: block;
                margin-right: 20px;
                .name {
                    display: inline-block;
                    margin-right: 10px;
                    width: 20%;
                }
                .value {
                    text-align: left;
                    padding-left: 5px;
                    display: inline-block;
                    border-bottom: 1px solid black;
                    width: 61.7%;
                }
            }
            .service-date {
                margin-top: 15px;
                text-align: left;
                display: flex;
                flex-direction: row;
                width: 100%;
                .name {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 5px;
                    width: 20%;
                }
                .value {
                    display: inline-block;
                    border-bottom: 1px solid black;
                    text-align: left;
                    width: 60.5%;

                    .selected-summer-camp-weeks {
                        border-top: 1px solid rgba(0, 0, 0, 0.4);
                        border-left: 1px solid rgba(0, 0, 0, 0.4);
                        border-right: 1px solid rgba(0, 0, 0, 0.4);
                        ul {
                            padding-left: 10px;
                        }
                        display: flex;
                        flex-direction: column;
                        .data-row {
                            text-align: left;
                            &:not(:last-of-type) {
                                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            }
                            padding: 10px;
                        }
                    }
                }
            }
        }
        #child-record {
            font-weight: 300;
            font-size: 180%;
        }
        .child-record-table {
            .container {
                width: 80%;
                box-shadow: none;
                border: 1px solid grey;
                display: inline-block;
            }
        }
        .receipt-child-record {
            margin-bottom: 10px;
            .full-name, .age {
                display: inline-block;
            }
            .full-name {
                text-align: left;
                width: 70%
            }
            .age {
                text-align: left;
                margin-left: 20px;
            }
            .name {
                margin-right: 10px;
                font-weight: bolder;
                display: inline-block;
            }
            .value {
                display: inline-block;
            }
        }
        div.purchased-items {
            margin: 15px 0;
            display: flex;
            // border: 1px solid black;
            div.key {
                flex: 0 1 20%;
                display: flex;
                align-items: center;
                text-align: left;
            }
            div.value {
                flex: 0 1 80%;
                text-align: left;
                table {
                    border-collapse: collapse;
                    border: 1px solid rgba(0, 0, 0, 0.4);
                    width: 95%;
                    th {
                        padding: 10px;
                        text-align: center;
                    }
                    tbody {
                        tr td {
                            padding: 0.5em 0.3em;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.tax {
    width: 100%;
    text-align: left !important;
    display: inline-block;
    h4 {
        margin: 0 !important;
        font-size: 90% !important;
        font-weight: bolder;
        text-align: left;
        display: inline-block !important;
    }
}

div.receipt-disclaimer {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}