.summative-receipt {
    width: 100%;
    text-align: center;
    * {
        font-family: 'Lato', 'sans-serif' !important;
        &:not(i) {
            font-weight: 300 !important;
        }
    }
    div {
        text-align: left;
    }
    p {
        font-size: 90%;
        margin: 0;
        margin-bottom: 5px;
    }

    .print-button {
        font-weight: 300;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #2196F3;
        color: #f5f5f5;
        border: none;
        outline: none;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 1px rgba(0, 0, 0, 0.2);
        display: table;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #1565C0;
        }
    }

    .scroll-to-top {
        vertical-align: middle;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: none;
        outline: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        position: fixed;
        bottom: 5%;
        right: 0.5%;
        background-color: rgb(243, 243, 243);
        cursor: pointer;
        i {
            font-family: "Font Awesome 5 Free" !important;
            font-size: 200%;
            color: #1565C0;
        }
        &:focus {
            outline: none;
        }
        z-index: 100;
    }

    .summative-year-select-container {
        width: 100%;
        text-align: right;
        .select-shroud {
            display: inline-block;
            position: relative;
            width: 150px;
            background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
            height: 29px;
            width: 240px;
            font-size: 16px;
            height: 30px;
            border-radius: 4px;
            background-color: #b4d8f0;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
            #summative-year-select {
                -o-appearance: none;
                -ms-appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                border: none;
                background: transparent;
                color: #fff;
                outline: none;
                padding: 5px;
                appearance: none;
            }
        }
    }
    
    .section-header {
        text-align: center;
        font-size: 140%;
        color: rgb(145, 85, 85);
    }

    .container {
        padding: 30px;
        width: 90%;
        display: inline-block;
        background-color: #f5f5f5;
        border-radius: 6px;
        position: relative;
        #sr-title {
            position: absolute;
            width: 100%;
            left: 0;
            top: 5px;
            border-radius: 4px;
            padding: 10px 0;
            background: rgb(130, 130, 130);
            text-transform: uppercase;
            text-align: center;
            font-size: 170%;
            color: #f5f5f5;
            font-weight: 400;
        }
        #year-header {
            text-align: center;
            font-size: 160%;
            color: rgb(83, 83, 83);
            margin-top: 90px;
            margin-bottom: none !important;
            text-transform: uppercase;
        }
        .logo-container {
            margin-top: 40px;
            text-align: left;
            #logo {
                display: inline-block;
                width: 200px;
                height: auto;
                transform: translateX(-25%);
            }
        }
        .company-information {
            color: rgb(82, 81, 81);
        }
        #client-header {
            text-align: left;
            text-transform: uppercase;
            width: 40%;
            border-bottom: 1px solid rgb(45, 45, 45);
        }
        .client-information {
            color: rgb(110, 110, 110);
        }
        .single-day-table-container, .annual-single-day-container {
            width: 100%;
            text-align: center;
            #single-day-table, #annual-single-day-table {
                .child-record {
                    text-align: left;
                    padding: 5px 0 0 25%;
                }
                margin: 0 auto;
                border-collapse: collapse;
                width: 100%;
                border-radius: 6px;
                border: 1px solid rgba(0,0,0,.12);
                tr {
                    border-bottom: 1px solid rgba(0,0,0,.12);
                }
                th {
                    background: rgb(87, 87, 87);
                    color: rgb(224, 223, 223);
                    text-align: center;
                    padding: 5px;
                    &:first-of-type {
                        width: 15%;
                    }
                    &:nth-of-type(2) {
                        width: 20%;
                    }
                    &:nth-of-type(3) {
                        width: 20%;
                    }
                    &:nth-of-type(4) {
                        width: 15%;
                    }
                    &:nth-of-type(5) {
                        width: 10%;
                    }
                }
                td {
                    font-weight: 400;
                    padding: 15px 5px;
                }
            }
        }
    }

    .subtotal-container {
        display: block;
        text-align: right;
        .subtotal {
            margin-top: 10px;
            display: inline-block;
            margin-right: 8.5%;
            span {
                display: inline-block;
                font-size: 130%;
                &:first-of-type {
                    margin-right: 20px;
                }
            }
        }
    }

    .section-total {
        padding: 5px 0;
        background-color: rgb(120, 120, 120);
        margin-top: 15px;
        display: block;
        .subtotal {
            line-height: 40px;
            margin-top: 0;
            span {
                vertical-align: middle;
                color: #fff;
            }
        }
    }

    .grand-total-section {
        margin-top: 20px;
        text-align: right;
        width: 100%;
        display: block;
        .section-container {
            width: 70%;
            display: inline-block;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
            .data {
                text-align: right;
                padding: 5px;
                span {
                    display: inline-block;
                    font-size: 18px;
                }
                .key {
                    text-align: left;
                    width: 60%;
                }
                .value {
                    padding-left: 10px;
                    text-align: left;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
                    width: 30%;
                }
            }
        }
        .grand-total {
            &:last-of-type {
                background-color: #64B5F6;
            }
            span {
                line-height: 40px;
                vertical-align: middle;
                color: #fff;
            }
            .key {
                text-transform: uppercase;
            }
            .value {
                border-bottom: transparent !important;
            }
        }
    }

    @import 'before-and-afterschool-section';
    @import 'vacation-camp-section';
    @import 'summer-camp-section';
    @import 'purchase-section';
}