.vacation-camp-section, .summer-camp-section {
    .vacation-camp-records-table-container {
        width: 100%;
    }
    #vacation-camp-records-table, #summer-camp-records-table {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            &:first-of-type {
                background-color: #80CBC4;
                color: rgb(241, 241, 241);
            }
        }

        th, td {
            text-align: center;
            padding: 15px 5px;
        }
        th:first-of-type {
            width: 15%;
        }
        .record-list {
            list-style-type: circle;
            li {
                text-align: left;
                padding: 5px 5px 5px 8px;
            }
        }
    }
}