.receipts {
    h4 {
        text-align: center;
        color: #373d3f !important;
        font-weight: 300;
        font-size: 170%;
        text-transform: uppercase;  
    }
    .summative-receipt-button-container, .no-receipts-summative-container {
        text-align: right;
        width: 990px;
        display: table;
        margin: 0 auto;
        margin-bottom: 20px;
        .asr-button {
            background-color: #0D47A1;
            outline: none;
            border: none;
            cursor: pointer;
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 1px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            color: #f5f5f5;
            padding: 10px 15px;
            border-radius: 5px;
            font-family: 'Lato', sans-serif;
        }
    }
    .no-receipts-summative-container {
        width: 100%;
        text-align: center;
    }
    #no-receipts {
        text-transform: capitalize;
    }
    .container {
        width: 100%;
        text-align: center;
        position: relative;
        .table-container {
           width: 100%;
           display: inline-block;
           height: 350px; 
            tr {
                border-bottom: 1px solid rgba(0,0,0,.12);
            }
            table {
                margin: 0 auto;   
                width: 990px;
                border-collapse: collapse;
                box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
                border-radius: 5px;
            }
          
            th {
                font-weight: 400;
                padding: 15px 10px;
                opacity: 0.75;
            }
            td {
                font-weight: 400;
                padding: 15px 5px;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
       }
    }
}

@import 'receipt-show';
@import 'pagination';
@import 'summative-receipt';

@import 'print';