<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Year</th>
			<th>Month</th>
            <th>Days</th>
            <th>Capacity</th>
			<th>Enrolled</th>
		</tr>
	</thead>

	<tbody>
			<% schedules.each do |camp_schedule| %>
				<tr>
					<td data-th="Name"><%= camp_schedule.name %></td>
					<td data-th="Year"><%= camp_schedule.year %></td>
					<td data-th="Month"><%= camp_schedule.month.capitalize %></td>
                    <td data-th="Days"><%= camp_schedule.days %></td>
                    <td data-th="Capacity"><%= camp_schedule.capacity %></td>
					<td data-th="Enrolled"><%= camp_schedule.enrollment_count %></td>
				</tr>
			<% end %>
	</tbody>
</table>
