<div class="checkout-container w-100 white ph3 pv2 dim outline-0 ba ">
    <button id="checkoutSubmit">Submit and Pay</button>
</div>
<script>
    var checkoutWindow = StripeCheckout.configure({
        key: "<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>",
        email: "<%= current_customer_user.email %>",
        token: function(stripeToken) {
            const form = $('form');
            form.append($('<input type="hidden" name="stripeToken" />').val(stripeToken.id));
            $(form).get(0).submit();
        }
    });
    $(document).ready(function() {
        document.getElementById('checkoutSubmit').addEventListener('click', function(e) {
            checkoutWindow.open({
                name: 'TSL',
                panelLabel: "Submit and Pay"
            });
            e.preventDefault();
        })
        window.addEventListener('popstate', function() {
        checkoutWindow.close();
        });
    })
</script>
