<h1 class="f5 f4-ns lh-title ttu tracked mv0 pv3 black-70 tc">Invoice Information</h1>
<main class="mw7 center ph2 pb3">
	<% if current_customer_user.customer.invoices.present? %>
		<table class="f6 w-100 mw8 center tl" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 tl pa3 bg-white">Invoice</th>
					<th class="fw6 tl pa3 bg-white">Due Date</th>
					<th class="fw6 tl pa3 bg-white">Amount Remaining</th>
					<th class="fw6 tc pa3 bg-white">Status</th>
					<th class="fw6 tc pa3 bg-white">Actions</th>
				</tr>
			</thead>

			<tbody class="lh-copy">
				<% current_customer_user.customer.invoices.order('created_at desc').each do |invoice| %>
					<tr class="stripe-dark">
						<td class="pa2 pa3-ns" data-th="Invoice">Invoice <%= invoice.id %> / <%= invoice.memo %></td>
						<td class="pa2 pa3.ns" data-th="Due Date"><%= invoice.due_date.present? ? invoice.due_date.strftime('%D') : "N/A" %>
						<td class="pa2 pa3-ns" data-th="Amount Remaining"><%= number_to_currency(invoice.amount_remaining_to_dollars) %></td>
						<td class="pa2 tc pa3-ns" data-th="Status"><%= invoice.paid? ? "Paid" : "Unpaid" %></td>
						<td class="pa2 tc pa3-ns" data-th="Actions"><%= link_to "View", invoice_path(invoice) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p class="f5 lh-copy">You don't have any invoices yet.</p>
	<% end %>
</main>
