<h1 class="f3 f2-ns lh-title mw8 center pa2 tc">Invoice <%= @invoice.id %> / <%= @invoice.memo %></h1>

<main class="mw8 center ph2 pb3">
	<div class="measure center">
		<% if @invoice.paid? %>
			<p class="f5 f4-ns lh-copy tc mv4">This invoice totalling <b><%= number_to_currency(@invoice.amount_after_discounts_and_fees_to_dollars) %></b> has been paid.</p>
		<% else %>
			<%= form_tag({:action => 'submit_payment'}, id: 'invoice-payment-form') do %>
				<p class="f5 f4-ns lh-copy mv0"><b>Invoice Amount:</b> <%= number_to_currency(@invoice.amount_to_dollars) %></p>
				<p class="f5 f4-ns lh-copy mv0"><b>Amount Paid:</b> <%= number_to_currency(@invoice.amount_paid_to_dollars) %></p>
				<p class="f5 f4-ns lh-copy mv0"><b>Discounts:</b> <%= number_to_currency(@invoice.discounts_total_to_dollars) %></p>
				<p class="f5 f4-ns lh-copy mv0"><b>Fees:</b> <%= number_to_currency(@invoice.fees_total_to_dollars) %></p>
				<p class="f5 f4-ns lh-copy mt0 mb4"><b>Due:</b> <%= number_to_currency(@invoice.amount_remaining_to_dollars) %></p>

				<%= hidden_field_tag :invoice_id, @invoice.id %>
				<%= hidden_field_tag :paid, true %>

				<%= label_tag :amount, 'Amount ($): ', class: "f6 fw7 db mb1" %>
				<%= number_field_tag :amount, @invoice.amount_remaining_to_dollars, max: @invoice.amount_remaining_to_dollars, step: :any, class: "input rest ba b--black-20 pa2 mb1 db w-100" %>
				<p class="mt1 mb4">How much would you like to pay at this time?</p>
                <div class="transaction-notifier-container">
                    <p class="transaction-processing-notifier">Your transaction is currently being processed. Please wait.</p>
                </div>
				<% if current_customer_user.customer.card_last_four.present? && current_customer_user.customer.card_brand.present? %>
					<p class="f5 f4-ns lh-copy"><b>Card On File:</b> <%= current_customer_user.customer.card_brand %> ending with <%= current_customer_user.customer.card_last_four %></p>
					<%= button_tag 'Submit And Pay With Card on File', type: 'button', name: 'commit', class: "invoice-payment-submit-input w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
				<% else %>
					<%= render 'stripe_checkout' %>
				<% end %>

				<% if current_customer_user.customer.stripe_bank_identifier.present? && current_customer_user.customer.bank_name.present? && current_customer_user.customer.bank_verified? %>
					<p><b>Bank On File:</b> <%= current_customer_user.customer.bank_name %></p>
					<%= button_tag 'Submit And Pay With Bank on File', type: 'button', name: 'commit', class: "invoice-payment-submit-input w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20" %>
				<% else %>
					<%= render 'registration_records/bank_form', button_label: "Link and Pay with Bank Account" %> 
				<% end %>
			<% end %> <!-- form ends here -->
		<% end %>
	</div>
</main>
