<%= form_for @discount, url: admin_discounts_path, html: { class: "tsl-form white-form regular-form" } do |f| %>
	<% if params[:registration_record_id].present? %>
		<% registration_record = RegistrationRecord.find(params[:registration_record_id]) %>
		<p>Permanent Discount for <b><%= registration_record.customer.name %> for <%= registration_record.program.display_name %></b></p>

		<%= f.hidden_field :registration_record_id, value: registration_record.id %>
	<% elsif params[:program_id].present? %>
		<% program = Program.find(params[:program_id]) %>
		<p>Discount for <b><%= program.display_name %></b></p>

		<%= f.hidden_field :program_id, value: program.id %>
	<% elsif params[:invoice_id].present? %>
		<% invoice = Invoice.find(params[:invoice_id]) %>
		<p>
			Discount for <b>Invoice <%= invoice.id %> / <%= invoice.memo %></b><br/>
			For: <%= invoice.registration_record.customer.name %>
		</p>

		<%= f.hidden_field :invoice_id, value: invoice.id %>
	<% end %>

	<%= f.label :amount, "Amount in Dollars: " %>
	<%= f.number_field :amount, step: :any %>

	<hr>

	<div class="o-grid">
		<div class="o-grid__unit u-half">
			<%= f.submit "Submit", class: 'button' %>
		</div>
		<div class="o-grid__unit u-half u-align-right">
		</div>
	</div>
<% end %>
