/* ==|====================
   Modules/Alerts
   Alerts
   ======================= */
.alert, .purr {
  // border-radius: $border-radius;
  background: $blue;
  max-width: 350px;
  min-width: 200px;
  padding: $base-spacing-unit;
  position: fixed;
  right: 120px;
  top: 80px;
  @include transition(all);
  z-index: 5;
  // border-left: 4px solid $orange;
}

.alert-info,
.alert-notice {//Use info for neutral things (blue)
  background-color: $orange;
  color: $white;
}

.alert-danger,
.alert-alert,
.bip-flash-error {//Use danger for negative things (red)
  background-color: $red;
  color: $white;
}

.alert-success {//Use success for Positive things (green)
  background-color: $green;
  color: $white;
}

.close {
  @include transition(all);
  color: $white;
  float: right;
  // font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  opacity: .87;
  padding-left: $base-spacing-unit;
}

.close:hover,
.close:focus {
  color: $silver;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
}

@media screen and (max-width:600px) {
  .alert {
    left: 8px;
    right: 8px;
    margin: 0;
    position: fixed;   
  }
}