.c-book-list__item {
    display: block;
    padding: $base-spacing-unit;
    text-align: center;
}

.c-book-list__item > img {
    max-height: 200px;
    max-width: 100%;
    margin-bottom: $base-spacing-unit--small;
}

.c-book-list__item:hover > img {
    @include transition(box-shadow);
    @include box-shadow;
}

.c-book-list__item-title {
    font-weight: 700;
    margin-bottom: 0;
    white-space: nowrap;
}


@media screen and (max-width: 1000px) {
    .c-book-list__item {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .c-book-list__item {
        width: 80%;
        margin: 0 auto;
        display: block;
        float: none;
    }
}

@media screen and (max-width: 450px) {
    .c-book-list__item {
        width: 95%;
        margin: 0 auto;
        display: block;
    }
}