// /*
//  *
//  * c-buttons.css
//  * Simple css utilities for building responsive buttons
//  * Author: mrmrs
//  * License: MIT
//  *
//  *                */

// /*

//   Base .c-button class

//   Code:
//   <a href="#" class="c-button">Default button</a>

// */

// .c-button,
// .c-button:link,
// .c-button:visited {
//   border-radius: .25em;
//   border-style: solid;
//   border-width: 1px;
//   color: #111;
//   display: inline-block;
//   letter-spacing: .15em;
//   margin-bottom: .5em;
//   padding: 1em 1.5em;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: color .4s, background-color .4s, border .4s;
// }

// .c-button:hover,
// .c-button:focus {
//   color: #7FDBFF;
//   border: 1px solid #7FDBFF;
//   transition: background-color .3s, color .3s, border .3s;
// }

// .c-button:active {
//   color: #0074D9;
//   border: 1px solid #0074D9;
//   transition: background-color .3s, color .3s, border .3s;
// }

// /*

//   Sizes

//   Small  = .c-button--small
//   Large  = .c-button--large

//   Code:
//   <a href="#" class="c-button c-button--small">
//   <a href="#" class="c-button c-button--large">

// */

// .c-button--small { font-size: 14px; }
// .c-button--large { font-size: 20px; border-radius: .25em!important; }

// /*

//   Layout utility for responsive buttons

//   Code:
//   <a href="#" class="c-button c-button--full">

// */

// .c-button--full,
// .c-button--full:link {
//   border-radius: .25em;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   width: 100%;
// }

// /* Keep it mobile-first and responsive */

// @media screen and (min-width: 32em) {
//   .c-button--full {
//     max-width: 16em!important;
//   }
// }

// /*

//   Skins

//   * Black & White
//   * Grays
//   * Colors

//   Code:
//   <a href="#" class="c-button c-button--black">
//   <a href="#" class="c-button c-button--white">
//   <a href="#" class="c-button c-button--gray">
//   <a href="#" class="c-button c-button--gray-dark">
//   <a href="#" class="c-button c-button--gray-border">
//   <a href="#" class="c-button c-button--blue">

// */

// /* BLACK & WHITE */

// .c-button--black,
// .c-button--black:link,
// .c-button--black:visited {
//   color: #fff;
//   background-color: #111;
// }

// .c-button--black:hover,
// .c-button--black:focus {
//   color: #fff;
//   background-color: #444;
//   border-color: #444;
// }

// .c-button--black:active {
//   color: #fff;
//   background-color: #999;
//   border-color: #999;
// }

// .c-button--white,
// .c-button--white:link,
// .c-button--white:visited {
//   color: #111;
//   background-color: #fff;
// }

// .c-button--white:hover,
// .c-button--white:focus {
//   color: #111;
//   background-color: rgba(255,255,255,.7);
//   border-color: rgba(255,255,255,.7);
// }

// .c-button--white:active {
//   color: #111;
//   background-color: rgba(255,255,255,.9);
//   border-color: rgba(255,255,255,.9);
// }

// /* Gray */

// .c-button--gray:link,
// .c-button--gray:visited {
//   background-color: #f0f0f0;
//   border-color: #f0f0f0;
//   color: #555;
// }

// .c-button--gray:hover,
// .c-button--gray:focus {
//   background-color: #ddd;
//   border-color: #ddd;
//   color: #444;
// }

// .c-button--gray:active {
//   background-color: #ccc;
//   border-color: #ccc;
//   color: #444;
// }

// .c-button--gray-border:link,
// .c-button--gray-border:visited {
//   background-color: #fff;
//   border-color: #555;
//   border-width: 2px;
//   color: #555;
// }

// .c-button--gray-border:hover,
// .c-button--gray-border:focus {
//   background-color: #fff;
//   border-color: #ddd;
//   color: #777;
// }

// .c-button--gray-border:active {
//   background-color: #ccc;
//   border-color: #ccc;
//   color: #444;
// }

// .c-button--gray-dark:link,
// .c-button--gray-dark:visited {
//   background-color: #555;
//   color: #eee;
// }

// .c-button--gray-dark:hover,
// .c-button--gray-dark:focus {
//   background-color: #333;
//   border-color: #333;
//   color: #eee;
// }

// .c-button--gray-dark:active {
//   background-color: #777;
//   border-color: #777;
//   color: #eee;
// }

// /* BLUE */

// .c-button--blue:link,
// .c-button--blue:visited {
//   color: #fff;
//   background-color: #0074D9;
// }

// .c-button--blue:hover,
// .c-button--blue:focus {
//   color: #fff!important;
//   background-color: #0063aa;
//   border-color: #0063aa;
// }

// .c-button--blue:active {
//   color: #fff;
//   background-color: #001F3F;
//   border-color: #001F3F;
// }

// /* ==|====================
//    Modules/Buttons
//    Styles for all buttons
//    ======================= */
.button {
    //everyday normal guy button
    @include button($blue, $white);

    @include transition(all);

    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: $border-radius;
    border: 0;

    //for spacing between buttons and other elements
    margin: $base-spacing-unit;
}

.button.negative {
    //used for negative actions (delete, remove, etc.)
    @include button($red, $white);
}

.button.positive {
    //used for positive actions (create, new, etc.)
    @include button($green, $white);
}

.button.cancel {
    @include button($gray, $white);
}

.button.back {
    //used for back buttons exclusively within page headers
    @include button($gray, $white);

    @include small-button;
}

.button.disabled {
    //used for buttons that are disabled or unavailable
    background: $silver;
    color: $gray;
    opacity: .8;
    cursor: default;
    border: 1px solid $gray;

    &:visited {
        background: $silver;
        color: $gray;
    }

    &:hover {
        background: $silver;
        color: $gray;
    }

    &:active {
        background: $silver;
        color: $gray;
        transform: translateY(0px);
    }
}

.stacked-buttons {
    display: block;
    border-radius: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 220px;
    text-align: center;
    border-top: 1px solid $silver;
}

.stacked-buttons.button {
    padding: $base-spacing-unit--small $base-spacing-unit;
}

.stacked-buttons:first-of-type {
    border-radius: $border-radius $border-radius 0 0;
    border-top: 0;
}

.stacked-buttons:last-of-type {
    border-radius: 0 0 $border-radius $border-radius;
}