.c-header {
    height: $base-spacing-unit * 4;

}

.c-header__wrapper {
    max-width: $base-wrapper-width;
    margin-right: auto;
    margin-left:  auto;
    padding-right: 10px;
    padding-left:  10px;
}

.c-navigation__list {
    margin: 0; // reset
    list-style-type: none;
}

.c-navigation__list-item {
    float: left;
}

.c-header__title,
.c-navigation__link {
    padding: 0 $base-spacing-unit;
    line-height: $base-spacing-unit * 4;
    height: $base-spacing-unit * 4;
    display: block;
}

.c-header__title {
    padding-left: 0;
    font-weight: 700;
}
.c-navigation__list-item:last-child > .c-navigation__link {
    padding-right: 0;
}