.c-hero {
    display: block;
    padding: $base-spacing-unit;
}

.c-hero--Books {
    background: $silver;
//     background-image: linear-gradient(-90deg, rgb(52, 152, 219) 25%, rgb(41, 128, 185) 100%);
// background-image: -moz-linear-gradient(to bottom, rgb(52, 152, 219) 25%, rgb(41, 128, 185) 100%);
// background-image: -webkit-linear-gradient(to bottom, rgb(52, 152, 219) 25%, rgb(41, 128, 185) 100%);
// background-image: -o-linear-gradient(to bottom, rgb(52, 152, 219) 25%, rgb(41, 128, 185) 100%);
// background-image: -ms-linear-gradient(to bottom, rgb(52, 152, 219) 25%, rgb(41, 128, 185) 100%);
}

.c-hero__title {
    color: $darkpurple;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.c-hero > p:last-child {
    margin-bottom: 0;
}


.c-now-reading {
    background: $purple;
    padding: $base-spacing-unit__small;
    position: relative;
    width: 100%;
    z-index: -1;
}
.c-now-reading__progress-bar {
    background: $darkpurple;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 66%;
    z-index: -1;
}

.c-now-reading > p {
    line-height: 24px;
    margin: 0;
    z-index: 3;
    color: $white;
}

@media screen and (max-width: 600px) {
    .c-now-reading > p {
        display: block;
        float: none !important;
    }
}