.c-multi-button {
  display: inline-block;
  /* background-color: #e7e7e7; */
  color: $black;
  border: 1px solid #b9b9b9;
  position: relative;
  border-radius: 3px 0 0 3px;
    margin-right: 36px;
}
.c-multi-button__items {
  overflow: hidden;
  max-height: 34px;
  transition: max-height .33s;
  border-radius: 3px 0 0 3px;
}
.c-multi-button.is-open {
  border-radius: 3px 0 3px 3px;
}
.c-multi-button.is-open > .c-multi-button__items {
  transition: max-height .33s;
  max-height: 420px;
  background-color:transparent;
}

.c-multi-button.is-open > .c-multi-button__items {
  border-radius: 0 0 2px 2px;
}

.c-multi-button__item {
  transition: background-color .33s;
  border-bottom: 1px solid #b9b9b9;
  // padding: 5px 12px;
  padding: 8px 12px;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #e7e7e7;
  &:hover {
    background-color: #DDDDDD;
  }
  &:active {
    background-color: #D0D0D0;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}



.c-multi-button__item--negative {
  color: red;
}

.c-multi-button__arrow {
  position: absolute;
  right: -32px;
  top: -1px;
  background-color: #e7e7e7;
  border: 1px solid #b9b9b9;
  color: #333333;
  padding: 9px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  height: 36px;
  &:hover {
    background-color: #DDDDDD;
    text-shadow: 1px 1px rgba(black,.12);
  }
  &:active {
    background-color: #d0d0d0;
    text-shadow: none;
  }
}

.eco-pg-title-footer .c-multi-button {
  margin: 8px;
  float: right;
}
