// .c-button {
//     display: inline-block;
//     padding: 7px 12px;
//     font-weight: 600;
//     line-height: 1.4;
//     text-align: center;
//     text-decoration: none;
//     border: 1px solid currentColor;
//     border-radius: 3px;
//     cursor: pointer;
// }
// .c-button:focus {
//     box-shadow: 0 0 0 2px color(blue, 0.3);
//     outline: none;
// }
// .c-button:hover {
//     text-decoration: none;
// }
// .c-button:disabled {
//     opacity: 0.5;
//     cursor: default;
// }

// .c-button--primary {
//  color: $DBbutton-text-primary;
//     border-color: $DBbutton-border-primary;
//     background-color: $DBbutton-background-fallback-primary;
//     background: $DBbutton-background-primary;
// }
// .c-button--secondary {
//  color: $DBbutton-text-primary;
//     border-color: $DBbutton-border-primary;
//     background-color: $DBbutton-background-fallback-primary;
//     background: $DBbutton-background-primary;
// }
// .c-button--positive {
//  color: $DBbutton-text-primary;
//     border-color: $DBbutton-border-primary;
//     background-color: $DBbutton-background-fallback-primary;
//     background: $DBbutton-background-primary;
// }
// .c-button--negative {
//  color: $DBbutton-text-primary;
//     border-color: $DBbutton-border-primary;
//     background-color: $DBbutton-background-fallback-primary;
//     background: $DBbutton-background-primary;
// }


// .c-button--large {
//  padding: 10px 26px;
// }
// .c-button--full {
//  display: block;
// }