.forum-table {
    background: $white;
    border-collapse: collapse;
    border-radius: 3px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-weight: 400;
    overflow: hidden;
    // border: 1px solid $black;
    width: 100%;
}
.forum-table > tbody > tr:nth-of-type(2n) {
    // background: rgba($teal,.1);
    background: rgba($blue, .1);
}

.forum-table th {
    padding: $base-spacing-unit $base-spacing-unit--small;
    color: #00ac9e;
    border-bottom: 1px solid black;
    // background: $teal;
    background: $navy;
    color: $white;
    @extend .small;
    text-align:center;
}

.forum-table td {
    padding: $base-spacing-unit $base-spacing-unit--small;
    text-align:center;
}