.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
        flex: 0 1 20%;
    }

    input[type=checkbox] {
        -webkit-appearance: checkbox;
        padding: 20px;
        cursor: pointer;
    }
}
#check_all_fees{
    -webkit-appearance: checkbox;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    transform: scale(1.3);
    margin-top: 2px;
    }
label[for=check_all_fees]{
    width: auto;
    display: inline-block;
}
.vertically_center {
    width: 100%;
    display: flex;
    justify-content: center;
 }
 