<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Email</th>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Address</th>
			<th>Registration Records</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
			<% target.each do |customer| %>
				<tr>
					<td data-th="Email"><%= customer.email %></td>
					<td data-th="Name"><%= customer.name.present? ? customer.name : "N/A" %></td>
					<td data-th="Phone Number"><%= customer.phone_number.present? ? customer.phone_number : "N/A" %></td>
					<td data-th="Address"><%= customer.address == ",  , " ? "N/A" : customer.address %></td>
					<td data-th="Registration Records"><%= customer.registration_records.count %></td>
					<td data-th-"Actions">
						<div class="action-links c-multi-button js-multi-button">
							<div class="c-multi-button__items">
								<%= link_to "View", admin_customer_path(customer), class: "c-multi-button__item" %>
								<%= link_to "Edit", edit_admin_customer_path(customer), class: "c-multi-button__item" %>
								<%= link_to "Delete", admin_customer_path(customer),remote:true, method: :delete, class: "c-multi-button__item red-link" %>
							</div>
							<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
						</div>
					</td>
				</tr>
			<% end %>
	</tbody>
</table>
