<h1 class="f3 f2-ns lh-title dib bb bw2 b--black"><%= @customer.email %></h1>

<div class="cf w-100">
	<div class="fl w-100 pa3 pl0 pb0">
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Customer Information</h2>
	</div>

	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<p class="f5 f4-l lh-copy mb0"><b>Email:</b> <%= @customer.email %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Name:</b> <%= @customer.name.present? ? @customer.name : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Phone Number:</b> <%= @customer.phone_number.present? ? @customer.phone_number : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Emergency Phone Number:</b> <%= @customer.emergency_phone_number.present? ? @customer.emergency_phone_number : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Address:</b> <%= @customer.address == ",  , " ? "N/A" : @customer.address %></p>
	</div>

	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<p class="f5 f4-l lh-copy mb0"><b>How Did You Hear About Us?</b> <%= @customer.how_did_you_hear_about_us.present? ? @customer.how_did_you_hear_about_us : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Customer URL:</b> <%= @customer.customer_url.present? ? (link_to @customer.customer_url, @customer.customer_url) : "N/A" %>
		<p class="f5 f4-l lh-copy mb0"><b>Customer Identifier:</b> <%= @customer.stripe_customer_identifier.present? ? @customer.stripe_customer_identifier : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Autopay Enabled:</b> <%= @customer.autopay_enabled? ? "Yes" : "No" %></p>
	</div>
</div>

<br/>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Registration Records</h2>
<% if @customer.registration_records.present? %>
	<%= render 'admin/registration_records/table', target: @customer.registration_records %>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no registration records associated with this customer.</p>
<% end %>

<br/>
