/*
    Settings: Colors
    ---
    Source: https://github.com/mrmrs/colors
    ---
    A better set of default colors, thanks mrmrs.io
*/

$aqua:  #7FDBFF !default;
$blue:  #0074D9 !default;
$navy:  #001F3F !default;
$teal:  #39CCCC !default;
$green: #2ECC40 !default;
$olive: #3D9970 !default;
$lime:  #01FF70 !default;

$yellow:  #FFDC00 !default;
$orange:  #FF851B !default;
$red:     #FF4136 !default;
$fuchsia: #F012BE !default;
$purple:  #B10DC9 !default;
$maroon:  #85144B !default;

$white:  #fff !default;
$silver: #ddd !default;
$gray:   #aaa !default;
$black:  #111 !default;