/*
    Settings: Global
    ---
    Global variables
*/

/* Font Size & Line Height */
$base-font-family: "brandon-grotesque", sans-serif;
$base-font-size:    16px;
$base-line-height:  24px;


/* UI */
$border-radius:      3px;
$border-width:       1px;
$border-style:     solid;

// $base-wrapper-width:    990px;
// HUNTER CHANGED THIS TEMPORARILY
$base-wrapper-width: 1200px;

/* Spacing Units */
$base-spacing-unit:           16px;
$base-spacing-unit--tiny:     round($base-spacing-unit / 4);
$base-spacing-unit--small:    round($base-spacing-unit / 2);
$base-spacing-unit--large:    round($base-spacing-unit * 2);
$base-spacing-unit--huge:     round($base-spacing-unit * 4);


/* https://coolors.co/app/f4faff-dee7e7-b7adcf-3b2e59-636768 */
$white: #F4FAFF;
$silver: #DEE7E7;
$purple: #B7ADCF;
$darkpurple: #3B2E59;
$gray: #4F646F;
$coffee: #535657;
$black: #1C2428;

$base-text-color: $black;
$base-background-color: $silver;
