div.admin-purchase-details {
    $orange: #ff6300;
    $dark_blue: #001F3F;
    width: 100%;
    padding: 1.5em;

    h1 {
        font-weight: 300;
        font-size: 2em;
        font-family: roboto, verdana, arial;
    }

    h2.header {
        text-transform: uppercase;
        color: $orange;
        font-size: 1.5em;
    }

    div.information {
        &:not(:first-of-type) {margin-top: 15px;}
        strong, span, a {
            font-size: 1.2em;
        }
    }

    div.order-details-table-container {
        overflow-x: auto;
        table {
            border: 1px solid rgba(0, 0, 0, 0.4);
            width: 100%;
            margin: auto;
            @media screen and (max-width: 720px) {width:  700px;}
            thead {
                background-color: $dark_blue;
                th {
                    padding: 1em;
                    text-align: center;
                    color: #fff;
                }
            }
            tbody {
                background-color: #fff;
                td {
                    text-align: center;
                    padding: 0.8em;
                    font-size: 1.2em;
                }
            }
        }
    }
}