div.admin-purchases-section{
    $dark_blue: #001F3F;
    padding: 1.5em;
    background-color: #F4FAFF;
    @media screen and (max-width: 450px) {padding: 0.5em;}
    h1 {
        text-align: center;
        font-family: roboto, verdana, arial;
        color: #37474F;
        font-size: 3em;
    }
    section.search-fields-section {
        div.search-fields {
            h2 {
                font-size: 2em;
                font-weight: 300;
            }
            div.input-pair {
                &:not(:first-of-type) {margin-top: 10px;}
                label {
                    padding-left: 2px;
                }
                select {
                    max-width: 310px;
                    outline: none;
                }
            }
            div.submit-button-container {
                text-align: left;
                @media screen and (max-width: 450px) {text-align: center}
                input[type=submit], a {
                    width: 150px;
                    height: 40px;
                    display: inline-block;
                    padding: 10px;
                    margin-left: 0;
                    @media screen and (max-width: 450px) {margin-right: 0;}
                }
                a {
                    position: relative;
                    bottom: -3px;
                    text-align: center;
                }
            }
        }
    }
    section.purchases-summary-section {
        div.purchases-table-container {
            width: 100%;
            overflow-x: auto;
            table {
                width: 100%;
                @media screen and (max-width: 950px){width: 1200px;}
                border-collapse: collapse;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
                thead {
                    background-color: $dark_blue;
                    th {
                        color: #fff;
                        text-align: center;
                        padding: 1em;
                        font-size: 1em;
                        font-family: lato, verdana, arial;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
                tbody {
                    background-color: #f5f5f5;
                    td {
                        font-family: lato, verdana, arial;
                        font-size: 1.1em;
                        padding: 0.5em;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        &:not(:first-of-type) {text-align: center;}
                    
                    }
                    tr {
                        &:nth-of-type(even) {
                            background-color: #E3F2FD;
                        }
                    }
                }
            }
        }
    }
}

@import 'details';