section.billing {
    flex: 0 1 85%;
    background-color: #f4f4f4;
    display: none;
    div.billing-section-container {
        position: relative;
        div.billing-section-event-notification {
            position: absolute;
            top: 150px;
            width: 100%;
            text-align: center;
            padding: 0 0.5%;
            background-color: transparent;

            @media only screen and (max-width: 450px) {
                top: 200px;
            }
            @media only screen and (max-width: 375px) {
                top: 185px;
            }
            h4 {
                border-radius: 10px;
                transition: opacity 1500ms ease;
                opacity: 0;
                color: #fff;
                font-family: lato, verdana, arial;
                font-size: 1em;
                padding: 0 5px;
                @media only screen and (max-width: 450px) {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        h3.header {
            width: 100%;
            font-size: 1.5em;
            text-transform: uppercase;
            background-color: #CFD8DC;
            text-align: center;
            color: #455A64;
            line-height: 100%;
            vertical-align: middle;
            padding: 0.8em;
            @media only screen and (max-width: 375px) {
                font-size: 1.2em;
            }
        }
        section.receipt-section {
            width: 99%;
            margin: 8px auto;
            h4.receipt-section-header {
                padding: 0.3em 0.5em;
                background-color: #0288D1;
                color: #F5F5F5;
                font-size: 0.9em;
                @media only screen and (max-width: 435px) {
                    text-align: center;
                }
            }

            div.search-receipt-section {
                margin-top: 10px;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 450px) {
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 0 10px;
                    input#receipt-id-text-field {
                        flex: 0 1 100%;
                    }
                    button.retrieve-receipt-information-button {
                        margin-top: 10px;
                        transform: translateX(7px);
                    }
                }
                input#receipt-id-text-field {
                    font-family: lato, verdana, arial;
                    font-size: 1em;
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    padding: 5px;
                    height: 37px;
                    &::placeholder {
                        opacity: 0.8;
                    }
                }

                button.retrieve-receipt-information-button {
                    margin-left: 10px;
                    padding: 8px 10px;
                    font-size: 0.9em;
                    font-family: lato, verdana, arial;
                    border-radius: 4px;
                    background-color: #1565C0;
                    color: #fff;
                    outline: none;
                    border: none;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    transition: background-color 400ms ease;
                    &:hover {
                        background-color: #0D47A1;
                    }

                    &:active::after {
                        transform: scale(0) translate(-50%, -50%);
                        opacity: 1;
                        transition: transform 0s, opacity 0s;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        height: 32px;
                        width: 32px;
                        top: 50%;
                        left: 50%;
                        transform: scale(3) translate(-50%, -50%);
                        background-color: #fff;
                        border-radius: 50%;
                        overflow: hidden;
                        opacity: 0;
                        transition: transform 800ms ease, opacity 600ms ease;
                        transform-origin: 0 0;
                    }
                }
                .loading-ellipsis {
                    opacity: 0;
                    margin-left: 5px;
                    transition: opacity 800ms ease;
                    display: inline-block;
                    position: relative;
                    width: 28px;
                    height: 38px;
                }
                .loading-ellipsis div {
                    position: absolute;
                    top: 15px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: #0D47A1;
                    animation-timing-function: cubic-bezier(0, 1, 1, 0);
                }
                .loading-ellipsis div:nth-child(1) {
                    left: 6px;
                    animation: loading-ellipsis1 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(2) {
                    left: 6px;
                    animation: loading-ellipsis2 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(3) {
                    left: 26px;
                    animation: loading-ellipsis2 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(4) {
                    left: 45px;
                    animation: loading-ellipsis3 0.6s infinite;
                }
                @keyframes loading-ellipsis1 {
                    0% {
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    }
                    }
                    @keyframes loading-ellipsis3 {
                    0% {
                        transform: scale(1);
                    }
                    100% {
                        transform: scale(0);
                    }
                }
                @keyframes loading-ellipsis2 {
                    0% {
                        transform: translate(0, 0);
                    }
                    100% {
                        transform: translate(19px, 0);
                    }
                }
            }
            h3.receipt-information-header, h3.receipt-child-information-header {
                padding: 0 0.5em;
                text-align: center;
                color: #616161;
                font-size: 0.9em;
                text-transform: uppercase;
                margin-top: 10px;
            }

            h3.receipt-information-header {
                margin-top: 30px;
            }

            div.receipt-information-section, div.receipt-child-information {
                margin-top: 10px;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                padding: 1em;
                @media only screen and (max-width: 450px) {
                    padding: 0.5em;
                }
                div.row {
                    display: flex;
                    width: 100%;
                    &:not(:first-of-type) {
                        margin-top: 10px;
                    }
                    &:not(:last-of-type) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    }
                    div.key, div.value {
                        flex: 0 1 50%;
                        font-family: roboto, verdana, arial;
                        font-size: 0.9em;
                        color: #424242;
                        @media only screen and (max-width: 1200px) {
                            flex: 0 1 30%;
                        }
                        @media only screen and (max-width: 475px) {
                            font-size: 0.8em;
                            flex: 0 1 50%;
                        }
                        input {
                            outline: none;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            padding: 2px;
                            width: 450px;
                            text-transform: capitalize;
                            @media only screen and (max-width: 810px) {
                                width: 100%;
                            }
                        }
                    }
                    div.value {
                        @media only screen and (max-width: 1200px) {
                            flex: 0 1 70%;
                        }
                    }
                }
            }
            div.receipt-child-information {
                div.row:not(:last-of-type) {
                    border-bottom: none;
                }
            }
            div.receipt-button-update-container {
                margin-top: 10px;
                text-align: center;
                display: none;
            }
            button.receipt-update-button {
                margin-left: 10px;
                padding: 8px 10px;
                font-size: 0.9em;
                font-family: lato, verdana, arial;
                border-radius: 4px;
                background-color: #512DA8;
                color: #fff;
                outline: none;
                border: none;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                transition: background-color 400ms ease;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                
                &:hover {
                    background-color: #311B92;
                }

                &:active::after {
                    transform: scale(0) translate(-50%, -50%);
                    opacity: 1;
                    transition: transform 0s, opacity 0s;
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 32px;
                    width: 32px;
                    top: 50%;
                    left: 50%;
                    transform: scale(3) translate(-50%, -50%);
                    background-color: #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    opacity: 0;
                    transition: transform 800ms ease, opacity 600ms ease;
                    transform-origin: 0 0;
                }
            }
        }
    }
}