section.customers {
    flex: 0 1 85%;
    background-color: #f4f4f4;
    display: none;
    div.customers-section-container {
        h3.header {
            width: 100%;
            font-size: 1.5em;
            text-transform: uppercase;
            background-color: #CFD8DC;
            text-align: center;
            color: #455A64;
            line-height: 100%;
            vertical-align: middle;
            padding: 0.8em;
            @media only screen and (max-width: 375px) {
                font-size: 1.2em;
            }
        }
        section.search-section {
            & > div {margin-top: 8px;}
            div.search-field-section {
                display: flex;
                flex-wrap: wrap;
                margin-top: 8px;
                padding: 0 0.3em;
                input[type=text] {
                    margin-right: 10px;
                    padding: 0.5em;
                    font-family: roboto, verdana, arial;
                    font-size: 1em;
                    border-radius: 4px;
                    border: 1px solid #B0BEC5;
                    @media only screen and (max-width: 665px) {
                        flex: 0 1 100%;
                        margin: 0 0 10px 0;
                        margin-bottom: 10px;                    
                    }
                    &:focus {
                        outline: 1.5px solid#0D47A1;
                    }
                }
                button.search-button {
                    padding: 8px 10px;
                    border-radius: 4px;
                    background-color: #1976D2;
                    color: #fefefe;
                    font-family: roboto, verdana, arial;
                    transition: background-color 250ms ease;
                    outline: none;
                    i {
                        margin-right: 8px;
                    }
                    &:hover{ 
                        background-color: #0D47A1;
                    }
                }
                .loading-ellipsis {
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 800ms ease;
                    display: inline-block;
                    position: relative;
                    width: 28px;
                    height: 28px;
                }
                .loading-ellipsis div {
                    position: absolute;
                    top: 15px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: #0D47A1;
                    animation-timing-function: cubic-bezier(0, 1, 1, 0);
                }
                .loading-ellipsis div:nth-child(1) {
                    left: 6px;
                    animation: loading-ellipsis1 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(2) {
                    left: 6px;
                    animation: loading-ellipsis2 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(3) {
                    left: 26px;
                    animation: loading-ellipsis2 0.6s infinite;
                }
                .loading-ellipsis div:nth-child(4) {
                    left: 45px;
                    animation: loading-ellipsis3 0.6s infinite;
                }
                @keyframes loading-ellipsis1 {
                    0% {
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    }
                    }
                    @keyframes loading-ellipsis3 {
                    0% {
                        transform: scale(1);
                    }
                    100% {
                        transform: scale(0);
                    }
                }
                @keyframes loading-ellipsis2 {
                    0% {
                        transform: translate(0, 0);
                    }
                    100% {
                        transform: translate(19px, 0);
                    }
                } 
            }

            div.search-result-section {
                position: relative;
                width: 99%;
                overflow: auto;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                margin: 10px auto auto auto;
                div.search-result-table-inner-container {
                    height: 215px;
                    margin: auto;
                    overflow: auto;
                    @media only screen and (max-width: 385px) {
                        padding: 0.5em 0;
                    }
                    table.result-table {
                        width: 100%;
                        border-radius: 3px;

                        th {
                            font-family: roboto, verdana, arial;
                            text-align: center;
                            font-weight: 300;
                            font-size: 1em;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                            padding: 5px;
                            &:first-of-type, &:nth-of-type(2) {
                                width: 20%;
                            }
                            &:nth-of-type(3) {
                                width: 60%;
                            }
                            @media only screen and (max-width: 585px) {
                                font-size: 0.8em;
                            }
                        }
                        tr {
                            transition: background-color 300ms ease;
                            &:first-of-type {
                                width: 840px;
                                color: #f3f0f0;
                                background-color: #42A5F5;
                            }
                            &:not(:first-of-type) {
                                cursor: pointer;
                                &:active {
                                    background-color: #039BE5;
                                    td {
                                        color: white;
                                    }
                                }
                                &:not(:active) {
                                    background-color: transparent;
                                }
                            }
                            &:not(:last-of-type) > td{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                            }
                        }
                        td {
                            color: #455A64;
                            text-align: center;
                            padding: 10px 15px;
                            @media only screen and (max-width: 585px) {
                                padding: 5px 2px;
                                font-size: 0.8em;
                            }
                            word-break: break-all;
                            &:first-of-type, &:nth-of-type(2) {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        section.account-section {
            width: 99%;
            margin: 8px auto;
            h4.account-information-header {
                padding: 0.3em 0.5em;
                background-color: #0288D1;
                color: #F5F5F5;
                font-size: 0.9em;
                @media only screen and (max-width: 435px) {
                    text-align: center;
                }
            }
            div.account-information {
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                padding: 1em;
                @media only screen and (max-width: 450px) {
                    padding: 0.5em;
                }
                div.row {
                    display: flex;
                    width: 100%;
                    &:not(:first-of-type) {
                        margin-top: 10px;
                    }
                    div.key, div.value {
                        flex: 0 1 45%;
                        font-family: roboto, verdana, arial;
                        font-size: 0.9em;
                        color: #424242;
                        @media only screen and (max-width: 640px) {
                            flex: 0 1 50%;
                        }
                        @media only screen and (max-width: 450px) {
                            font-size: 0.8em;
                            flex: 0 1 50%;
                        }
                    }

                }
            }
            h4.registration-information-header {
                padding: 0.3em 0.5em;
                background-color: #0288D1;
                color: #F5F5F5;
                font-size: 0.9em;
                @media only screen and (max-width: 435px) {
                    text-align: center;
                }
            }
            div.registration-information-container {
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                display: flex;
                flex-wrap: wrap;
                
                div.single-day-information,
                div.year-round-single-day-information,
                div.after-school-information,
                div.day-care-information,
                div.vacation-camp-information,
                div.summer-camp-information,
                div.total-earnings-information {
                    flex: 0 1 33%;
                    margin: 10px auto auto auto;
                    box-shadow: 0 2px 4px 1px 0 rgba(0, 0, 0, 0.2);
                    background-color: #fefefe;
                    display: flex;
                    flex-direction: column;
                    * {font-family: lato, verdana, arial;}
                    @media only screen and (max-width: 635px) {
                        flex: 0 1 49%;
                    }
                    @media only screen and (max-width: 435px) {
                        flex: 0 1 99%;
                    }
                    h5.header {
                        font-size: 1em;
                        padding: 10px;
                        color: #616161;
                        text-align: center;
                        background-color: #BBDEFB;
                        text-transform: uppercase;
                        @media only screen and (max-width: 880px) {
                            height: 80px;
                            vertical-align: middle;
                            line-height: 30px;
                        }
                        @media only screen and (max-width: 550px) {
                            height: 80px;
                            vertical-align: middle;
                            line-height: 30px;
                            font-size: 0.9em;
                        }
                        @media only screen and (max-width: 435px) {
                            height: inherit;
                            line-height: inherit;
                        }
                    }
                    div.row {
                        display: flex;
                        align-items: center;
                        div.key {
                            flex: 0 1 70%;
                            padding: 5px;
                            color: #5D4037;
                        }
                        div.registration-count,
                        div.earnings,
                        div.invoices-paid,
                        div.outstanding,
                        div.monthly-due,
                        div.deposit-revenue,
                        div.invoices-revenue,
                        div.blank {
                            padding: 5px;
                            color: #5D4037;
                            flex: 0 1 30%;
                        }
                        &:not(:last-of-type) {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                        }
                    }
                }
            }
        }
    }
}
