section.home {
    flex: 0 1 85%;
    background-color: #f4f4f4;
    div.home-section-container {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        section.weekly-summary {
            div.weekly-summary-header {
                flex: 0 1 5%;
                margin: 0 0 5px 10px;
                h4.weekly-summary-text {
                    font-family: lato;
                    font-weight: 600;
                    font-size: 1.3em;
                    color: #616161;
                    margin: 0;
                    text-transform: uppercase;
                }
                @media only screen and (max-width: 450px) {
                    text-align: center;
                }
            }

            div.weekly-summary-sub-header {
                flex: 0 1 5%;
                margin: 0 0 5px 12px;
                h5.sub-header-dates {
                    font-family: lato;
                    font-size: 16px;
                    font-weight: 300;
                    color: black;
                    margin: 0;
                }
                @media only screen and (max-width: 450px) {
                    text-align: center;
                }
            } 

            div.summary-boxes {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 100%;
                .box {
                    margin-bottom: 10px;
                    @media only screen and (max-width: 1118px) { flex: 0 1 48%; }
                    @media only screen and (max-width: 560px) { flex: 0 1 100%; }
                    &:first-of-type {
                        div.box-icon {
                            background-color: #42A5F5;
                        }
                    }
                    &:nth-of-type(2) {
                        div.box-icon {
                            background-color: #66BB6A;
                        }
                    }
                    &:nth-of-type(3) {
                        div.box-icon {
                            background-color:  #FFA726;
                        }
                    }
                    &:nth-of-type(4) {
                        div.box-icon {
                            background-color: #EF5350;
                        }
                    }
                }
                .box {
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                    height: 110px;
                    width: 220px;
                    display: flex;
                    border-radius: 4px;
                    @media only screen and (max-width: 450px) {
                        width: 100%;
                    }
                    div {
                        display: inline-block;
                    }
                    div.box-icon {
                        flex: 0 1 40%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            color: #fff;
                            font-size: 22px;
                        }
                    }
                    div.box-text {
                        font-family: lato;
                        background-color: #fff;
                        flex: 0 1 60%;
                        font-size: 14px;
                        padding: 5px;
                        text-transform: uppercase;
                        display: flex;
                        flex-direction: column;
                        div.upper-half, div.lower-half {
                            flex: 0 1 50%;
                        }
                        div.lower-half {
                            h4 {
                                font-weight: 600px;
                                font-size: 20px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            
            div.programs-table-container {
                max-width: 85vw;
                text-align: center;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                overflow: auto;
                @media only screen and (max-width: 965px) {
                    max-width: 82vw;
                }
                @media only screen and (max-width: 767px) {
                    max-width: 80vw;
                }

                @media only screen and (max-width: 724px) {
                    max-width: 79vw;
                }

                @media only screen and (max-width: 692px) {
                    max-width: 78vw;
                }

                @media only screen and (max-width: 658px) {
                    max-width: 77vw;
                }

                @media only screen and (max-width: 631px) {
                    max-width: 75.3vw;
                }

                @media only screen and (max-width: 586px) {
                    max-width: 74.5vw;
                }

                @media only screen and (max-width: 568px) {
                    max-width: 73vw;
                }

                @media only screen and (max-width: 535px) {
                    max-width: 71vw;
                }

                @media only screen and (max-width: 514px) {
                    max-width: 71vw;
                }

                @media only screen and (max-width: 498px) {
                    max-width: 70vw;
                }

                @media only screen and (max-width: 483px) {
                    max-width: 67vw;
                }

                @media only screen and (max-width: 450px) {
                    max-width: 77vw;
                }

                @media only screen and (max-width: 420px) {
                    max-width:79vw;
                }

                @media only screen and (max-width:360px) {
                    max-width:78vw;
                }
              
                tr th > img {
                    width: 60px;
                    height: auto;    
                }
            }
            tr:not(:last-of-type) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            table.programs-table {
                margin: 0 auto;
                width: 100%;
                white-space: nowrap;
                border-collapse: collapse;
                table-layout: unset;
                tr:first-of-type {background-image: linear-gradient(45deg, #039BE5, #00ACC1, #00897B);}
                tr:last-of-type { 
                    background-color: #0288D1;
                }
                th {
                    padding: 10px;
                    width: 25%;
                    text-align: center;
                    font-style: lato, verdana, arial;
                    font-size: 1.2em;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    color: #f4f4f4;
                    font-weight: 600;
                    @media only screen and (max-width: 850px) {
                        font-size: 0.9em;
                        width: 150px;
                    }
                }
                td {
                    padding: 12px 8px;
                    text-align: center;
                    font-family: lato, verdana, arial;
                    font-size: 1.1em;
                    @media only screen and (max-width: 980px) {
                        font-size: 0.9em;
                        height: 60px;
                    }
                }
                tr:last-of-type > td {
                    color: #f4f4f4;
                }
            }
            

            div.new-customers-table {
                margin-top: 15px;
                width: 100%;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                height: 400px;
                background-color: #fff;
                border-radius: 20px;
                flex-direction: column;
                border-radius: 10px;
                overflow-y: auto;
                div.main-header {
                    width: 100%;
                    font-size: 24px;
                    background-color: #B2DFDB;
                    color: #616161;
                    border-top-left-radius: 10px;
                    position: relative;
                    height: 61px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    img.customers-logo {
                        position: absolute;
                        left: 10%;
                        height: 60px;
                        width: auto;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                
                div.headers,
                div.new-customer {
                    display: flex;
                    align-items: center;
                    &:not(:last-of-type) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                    div.header-item,
                    div.new-customer-item {
                        flex: 0 1 25%;
                        text-align: center;
                        padding: 10px;
                        font-family: lato;   
                    }
                }
                div.new-customer-item {
                    height: 60px;
                }
            }
        }
        // monthly overview section
        section.monthly-overview {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            h4.header-section {
                text-align: center;
                font-family: lato;
                font-size: 1.4em;
                position: relative;
                text-transform: uppercase;
                color:#616161;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media only screen and (max-width: 1565px) { 
                    display: block; 
                    height: 100px;
                }
                @media only screen and (max-width: 610px) { 
                    display: block; 
                    height: 180px;
                }

                @media only screen and (max-width: 450px) {
                   height: 240px;
                }
               
                div.year-and-month-selection {
                    position: absolute;
                    left: 1%;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    & > * { margin-top: 10px;}
                    padding: 10px;
                    @media only screen and (max-width: 1595px) {
                        margin-top: 20px;
                        position: static;
                        display: block;
                        text-align: left;
                    }
                    @media only screen and (max-width: 1000px) {
                        position: relative;
                        text-align: center;
                    }
                    input[type=number] {
                        border-radius: 4px;
                        border: 1px solid #90A4AE;
                        background-color: #f5f5f5;
                        padding: 5px;
                        font-weight: 300;
                        font-size: 0.8em;
                        width: 150px;
                        margin-right: 10px;
                        @media only screen and (max-width: 490px) {
                            width: 85%;
                            margin: auto;
                            transform: translateX(-5px);
                        }
                    }
                    select {
                        cursor: pointer;
                        font-weight: 300;
                        font-size: 0.8em;
                        width: 150px;
                        margin-right: 10px;
                        height: 35px;
                        text-align: center;
                        @media only screen and (max-width: 450px) {
                            width: 85%;
                            margin: auto;
                            transform: translateX(-5px);
                            margin-top: 15px;
                         }
                        @media only screen and (max-width: 360px) {
                            position: relative;
                            text-align: center;
                            margin-right: 0px;
                            border: 1px solid #90A4AE;
                            height: 40px;
                        }
                       
                    }

                    button {
                        font-weight: 300;
                        border-radius: 4px;
                        padding: 5px 8px;
                        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
                        font-size: 0.9em;
                        border: none;
                        background-color: #1976D2;
                        color: #f4f4f4;
                        transition: background-color 250ms ease-in-out;
                        outline: none;
                        margin-right: 10px;
                        i {
                            transform: translateY(-1px);
                            font-size: 0.8em;
                            margin-left: 5px;
                        }

                        &:active {
                            background-color: #0D47A1;
                        }
                    }
                }
            }
            div.chart-section {
                display: flex;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-top: 15px;
                @media only screen and (max-width: 1268px) {
                    flex-direction: column;
                }
                div.monthly-overview-canvas-container {
                    padding: 5px;
                    flex: 0 1 80%;
                    @media only screen and (max-width: 1268px) {
                        flex: 0 1 100%;
                    }
                    canvas {
                        min-width: 100%;
                    }
                }
                div.chart-detail-boxes {
                    flex: 0 1 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    max-width: 100%;
                    @media only screen and (max-width: 1268px) {
                        flex: 0 1 100%;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                    }
                    div.chart-detail-box {
                        flex: 1 1 20%;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                        display: flex;
                        flex-wrap: wrap;
                        @media only screen and (max-width: 1265px) {
                            flex: 0 1 50%;
                            justify-content: flex-start;
                            text-align: left;
                            &:last-of-type {
                                flex: 0 1 100%;
                            }
                        }
                        @media only screen and (max-width: 600px) {
                            flex: 0 1 100%;
                        }
                        &:not(:first-of-type) {
                            margin-top: 8px;
                        }

                        div.text-group {
                            padding-left: 5px;
                            flex: 0 1 60%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            position: relative;
                            font-size: 0.9em;
                            div {
                                font-family: lato;
                                font-size: 14px;
                            }
                            div.week-name {
                                font-weight: 600;
                            }
                            div.revenue {
                                font-size: 16px;
                            }
                        }
                        div.icon {
                            flex: 0 1 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    div.week-1 {                      
                        div.revenue {
                            color: #0D47A1;
                        }
                        div.icon {
                            background-color: #1E88E5;
                            i {
                                color: #fefefe;
                            }
                        }
                    }
                    div.week-2 {
                        div.revenue {
                            color: #311B92;
                        }
                        
                        div.icon {
                            background-color: #5E35B1;
                            i {
                                color: #fefefe;
                            }
                        }
                    }
                    div.week-3 {
                        div.revenue {
                            color: #1B5E20;
                        }
                        
                        div.icon {
                            background-color: #43A047;
                            i {
                                color: #fefefe;
                            }
                        }
                    }
                    div.week-4 {
                        div.revenue {
                            color: #E65100;
                        }
                        div.icon {
                            background-color: #FB8C00;
                            i {
                                color: #fefefe;
                            }
                        }
                    }
                    div.week-5 {
                        div.text-group {
                            @media only screen and (max-width: 1268px) {
                                flex: 0 1 80%;
                            }
                            @media only screen and (max-width: 600px) {
                                flex: 0 1 60%;
                            }
                        }
                        div.revenue {
                            color: #006064;
                        }
                        div.icon {
                            background-color: #00ACC1;
                            @media only screen and (max-width: 1268px) {
                                flex: 0 1 20%;
                                justify-self: flex-end;
                            }
                            @media only screen and (max-width: 600px) {
                                flex: 0 1 40%;
                            }
                            i {
                                color: #fefefe;
                            }
                        }
                    }
                }
            }
            
            div.monthly-summary-row-section {
                display: flex;
                justify-content: space-between;
                max-width: 100%;
                padding: 10px;
                @media only screen and (max-width: 1024px) {
                    flex-wrap: wrap;
                }
                div.monthly-summary-row-box {
                    flex: 0 1 16.15%;
                    padding: 0px 8px 8px 8px;
                    display: flex;
                    flex-direction: column;
                    font-family: lato, verdana, arial;
                    position: relative;
                    cursor: pointer;
                    @media only screen and (max-width: 1575px) {
                        height: 100px;
                    }
                    @media only screen and (max-width: 1024px) {
                        flex: 0 1 50%;
                        height: 60px;
                    }
                    @media only screen and (max-width: 500px) {
                        flex: 0 1 100%;
                        height: 60px;
                        color: #37474F;
                        font-size: 1.05em;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                    }
                    & > div {
                        color: #616161;
                        &:first-of-type {
                            height: 70%;
                            @media only screen and (max-width: 840px) {
                                font-size: 0.9em;
                            }
                            @media only screen and (max-width: 1024px) {
                                height: 50%;
                            }
                        }
                        &:nth-of-type(2) {
                            height: 30%;
                            display: flex;
                            align-items: flex-end;
                            border-bottom: 1.2px solid rgba(0, 0, 0, 0.2);
                            @media only screen and (max-width: 1024px) {
                                height: 50%;
                            }
                            @media only screen and (max-width: 500px) {
                                border: none;
                            }
                        }
                    }
                    &:hover {
                        div.summary-breakdown {
                            opacity: 1;
                        }
                    }
                    &:not(:last-of-type)::after {
                        content: '';
                        position: absolute;
                        height: 50%;
                        width: 1px;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                        top: 50%;
                        right: -2%;
                        transform: translate(0, -50%);
                    }
                    &:last-of-type {
                        div {
                            color: #f4f4f4;
                        }
                        background-color: #FB8C00;
                        @media only screen and (max-width: 1024px) {
                            flex: 0 1 100%;
                            div:first-of-type, div:nth-of-type(2) {
                                color: #f4f4f4;
                            }
                        }
                        
                    }
                    div.revenue-bar {
                        background-color: grey;
                        padding: 3px;
                        height: 30px;
                    }
                    div.summary-breakdown {
                        transition: opacity 300ms ease-in;
                        position: absolute;
                        padding: 10px;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                        font-size: 0.9em;
                        font-family: lato, verdana, arial;
                        color: #f4f4f4;
                        span {
                            margin-left: 5px;
                        }
                        border-radius: 4px;
                        width: 70%;
                        background-color: #455A64;
                        top: -250%;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity:  0;
                        height: 150px;
                        &::after {
                            content: '';
                            position: absolute;
                            height: 1px;
                            border-top: 10px solid #455A64;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            left: 50%;
                            top: 95%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
        // end of montly overview
        section.yearly-summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
            margin-top: 10px;
            background-color: #fefefe;
            padding: 0.5em;
            * {
                font-family: lato, verdana, arial;
            }
            div.header-section {
                width: 100%;
                margin-top: 10px;
                h4.yearly-summary-header {
                    width: 100%;
                    text-transform: uppercase;
                    color: #616161;
                    font-size: 1.5em;
                    font-weight: 600;
                    text-align: center;
                }
            }
            div.year-select-section {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 2em;
                margin-bottom: 10px;
                @media only screen and (max-width: 970px) {
                    align-items: center;
                }
                @media only screen and (max-width: 570px) {
                    padding: 0;
                }
                * {font-family: lato, verdana, arial;}
                label {
                    font-size: 1em;
                    color:#455A64;
                }
                div.input-button-pair {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
                    @media screen and (max-width: 950px){
                        justify-content: center;
                        padding-left: 35px;
                    }
                    @media only screen and (max-width: 540px) {
                        padding-left: 0;
                    }
                    input[type=number].year-select-input {
                        padding: 5px;
                        font-size: 1.3em;
                        border-radius: 4px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.15);
                        @media only screen and (max-width: 610px) {
                            width: 50%;
                        }
                        @media only screen and (max-width: 540px) {
                            width: 100%;
                        }
                    }
                    button {
                        margin-left: 8px;
                        border-radius: 4px;
                        background-color: #0288D1;
                        color: #f4f4f4;
                        border: 1px solid transparent;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                        padding: 6px 8px;
                        outline: none;
                        transition: background-color 300ms ease;
                        font-size: 1em;
                        @media only screen and (max-width: 540px) {
                            margin-left: 35px;
                        }
                        i {
                            font-size: 1em;
                            margin-left: 5px;
                            font-family: "Font Awesome 5 Free"
                        }

                        &:active {
                            background-color: #01579B;
                        }

                    }
                    .yearly-overview-loader {
                        color: official;
                        display: inline-block;
                        position: relative;
                        width: 22px;
                        height: 64px;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 600ms ease;
                      }
                    .yearly-overview-loader div {
                        transform-origin: 32px 32px;
                        animation: yearly-overview-loader 1.2s linear infinite;
                    }
                    .yearly-overview-loader div:after {
                        content: " ";
                        display: block;
                        position: absolute;
                        top: 14px;
                        left: 29px;
                        width: 5px;
                        height: 8px;
                        border-radius: 20%;
                        background: #0D47A1;
                    }
                    .yearly-overview-loader div:nth-child(1) {
                        transform: rotate(0deg);
                        animation-delay: -1.1s;
                    }
                    .yearly-overview-loader div:nth-child(2) {
                        transform: rotate(30deg);
                        animation-delay: -1s;
                    }
                    .yearly-overview-loader div:nth-child(3) {
                        transform: rotate(60deg);
                        animation-delay: -0.9s;
                    }
                    .yearly-overview-loader div:nth-child(4) {
                        transform: rotate(90deg);
                        animation-delay: -0.8s;
                    }
                    .yearly-overview-loader div:nth-child(5) {
                        transform: rotate(120deg);
                        animation-delay: -0.7s;
                    }
                    .yearly-overview-loader div:nth-child(6) {
                        transform: rotate(150deg);
                        animation-delay: -0.6s;
                    }
                    .yearly-overview-loader div:nth-child(7) {
                        transform: rotate(180deg);
                        animation-delay: -0.5s;
                    }
                    .yearly-overview-loader div:nth-child(8) {
                        transform: rotate(210deg);
                        animation-delay: -0.4s;
                    }
                    .yearly-overview-loader div:nth-child(9) {
                        transform: rotate(240deg);
                        animation-delay: -0.3s;
                    }
                    .yearly-overview-loader div:nth-child(10) {
                        transform: rotate(270deg);
                        animation-delay: -0.2s;
                    }
                    .yearly-overview-loader div:nth-child(11) {
                        transform: rotate(300deg);
                        animation-delay: -0.1s;
                    }
                    .yearly-overview-loader div:nth-child(12) {
                        transform: rotate(330deg);
                        animation-delay: 0s;
                    }
                    @keyframes yearly-overview-loader {
                        0% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }                      
                }
                
            }
            div.chart-section {
                background-color: #fefefe;
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.15);
                overflow: auto;
                height: 100%;
                canvas {
                    width: 80%;
                    @media only screen and (max-width: 660px) {
                        width: 600px;
                    }
                }
            }
            div.year-summary-section {
                width: 100%;
                div.first-year-half,
                div.second-year-half {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0.5em;
                    justify-content: space-between;
                    div.first-half-box,
                    div.second-half-box {
                        flex: 0 1 16%;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                        height: 70px;
                        display: flex;
                        flex-wrap: wrap;
                        @media only screen and (max-width: 768px) {
                            flex: 0 1 32.5%;
                            margin-bottom: 10px;
                        }
                        @media only screen and (max-width: 480px) {
                            flex: 0 1 49.5%;
                        }
                        div.month-name, div.month-amount {
                            flex: 0 1 100%;
                            height: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        div.month-name {
                            color: #455A64;
                            background-color: #EEEEEE;
                        }
                        div.month-amount {
                            color: #6D4C41;
                        }
                    }
                    div.second-half-box {
                        div.month-name {
                            color: #263238;
                            background-color: #E0E0E0;
                        }
                        div.month-amount {
                            color: #6D4C41;
                        }
                    }
                }
            }
            div.total-year-revenue-section {
                height: 100px;
                width: 100%;
                div.label, div.value {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    text-align: center;
                }
                div.label {
                    text-transform: uppercase;
                    font-size: 1.5em;
                    color: #fefefe;
                    background-color: #0D47A1;
                    height: 60%;
                    @media only screen and (max-width: 415px) {
                        font-size: 1.3em;
                    }
                    @media only screen and (max-width: 365px) {
                        font-size: 1em;
                    }
                }
                div.value {
                    background-color: #E0E0E0;
                    color: #37474F;
                    font-size: 1.1em;
                    height: 40%;
                }
            }
        }
    }
}