section.payroll {
    flex: 0 1 85%;
    background-color: #f4f4f4;
    display: none;
    * {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
    div.payroll-section-container {
        h3.section-header {
            background-color: #283593;
            color: #fff;
            text-align: center;
            font-size: 1.8em;
            text-transform: uppercase;
        }
        div.payroll-section-event-notification-container {
            padding: 0.1em 0.5em;
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            z-index: 5;
            @media only screen and (max-width: 745px) {padding: 0.1em 0;}
            h3 {
                text-align: center;
                background-color: #C62828;
                border-radius: 8px;
                font-family: roboto, verdana, arial;
                color: #fefefe;
                opacity: 0;
                transition: opacity 700ms ease;
            }
        }
        section.payroll-locations {
            display: flex;
            justify-content: space-between;
            padding: 0 0.5em 0.5em 0.5em;
            @media only screen and (max-width: 745px) {flex-wrap: wrap; padding: 0;}
            div.locations-list-container {
                flex: 0 1 49.5%;
                @media only screen and (max-width: 745px) {flex: 0 1 100%;}
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                h4.list-header {
                    padding: 0.6em;
                    font-family: roboto, verdana, arial;
                    background-color: #EEEEEE;
                    text-align: center;
                    font-size: 1.3em;
                    color: #616161;
                }
                ul.payroll-locations-list {
                    height: 545px;
                    overflow-y: auto;
                    li.active {background-color: rgba(0, 0, 0, 0.10);}
                    li {
                        div.payroll-location-button-pair {
                            display: flex;
                            justify-content: space-between;
                            div.payroll-location-item-input-container {
                                flex: 0 1 90%;
                                input {
                                    width: 100%;
                                    height: 100%;
                                    outline: none;
                                    border: none;
                                    padding: 1em 0.5em;
                                    font-family: roboto, verdana, arial;
                                    font-size: 1em;
                                    background-color: transparent;
                                    cursor: pointer;
                                }
                            }
                            div.location-pair-submenu-button-container {
                                flex: 0 1 9%;
                                text-align: right;
                                display: flex;
                                align-items: center;
                                button {
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 50%;
                                    position: relative;
                                    border: none;
                                    outline: none;
                                    background-color: transparent;
                                    overflow: hidden;
                                    &:active::after {
                                        transform: scale(0) translate(-50%, -50%);
                                        opacity: 1;
                                        transition: transform 0s, opacity 0s;
                                    }
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        height: 16px;
                                        width: 16px;
                                        border-radius: 50%;
                                        left: 50%;
                                        top: 50%;
                                        transform-origin: 0 0;
                                        transform: scale(3) translate(-50%, -50%);
                                        opacity: 0;
                                        background-color: rgba(0, 0, 0, 0.3);
                                        transition: transform 700ms ease, opacity 700ms ease;
                                    }
                                    i {
                                        color: rgba(0, 0, 0, 0.8);
                                        font-size: 1em;
                                        transition: transform 300ms ease;
                                    }
                                }
                            }
                        }
                        div.sub-menu {
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            text-align: center;
                            height: 0;
                            justify-content: center;
                            transition: height 400ms ease;
                            overflow: hidden;
                            button {
                                position: relative;
                                top: 10px;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                margin: 0 4px;
                                i {font-size: 1.3em;}
                                i.fa-edit {
                                    color: #512DA8;
                                }
                                i.fa-ban {
                                    color: #C62828;
                                }
                                i.fa-check {
                                    color: #2E7D32;
                                }
                            }
                        }
                    }
                }
                div.add-payroll-location-section {
                    padding: 0.5em;
                    div.new-payroll-location-container {
                        height: 0;
                        transition: height 600ms ease;
                        overflow: hidden;
                        input {
                            width: 100%;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                            background-color: transparent;
                            padding: 0.5em 1em;
                            font-family: roboto, arial, verdana;
                        }
                        div.save-cancel-button-container {
                            margin-top: 6px;
                            text-align: center;
                            button {
                                position: relative;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                margin: 0 2px;
                                i {font-size: 1.3em;}
                                i.fa-ban {
                                    color: #C62828;
                                }
                                i.fa-check {
                                    color: #2E7D32;
                                }
                            }
                        }
                    }
                    div.add-new-payroll-location-button-container {
                        text-align: center;
                        margin-top: 5px;
                        button {
                            padding: 8px 10px;
                            border-radius: 4px;
                            font-family: roboto, arial, verdana;
                            background-color: #4527A0;
                            color: #fff;
                            border: none;
                            outline: none;
                            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                            position: relative;
                            overflow: hidden;
                            &:active::after {
                                transform: scale(0) translate(-50%, -50%);
                                opacity: 1;
                                transition: transform 0s, opacity 0s;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                background-color: #fff;
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform-origin: 0 0;
                                transform: scale(5) translate(-50%, -50%);
                                opacity: 0;
                                transition: transform 800ms ease, opacity 900ms ease;
                            }
                        }
                    }
                }
            }
            div.location-administrators-container {
                flex: 0 1 49.5%;
                @media only screen and (max-width: 745px) {flex: 0 1 100%;}
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                h4.header {
                    padding: 0.6em;
                    font-family: roboto, verdana, arial;
                    background-color: #EEEEEE;
                    text-align: center;
                    font-size: 1.3em;
                    color: #616161;
                }
                ul.authorized-administrators-list {
                    height: 500px;
                    overflow-y: auto;
                    @media only screen and (max-width: 745px) {height: 200px;}
                    li {
                        height: 52.3px;
                        padding: 1em;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        display: flex;
                        align-items: center;
                        span {
                            flex: 0 1 90%;
                        }
                        button {
                            flex: 0 1 10%;
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            background: transparent;
                            border: none;
                            outline: none;
                            i {
                                font-size: 1.4em;
                                color: #C62828;
                            }
                        }
                    }
                }
                div.administrator-select-section {
                    position: relative;
                    height: 45px;
                    div.administrator-select {
                        position: absolute;
                        z-index: 2;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                        border-radius: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #fefefe;
                        width: 270px;
                        overflow: hidden;
                        transition: height 500ms ease;
                        height: 40px;
                        span {
                            display: inline-block;
                            width: 230px;
                            font-family: roboto, verdana, arial;
                            padding: 0.5em;
                        }
                        button.administrator-select-button {
                            background-color: transparent;
                            border: 1px solid transparent;
                            outline: none;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            position: relative;
                            overflow: hidden;
                            &:active::after {
                                transform: scale(0) translate(-50%, -50%);
                                opacity: 1;
                                transition: transform 0s, opacity 0s;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                background-color: rgba(0, 0, 0, 0.5);
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform: scale(2) translate(-50%, -50%);
                                transform-origin: 0 0;
                                opacity: 0;
                                transition: transform 500ms ease, opacity 500ms ease;
                            }
                            i {
                                transition: transform 600ms ease;
                            }
                        }

                        ul.administrator-select-options {
                            list-style-type: none;
                            height: 170px;
                            width: 100%;
                            overflow: auto;
                            border-top: 1px solid rgba(0, 0, 0, 0.3);
                            li {
                                text-align: left;
                                button {
                                    width: 100%;
                                    text-align: left;
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                    padding: 0.3em 0.5em;
                                    position: relative;
                                    overflow: hidden;
                                    &:active::after {
                                        transform: scale(0) translate(-50%, -50%);
                                        opacity: 1;
                                        transition: transform 0s, opacity 0s;
                                    }
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        top: 50%;
                                        left: 50%;
                                        height: 32px;
                                        width: 32px;
                                        border-radius: 50%;
                                        background-color: rgba(0, 0, 0, 0.3);
                                        transform-origin: 0 0;
                                        transform: scale(9) translate(-50%, -50%);
                                        transition: transform 900ms ease, opacity 900ms ease;
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                div.authorize-administrator-button-container {
                    padding: 0.5em;
                    margin-top: 5px;
                    text-align: center;
                    button {
                        padding: 8px 10px;
                        border-radius: 4px;
                        font-family: roboto, arial, verdana;
                        background-color: #1976D2;
                        color: #fff;
                        border: none;
                        outline: none;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                        position: relative;
                        overflow: hidden;
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            opacity: 1;
                            transition: transform 0s, opacity 0s;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            background-color: #fff;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform-origin: 0 0;
                            transform: scale(5) translate(-50%, -50%);
                            opacity: 0;
                            transition: transform 800ms ease, opacity 900ms ease;
                        }
                    }
                }
            }
        }
        h4.logged-hours-summary-header, h4.labor-trends-header {
            text-align: center;
            font-family: roboto, verdana, arial;
            font-size: 1.5em;
            color: #fefefe;
            background-color: #64B5F6;
            @media only screen and (max-width: 745px) {
                margin-top: 15px;
            }
        }
        section.payroll-logged-hours-breakdown {
            padding: 0 1em 1em 1em;
            @media only screen and (max-width: 500px) {padding: 0 0.2em;}
            overflow: hidden;
            div.year-and-month-select-section {
                margin-top: 10px;
                display: flex;
                @media only screen and (max-width: 745px) {
                    justify-content: space-between;
                }
                @media only screen and (max-width: 645px) {
                    flex-wrap: wrap;
                }
                div.input-border-pair {
                    position: relative;
                    flex: 0 1 150px;
                    @media only screen and (max-width: 645px) {
                        flex: 0 1 100%;
                    }
                    input.year-of-payroll-logged-hours-breakdown {
                        padding: 15px 5px 2px 5px;
                        font-family: roboto, verdana, arial;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        &:focus ~ span.border {
                            width: 100%;
                        }
                    }
                    span.border {
                        position: absolute;
                        content: '';
                        bottom: 0.5px;
                        width: 0;
                        height: 1px;
                        background-color: #1565C0;
                        transition: width 400ms ease;
                    }
                }
                div.payroll-logged-hours-month-select-container {
                    flex: 0 1 180px;
                    position: relative;
                    margin-left: 10px;
                    @media only screen and (max-width: 645px) {
                        flex: 0 1 100%;
                        margin: 10px 0 0 0;
                    }
                    height: 40px;
                }   
                div.payroll-logged-hours-month-select {
                    width: 20%;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    position: absolute;
                    overflow: hidden;
                    transition: height 700ms ease;
                    height: 40px;
                    z-index: 1;
                    span {
                        display: inline-block;
                        width: 78%;
                        padding: 0.5em;
                    }
                    button.logged-hours-month-select-dropdown-button {
                        position: relative;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        border: none;
                        overflow: hidden;
                        outline: none;
                        background-color: transparent;
                        i {
                            transition: transform 700ms ease;
                        }
                        &:active::after {
                            transform: scale(0)  translate(-50%, -50%);
                            opacity: 1;
                            transition: transform 0s, opacity 0s;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.3);
                            top: 50%;
                            left: 50%;
                            transform-origin: 0 0;
                            transform: scale(3) translate(-50%, -50%);
                            transition: transform 700ms ease, opacity 700ms ease;
                            opacity: 0;
                        }
                    }
                    ul.logged-hours-month-options {
                        border-top: 1px solid rgba(0, 0, 0, 0.3);
                        list-style-type: none;
                        overflow-y: auto;
                        height: 160px;
                        position: absolute;
                        width: 100%;
                        button {
                            border: none;
                            outline: none;
                            background-color: #fefefe;
                            padding: 0.5em;
                            width: 100%;
                            text-align: left;
                            position: relative;
                            overflow: hidden;
                            &:active::after {
                                transform: scale(0) translate(-50%, -50%);
                                opacity: 1;
                                transition: transform 0s, opacity 0s;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                background-color: rgba(0, 0, 0, 0.3);
                                height: 32px;
                                width: 32px;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform-origin: 0 0;
                                transform: scale(6) translate(-50%, -50%);
                                opacity: 0;
                                transition: transform 900ms ease, opacity 900ms ease;
                            }
                        }
                    }
                }
                div.refresh-button-container {
                    margin-left: 10px;
                    @media only screen and (max-width: 745px) {flex: 0 1 180px;}
                    @media only screen and (max-width: 645px) {
                        margin-top: 10px;
                        flex: 0 1 100%;
                        margin-left: 0;
                    }
                    button {
                        width: 100%;
                        padding: 8px 20px;
                        font-family: roboto, verdana, arial;
                        background-color: #3F51B5;
                        color: #fefefe;
                        border-radius: 4px;
                        outline: none;
                        border: none;
                        position: relative;
                        overflow: hidden;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                        &:active::after {
                            transform: scale(0) translate(-50%, -50%);
                            opacity: 1;
                            transition: transform 0s, opacity 0s;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            background-color: #fefefe;
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform-origin: 0 0;
                            transform: scale(3) translate(-50%, -50%);
                            opacity: 0;
                            transition: transform 700ms ease, opacity 700ms ease;
                        }
                    }
                }
            }
            div.payroll-logged-hours-breakdown-section {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 100%;
                div.location-breakdown {
                    flex: 0 1 49.5%;
                    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                    margin-top: 10px;
                    @media only screen and (max-width: 1400px) {flex: 0 1 100%;}
                    h4.location-name {
                        text-align: center;
                        background-color: #EEEEEE;
                        font-size: 1.2em;
                        padding: 0.5em;
                        color: #3949AB;
                        font-family: roboto, verdana, arial;
                    }
                    div.headers, div.row {
                        display: flex;
                        div {
                            padding: 0.8em 0.3em;
                            color: #616161;
                            font-family: roboto, verdana, arial;
                            text-align: center;
                            font-weight: 600;
                        }
                        div:first-of-type {
                            flex: 0 1 40%;
                        }
                        div:not(:first-of-type) {
                            flex: 0 1 12%;
                        }
                    }
                    div.row  {
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        div {font-weight: 300;}
                        div:first-of-type {
                            padding: 0.5em;
                            text-align: left;
                        }
                        div:nth-of-type(4) {font-weight: 800; color: black;}
                    }
                }
            }
        }

        h4.labor-trends-header {background-color: #7986CB;}
        section.labor-trends-section {
            display: flex;
            justify-content: space-between;
            padding: 0.3em 0.5em 0.5em 0.5em;
            flex-wrap: wrap;
            div.payroll-trend {
                padding: 0.3em;
                flex: 0 1 49.5%;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                @media only screen and (max-width: 500px) {flex: 0 1 100%; margin-top: 10px;}
                div.year-month-location-options {
                    display: flex;
                    div.input-border-pair {
                        position: relative;
                        flex: 0 1 150px;
                        @media only screen and (max-width: 645px) {
                            flex: 0 1 100%;
                        }
                        input.year-of-labor-trend {
                            padding: 15px 5px 2px 5px;
                            font-family: roboto, verdana, arial;
                            outline: none;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                            background-color: transparent;
                            width: 100%;
                            height: 100%;
                            &:focus ~ span.border {
                                width: 100%;
                            }
                        }
                        span.border {
                            position: absolute;
                            content: '';
                            bottom: 0.5px;
                            width: 0;
                            height: 1px;
                            background-color: #1565C0;
                            transition: width 400ms ease;
                        }
                    }
                    div.payroll-trend-month-select-container, div.payroll-trend-location-select-container {
                        flex: 0 1 180px;
                        position: relative;
                        margin-left: 10px;
                        @media only screen and (max-width: 645px) {
                            flex: 0 1 100%;
                            margin: 10px 0 0 0;
                        }
                        height: 40px;
                    }   
                    div.payroll-trend-month-select, div.payroll-trend-location-select {
                        width: 100%;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                        border-radius: 2px;
                        position: absolute;
                        overflow: hidden;
                        transition: height 700ms ease;
                        height: 40px;
                        z-index: 1;
                        span {
                            display: inline-block;
                            width: 78%;
                            padding: 0.5em;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            height: 40px;
                            z-index: 1;
                        }
                        button.payroll-trend-month-select-dropdown-button, button.payroll-trend-location-select-dropdown-button {
                            position: relative;
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                            border: none;
                            overflow: hidden;
                            outline: none;
                            background-color: transparent;
                            transform: translateY(-50%);
                            i {
                                transition: transform 700ms ease;
                            }
                            &:active::after {
                                transform: scale(0)  translate(-50%, -50%);
                                opacity: 1;
                                transition: transform 0s, opacity 0s;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                background-color: rgba(0, 0, 0, 0.3);
                                top: 50%;
                                left: 50%;
                                transform-origin: 0 0;
                                transform: scale(3) translate(-50%, -50%);
                                transition: transform 700ms ease, opacity 700ms ease;
                                opacity: 0;
                            }
                        }
                        ul.payroll-trend-month-options, ul.payroll-trend-location-options {
                            border-top: 1px solid rgba(0, 0, 0, 0.3);
                            list-style-type: none;
                            overflow-y: auto;
                            height: 160px;
                            position: absolute;
                            width: 100%;
                            background-color: #fefefe;
                            button {
                                border: none;
                                outline: none;
                                background-color: #fefefe;
                                padding: 0.5em;
                                width: 100%;
                                text-align: left;
                                position: relative;
                                overflow: hidden;
                                &:active::after {
                                    transform: scale(0) translate(-50%, -50%);
                                    opacity: 1;
                                    transition: transform 0s, opacity 0s;
                                }
                                &::after {
                                    position: absolute;
                                    content: '';
                                    background-color: rgba(0, 0, 0, 0.3);
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 50%;
                                    top: 50%;
                                    left: 50%;
                                    transform-origin: 0 0;
                                    transform: scale(6) translate(-50%, -50%);
                                    opacity: 0;
                                    transition: transform 900ms ease, opacity 900ms ease;
                                }
                            }
                        }
                    }
                }
            }

            div.payroll-trend {
                div.year-month-location-options {
                    @media only screen and (max-width: 1220px) {flex-wrap: wrap}
                    div.payroll-trend-month-select {z-index: 5;}
                    div.input-border-pair, div.payroll-trend-month-select-container, div.payroll-trend-location-select-container {
                        @media only screen and (max-width: 1220px) {
                            flex: 0 1 100%;
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }

            div.refresh-button-container {
                padding: 0.7em;
                text-align: center;
                button {
                    padding: 8px 20px;
                    font-family: roboto, verdana, arial;
                    background-color: #0288D1;
                    color: #fefefe;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    position: relative;
                    overflow: hidden;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                    &:active::after {
                        transform: scale(0) translate(-50%, -50%);
                        opacity: 1;
                        transition: transform 0s, opacity 0s;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        background-color: #fefefe;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform-origin: 0 0;
                        transform: scale(3) translate(-50%, -50%);
                        opacity: 0;
                        transition: transform 700ms ease, opacity 700ms ease;
                    }
                }
            }

            div.trend-table-container {
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                overflow-x: auto;
                max-width: 100%;
                table.trend-table {
                    width: 100%;
                    thead {
                        th {
                            font-family: roboto, verdana, arial;
                            font-weight: 600;
                            font-size: 0.9em;
                            padding: 0.8em 0.5em;
                            color: #616161;
                            text-align: center;
                            &:first-of-type {
                                width: 40%;
                            }
                            &:not(:first-of-type) {
                                width: 12%;
                            }
                        }
                    }
                    tbody {
                        tr {
                            border-top: 1px solid rgba(0, 0, 0, 0.3);
                            td {
                                padding: 0.4em;
                                font-family: roboto, verdana, arial;
                                font-size: 1em;
                                &:not(:first-of-type) {
                                    text-align: center;   
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}