section.programs {
    flex: 0 1 85%;
    background-color: #f4f4f4;
    display: none;
    h4.programs-section-header {
        text-align: center;
        font-family: lato, verdana arial;
        background-color: #CFD8DC;
        color: #616161;
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 0.7em 0;
        text-transform: uppercase;
    }

    div.after-school-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: yellow;
            }
        }
    }

    div.single-day-section,
    div.year-round-single-day-section,
    div.after-school-section,
    div.day-care-section,
    div.vacation-camp-section,
    div.summer-camp-section {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        h5 {
            font-family: lato, verdana, arial;
            padding: 0.4em;
            text-align: center;
            background-color: #42A5F5;
            color: #fefefe;
            font-size: 1.2em;
            text-transform: uppercase;
        }
        div.month-selection {
            padding: 0.8em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            select {
                cursor: pointer;
                font-weight: 300;
                font-size: 1em;
                width: 150px;
                height: 35px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-family: lato, verdana, arial;
                background-color: #fefefe;
                height: 40px;
                @media only screen and (max-width: 490px) {
                    flex: 0 1 100%;
                }
            }
        }
        div.single-day-information-container,
        div.year-round-single-day-information-container,
        div.after-school-information-container,
        div.day-care-information-container,
        div.vacation-camp-information-container,
        div.summer-camp-information-container {
            padding: 5px;
            div.monthly-breakdown {
                display: flex;
                justify-content: space-between;
                background-color: #EEEEEE;
                @media only screen and (max-width: 490px) {
                    flex-direction: column;
                }
                div.week-pair {
                    flex: 0 1 22%;
                    @media only screen and (max-width: 490px) {
                        margin-bottom: 10px;
                    }
                    div.label, div.value {
                        text-align: center;
                        font-family: lato, verdana arial;
                        font-size: 0.9em;
                    }   
                    div.label {
                        background-color: #CFD8DC;
                        color: #424242;
                    }
                    div.value {
                        background-color: #fefefe;
                        padding: 5px;
                        color:#6D4C41;
                        border-right: 1px solid rgba(0, 0, 0, 0.15);
                    }
                }
            }
            div.program-summary {
                display: flex;
                justify-content: space-between;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
                @media only screen and (max-width: 490px) {
                    flex-wrap: wrap;
                }
                div.total-monthly-revenue,
                div.average-monthly-revenue,
                div.average-weekly-revenue,
                div.year-to-date-revenue,
                div.year-to-date-deposits-revenue,
                div.year-to-date-invoices-revenue,
                div.current-outstanding-balances,
                div.total-year-to-date-revenue {
                    flex: 0 1 34%;
                    @media only screen and (max-width: 490px) {
                        flex: 0 1 100%;
                    }
                    div.label, div.value {
                        text-align: center;
                    }
                    div.label {
                        background-color: #EEEEEE;
                        color: #546E7A;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    div.value {
                        padding: 0.9em;
                        background-color: #fff;
                        color: #795548;
                    }
                }
                div.year-to-date-revenue, div.total-year-to-date-revenue {
                    div.value {
                        font-weight: 600;
                        color: #795548;
                    }
                }
            }
        }
    }

    div.after-school-section {
        div.after-school-information-container {
            div.program-summary {
                div.total-monthly-revenue,
                div.average-monthly-revenue,
                div.year-to-date-revenue {
                    div.label {
                        background-color: #EEEEEE;
                        color: #546E7A;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    div.summer-camp-section {
        div.summer-camp-information-container {
           div.program-summary {
               @media only screen and (max-width: 625px) {
                    flex-direction: column;
               }
               div.total-monthly-revenue,
               div.year-to-date-deposits-revenue,
               div.year-to-date-invoices-revenue,
               div.current-outstanding-balances,
               div.total-year-to-date-revenue {
                    div.label {
                        @media only screen and (max-width: 920px) {
                            font-size: 0.9em;
                        }
                        @media only screen and (max-width: 815px) {
                            height: 80px;
                        }
                    }
               }
           }
        }
    }

    div.year-round-single-day-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: #7E57C2;
            }
        }
    }

    div.after-school-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: #66BB6A;
            }
        }
    }
    div.day-care-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: #FFA726;
            }
        }
    }

    div.vacation-camp-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: #26C6DA;
            }
        }
    }

    div.summer-camp-section {
        @media only screen and (max-width: 490px) {
            h5 {
                background-color: #26A69A;
            }
        }
    }
}