body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100% !important;
}

.admin-dashboard-container {
    width: 100%;
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }  
    display: flex;
    div.side-bar {
        margin: 0;
        padding: 0;
        flex: 0 1 15%;

        background-color: #263238;
        div.side-bar-row {
            padding: 1em 1.5em;
            text-align: left;
            cursor: pointer;
            transition: background-color 0.2s ease;
            color: #B0BEC5;
            @media only screen and (max-width: 1175px) { padding: 1em 0.6em; }
            i {
                width: 16px;
                margin-right: 10px;
                font-size: 1em;
                color: #ECEFF1;
                @media only screen and (max-width: 990px){ display: none; }
                @media only screen and (max-width: 450px) { display: inline-block; }
            }
            &:hover {
                background-color: #1c2529;
                color: #f4f4f4;
            }
            font-size: 1em;
            @media only screen and (max-width: 450px) {
                text-align: center;
                & > span {
                    display: none;
                }
            }
        }
    }
    @import 'home-section';
    @import 'customers-section';
    @import 'programs-section';
    @import 'billing-section';
    @import 'payroll-section';
}
