<div class="nested-fields br2 bg-black-10 pa2 mb3 child-container cf">
	<%= f.label :first_name, class: "f6 fw7 db mb1" %>
	<%= f.text_field :first_name, placeholder: "First Name", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= f.label :last_name, class: "f6 fw7 db mb1" %>
	<%= f.text_field :last_name, placeholder: "Last Name", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= f.label :dob, "Date of Birth", class: "f6 fw7 db mb1" %>
	<%= f.text_field :dob, class: "input rest ba b--black-20 pa2 mb1 db w-100 date-format", placeholder: "yyyy-mm-dd" %>

	<%= f.label :school_attending, class: "f6 fw7 db mb1" %>
	<%= f.text_field :school_attending, placeholder: "School Attending", class: "input rest ba b--black-20 pa2 mb1 db w-100" %>

	<%= link_to_remove_association "- Remove Child", f, class: "red link pointer dim bn outline-0 bg-transparent pa0 fr mv2" %>
</div>
	