<%= form_for @registration_record, url: admin_registration_record_path(@registration_record), html: { class: "white-form edit-record-form" } do |f| %>
    <div class="vacation-camp-record-update-alert">
    </div>
    <% if @registration_record.errors.any? %>
        <h4 class="errors-header">
            <%= @registration_record.errors.count %> 
            <%= 'error'.pluralize(@registration_record.errors.count) %> 
            has prevented the record to be updated.
        </h4>
        <% @registration_record.errors.full_messages.each do |error_message| %>
            - <%= error_message %>
        <% end %>
    <% end %>
	<div class="form-row">
        <div class="form-row-label">
            <%= f.label :approved_at %>
        </div>
        <div class="form-control">
            <%= f.datetime_local_field :approved_at, {readonly: true} %>
        </div>
    </div>

    <div class="form-row">
        <div class="form-row-label">
            <%= f.label :emailed_at %>
        </div>
        <div class="form-control">
            <%= f.datetime_local_field :emailed_at, {readonly: true} %>
        </div>
    </div>

    <div id="child-records" class="child-records-section">
        <h4>Child <%= 'Record'.pluralize(@registration_record.child_records.count) %></h4>
        <%= f.fields_for :child_records do |child_record| %>
			<%= render "child_record_fields", f: child_record %>
        <% end %>
        <div class="links list pa0 ma0">
            <%= link_to_add_association 'Add New Child', f, :child_records, class: "ph3 pv2 bg-green js-child-records-add" %>
        </div>
    </div>

    <% if @registration_record.program.name == "Day Care" %>
        <%= f.fields_for :day_care_record do |day_care_record| %>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="form-row-label">
                    <%= day_care_record.label :start_date %>
                </div>
                <div class="form-control">
                    <%= day_care_record.date_field :start_date %>
                    <div class="start-date-tool-tip">(The format is: Day, Month, Year)</div>
                </div>
            </div>
            <br>
        <% end %>  
    <% end %>

	<% if @registration_record.before_and_afterschool_record.present? %>
		<%= f.fields_for :before_and_afterschool_record do |afterschool_fields| %>
        <div class="form-row">
            <div class="form-row-label">
                <%= afterschool_fields.label :start_date %>
            </div>
            <div class="form-control">
                <%= afterschool_fields.text_field :start_date %>
                <div class="start-date-tool-tip">(The format is: Day, Month, Year)</div>
            </div>
        </div>
		<h4 style="font-size: 120%;">Before and After School Schedule</h4>
        <h4 class="before-school-header">Before School</h4>
        <div class="before-and-afterschool-box">
            <div class="days">
                <div class="before-school-day-box">Monday</div>
                <div class="before-school-day-box">Tuesday</div>
                <div class="before-school-day-box">Wednesday</div>
                <div class="before-school-day-box">Thursday</div>
                <div class="before-school-day-box">Friday</div>
            </div>
            <div class="checkboxes">
                <div><%= afterschool_fields.check_box :before_school_monday %></div>
                <div><%= afterschool_fields.check_box :before_school_tuesday %></div>
                <div><%= afterschool_fields.check_box :before_school_wednesday %></div>
                <div><%= afterschool_fields.check_box :before_school_thursday %></div>
                <div><%= afterschool_fields.check_box :before_school_friday %></div>
            </div>
        </div>

        <h4 class="after-school-header">After School</h4>
        <div class="before-and-afterschool-box">
            <div class="days">
                <div class="after-school-day-box">Monday</div>
                <div class="after-school-day-box">Tuesday</div>
                <div class="after-school-day-box">Wednesday</div>
                <div class="after-school-day-box">Thursday</div>
                <div class="after-school-day-box">Friday</div>
            </div>
            <div class="checkboxes">
                <div><%= afterschool_fields.check_box :after_school_monday %></div>
                <div><%= afterschool_fields.check_box :after_school_tuesday %></div>
                <div><%= afterschool_fields.check_box :after_school_wednesday %></div>
                <div><%= afterschool_fields.check_box :after_school_thursday %></div>
                <div><%= afterschool_fields.check_box :after_school_friday %></div>
            </div>
        </div>
        <% end %>
    <% elsif @registration_record.summer_camp_record.present? %>
        <%= render partial: 'summer_camp_record_fields', locals: {f: f} %>
	<% end %>
    <% if @registration_record.program.name == 'Vacation Camp' %>
        <%= render partial: 'vacation_camp_record_fields', locals: {f: f} %>
    <% end %>
	<hr>
    <div style="margin: 0 auto;">
        <%= f.submit "Submit", class: 'edit-record-submit-button' %>
    </div>
<% end %>