<div class="form-block nested-fields">
    <div class="form-row">
        <h5>Invoice #<%= f.object.id %></h5> 
    </div>
    <div class="form-row">
        <%= f.label :memo %>
        <%= f.text_field :memo %>
    </div>
    <div class="form-row">
        <%= f.label :amount %>
        <%= f.number_field :amount %>
    </div>
    <div class="form-row">
        <%= f.label :due_date %>
	    <%= f.text_field :due_date, class: 'datepicker' %>    
    </div>
    <div class="form-row">
        <%= link_to_remove_association '<i class="far fa-trash-alt"></i> Delete Invoice'.html_safe, f, class: "red" %>
    </div>
</div>
