<%= f.fields_for :summer_camp_record do |summer_camp_fields| %>
    <h4 style="font-size: 120%;">Summer Camp Selected Weeks</h4>
    <div class="summer-camp-week-box">
        <div class="weeks">
            <div class="summer-camp-first-half">Week 1</div>
            <div class="summer-camp-first-half">Week 2</div>
            <div class="summer-camp-first-half">Week 3</div>
            <div class="summer-camp-first-half">Week 4</div>
            <div class="summer-camp-first-half">Week 5</div>
        </div>
        <div class="weeks">
            <div class="week-name"><%= summer_camp_fields.check_box :week_one %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_two %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_three %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_four %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_five %></div>
        </div>
         <div class="weeks">
            <div class="summer-camp-second-half">Week 6</div>
            <div class="summer-camp-second-half">Week 7</div>
            <div class="summer-camp-second-half">Week 8</div>
            <div class="summer-camp-second-half">Week 9</div>
            <div class="summer-camp-second-half">Week 10</div>
        </div>
        <div class="weeks">
            <div class="week-name"><%= summer_camp_fields.check_box :week_six %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_seven %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_eight %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_nine %></div>
            <div class="week-name"><%= summer_camp_fields.check_box :week_ten %></div>
        </div>
    </div>
<% end %>