<table class="responsive no-wrap forum-table">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Program</th>
			<th>Children</th>
			<th>Emailed</th>
			<th>Enrolled</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% target.each do |registration_record| %>
			<tr>
				<td data-th="Customer"><%= link_to registration_record.customer.email, admin_customer_path(registration_record.customer) %></td>
				<td data-th="Program"><%= registration_record.program.present? ? (link_to registration_record.program.display_name, admin_program_path(registration_record.program)) : 'N/A' %></td>
				<td data-th="Children"><%= registration_record.child_records_count %></td>
				<td data-th="Emailed"><%= emailed_status(registration_record) %></td>
				<td data-th="Enrolled"><%= registration_record.enrolled? ? "Yes" : "No" %></td>
				<td data-th-"Actions">
					<div class="action-links c-multi-button js-multi-button">
						<div class="c-multi-button__items">
							<% if !registration_record.approved? %>
								<%= link_to "Approve/Email", approve_admin_registration_record_path(registration_record), method: :put, class: "c-multi-button__item" %>
							<% elsif !registration_record.emailed? %>
								<%= link_to "Email", email_admin_registration_record_path(registration_record), method: :put, class: 'c-multi-button__item' %>
							<% end %>
							<%= link_to "View", admin_registration_record_path(registration_record), class: "c-multi-button__item" %>
							<%= link_to "Edit", edit_admin_registration_record_path(registration_record), class: "c-multi-button__item" %>
							<%= link_to "Delete", admin_registration_record_path(registration_record), method: :delete, class: "c-multi-button__item red-link", data: { confirm: "Are you sure?" } %>
						</div>
						<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
