<h4 style="font-size: 120%;">Vacation Camp Schedules</h4>
<div class="edit-vacation-camp-records">
    <ul>
        <% f.object.program.vacation_camp_schedules.where.not(deleted: true).each do |sched| %>
            <li>
                <div class="sched-summary"><%=  sched.schedule_summary.gsub('|', '') %></div>
                <div class="camp-enrollment-button"><%= create_vacation_camp_schedule_button(f.object, sched) %></div>
            </li>
        <% end %>
    </ul>
</div>
    

