<h1 class="h3">Home</h1>
<div>
	<%= search_form_for @q, url: admin_registration_records_path, html: { class: "search-form" } do |f| %>
		<div class="cf">
			<div class="fl w-100 w-50-l pa3 pb0 pr4-l">
				<%= f.label :filter_by_program, "Program", class: 'mb1' %>
				<%= f.select :filter_by_program, options_from_collection_for_select(Program.all.sort_by(&:display_name), 'display_name', 'display_name', @q.filter_by_program), {include_blank: true}, class: 'bg-white mb2 db', include_blank: true %>

				<%= f.label :customer_email_cont, 'Email', class: 'mb1' %>
				<%= f.search_field :customer_email_cont, class: 'mb2' %>

				<div class="cf w-100">
					<div class="fl w-50 pr3">
						<%= f.label :customer_first_name_cont, 'Parent First Name', class: 'mb1' %>
						<%= f.search_field :customer_first_name_cont %>
					</div>
					<div class="fl w-50 pl3">
						<%= f.label :customer_last_name_cont, 'Parent Last Name', class: 'mb1' %>
						<%= f.search_field :customer_last_name_cont %>
					</div>
				</div>

				<%= f.label :coupon_code_cont, 'Coupon Code', calss: 'mb1' %>
				<%= f.search_field :coupon_code_cont %>
				<div class="cf w-100" style="margin-top: 10px;">
					<%= check_box_tag 'summer_camp_promo_registrations', 'true', false, style: "display: inline; width: 20px;" %>
					<%= label_tag 'summer_camp_promo_registrations', 'Show only summer camp promo registrations' %>
				</div>
			</div>
			<div class="fl w-100 w-50-l pa3 pb0 pl4-l">
				<%= f.label :customer_phone_number_cont, 'Phone Number', class: 'mb1' %>
				<%= f.search_field :customer_phone_number_cont, class: 'mb2' %>

				<%= f.label :vacation_camp_records_month_cont, 'Vacation Camp Month', class: 'mb1' %>
				<%= f.select :vacation_camp_records_month_cont, options_for_select(searchable_vacation_camp_months, @q.vacation_camp_records_month_cont), include_blank: true, class: 'mb2' %>

				<%= f.label :single_day_record_day_cont, 'Single Day Day (Legacy)', class: 'mb1' %>
				<%= f.select :single_day_record_day_cont, options_for_select(searchable_single_day_days, @q.single_day_record_day_cont), include_blank: true, class: 'mb2' %>
	
				<%= f.label :single_day_record_date_cont, 'Single Day Date (Legacy)', class: 'mb1' %>
				<%= f.select :single_day_record_date_cont, options_for_select(SingleDayRecord.all.group_by(&:date).map{|group| group.first}, @q.single_day_record_date_cont), include_blank: true, class: 'mb2' %>

				<%= f.label :single_day_record_single_day_date_date_eq, 'Single Day Date', class: "mb1" %>
				<%= f.select :single_day_record_single_day_date_date_eq, options_for_select(SingleDayDate.all.order('date asc').group_by(&:date).map{|group| group.first}, @q.single_day_record_single_day_date_date_eq), include_blank: true, class: 'mb2' %>

				<div class="cf w-100">
					<div class="fl w-50 pr3">
						<%= f.label :created_at_gteq, "Created At: ", class: 'mb1' %>
						<%= f.search_field :created_at_gteq, class: 'datepicker', placeholder: 'Start Date' %>
					</div>
					<div class="fl w-50 pl3">
						<%= f.label :parent_last_name_cont, '&nbsp;'.html_safe, class: 'mb1' %>
						<%= f.search_field :created_at_lteq, class: 'datepicker', placeholder: 'End Date' %>
					</div>
				</div>
			</div>
		</div>
		<div class="o-grid">
			<div class="o-grid__unit u-half">
				<%= f.submit "Search", class: 'button' %>
			</div>
			<div class="o-grid__unit u-half u-align-right">
				<%= link_to "Clear All Filters", admin_root_path, class: 'button' %>
			</div>
		</div>
	<% end %>
</div>

<% if @registration_records.present? %>
	<%= link_to "Export CSV", admin_root_path(params.merge(format: :csv)), class: "button" %>
	<%= render 'admin/registration_records/table', target: @registration_records %>
	<%= paginate @registration_records %>
<% else %>
		<p>There are no registration records yet!</p>
<% end %>
