<div class="create-invoices-page">
    <% if @registration_record.errors.present? %>
        <div class="invoices-section">
            <div class="form-block">
                <% @registration_record.errors.full_messages.each do |message| %>
                   <p><%= message %></p>
                <% end %>
            </div>
        </div>
    <% end %>
    <% if @registration_record.summer_camp_record.present? %>
        <%= form_for @registration_record, url: admin_create_invoices_path(@registration_record.id) do |f| %>
            <div class="summer-camp-record-section">
                <div class="edit-record-form">
                    <%= render partial: 'summer_camp_record_fields', locals: {f: f} %>
                </div>
            </div>
            <div class="invoices-section">
                <h5>Invoices</h5>
                <p class="amount-notice">The amount is in cents as required by Stripe.</p>
                <div id="invoices-section">
                     <%= f.fields_for :invoices do |invoice| %>
                        <%= render 'invoice_fields', f: invoice %>
                    <% end %>
                    <div class="links">
                        <%= link_to_add_association '<i class="fas fa-plus-circle"></i> Add New Invoice'.html_safe, f, :invoices %>
                    </div>
                </div>
                <div class="form-row">
                    <%= f.submit :Submit %>
                </div>
            </div>
        <% end %>
    <% else %>
        <h5>The Record's Summer Camp information could not be retrieved from the server.</h5>
    <% end %>
</div>