<h1 style="font-size: 1.5em; color: black;">
    <% unless @registration_record.program.name == 'After School' %>
        <%= @registration_record.program.display_name %>
    <% else %>
        <% if @registration_record.before_and_afterschool_record.present? && @registration_record.annual_single_day_promo_record == nil %>
            <%= "#{@registration_record.location} regular After School registration" %>
        <% elsif @registration_record.before_and_afterschool_record.present? && @registration_record.annual_single_day_promo_record.present? %>
            <%= "#{@registration_record.location} After School with year-round Single Day package registration" %>
        <% elsif @registration_record.before_and_afterschool_record == nil && @registration_record.annual_single_day_promo_record.present? %>
            <%= "#{@registration_record.location} Annual Single Day package only registration" %>
        <% end %>
    <% end %>
</h1>
<div class="cf w-100">
	<div class="fl w-100 w-50-l pa3 pl0 pb0">
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Status Information</h2>
		<p class="f5 f4-l lh-copy mb0"><b>Emailed:</b> <%= emailed_status(@registration_record) %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Created At:</b> <%= @registration_record.created_at.strftime('%D') %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Approved:</b> <%= approved_status(@registration_record) %></p>
        <% if @registration_record.summer_camp_record.present? %>
            <% if @registration_record.summer_camp_record.promo_name.present? %>
                <p class="f5 f4-l lh-copy mb0"><b>Summer Camp Promo Registration</b>
                <p class="f5 f4-l lh-copy mb0"><b>Promo title:</b> <%= format_promo_name(@registration_record.summer_camp_record.promo_name) %>
            <% end %>
        <% end %>
		<% if @registration_record.before_and_afterschool_record.present? %>
			<p class="f5 f4-l lh-copy mb0"><b>Year cycle: <strong><%= @registration_record.before_and_afterschool_record.year_cycle %></strong></p>
		<% end %>
	</div>

	<div class="fl w-100 w-50-l pa3 pl0">
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Payment Information</h2>
		<p class="f5 f4-l lh-copy mb0"><b>Payment Platform:</b> <%= @registration_record.payment_platform.present? ? @registration_record.payment_platform : "N/A" %>
		<p class="f5 f4-l lh-copy mb0"><b>Payment URL:</b> <%= @registration_record.payment_url.present? ? (link_to @registration_record.payment_url, @registration_record.payment_url) : "N/A" %>
        <p class="f5 f4-l lh-copy mb0"><b>Amount Paid:</b> <%= number_to_currency(@registration_record.amount_paid) %>
		<p class="f5 f4-l lh-copy mb0"><b>Customer URL:</b> <%= @registration_record.customer.customer_url.present? ? (link_to @registration_record.customer.customer_url, @registration_record.customer.customer_url) : "N/A" %>
		<p class="f5 f4-l lh-copy mb0"><b>Customer Identifier:</b> <%= @registration_record.customer.stripe_customer_identifier.present? ? @registration_record.customer.stripe_customer_identifier : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Transaction ID:</b> <%= @registration_record.transaction_identifier.present? ? @registration_record.transaction_identifier : "N/A" %></p>
		<p class="f5 f4-l lh-copy mb0"><b>Coupon Code:</b> <%= @registration_record.coupon_code.present? ? @registration_record.coupon_code : "N/A" %></p>
        <% if @registration_record.annual_single_day_promo_record.present? %>
            <p class="f5 f4-l lh-copy mb0"><strong>Annual Single Day Package: </strong> <%= @registration_record.annual_single_day_promo_record.promo_name.split("_").join(' ').titleize %></p>
        <% end %>
		<% if @registration_record.before_and_afterschool_record.present? %>
    		<p class="f5 f4-l lh-copy mb0"><b>Invoice Due Dates:</b> <%= @registration_record.bill_afterschool_end_of_month? ? "Last Day of The Month" : "Mid-Month or 7 Days After Registration (Whichever gives more time)" %></p>
		<% end %>
	</div>
</div>


<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Parent Information</h2>
<p class="f5 f4-l lh-copy mb0"><b>Parent Name:</b> <%= @registration_record.customer.name.present? ? @registration_record.customer.name : "N/A" %></p>
<p class="f5 f4-l lh-copy mb0"><b>Email:</b> <%= link_to @registration_record.customer.email, admin_customer_path(@registration_record.customer) %></p>
<p class="f5 f4-l lh-copy mb0"><b>Phone Number:</b> <%= @registration_record.customer.phone_number.present? ? @registration_record.customer.phone_number : "N/A" %></p>
<p class="f5 f4-l lh-copy mb0"><b>Emergency Phone Number:</b> <%= @registration_record.customer.emergency_phone_number.present? ? @registration_record.customer.emergency_phone_number : "N/A" %></p>
<p class="f5 f4-l lh-copy mb0"><b>Address:</b> <%= @registration_record.customer.address == ",  , , " ? "N/A" : @registration_record.customer.address %></p>
<p class="f5 f4-l lh-copy mb3"><b>How Did You Hear About Us?</b> <%= @registration_record.customer.how_did_you_hear_about_us.present? ? @registration_record.customer.how_did_you_hear_about_us.capitalize : "N/A" %></p>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Child Information</h2>
<% if @registration_record.child_records.present? %>
	<table class="responsive no-wrap forum-table mb4">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>DOB</th>
				<th>Child Classification</th>
				<th>School Attending</th>
			<tr/>
		</thead>

		<tbody>
			<% @registration_record.child_records.each do |child_record| %>
				<tr>
					<td data-th="First Name"><%= child_record.first_name %></td>
					<td data-th="Last Name"><%= child_record.last_name %></td>
					<td data-th="Age"><%= child_record.age %></td>
					<td data-th="DOB"><%= child_record.dob %></td>
					<td data-th="Child Classification"><%= child_record.child_classification.present? ? child_record.child_classification.capitalize : "N/A" %></td>
					<td data-th="School Attending"><%= child_record.school_attending.present? ? child_record.school_attending : "N/A" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no children associated with this registration record. This is likely due to it being a legacy record from when registration records were created from PayPal payments.</p>
<% end %>

<% if @single_day_record.present? %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb3">Single Day Record</h2>
    <% if @single_day_record.single_day_date.present? %>
	    <p class="f5 f4-l lh-copy mb3"><b>Name:</b> <%= @single_day_record.single_day_date.name %></p>
	    <p class="f5 f4-l lh-copy mb3"><b>Day:</b> <%= @single_day_record.single_day_date.date %></p>
    <% else %>
        <p class="f5 f4-l lh-copy mb3">The Single Day Date has been removed by the Administrator.</p>
    <% end %>
<% end %>

<% if @before_and_afterschool_record.present? %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb3">Before/Afterschool Information</h2>
	<div class="tc">
		<p class="f4 tl fw7 center ttu tracked mid-gray mb0">Before School</p>
		<div class="before-school-date">
			Start Date: <%= @before_and_afterschool_record.start_date.strftime('%B %d, %Y') %>
			<div class="edit-before-school-date">
				<%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_registration_record_path(@registration_record) %>
				<div class="tool-tip">
					Edit Before School Start Date	
				</div>
			</div>
		</div>
		<table class="f6 w-100 center mb4" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 pa3 bg-silver tc">Mon</th>
					<th class="fw6 pa3 bg-silver tc">Tues</th>
					<th class="fw6 pa3 bg-silver tc">Wed</th>
					<th class="fw6 pa3 bg-silver tc">Thurs</th>
					<th class="fw6 pa3 bg-silver tc">Fri</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.before_school_monday) %>" data-th="Mon"><%= yes_no_boolean(@before_and_afterschool_record.before_school_monday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.before_school_tuesday) %>" data-th="Tues"><%= yes_no_boolean(@before_and_afterschool_record.before_school_tuesday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.before_school_wednesday) %>" data-th="Wed"><%= yes_no_boolean(@before_and_afterschool_record.before_school_wednesday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.before_school_thursday) %>" data-th="Thurs"><%= yes_no_boolean(@before_and_afterschool_record.before_school_thursday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.before_school_friday) %>" data-th="Fri"><%= yes_no_boolean(@before_and_afterschool_record.before_school_friday) %></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="tc">
		<p class="f4 tl fw7 center ttu tracked mid-gray mb0">After School</p>
		<div class="after-school-date">
			Start Date: <%= @before_and_afterschool_record.start_date.strftime('%B %d, %Y') %>
			<div class="edit-after-school-date">
				<%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_registration_record_path(@registration_record) %>
				<div class="tool-tip">
					Edit After School Start Date	
				</div>
			</div>
		</div>
			
		
		
		<table class="f6 w-100 center mb4" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 pa3 bg-silver tc">Mon</th>
					<th class="fw6 pa3 bg-silver tc">Tues</th>
					<th class="fw6 pa3 bg-silver tc">Wed</th>
					<th class="fw6 pa3 bg-silver tc">Thurs</th>
					<th class="fw6 pa3 bg-silver tc">Fri</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.after_school_monday) %>" data-th="Mon"><%= yes_no_boolean(@before_and_afterschool_record.after_school_monday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.after_school_tuesday) %>" data-th="Tues"><%= yes_no_boolean(@before_and_afterschool_record.after_school_tuesday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.after_school_wednesday) %>" data-th="Wed"><%= yes_no_boolean(@before_and_afterschool_record.after_school_wednesday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.after_school_thursday) %>" data-th="Thurs"><%= yes_no_boolean(@before_and_afterschool_record.after_school_thursday) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@before_and_afterschool_record.after_school_friday) %>" data-th="Fri"><%= yes_no_boolean(@before_and_afterschool_record.after_school_friday) %></td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

<% if @summer_camp_record.present? %>
	<h4 style="color: #ff6300; display: inline-block;">Summer Camp Information</h4>
    <div class="edit-summer-camp-record" style="display: inline;">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_registration_record_path(@registration_record) %>
        <div class="tool-tip">Edit Summer Camp record</div>
    </div>
    <div class="create-invoices-button-group">
        <a href="<%= admin_new_invoices_path(@registration_record.id) %>">
            <i class="fas fa-file-alt"></i> Create Summer Camp Invoices
        </a>
    </div>
	<table class="f6 w-100 center mb3 tc" cellspacing="0">
		<thead>
			<tr class="stripe-dark">
				<th class="fw6 pa3 bg-silver tc">Week 1</th>
				<th class="fw6 pa3 bg-silver tc">Week 2</th>
				<th class="fw6 pa3 bg-silver tc">Week 3</th>
				<th class="fw6 pa3 bg-silver tc">Week 4</th>
				<th class="fw6 pa3 bg-silver tc">Week 5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_one) %>" data-th="Week 1"><%= yes_no_boolean(@summer_camp_record.week_one) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_two) %>" data-th="Week 2"><%= yes_no_boolean(@summer_camp_record.week_two) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_three) %>" data-th="Week 3"><%= yes_no_boolean(@summer_camp_record.week_three) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_four) %>" data-th="Week 4"><%= yes_no_boolean(@summer_camp_record.week_four) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_five) %>" data-th="Week 5"><%= yes_no_boolean(@summer_camp_record.week_five) %></td>
			</tr>
		</tbody>
	</table>

	<table class="f6 w-100 center mb4 tc" cellspacing="0">
		<thead>
			<tr class="stripe-dark">
				<th class="fw6 pa3 bg-silver tc">Week 6</th>
				<th class="fw6 pa3 bg-silver tc">Week 7</th>
				<th class="fw6 pa3 bg-silver tc">Week 8</th>
				<th class="fw6 pa3 bg-silver tc">Week 9</th>
				<th class="fw6 pa3 bg-silver tc">Week 10</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_six) %>" data-th="Week 6"><%= yes_no_boolean(@summer_camp_record.week_six) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_seven) %>" data-th="Week 7"><%= yes_no_boolean(@summer_camp_record.week_seven) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_eight) %>" data-th="Week 8"><%= yes_no_boolean(@summer_camp_record.week_eight) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_nine) %>" data-th="Week 9"><%= yes_no_boolean(@summer_camp_record.week_nine) %></td>
				<td class="pa2 pa3-ns tc <%= yes_no_boolean(@summer_camp_record.week_ten) %>" data-th="Week 10"><%= yes_no_boolean(@summer_camp_record.week_ten) %></td>
			</tr>
		</tbody>
	</table>
<% end %>


<% if @registration_record.program.name == "Vacation Camp" %>
    <h4 style="color: #ff6300; display: inline-block;">Vacation Camp Information</h4>
    <div class="edit-vacation-camp-record" style="display: inline;">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_registration_record_path(@registration_record) %>
        <div class="tool-tip">Edit Vacation Camp record</div>
    </div>
    <br>
	<% @vacation_camp_records.each do |record| %>
		<span class="f5 f4-l lh-copy mb2"><b>Month: </b><%= record.vacation_camp_schedule.month.capitalize %></span>
		<span><%= record.vacation_camp_schedule.year %> </span>
		<div class="schedule-container f6 w-100 center mb4">
			<% record.vacation_camp_schedule.information.each do |day_number, day_word| %>
				<div class="date">
					<div class="day stripe-dark fw6 pa3 bg-silver tc"><%= day_word %>, <%= day_number %></div>
					<div class="pa2 pa3-ns tc Yes"> Yes</div>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if @day_care_record.present? %>
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Day Care Information</h2>
	<span class="f5 f4-l lh-copy mb3" style="margin-bottom: 10px;"><b>Start Date:</b> <%= @day_care_record.start_date.present? ? @day_care_record.start_date.strftime('%D') : "N/A" %></span>
    <div class="edit-vacation-camp-record" style="display: inline;">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_admin_registration_record_path(@registration_record) %>
        <div class="tool-tip">Edit Day Care record</div>
    </div>
<% end %>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Permanent Discounts</h2>
<p><%= link_to "Add a New Permanent Discount", new_admin_discount_path(registration_record_id: @registration_record.id) %></p>
<% if @registration_record.discounts.present? %>
	<table class="responsive no-wrap forum-table mb4">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Actions</th>
			<tr/>
		</thead>

		<tbody>
			<% @registration_record.discounts.order('created_at desc').each do |discount| %>
				<tr>
					<td data-th="Amount"><%= number_to_currency(discount.amount) %></td>
					<td data-th="Actions"><%= link_to "Delete", admin_discount_path(discount),  method: :delete, data: { confirm: "Are you sure?" }, class: "c-multi-button__item", method: :delete, data: { confirm: "Are you sure?" } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are no permanent discounts associated with this registration record.</p>
<% end %>

<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Invoices</h2>
<p><%= link_to "Add a New Invoice", new_admin_invoice_path(registration_record_id: @registration_record.id) %></p>
<% if @registration_record.invoices.present? %>
	<%= render 'admin/invoices/table', target: @registration_record.invoices.order('created_at desc') %>
<% else %>
	<p class="f5 f4-l lh-copy mb3">There are invoices associated with this registration record.</p>
<% end %>
