div.single-day-registration-options {
    border-radius: 4px;
    width: 440px;
    margin: 0 0 10px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    padding: 5px;
    *, *::before, *::after {
        font-family: lato, verdana, arial;
    }

    @media only screen and (max-width: 450px) {
        width: 100%;
    }

    div.single-day-option-pair {
        position: relative;
        input[type=radio] {
            visibility: hidden;
            position: absolute;
            right: 0;
        }

        input[type=radio]:checked ~ label {
            color: #f4f4f4;
            &::after {
                background-color: #0277BD;
            }

            &::before {
                width: 100%;
            }
        }

        label {
            font-family: lato, verdana, arial;
            font-size: 1em;
            font-weight: 300;
            padding: 10px;
            display: block;
            position: relative;
            cursor: pointer;
            transition: color 250ms ease-out;
            @media only screen and (max-width: 450px) {
                font-size: 0.8em;
            }
            @media only screen and (max-width: 320px) {
                font-size: 0.7em;
            }
            &::before {
                z-index: -2;
                position: absolute;
                content: '';
                left: 0;
                height: 100%;
                width: 0%;
                top: 0;
                background-color: #42A5F5;
                transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            }

            &::after {
                z-index: -1;
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "
                );
                background-repeat: no-repeat;
                right: 0;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: transparent;
                top: 50%;
                transform: translateY(-50%);
                background-position: 3px 5px;
                right: 2%;
                transition: background-color 240ms ease-in-out;
            }
        }
    }
}

div.single-day-date-selection {
    // height: 50px;
}

// single day promo section
.year-round-single-day-promo-options {
    box-sizing: border-box;
    margin: 20px 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 1px;
    opacity: 0;
    font-size: 1em;
    transition: height 300ms ease-in-out;
    position: relative;
    transform-origin: 10%;

    @media only screen and (max-width: 450px) {
        font-size: 0.8em;
    }
    @media only screen and (max-width: 320px) {
        font-size: 0.7em;
    }
    input#no_annual_single_day_package_selected {
        visibility: hidden;
    }

    input[type=radio], label {
        cursor: pointer;
    }
    div.radio-button-pair {
        margin-bottom: 15px;
        label {
            margin-left: 5px;
            font-family: lato;
            font-size: 0.95em;
        }
    }
    h4.single-day-promo-header {
        text-align: center;
        font-family: lato;
        font-size: 1.3em;
        margin: 0 0 15px 0;
        color: #0D47A1;
        text-transform: uppercase;
    } 
}

div.year-round-tool-tip {
    font-family: lato, verdana, arial;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    background-color: #607D8B;
    color: #f4f4f4;
    height: 1px;
    opacity: 0;
    transition: 1000ms opacity 300ms ease-out, 500ms height 300ms ease-out;
    &::before {
        content: '';
        position: absolute;
        top: -38px;
        height: 20px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #607D8B;
        border-left: 10px solid transparent;
    }
}

.show-year-round-tool-tip {
    height: 300px !important;
    opacity: 1 !important;

    @media only screen and (max-width: 1550px) {
        height: 380px !important;
    }

    @media only screen and (max-width: 1040px) {
        height: 400px !important;
    }

    @media only screen and (max-width: 600px){
        height: 480px !important;
    }

    @media only screen and (max-width: 450px) {
        height: 600px !important;
    }
    @media only screen and (max-width: 320px) {
        height: 650px !important;
    }
}

.show-package-options {
    height: 262px;
    opacity: 1;
    
    @media only screen and (max-width: 450px) {
        height: 180px;
    }
}

p.single-day-payment-amount {
    font-size: 1em;
    font-family: lato, verdana, arial;
    span {
        font-weight: 800;
    }
}

select#registration_record_single_day_record_attributes_single_day_date_id {
    text-overflow: ellipsis;
    min-width: 200px;
}