@media only screen and (max-width: 765px) {
    $link-color: #909dc2;
    .log-in-header {
        display: none;
    }

    .visible {
        opacity: 1 !important;
        visibility: visible !important;
    }

    #navigation-links {
        .session-links {
            .regular-view {
                display: none;
            }
            #mobile-view {
                display: block;
                color: #fff;
                margin-right: 20px;
                font-size: 180%;
                font-weight: 300;
                position: relative;
                .menu-options {
                    position: absolute;
                    right: 0;
                    width: 120px;
                    background-color: #fff;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    margin-top: 7px;
                    visibility: hidden; 
                    opacity: 0;
                    &:before {
                        content: '';
                        top: -17px;
                        right: 2px;
                        height: 1px;
                        position: absolute;
                        border-top: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                    }

                    ul {
                        padding: 10px 0;
                        list-style-type: none;
                        margin: 0;
                        text-align: center;
                        li {
                            text-align: left;
                            display: inline-block;
                            border-bottom: 1px solid #909dc2;
                            width: 110px;
                            position: relative;
                            &:last-of-type {
                                border-bottom: transparent;
                            }
                            a {
                                color: #909dc2;
                                font-size: 40%;
                                vertical-align: middle;
                                line-height: 33px;
                            }

                            i {
                                position: absolute;
                                right: 5px;
                                vertical-align: middle;
                                line-height: 33px;
                                display: inline-block;
                                font-size: 50%;
                                color: #909dc2;
                                margin-left: 10px; 
                            }
                        }
                    }       
                }
            }
        }
    }

    #nav-links {
        display: none;
    }

    #nav-links-mobile {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        
        i {
            color: #fff;
            font-size: 32px;  
        }
        .nav-links-mobile-container {
            position: relative;
            text-align: center;
            margin-right: 20px;
            cursor: pointer;
            #mobile-nav {
                z-index: 10 !important;
            }
            .nav-links-mobile-menu {
                z-index: 5;
                position: absolute;
                right: 0;
                margin-top: 10px;
                width: 280px;
                visibility: hidden;
                .nav-links-mobile-menu-container {
                    position: relative;
                    border-radius: 4px;
                    padding: 5px;
                    background-color: #fff;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

                    &:before {
                        z-index: 1;
                        content: '';
                        height: 1px;
                        border-top: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        position: absolute;
                        top: -18px;
                        right: 5px;
                    }
                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        li {
                            text-align: left;
                            padding: 5px;
                            position: relative;
                            display: block;
                            div, i, a {
                                text-transform: none;
                                color: $link-color;
                                font-size: 16px;
                            }
                            .text, a {
                                display: inline-block;
                                position: absolute;
                                right: 5px;
                                margin: 0;
                            }
                            .option {
                                visibility: hidden;
                                width: 140px;
                                position: absolute;
                                top: 0;
                                right: 134px;
                                background-color: #fff;
                                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
                                z-index: 1;
                                ul {
                                    list-style-type: none;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                            &:not(:last-of-type) {border-bottom: 1px solid $link-color;}
                        }
                    }
                }
            }
        }
    }
}