@media only screen and (max-width: 710px) {
    html, body {
        width: 100% !important;
    }
    #year-header {
        position: relative !important;
        top: 50px;
        margin-bottom: 80px !important;
    }

    #client-header {
        width: 100% !important;
    }

    .summative-year-select-container {
        margin-top: 20px;
        .select-shroud {
            width: 100% !important;
        }
    }

    .summative-receipt {
        width: 100%;
        .container {
            width: 100%;
            overflow: hidden;
        }
    }

    .grand-total-section {
        .section-container {
            width: 100% !important;
        }
    }

    .scroll-to-top {
        bottom: 12% !important;
        right: 4% !important;
        z-index: 100 !important;
    }

    .summative-receipt .container {
        padding: 10px;
        .single-day-table-container {
            overflow-y: auto;
        }

        #single-day-table {
            width: 600px !important;
        }
    }

    .record-information {
        width: 100% !important; 
    }

    .vacation-camp-records-table-container {
        overflow: auto;
        #vacation-camp-records-table {
            width: 900px !important;
        }
    }
    .invoices-table-container {
        overflow-y: auto;
    }

    .section-total {
        width: 100% !important;
        .subtotal {
            text-align: center !important;
            margin-right: 0;
            width: 100% !important;
        }
        span {
            margin: 0 !important;
            display: inline !important;
        }
    }
    
    .receipts {
        .container {
            padding: 20px;
            .table-container {
                padding: 10px;
                width: 100%;
                overflow-y: auto;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .summative-receipt {
        .container{
            width: 100%;
        }
    }
    .receipts {
        .summative-receipt-button-container {
            width: 100%;
            text-align: center;
        }

        .container {
            padding: 20px;
            .table-container {
                padding: 10px;
                width: 100%;
                overflow-y: auto;
            }
        }
    }
   
}

@import "navigation";