<% url = ["new", "create"].include?(params[:action]) ? admin_invoices_path : admin_invoice_path(@invoice) %>
<%= form_for @invoice, url: url, html: { class: "tsl-form white-form regular-form" } do |f| %>

	<%= f.label :amount %>
	<%= f.number_field :amount %>
	<p>Amount is in cents (required by Stripe).</p>

	<%= f.label :memo %>
	<%= f.text_field :memo %>

	<%= f.label :due_date %>
	<%= f.text_field :due_date, class: 'datepicker' %>

	<% if params[:registration_record_id].present? %>
		<%= f.hidden_field :registration_record_id, value: params[:registration_record_id] %>
	<% elsif @invoice.registration_record_id.present? %>
		<%= f.hidden_field :registration_record_id, value: @invoice.registration_record_id %>
	<% end %>
	<div class="vertically_center">
	<%= check_box_tag 'check_all_fees' %>
	<%= label_tag 'check_all_fees', "Check to Delete All Fees" %>

	</div>
	<h4 style="margin: 10px auto;">Fees</h4>
	<p style="margin: 0; font-size: 85%; color: grey">Amount is in dollars</p>
	<%= f.fields_for :fees do |fee| %>
		<% unless fee.object.deleted %>
			<%= fee.label :amount %>
			<%= fee.number_field :amount %>

			<%= fee.label :created_at, "Created at: " %>
			<%= fee.text_field :created_at, value: format_date(fee.object.created_at.to_date), disabled: true,
				style: "cursor: not-allowed; background-color: #f0f0f0;" %>
			<div class="form-row">
				<%= fee.label :deleted, "Delete Fee:" %>
				<%= fee.check_box :deleted, {}, 'true' %>
			</div>
		<% end %>
	<% end %>

	<hr>

	<div class="o-grid">
		<div class="o-grid__unit u-half">
			<%= f.submit "Submit", class: 'button' %>
		</div>
		<div class="o-grid__unit u-half u-align-right">
		</div>
	</div>
<% end %>
