<table class="responsive no-wrap forum-table mb4">
	<thead>
		<tr>    
			<th>Invoice</th>
            <th>Invoice Created at</th>
			<th>Due Date</th>
			<th>Amount</th>
			<th>Paid</th>
			<th>Discounts</th>
			<th>Fees</th>
			<th>Amount after Discounts/Fees</th>
			<th>Amount Remaining</th>
			<th>Status</th>
			<th>Actions</th>
		<tr/>
	</thead>

	<tbody>
		<% target.each do |invoice| %>
			<tr>
				<td data-th="Invoice">Invoice <%= invoice.id %> / <%= invoice.memo %></td>
                <td><%= invoice.created_at.to_date.to_formatted_s(:long) %></td>
				<td data-th="Due Date"><%= invoice.due_date.present? ? invoice.due_date.strftime('%D') : "N/A" %></td>
				<td data-th="Amount"><%= number_to_currency(invoice.amount_to_dollars) %></td>
				<td data-th="Paid"><%= number_to_currency(invoice.amount_paid_to_dollars) %></td>
				<td data-th="Discounts"><%= number_to_currency(invoice.discounts_total_to_dollars) %></td>
				<td data-th="Fees"><%= number_to_currency(invoice.fees_total_to_dollars) %></td>
				<td data-th="Amount after Discounts/Fees"><%= number_to_currency(invoice.amount_after_discounts_and_fees_to_dollars) %></td>
				<td data-th="Amount Remaining"><%= number_to_currency(invoice.amount_remaining_to_dollars) %></td>
				<td data-th="Status"><%= invoice.paid? ? "Paid" : "Unpaid" %></td>
				<td data-th="Actions">
					<% if invoice.paid? %>
						This invoice is paid.
					<% else %>
						<div class="action-links c-multi-button js-multi-button">
							<div class="c-multi-button__items">
								<%= link_to "Mark Paid", admin_invoice_url(invoice, invoice: { paid: true }), class: "c-multi-button__item", method: :put %>
								<%= link_to "Add Additional Discount", new_admin_discount_path(invoice_id: invoice.id), class: "c-multi-button__item" %>
								<%= link_to "Edit", edit_admin_invoice_path(invoice), class: "c-multi-button__item" %>
								<%= link_to "Delete", admin_invoice_path(invoice), method: :delete, class: "c-multi-button__item red-link", data: { confirm: "Are you sure?" } %>
							</div>
							<span class="c-multi-button__arrow js-multi-button__arrow">▼</span>
						</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
