<h1 class="h3">Invoices</h1>

<% if @invoices.present? %>
	<div>
		<%= search_form_for @q, url: admin_invoices_path, html: { class: "search-form" } do |f| %>
			<div class="cf">
				<div class="cf w-100">
					<div class="fl w-50 pr3">
						<%= f.label :registration_record_customer_first_name_cont, 'Parent First Name', class: 'mb1' %>
						<%= f.search_field :registration_record_customer_first_name_cont %>
					</div>
					<div class="fl w-50 pl3">
						<%= f.label :registration_record_customer_last_name_cont, 'Parent Last Name', class: 'mb1' %>
						<%= f.search_field :registration_record_customer_last_name_cont %>
					</div>
				</div>

				<%= f.label :paid_eq, 'Paid', class: 'mb1' %>
				<%= f.select :paid_eq, options_for_select([['Paid', true], ['Unpaid', false]], @q.paid_eq), include_blank: true, class: 'mb2' %>

				<div class="o-grid">
					<div class="o-grid__unit u-half">
						<%= f.submit "Search", class: 'button' %>
					</div>
					<div class="o-grid__unit u-half u-align-right">
						<%= link_to "Clear All Filters", admin_invoices_path, class: 'button' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<%= render 'table', target: @invoices %>
	<%= paginate @invoices %>
<% else %>
	<p>There are no invoices yet!</p>
<% end %>
