div.before-and-after-school-rates {
    width: 100%;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 450px) {
        flex-direction: column;
    }
    *, *::before, *::after{
        font-family: lato, verdana, arial;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    div.year-2018-2019-rates {
        margin: 20px 0;
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        h4.rate-heading {
            text-align: center;
            padding: 10px;
            font-weight: 500;
            font-size: 1.5em;
        }
        h5.location-heading {
            font-weight: 800;
            font-size: 1.2em;
            text-align: center;
            margin-top: 10px;
        }
        h5.sub-heading, h6.sub-heading {
            font-weight: 300;
            font-size: 1em;
            text-align: center;
            &:not(:first-of-type) {margin-top: 15px;}
            margin-top: 8px;
        }

        h5.sub-heading, h6.sub-heading {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                height: 3px;
                border-radius: 4px;
                width: 15%;
                bottom: 13px;
                left: 27.5%;
                transform: translate(100%, 20px);
                // right: 25%;
                background-color: rgba(0, 0, 0, 0.1);


            }
        }
      
        div.rates-table {
            border-radius: 5px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &:first-of-type > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #BBDEFB, #2196F3);
                }
            }

            &:nth-of-type(2) > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #C5CAE9, #3F51B5);
                }
            }

            &:nth-of-type(3) > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #B2DFDB, #009688);
                }
            }

            &:nth-of-type(4) > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #B2EBF2, #00BCD4);
                }
            }

            &:nth-of-type(5) > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #B3E5FC, #03A9F4);
                }
            }

            &:nth-of-type(6) > div.row {
                &:first-of-type {
                    background-image: linear-gradient(45deg, #C8E6C9, #4CAF50);
                }
            }            

             
            div.row {
                display: flex;
                div.column {
                    flex: 0 1 25%;
                    text-align: center;
                    padding: 10px 5px;
                }
                &:first-of-type > div.column{
                    font-weight: 600;
                }
                &:not(:first-of-type) {
                    border-top: 1px solid rgba(0, 0, 0, 0.5);
                    background-color: #f5f5f5;
                }
            }
        }
    }
}