<h2 class="form-title">Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'tsl-form regular-form white-form' }) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'bg-red' %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <hr>
  
  <div class="o-grid">
    <div class="o-grid__unit u-half">
      <%= f.submit "Log in", class: 'button' %>
    </div>

    <div class="o-grid__unit u-half u-align-right">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, provider) %><br>
        <% end -%>
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <% end -%>
    </div>
  </div>
<% end %>


