<div class="admin-purchase-details">
    <h1>Purchase details</h1>
    <div class="information">
        <h2 class="header">Parent information</h2>
        <div><strong>Name: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.name.titleize : ""%></span></div>
        <div><strong>Email: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.email : ""%></span></div>
        <div><strong>Phone Number: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.phone_number : ""%></span></div>
        <div><strong>Emergency Phone Number: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.emergency_phone_number : ""%></span></div>
        <div><strong>Address: </strong> <span><%=@purchase.customer.present? ?  @purchase.customer.address : ""%></span></div>
    </div>

    <div class="information">
        <h2 class="header">Payment information</h2>
        <div><strong>Payment Platform: </strong> <span>Stripe</span></div>
        <div><strong>Payment URL: </strong> <%= link_to 'Go to stripe', @purchase.payment_url, target: '_blank' %></div>
        <div><strong>Amount Paid:  </strong> <span>$<%= number_with_precision(@purchase.total_amount, precision: 2) %></span></div>
        <div><strong>Customer Identifier: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.stripe_customer_identifier : "" %></span></div>
        <div><strong>Transaction ID: </strong> <span><%= @purchase.customer.present? ? @purchase.customer.address : "" %></span></div>
        <div><strong>Summer Camp Location: </strong> <span><%= @purchase.customer.present? ? @purchase.location.name : "" %></span></div>
    </div>

    <div class="information">
        <h2 class="header">Order details</h2>
    </div>

    <div class="order-details-table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% @purchase.order_details.each do |order| %>
                    <tr>
                        <td><%= order.product.name %></td>
                        <td><%= order.size.name.nil? ? "N/A" : order.size.name%></td>
                        <td><%= order.size.color.nil? ? "N/A" : order.size.color %></td>
                        <td>$<%= number_with_precision(order.size.price, precision: 2) %></td>
                        <td><%= order.quantity %></td>
                        <td>$<%= number_with_precision(order.total_amount, precision: 2) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>