<div class="admin-purchases-section">
    <h1>Purchases</h1>
    <section class="search-fields-section">
        <div class="search-fields">
            <%= search_form_for @q, url: admin_shop_purchases_path, html: { class: "search-form" } do |f| %>
                <h2>Filter Records</h2>
                <div class="input-pair">
                    <%= f.label :location_id, 'Summer Camp Location' %>
                    <%= f.select :location_id_eq, options_for_select(@locations.collect {|l| [l.name, l.id]}, @q.location_id) %>
                </div>
                <div class="submit-button-container">
                    <%= link_to 'Clear filters', admin_shop_purchases_path, class: 'button' %> <%= f.submit "Search", class: 'button' %>
                </div>
            <% end %>
        </div>
    </section>
    <section class="purchases-summary-section">
        <div class="purchases-table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Purchase</th>
                        <th>Quantity</th>
                        <th>Amount Paid</th>
                        <th>Location</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <% @purchases.each do |purch| %>
                    <tr>
                        <td><%= purch.customer.present? ? purch.customer.name.titleize : "" %></td>
                        <td><%= purch.created_at.to_date.to_formatted_s(:long) %></td>
                        <td><%= purch.order_details.pluck(:quantity).reduce(:+) %></td>
                        <td>$<%= number_with_precision(purch.total_amount, precision: 2) %></td>
                        <td><%= purch.location.name %></td>
                        <td><%= link_to 'View', admin_purchase_details_path(purch) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <%= paginate @purchases %>
    </section>
</div>