<% if current_customer_user.customer.present? %>
	<% if current_customer_user.customer.card_last_four.present? && current_customer_user.customer.card_brand.present? && @stripe_card.nil? %>
		<div class="card_notice" >
			<h2 class="" >Greetings valued customer!</h2>
			<h3 class="">If you are getting a persistent decline issue with your payments, please</h3>
			<h3>unlink your Card information and upload it again through <%= link_to "here", edit_billing_information_customer_users_path %>.</h3>
			<h4>This is part of an added system security. You may continue with your transactions as usual. Thank you for your patience.</h4>
		</div>
	<% end %>
<% end %>

<% if current_customer_user.has_basic_information? && current_customer_user.confirmed_information %>
	<div class="w-100 w-80-m w-50-l mw6 center pa3 tc">
		<h2 class="f5 f4-ns lh-title ttu tracked mv0 pv3 black-70">Pick a Form:</h2>
		<ul class="list pl0 ma0">
			<li class="lh-copy pv3 bt-0 bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Single Day", single_day_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Request a Daycare Tour", request_day_care_tour_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Day Care", day_care_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Before/After School", before_and_afterschool_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>

			<% date_january = "January 1, 2020".to_date %>
			<% date_june = "June 30, 2020".to_date %>
			<% date_today = DateTime.now.to_date %>
			<% if date_today < date_january || date_today > date_june %>
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Summer Camp", summer_camp_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
			<% end %>

			
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "Vacation Camp", vacation_camp_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
			<li class="lh-copy pv3 ba bl-0 bb-0 br-0 b--dotted b--black-30 lh-copy">
				<%= link_to "CIT Application", cit_registration_path, class: "link dim blue f4 f3-ns lh-copy" %>
			</li>
		</ul>
	</div>
<% else %>
	<div class="w-100 w-80-m w-50-l mw6 center pa3 tc">
		<h2 class="f3 f2-ns lh-title mw8 center pa2 tc black-60 mb0">Welcome to TSL!</h2>

		<% if current_customer_user.has_partial_information? %>
			<p class="f5 f4-ns lh-copy">It appears that we have some of your information already. Please confirm by reviewing the following form.</p>
		<% else %>
			<p class="f5 f4-ns lh-copy">We'll need some basic information from you before registering for any of our programs.</p>
		<% end %>
	</div>

	<div class="w-100 w-80-m w-50-l center pa3">
		<%= form_for (current_customer_user.customer || Customer.new) do |f| %>
			<div>
				<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">1. Your Contact Info</h2>
				<div class="mb3">
					<%= f.label :first_name, "First Name", class: "f6 fw7 db mb1" %>
					<%= f.text_field :first_name, placeholder: "First Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>
				<div class="mb3">
					<%= f.label :last_name, "Last Name", class: "f6 fw7 db mb1" %>
					<%= f.text_field :last_name, placeholder: "Last Name", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :emergency_phone_number, "Emergency Number", class: "f6 fw7 db mb1" %>
					<%= f.text_field :emergency_phone_number, placeholder: "Emergency Number", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :phone_number, "Phone Number", class: "f6 fw7 db mb1" %>
					<%= f.text_field :phone_number, placeholder: "Phone Number", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>
			</div>

			<div>
				<h2 class="f6 lh-title ttu tracked mt4 mb0 pv3 orange relative left--1-ns">2. Address</h2>
				<div class="mb3">
					<%= f.label :address_line_one, "Address Line One", class: "f6 fw7 db mb1" %>
					<%= f.text_field :address_line_one, placeholder: "Address Line One", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :address_line_two, "Address Line Two", class: "f6 fw7 db mb1" %>
					<%= f.text_field :address_line_two, placeholder: "Address Line Two", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :city, "City", class: "f6 fw7 db mb1" %>
					<%= f.text_field :city, placeholder: "City", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :state, "State", class: "f6 fw7 db mb1" %>
					<%= f.text_field :state, placeholder: "State", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>

				<div class="mb3">
					<%= f.label :zip_code, "Zip Code", class: "f6 fw7 db mb1" %>
					<%= f.text_field :zip_code, placeholder: "Zip Code", class: "input-rest ba b--black-20 pa2 mb1 db w-100" %>
				</div>
			</div>

			<div class="mb3 mt4">
				<%= f.label :how_did_you_hear_about_us, "How did you hear about us?", class: "f6 fw7 db mb1" %>
				<%= f.select :how_did_you_hear_about_us, options_for_select(how_did_you_hear_about_us_options, f.object.how_did_you_hear_about_us), include_blank: true, class: "bg-white ba b--black-20 pa3 mb1 db" %>
			</div>

			<%= f.hidden_field :email, value: current_customer_user.email %>

			<%= f.submit 'Submit', class: "w-100 pointer bg-orange white ph3 pv2 dim outline-0 ba b--black-20 mt4" %>
		<% end %>
	</div>
<% end %>