<h1 class="f5 f4-ns lh-title ttu tracked mv0 pv3 black-70 tc"><%= @registration_record.program.display_name %></h1>

<main class="mw7 center ph2 pb3">
	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Enrollment Information</h2>
	<% if @registration_record.enrolled? %>
		<p class="f5 f4-l lh-copy mb4">
			Your enrollment is currently <b>active</b>.</br>
			To unenroll, please contact your program director.
		</p>
	<% else %>
		<p class="f5 f4-l lh-copy mb4">Your enrollment is currently <b>inactive</b>.</p>
	<% end %>

	<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Child Information</h2>
	<% if @registration_record.child_records.present? %>
		<table class="f6 w-100 mw8 center tl mb4" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 tl pa3 bg-white">First Name</th>
					<th class="fw6 tl pa3 bg-white">Last Name</th>
					<th class="fw6 tl pa3 bg-white">Age</th>
					<th class="fw6 tl pa3 bg-white">DOB</th>
					<th class="fw6 tl pa3 bg-white">School Attending</th>
				</tr>
			</thead>

			<tbody>
				<% @registration_record.child_records.each do |child_record| %>
					<tr class="stripe-dark">
						<td class="pa2 pa3-ns" data-th="First Name"><%= child_record.first_name %></td>
						<td class="pa2 pa3-ns" data-th="Last Name"><%= child_record.last_name %></td>
						<td class="pa2 pa3-ns" data-th="Age"><%= child_record.age %></td>
						<td class="pa2 pa3-ns" data-th="DOB"><%= child_record.dob %></td>
						<td class="pa2 pa3-ns" data-th="School Attending"><%= child_record.school_attending.present? ? child_record.school_attending : "N/A" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p class="f5 f4-l lh-copy mb3">There are no children associated with this registration.</p>
	<% end %>

	<% if @registration_record.single_day_record.present? %>
		<h2 class="f5 f4-l lh-title ttu tracked orange mb3">Single Day Record</h2>

		<% if @registration_record.single_day_record.single_day_date.present? %>
			<p class="f5 f4-l lh-copy mb3"><b>Date:</b> <%= @registration_record.single_day_record.single_day_date.display_name %></p>
		<% else %>
			<p class="f5 f4-l lh-copy mb3"><b>Day:</b> <%= @registration_record.single_day_record.formatted_day %></p>
			<p class="f5 f4-l lh-copy mb3"><b>Date:</b> <%= @registration_record.single_day_record.date.present? ? @registration_record.single_day_record.date : "N/A" %></p>
		<% end %>
	<% end %>

	<% if @registration_record.before_and_afterschool_record.present? %>
		<h2 class="f5 f4-l lh-title ttu tracked orange mb3">Before/Afterschool Information</h2>

		<div class="tc">
			<p class="f5 tl fw7 center ttu tracked mid-gray mb0">Before School</p>
			<p class="f5 tl lh-copy mv0">Start Date: <%= @registration_record.before_and_afterschool_record.start_date.strftime('%D') %></p>
			<table class="f6 w-100 mw8 center mb4" cellspacing="0">
				<thead>
					<tr class="stripe-dark">
						<th class="fw6 pa3 bg-white">Mon</th>
						<th class="fw6 pa3 bg-white">Tues</th>
						<th class="fw6 pa3 bg-white">Wed</th>
						<th class="fw6 pa3 bg-white">Thurs</th>
						<th class="fw6 pa3 bg-white">Fri</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_monday) %>" data-th="Mon"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_monday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_tuesday) %>" data-th="Tues"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_tuesday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_wednesday) %>" data-th="Wed"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_wednesday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_thursday) %>" data-th="Thurs"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_thursday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_friday) %>" data-th="Fri"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.before_school_friday) %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="tc">
			<p class="f5 tl fw7 center ttu tracked mid-gray mb0">After School</p>
			<p class="f5 tl lh-copy mv0">Start Date: <%= @registration_record.before_and_afterschool_record.start_date.strftime('%D') %></p>
			<table class="f6 w-100 mw8 center" cellspacing="0">
				<thead>
					<tr class="stripe-dark">
						<th class="fw6 pa3 bg-white">Mon</th>
						<th class="fw6 pa3 bg-white">Tues</th>
						<th class="fw6 pa3 bg-white">Wed</th>
						<th class="fw6 pa3 bg-white">Thurs</th>
						<th class="fw6 pa3 bg-white">Fri</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_monday) %>" data-th="Mon"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_monday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_tuesday) %>" data-th="Tues"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_tuesday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_wednesday) %>" data-th="Wed"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_wednesday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_thursday) %>" data-th="Thurs"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_thursday) %></td>
						<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_friday) %>" data-th="Fri"><%= yes_no_boolean(@registration_record.before_and_afterschool_record.after_school_friday) %></td>
					</tr>
				</tbody>
			</table>
		</div>
	<% end %>

	<% if @registration_record.summer_camp_record.present? %>
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Summer Camp Information</h2>

		<table class="f6 w-100 mw8 center mb3 tc" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 pa3 bg-white">Week 1</th>
					<th class="fw6 pa3 bg-white">Week 2</th>
					<th class="fw6 pa3 bg-white">Week 3</th>
					<th class="fw6 pa3 bg-white">Week 4</th>
					<th class="fw6 pa3 bg-white">Week 5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_one) %>" data-th="Week 1"><%= yes_no_boolean(@registration_record.summer_camp_record.week_one) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_two) %>" data-th="Week 2"><%= yes_no_boolean(@registration_record.summer_camp_record.week_two) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_three) %>" data-th="Week 3"><%= yes_no_boolean(@registration_record.summer_camp_record.week_three) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_four) %>" data-th="Week 4"><%= yes_no_boolean(@registration_record.summer_camp_record.week_four) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_five) %>" data-th="Week 5"><%= yes_no_boolean(@registration_record.summer_camp_record.week_five) %></td>
				</tr>
			</tbody>
		</table>

		<table class="f6 w-100 mw8 center mb0 tc" cellspacing="0">
			<thead>
				<tr class="stripe-dark">
					<th class="fw6 pa3 bg-white">Week 6</th>
					<th class="fw6 pa3 bg-white">Week 7</th>
					<th class="fw6 pa3 bg-white">Week 8</th>
					<th class="fw6 pa3 bg-white">Week 9</th>
					<th class="fw6 pa3 bg-white">Week 10</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_six) %>" data-th="Week 6"><%= yes_no_boolean(@registration_record.summer_camp_record.week_six) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_seven) %>" data-th="Week 7"><%= yes_no_boolean(@registration_record.summer_camp_record.week_seven) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_eight) %>" data-th="Week 8"><%= yes_no_boolean(@registration_record.summer_camp_record.week_eight) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_nine) %>" data-th="Week 9"><%= yes_no_boolean(@registration_record.summer_camp_record.week_nine) %></td>
					<td class="pa2 pa3-ns <%= yes_no_boolean(@registration_record.summer_camp_record.week_ten) %>" data-th="Week 10"><%= yes_no_boolean(@registration_record.summer_camp_record.week_ten) %></td>
				</tr>
			</tbody>
		</table>
	<% end %>

	<% if @registration_record.vacation_camp_records.present? %>
		<h2 class="f5 f4-l lh-title ttu tracked orange mb2">Vacation Camp Information</h2>
		<% @vacation_camp_records.each do |vacation_camp_record| %>
			<p class="f5 tl lh-copy mv0"><strong>Month:</strong> <%= vacation_camp_record.month.present? ? vacation_camp_record.month.capitalize : "N/A" %></p>
			<table class="f6 w-100 mw8 center mb4" cellspacing="0">
				<thead>
					<tr class="stripe-dark">
						<th class="fw6 pa3 bg-silver">Mon<%= vacation_camp_date(vacation_camp_record.month, 'Mon') %></th>
						<th class="fw6 pa3 bg-silver tc">Tues<%= vacation_camp_date(vacation_camp_record.month, 'Tues') %></th></th>
						<th class="fw6 pa3 bg-silver tc">Wed<%= vacation_camp_date(vacation_camp_record.month, 'Wed') %></th>
						<th class="fw6 pa3 bg-silver tc">Thurs<%= vacation_camp_date(vacation_camp_record.month, 'Thurs') %></th>
						<th class="fw6 pa3 bg-silver tc">Fri<%= vacation_camp_date(vacation_camp_record.month, 'Fri') %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.monday) %>" data-th="Mon"><%= yes_no_boolean(vacation_camp_record.monday) %></td>
						<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.tuesday) %>" data-th="Tues"><%= yes_no_boolean(vacation_camp_record.tuesday) %></td>
						<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.wednesday) %>" data-th="Wed"><%= yes_no_boolean(vacation_camp_record.wednesday) %></td>
						<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.thursday) %>" data-th="Thurs"><%= yes_no_boolean(vacation_camp_record.thursday) %></td>
						<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.friday) %>" data-th="Fri"><%= yes_no_boolean(vacation_camp_record.friday) %></td>
					</tr>
					<% if vacation_camp_record.month == 'april' %>
						<tr class="stripe-dark">
							<th class="fw6 pa3 bg-silver tc">Fri, 19</th>
						</tr>
						<tr>
							<td class="pa2 pa3-ns tc <%= yes_no_boolean(vacation_camp_record.friday) %>" data-th="Fri"><%= yes_no_boolean(vacation_camp_record.friday) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>
</main>
