<h1 class="f5 f4-ns lh-title ttu tracked mv0 pv3 black-70 tc">Registration Information</h1>

<main class="mw7 center ph2 pb3">
	<% if current_customer_user.customer.registration_records.present? %>
	<table class="f6 w-100 mw8 center tl" cellspacing="0">
		<thead>
			<tr class="stripe-dark">
				<th class="fw6 tl pa3 bg-white">Program</th>
				<th class="fw6 tl pa3 bg-white">Registration Date</th>
				<th class="fw6 tl pa3 bg-white">Enrollment Active</th>
				<th class="fw6 tc pa3 bg-white">Actions</th>
			</tr>
		</thead>

		<tbody class="lh-copy">
			<% current_customer_user.customer.registration_records.where.not(program_id: nil, deleted: true).order('created_at desc').each do |registration_record| %>
				<tr class="stripe-dark">
					<td class="pa2 pa3-ns" data-th="Program"><%= registration_record.program.display_name %></td>
					<td class="pa2 pa3-ns" data-th="Registration Date"><%= registration_record.created_at.strftime('%D') %></td>
					<td class="pa2 pa3-ns" data-th="Enrollment Active"><%= registration_record.enrolled? ? "Yes" : "No" %></td>
					<td class="pa2 pa3-ns tc" data-th-"Actions"><%= link_to "View", registration_information_show_path(registration_record) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<% else %>
		<p class="f5 lh-copy">You haven't registered for anything yet.</p>
	<% end %>
</main>
