<h1 class="f3 f2-ns lh-title mw8 center pa2 tc">Change Your Password</h1>

<main class="mw8 center ph2 pb3">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'measure center' }) do |f| %>
		<%= devise_error_messages! %>
		<%= f.hidden_field :reset_password_token %>

		<fieldset class="ba b--transparent pa0 ma0">
			<div class="mt3">
				<%= f.label :password, "New password", class: 'db fw6 lh-copy f6' %>
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %>
				<%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'pa2 input-reset ba bg-transparent w-100' %>
			</div>

			<div class="mt3">
				<%= f.label :password_confirmation, "Confirm new password", class: 'db fw6 lh-copy f6' %>
				<%= f.password_field :password_confirmation, autocomplete: "off", class: 'pa2 input-reset ba bg-transparent w-100' %>
			</div>

			<div class="mt3">
				<%= f.submit "Change my password", class: 'fw7 ph3 pv2 input-reset ba bg-blue hover-bg-green bg-animate b--black white grow pointer f6 dib' %>
			</div>
		</fieldset>
	<% end %>

	<div class="lh-copy mt3 measure center">
		<%= link_to "Log in", new_session_path(resource_name), class: 'f6 link dim black-70 mb1 mb2-ns' %> | <%= link_to "Sign up", new_registration_path(resource_name), class: 'f6 link dim black-70 mb1 mb2-ns' %>
	</div>
</main>
