.autopay-section, .contact-informations-section, .contact-informations-container {
    margin: 10px auto;
    text-align: center;
    a {   
        text-decoration: none;
        padding: 10px 15px;
        background-color: #1976D2;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
        margin: 10px auto;
    }

    .submit-row {
        text-align: center;
        input[type=submit] {
            padding: 10px 15px;
            border-radius: 4px;
            font-weight: 300;
            background-color: #0D47A1;
            color: #fff;
            border: none;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }

    .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        // justify-content: space-between;
        input[type=email] {
            flex: 0 1 94%;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            font-family: 'Lato', sans-serif;
            padding: 10px 5px; 
        }

        .delete-contact-container {
            flex: 1 1 auto;
            text-align: end;
            cursor: pointer;
            a {
                padding: 0;
                background-color: transparent;
                i {
                    color: #42A5F5;
                    font-size: 120%;
                }
            }   
        }

        label {
            margin-left: 5px;
        }

        #enable_autopay {
            -webkit-appearance: initial;
            -moz-appearance: initial;
            appearance: none;
            width: 50px;
            height: 25px;
            border-radius: 30%;
            background-color: rgb(218, 218, 218);
            position: relative;
            border: none;
            outline: none;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
            cursor: pointer;
            &:after {
                position: absolute;
                content: '';
                height: 100%;
                width: 60%;
                border-radius: 40%;
                background-color: grey;
                top: 0;
                left: 0;
                overflow: hidden;
                transition: all 0.2s ease;
                border: none;
            }

            &:checked:after {
                right: 0;
                left: 40%;
                background-color: blue;
            }
        }
    }
}

.payment-source-section {
    div {
        display: inline-block;
    }

    .saved-card-information {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        .card-details {
            flex: 1 1 80%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            border: 1px solid rgba(0, 0, 0, 0.55);
            border-radius: 6px;
            padding: 10px;
            .image-container {
                flex: 1 1 50%;
                img {
                    height: 50px;
                    width: auto;
                }
            }
            .card-information {
                flex: 1 1 50%;
                text-align: right;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                div {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 120%;
                    font-family: 'Lato', sans-serif;
                    display: inline-block;
                    flex: 1 1 100%;
                    &:last-of-type {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }
                }
            }
        }

        .unlink-icon-container {
            flex: 1 1 auto;
            text-align: right;
            position: relative;
            button {
                outline: none;
                border: 1px solid transparent;
                cursor: pointer;
            }
            i {
                color: #B71C1C;
                font-size: 160%;
            }
            .unlink-tool-tip {
                position: absolute;
                content: 'Unlink';
                font-size: 14px;
                right: 0;
                padding: 6px 0;
                border-radius: 6px;
                width: 95%;
                top: -40px;
                text-align: center;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.20);
                background-color: #c6ccdd;
                color: rgba(0, 0, 0, 0.7);
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease;
                &:after {
                    display: block;
                    position: absolute;
                    content: '';
                    height: 1px;
                    right: 0;
                    // bottom: -110%;
                    background-color: transparent;
                    border-top: 10px solid #c6ccdd;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
            }
        }

        .edit-icon-container {
            flex: 1 1 auto;
            text-align: right;
            position: relative;
            button {
                outline: none;
                border: 1px solid transparent;
                cursor: pointer;
            }
            i {
                color: #B71C1C;
                font-size: 160%;
            }
            .edit-tool-tip {
                position: absolute;
                content: 'Unlink';
                font-size: 14px;
                right: 0;
                padding: 6px 0;
                border-radius: 6px;
                width: 95%;
                top: -40px;
                text-align: center;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.20);
                background-color: #c6ccdd;
                color: rgba(0, 0, 0, 0.7);
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease;
                &:after {
                    display: block;
                    position: absolute;
                    content: '';
                    height: 1px;
                    right: 0;
                    // bottom: -110%;
                    background-color: transparent;
                    border-top: 10px solid #c6ccdd;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
            }
        }
    }   
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
}