.o-grid {
    display: block;
    clear: both;
}

.o-grid__unit {
    width: 100%;
    float: left;
}

.o-grid .u-whole {
    width: 100%;
}

.u-half {
    width: 50%;
}

.u-one-third {
    width: 33.3332%;
}

.u-two-thirds {
    width: 66.6665%;
}

.u-one-quarter,
.u-one-fourth {
    width: 25%;
}

.u-three-quarters,
.o-grid .u-three-fourths {
    width: 75%;
}

.o-grid .u-eighty-five {
    width: 85%;
}

.o-grid .u-one-fifth {
    width: 20%;
}

.o-grid .u-two-fifths {
    width: 40%;
}

.o-grid .u-three-fifths {
    width: 60%;
}

.u-four-fifths {
    width: 80%;
}

.o-grid {
    *zoom: 1;
}

.o-grid:before, .o-grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.o-grid:after {
    clear: both;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 750px) {
    .o-grid:not(.no-stacking-on-mobile) > .unit,
    .o-grid:not(.no-stacking-on-mobile) > .unit > .unit {
        width: 100% !important;
    }

    .hide-on-mobile {
        display: none;
    }

    .u-half-on-mobile {
        width: 50% !important;
    }

    .mobile-only {
        display: block;
    }

    .whole-on-mobile {
        width: 100% !important;
    }
}