<div class="payroll-home-page">
    <input type="hidden" id="payroll-date-of-logged-hours" value="<%= Date.today.strftime("%Y-%m-%d") %>">
    <input type="hidden" id="payroll-employee-id-marked-for-deletion">
    <div class="payroll-modal-container">
        <div class="payroll-modal-window">
            <div>Are you sure?<i class="fas fa-times close-payroll-modal-window-icon"></i></div>
            <div>Deleting an employee record will remove all of their logged hours from the database.</div>
            <div>
                <button class="payroll-confirm-employee-deletion">Proceed</button> 
                <button class="close-payroll-modal-window-button">Cancel</button>
            </div>
        </div>
    </div>
    <div class="log-employee-abscence-modal-container">
        <input type="hidden" class="absent-employee-location-id" value="0">
        <input type="hidden" class="absent-employee-id" value="0">
        <div class="log-employee-abscence-modal-window">
            <div class="modal-close-button-container"><button class="close-log-employee-abscence-modal-button"><i class="fas fa-times"></i></button></div>
            <div class="employee-absence-event-notification"><h4></h4></div>
            <div class="employee-abscence-location-select">
                <span class="location-name">Select Location</span>
                <div class="location-drop-down-button-container">
                    <button class="location-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                </div>
                <ul class="location-list hidden">
                    
                </ul>
            </div>
            <div class="absent-employee-select">
                <span class="employee-name">Select Employee</span>
                <div class="employee-drop-down-button-container">
                    <button class="employee-dropdown-button"><i class="fas fa-chevron-down"></i></button>
                </div>
                <ul class="employee-list hidden">
                    
                </ul>
            </div>
            <input type="text" placeholder="Select date of absence" class="date-of-absence-input-field">   
            <div class="absence-type-option">
                <input type="radio" id="vacation-absence-type" name="absence-type-option" value="vacation" checked>
                <label for="vacation-absence-type">Vacation</label>
            </div>
            <div class="absence-type-option">
                <input type="radio" id="sick-absence-type" name="absence-type-option" value="sick">
                <label for="sick-absence-type">Sick</label>
            </div>
            <div class="absence-submit-cancel-button-container">
                <div class="cancel-button-container"><button class="cancel-log-absence-button">Cancel</button></div>
                <div class="submit-button-container"><button class="submit-button">Submit</button></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="payroll-admin-id-hidden" value="<%= current_admin_user.id %>">
    <div class="border"></div>
    <div class="container">
        <div class="employees-section">
            <h4 class="section-header">Employees</h4>
            <ul class="payroll-employee-list"></ul>
            <div class="new-employee-section">
                <div class="input-pair">
                    <input type="text" class="new-employee-name" placeholder="Enter name">
                    <span class="border"></span>
                </div>
                <div class="save-or-clear">
                    <button class="employee-cancel-button"><i class="fas fa-ban"></i></button>
                    <button class="employee-save-button"><i class="fas fa-check"></i></button>
                </div>
            </div>
            <button class="add-employee-button"><i class="fas fa-plus"></i>Add Employee</button>
        </div>
        <div class="payroll-fields-section">
            <h4 class="main-title">Payroll for the month of</h4>
            <h4 class="payroll-for-the-month-header"><%= Date.today.strftime('%B') %></h4>
            <div class="payroll-event-notice">Noice</div>
            <div class="location-row">
                <span>Location</span>
                <select name="payroll-location-select" id="payroll-location-select" autocomplete="off">
                </select>
                <div class="log-employee-abscence-button-container">
                    <button class="log-employee-abscence-button">Log Absence</button>
                </div>
            </div>
            <div class="calendar-row">
                <div id="payroll-calendar"></div>
                <div class="payroll-month-overview">
                    <div class="payroll-overview-container">
                        <h4>Overview</h4>
                    </div>
                    <div class="row">
                        <div class="key">Number of Employees</div>
                        <div class="value payroll-location-employee-count">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Total hours today</div>
                        <div class="value payroll-total-hours-of-active-date">0</div>
                    </div>
                    <div class="row">
                        <div class="key">Total hours this&nbsp;<span class="month-name-of-paroll-overview"> <%= Date.today.strftime("%B") %></span></div>
                        <div class="value payroll-total-hours-for-the-month">0</div>
                    </div>
                </div>
                
            </div>
            <div class="employees-log-table-container">
                <table class="employees-log-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hours</th>
                        </tr>
                    </thead>
                    <tbody class="employees-log-table-body"></tbody>
                </table>
            </div>
            <div class="payroll-information-update-button-container">
                <button id="update-payroll-logged-hours">Update Logged Hours</button>
            </div>
        </div>
    </div>
</div>